{% extends 'layouts/main.html' %}

{% load staticfiles %}

{% block title %}
Newsletter
{% endblock title %}

{% block main_css %}
    <style type="text/css">
    .archive {
        text-align:center;
        line-height:27px;
        font-size:19px;
        padding-top:2%;
        width: 240px;
        margin: auto;
    }
    .archive li a:hover, .archive li a:focus, .archive li a:active {
        text-decoration: none !important;
        color: black;
    }
    .archive li{
        border: 1px solid;
        margin-top: 4px;
    }
    </style>
{% endblock %}

{% block content %}
<div id="content" class="clearfix">
    <div class="main_content" style="text-align:center;line-height:27px;font-size:19px;padding-top:2%;">
        <ul class="archive">
            <li >
                <a href="{% url 'newsletter.views.get_newsletter' '2014' 'september' '1' %}" target="_blank">September, 2014 vol - 1</a>
            </li>
            <li>
            	<a href="{% url 'newsletter.views.get_newsletter' '2014' 'november' '2' %}" target="_blank">November, 2014 vol - 2</a>
            </li>
            <li>
                <a href="{% url 'newsletter.views.get_newsletter' '2014' 'december' '3' %}" target="_blank">December, 2014 vol - 3</a>
            </li>
            <li>
                <a href="{% url 'newsletter.views.get_newsletter' '2015' 'may' '1' %}" target="_blank">May, 2015 vol - 1</a>
            </li>
        </ul>
    </div>
</div>
{% endblock content %}