<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body>
<p style="margin-top: 0px;">Hello,</p>
<div>
	<span>
	<p>The concerned owner has responded to the feedback and requested for the thread to be closed. Kindly review the case and mark the feedback 'Resolved' / 'Reopen' the thread. </p>

	<b>ID </b>- <a href="{{ feedback_url }}">{{ cid }}</a><br>
	<b>Title </b>- {{feedback.title}}<br>
	<b>Feedback Type </b>- {{ type }}<br>
	<b>Description </b> - {{ description }}<br>
	<b>Comment </b> - {{ comment.comment }}<br>

	<p><a href="{{ feedback_url }}">Click here </a>to access feedback.</p>
	</span>
</div>
<div>
	Regards,<br>
	Portal Team/CX Team
</div>

<!-- <p>Hi,</p>
		<p>Feedback has been fixed- Title is <b>{{feedback.title}}.</b> </p>
		<p>You are super user, Please resolve this feedback, details as fallow</p>
		<p>feedback issue has been fixed by: {{ user_info }}, name: {{ issue_fixedby }}</p>
		<p>Please click <a href="{{ feedback_url }}">here to go page </a></p>
		<p>Feedback lead cid {{ cid }}</p>
		<p>Feedback type {{ type }}</p>
		<p>Feedback title {{feedback_title }}</p>
		<p>This is auto genarated mail.</p> -->

</body>
</html>