<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body>

<p>Hi,</p>
		<p>Feedback has been fixed- Tittle is<b>{{feedback.title}}</b> </p>
		<p>you are super user, Please resolve this feedback, details as fallow</p>
		<p>feedback issue has been fixed by: {{ user_info }}, name: {{ issue_fixedby }}</p>
		<p>Please click<a href="{{ feedback_url }}">here to go page </a></p>
		<p>feedback lead cid {{ cid }}</p>
		<p>feedback type {{ type }}</p>
		<p>feedback tittle {{feedback_title }}</p>
		<p>This is auto genarated mail</p>


</body>
</html>