<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body>

<p>Hello,</p>
<p>Feedback to be Reopened for the following reasons [Refer comments below]</p>
<p>The following feedback has been attend to and marked as 'Resolved'. Should the action taken be unsatisfactory, this case has been 'Re-opened' and reopened by {{reopenedby}}. </p>

<p>ID - {{ cid }}</p>
<p>Title - {{ feedback.title }}</p>
<p>Feedback Type - {{type}} </p>
<p>Click here to <a href="{{ feedback_url }}">access</a> feedback.</p>

<p>Comments</p>
<p>{{ comments }}</p>

</body>
</html>