{% extends 'layouts/main.html' %}

{% load staticfiles %}

{% block content %}
<div id='content' class="clearfix">
    <div class="main_content">
        <form method="post" onsubmit="return valPM()" action="{% url 'main.views.add_manager_info' %}">
            {% csrf_token %}
            <fieldset style="border:1px solid #d9d9d9;">
                <legend class="legend">
                    <p style="font-family:Times New Roman;font-size:30px;font-weight:bold;text-align:center; color:#3c3c3c; padding-left:10px; padding-right:10px;">Add / Edit Google Manager</p>
                </legend>
                <table width="100%" cellspacing="0" cellpadding="0" border="0">
                    <tbody>
                        <tr>
                            <td width="200" align="left">&nbsp;</td>
                            <td width="200" align="left" height="40">Google Rep Name</td>
                            <td align="left">{{ user.get_full_name }}</td> 
                        </tr>
                        <tr> 
                            <td align="left">&nbsp;</td>
                            <td align="left" height="40">Google Rep Email ID</td>
                            <td align="left">{{ user.email }}</td>
                        </tr>
                        <tr>
                            <td align="left">&nbsp;</td>
                            <td width="140" align="left" height="40">Google Manager <span class="red">*</span></td>
                            <td align="left">
                                <input type="text" placeholder=" " name="user_manager_name" id="user_manager_name" class="txt-filed" {% if user.profile.user_manager_name %}value="{{ user.profile.user_manager_name }}"{% endif %}>
                                <span id="user_manager_name_err" class="red"></span>
                           </td>  
                        </tr> 
                        <tr>
                            <td align="left">&nbsp;</td>
                            <td width="140" align="left" height="40">Google Manager Email ID <span class="red">*</span></td>
                            <td align="left">
                                <input type="text" placeholder=" " name="user_manager_email" id="user_manager_email" class="txt-filed" {% if user.profile.user_manager_email %}value="{{ user.profile.user_manager_email }}"{% endif %}>
                                <span id="user_manager_email_err" class="red"></span>
                            </td>  
                        </tr>
                    </tbody>
                </table>                                                     
            </fieldset>
            <div align="center" style="margin-top:30px;">
                <input type="hidden" value="" name="n" id="n">
                <input type="submit" value="Submit" class="logbtn" name="sub" id="sub">
                <input type="button" value="Cancel" class="logbtn" onclick="window.location.href='{% url 'main.views.home' %}';">
            </div>
        </form>
    </div>
</div>
{% endblock content %}

{% block main_js %}
    <script type="text/javascript">
        function valPM(){
            document.getElementById("user_manager_name_err").innerHTML = '';
            document.getElementById("user_manager_email_err").innerHTML = '';
            
            if (document.getElementById("user_manager_name").value == "") {
                document.getElementById("user_manager_name_err").innerHTML = 'Please enter Google Manager name';
                document.getElementById("user_manager_name").focus();   
                return false;
            }

            if (document.getElementById("user_manager_email").value == "") {
                document.getElementById("user_manager_email_err").innerHTML = 'Please enter Google Manager Email ID';   
                document.getElementById("user_manager_email").focus();  
                return false;
            }

            var error = true;
            if(document.getElementById("user_manager_email").value.split('@')[1] == "regalix-inc.com") {
                var error = false;
            }
            if(error){
                if(document.getElementById("user_manager_email").value.split('@')[1] == "google.com") {
                    var error = false;
                }
            }

            if(error){
                document.getElementById("user_manager_email_err").innerHTML = 'Please enter a valid regalix or google Email ID';
                    document.getElementById("user_manager_email").focus();  
                    return false;
            }

        }
    </script>
{% endblock main_js %}