{% extends 'layouts/main.html' %}

{% load staticfiles %}

{% block title %}
  User Profile
{% endblock title %}

{% block content %}


<section class="content-region login auth">
     <div class="container-fluid text-center">
        <img src="{% static 'images/GTrack-Regalix-logo.png' %}" alt="GTrack-Regalix-Logo" class="gtack-sign-logo">
        <h1>Few more to get started</h1>
        <div class="login-area">
            <form class="profile" onsubmit="return validateProfile()" action="{% url 'main.views.edit_profile_info' %}" id="edit_profile" method="POST">
              {% csrf_token %}
              <input type="hidden" class="form-control" name="next_url" id="next_url" value="home">
              <input type="text" class="form-control edit allow-edit" name="user_phone" id="user_phone" value="{{ user.profile.phone }}" placeholder="Telephone number">
              <input type="text" class="form-control edit allow-edit" name="user_manager_name" id="user_manager_name" {% if user.profile.user_manager_name %} value="{{ user.profile.user_manager_name }}"{% endif %} placeholder="Manager Name">
              <input type="text" class="form-control edit allow-edit" name="user_manager_email" id="user_manager_email" {% if user.profile.user_manager_email %}value="{{ user.profile.user_manager_email }}"{% endif %} placeholder="Manager email">

              {% if 'google' in request.user.email %}
                <select class="form-control edit allow-edit" name="user_team" id="user_team">
                  <option value="">Select Program</option>
                  {% for team in teams %}
                    <option value="{{team.id}}">{{team.team_name}}</option>
                  {% endfor %}
                 </select>
                {% endif %}
              {% if 'google' in request.user.email %}
                <select class="form-control edit allow-edit" name="user_location" id="user_location">
                  <option value="">Select Location</option>

                  {% for loc in locations %}
                  <option value="{{loc.id}}">{{loc.location_name}}</option>
                  {% endfor %}
                </select>
              {% endif %}
             
              <button class="btn std-btn">Get Started</button>
            </form>
        </div>
    </div>
</section>
{% endblock content %}

{% block main_js %}
    <script type="text/javascript" src="{% static 'js/profile.js' %}"></script>
    <script type="text/javascript">
      window.loc_id = {{user.profile.location.id|safe}}
      window.team_id = {{user.profile.team.id|safe}}
    </script>
    
{% endblock main_js %}