{% extends 'layouts/main.html' %}

{% load staticfiles %}
{% load static %}
{% load question_list_tags %}

{% block title %}
Regalix Google Portal
{% endblock title %}

{% block main_css %}
	<style>
    #owl-demo .owl-item div{
      padding:5px;
    }
    #owl-demo .owl-item img{
      display: block;
      width: 100%;
      height: auto;
      -webkit-border-radius: 3px;
      -moz-border-radius: 3px;
      border-radius: 3px;
    }
	</style>
  {% load static %}
  
{% endblock main_css %}

{% block content %}


<!-- content-region -->
  <section class="content-region">
    <section class="home-banner">
      <div class="banner-content">
          <div class="wrap">
                <ul class="bxslider">
                  <li class="leads">
                    <div class="slide-wrap">
                        <h1>Lead submission becomes easier and faster!</h1>
                        <div class="btn-group">
                            <button class="btn std-btn submit-lead" onclick='location.href="{% url 'leads.views.lead_form' %}"'>Submit Lead</button>
                            <button class="btn std-btn lead-status" onclick='location.href="{% url 'leads.views.get_lead_summary' %}"' >Lead Status</button>
                        </div>
                        <div class="leads-summary">
                            <h2 class="sub-title">Your Leads Summary</h2>
                            <div class="row">
                                <div class="summary-breakup">
                                    <span>{{lead_status_dict.implemented}}</span> Wins
                                </div>
                                <div class="summary-breakup">
                                    <span>{{lead_status_dict.in_queue}}</span> In Queue
                                </div>
                                <div class="summary-breakup">
                                    <span>{{lead_status_dict.attempting_contact}}</span> Attempting<br>Contact
                                </div>
                                <div class="summary-breakup">
                                    <span>{{lead_status_dict.in_progress}}</span> In Progress
                                </div>
                                <div class="summary-breakup">
                                    <span>{{lead_status_dict.in_active}}</span> Inactive
                                </div>                        
                            </div>
                        </div>
                    </div>
                  </li>
                  <li class="reports">
                    <div class="slide-wrap">
                        <h1>Leads Q4 Summary - Oct to Dec 2014</h1>
                        <div class="row">
                            <div class="col-md-4">
                                <div class="chart"><img src="{% static 'images/chart-1.png' %}"/></div>
                                <span>Total Leads</span>
                            </div>
                            <div class="col-md-4">
                                <div class="chart"><img src="{% static 'images/chart-2.png' %}"/></div>
                                <span>Tag Leads</span>
                            </div>
                            <div class="col-md-4">
                                <div class="chart"><img src="{% static 'images/chart-3.png' %}"/></div>
                                <span>G-Shopping<br>Setup</span>
                            </div>
                        </div>
                        <button class="btn std-btn sm-btn" onclick='location.href="{% url 'reports.views.reports' %}"'>View all reports</button>   
                    </div>             
                  </li>
                  <li class="feedback">
                    <div class="slide-wrap">
                        <h1>Feedback Summary</h1>             
                           <div class="row">
                                <div class="col-md-3">
                                    <div class="fdk-status resolved">{{feedback_list.resolved}}</div>
                                    <span>Resolved</span>
                                </div>
                                <div class="col-md-3">
                                    <div class="fdk-status inpro">{{feedback_list.in_progress}}</div>
                                    <span>In Progress</span>
                                </div>
                                <div class="col-md-3">
                                    <div class="fdk-status new">{{feedback_list.new}}</div>
                                    <span>New</span>
                                </div>
                                <div class="col-md-3">
                                    <div class="fdk-status total">{{feedback_list.total}}</div>
                                    <span>Total</span>
                                </div>
                            </div>
                        <button class="btn std-btn sm-btn" onclick='location.href="{% url 'main.views.list_feedback' %}"'>Feedback Status</button>
                        <button class="btn std-btn sm-btn" onclick='location.href="{% url 'main.views.create_feedback' %}"'>Add a Feedback</button>   
                    </div>             
                  </li>
                  <!-- <li class="qa">
                    <div class="slide-wrap">
                      <h1>Q&A Forum</h1>
                        {% load i18n humanize extra_filters extra_tags user_tags %}
                        <div id="listA">
                          {% for q in question_list%}
                            <div class="short-summary">
                              <div class="counts">
                                  <div class="votes">
                                      <div class="item-count">{{ q.votes }}</div>
                                      <div>votes</div>
                                  </div>
                                  <div class="status  answered">
                                      <div class="item-count">{{q.answer}}</div>
                                      <div>answers</div>
                                  </div>
                                  <div class="views">
                                       <div class="item-count">{{q.views}}</div>
                                       <div>views</div>
                                  </div>
                              </div>
                              <div class="status  answered">
                                  <div class="item-count">{{q.answer}}</div>
                                  <div>answers</div>
                              </div>
                              <div class="views">
                                   <div class="item-count">{{q.views}}</div>
                                   <div>views</div>
                              </div>
                          </div>

                              <div class="question-summary-wrapper">
                                  <h2><a {% autoescape on %} title="{{ q.body }}" {% endautoescape %} href="/forums/questions/1/tests-questiuons1">{{ q.title }}</a></h2>
                                  
                                  <div class="userinfo">
                                      <span class="relativetime" title="{{q.last_activity_at}}">{% diff_date q.last_activity_at %}</span>
                                      <a href="/forums/users/{{q.author_id}}/{{q.author_name}}">{{q.author_name}}</a><span class="score" title="1 reputation"></span>

                                  </div>
                                  <div class="tags">
                                      <a class="tag-link-test" href="/forums/tags/test/" title="see questions tagged 'test'" rel="tag">test</a>
                                  </div>
                              </div>

                          </div>
                        {% endfor %}
                      </div>
                    </div>
                  </li> -->
                  <li class="resources">
                    <div class="slide-wrap">
                        <h1>Important Resources</h1>
                        <div class="row">
                            <div class="col-md-4 capabilities">
                                <div class="sub-title">Capabilities</div>
                                <ul>
                                    <li><a href="#"><i class="fa fa-gear"></i>Tag Implementation</a></li>
                                    <li><a href="#"><i class="fa fa-gear"></i>Product Listing Ads</a></li>
                                    <li><a href="#"><i class="fa fa-gear"></i>Shopping Migration</a></li>
                                </ul>
                            </div>
                            <div class="col-md-4 best-practices">
                                <div class="sub-title">Best Practices</div>
                                <ul>
                                    <li><a href="#"><i class="fa fa-gear"></i>Workflow</a></li>
                                    <li><a href="#"><i class="fa fa-gear"></i>Callflow</a></li>
                                </ul>
                            </div>
                            <div class="col-md-4 faq">
                                <div class="sub-title">FAQs</div>
                                <ul>
                                    <li><a href="#"><i class="fa fa-gear"></i><span>Compatibility with CMS/Platforms</span></a></li>
                                    <li><a href="#"><i class="fa fa-gear"></i>Top 30 CMS</a></li>
                                    <li><a href="#"><i class="fa fa-gear"></i>Newsletter</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                  </li>
                </ul>
            </div>
            <div id="bx-pager">
              <a data-slide-index="0" href=""><span></span><i class="fa fa-code"></i>Leads</a>
              <a data-slide-index="1" href=""><span></span><i class="fa fa-file-text"></i>Reports</a>
              <a data-slide-index="2" href=""><span></span><i class="fa fa-quote-left"></i>Feedback</a>
              <!--<a data-slide-index="3" href=""><span></span><i class="fa fa-comments"></i>Q & A Forum</a>-->
              <a data-slide-index="3" href=""><span></span><i class="fa fa-wrench"></i>Resources</a>
            </div>
        </div>
    </section>
    <section class="notifications">
      <div class="slick-slider container-fluid trans">
        {% for notification in notifications %}
          <div>{{notification.text}}</div>
        {% endfor %}
      </div>
    </section>


    <section class="performers testimonials">
      <div class="container-fluid">
          <h2>Top Lead Submitters</h2>
            <div class="row">
              {% if top_performer.quarterly %}
                <div class="slick-slider col-md-4">
                   {% for quarter_topper in top_performer.quarterly %}
                      <div class="performer">
                            <h3>Last Quarter</h3>
                            <img src="{{quarter_topper.image_url}}" />
                            <div class="performer-info">
                              <span>{{quarter_topper.google_rep_name}}</span>
                                Sales Manager<br>{{quarter_topper.location}}
                            </div>
                        </div>
                    {% endfor %}                 
                </div>
              {% endif %}

              {% if top_performer.monthly %}
                <div class="slick-slider col-md-4">
                   {% for month_topper in top_performer.monthly %}
                      <div class="performer">
                            <h3>Last Quarter</h3>
                            <img src="{{month_topper.image_url}}" />
                            <div class="performer-info">
                              <span>{{month_topper.google_rep_name}}</span>
                                Sales Manager<br>{{month_topper.location}}
                            </div>
                        </div>
                    {% endfor %}                 
                </div>
              {% endif %}

              {% if top_performer.weekly %}
                <div class="slick-slider col-md-4">
                   {% for week_topper in top_performer.weekly %}
                      <div class="performer">
                            <h3>Last Quarter</h3>
                            <img src="{{week_topper.image_url}}" />
                            <div class="performer-info">
                              <span>{{week_topper.google_rep_name}}</span>
                                Sales Manager<br>{{week_topper.location}}
                            </div>
                        </div>
                    {% endfor %}                 
                </div>
              {% endif %}
            </div>
        </div>
    </section>
     <section class="testimonials">
      <div class="container-fluid">
          <h2>Customer Testimonials</h2>
          <div id="owl-demo" class="owl-carousel">
            {% for testimonials in customer_testimonials %}
              <div class="testimonial">               
                <img class="testi-photo" src="{% static 'images/testimonial-pic.jpg' %}" alt="Customer Photo">
                <div class="testi-content">
                  <p> {{ testimonials.statement_text }} </p>
                    <span class="name">{{ testimonials.first_name }} {{ testimonials.last_name }}</span>
                    {% if testimonials.company_name and testimonials.url %}
                      <span>{{ testimonials.company_name }} | <a href="http://{{testimonials.url}}" target="_blank">{{ testimonials.url }}</a></span>
                    {% elif testimonials.company_name %}
                      <span>{{ testimonials.company_name }} </span>
                    {% elif testimonials.url %}
                        <span> <a href="{{testimonials.url}}" target="_blank">{{ testimonials.url }}</a></span>
                    {% endif %}
                </div>
              </div>
              {% endfor %}
            </div>
        </div>
    </section>
  </section>
  <!-- content-region ends --> 
{% endblock content %}

{% block main_js %}
<script>
$(document).ready(function() {
  $("#owl-demo").owlCarousel({
    autoPlay : true,
    stopOnHover : true,
    navigation:true,
    paginationSpeed : 500,
    goToFirstSpeed : 1000,
    singleItem : true,
    autoHeight : true,
    transitionStyle:"fade"
  });
  	  
	// banner slider
	$('.bxslider').bxSlider({
	  pagerCustom: '#bx-pager'
	});

  $('.slick-slider').slick({
      dots: true,
      infinite: true,
      speed: 500,
      fade: true,
      slide: 'div',
      cssEase: 'linear',
      autoplay:true,
      autoplaySpeed:5000,
      adaptiveHeight:true
    });

});
</script>
{% endblock main_js %}