{% extends 'layouts/main.html' %}

{% load staticfiles %}
{% load static %}

{% block title %}
Regalix Google Portal
{% endblock title %}

{% block main_css %}
	<style>
    #owl-demo .owl-item div{
      padding:5px;
    }
    #owl-demo .owl-item img{
      display: block;
      width: 100%;
      height: auto;
      -webkit-border-radius: 3px;
      -moz-border-radius: 3px;
      border-radius: 3px;
    }
	</style>
{% endblock main_css %}

{% block content %}
<section class="content-region">
    <section class="home-banner">
    	<div class="banner-content">
            <ul class="bxslider">
              <li class="leads">
              	<div class="slide-wrap">
                    <h1>Lead submission becomes easier and faster!</h1>
                    <div class="btn-group">
                        <button class="btn std-btn submit-lead" onclick='location.href="{% url 'leads.views.lead_form' %}"'>Submit Lead</button>
                        <button class="btn std-btn lead-status">Lead Status</button>
                    </div>
                    <div class="leads-summary">
                        <h2 class="sub-title">Your Leads Summary</h2>
                        <div class="row">
                            <div class="summary-breakup">
                                <span>8</span> Wins
                            </div>
                            <div class="summary-breakup">
                                <span>5</span> In Queue
                            </div>
                            <div class="summary-breakup">
                                <span>3</span> Attempting<br>Contact
                            </div>
                            <div class="summary-breakup">
                                <span>6</span> In Progress
                            </div>
                            <div class="summary-breakup">
                                <span>4</span> Inactive
                            </div>                        
                        </div>
                    </div>
                </div>
              </li>
              <li class="reports">
              	<div class="slide-wrap">
                    <h1>Leads Q4 Summary - Oct to Dec 2014</h1>
                    <div class="row">
                        <div class="col-md-4">
                            <div class="chart"><img src="{% static 'images/chart-1.png' %}"/></div>
                            <span>Total Leads</span>
                        </div>
                        <div class="col-md-4">
                            <div class="chart"><img src="{% static 'images/chart-2.png' %}"/></div>
                            <span>Tag Leads</span>
                        </div>
                        <div class="col-md-4">
                            <div class="chart"><img src="{% static 'images/chart-3.png' %}"/></div>
                            <span>G-Shopping<br>Setup</span>
                        </div>
                    </div>
                    <button class="btn std-btn sm-btn" onclick='location.href="{% url 'reports.views.reports' %}"'>View all reports</button>   
                </div>             
              </li>
              <li class="Feedback">
              	<div class="slide-wrap">
                    <h1>Feedback Summary</h1>             
                   
                    <button class="btn std-btn sm-btn">View all</button>
                    <button class="btn std-btn sm-btn">Add a Feedback</button>   
                </div>             
              </li>
              <li class="qa">
              	<div class="slide-wrap">
              		<h1>Q&A Forum</h1>
                </div>
              </li>
              <li class="resources">
              	<div class="slide-wrap">
                    <h1>Important Resources</h1>
                    <div class="row">
                        <div class="col-md-4 capabilities">
                            <div class="sub-title">Capabilities</div>
                            <ul>
                                <li><a href="#"><i class="fa fa-gear"></i>Tag Implementation</a></li>
                                <li><a href="#"><i class="fa fa-gear"></i>Product Listing Ads</a></li>
                                <li><a href="#"><i class="fa fa-gear"></i>Shopping Migration</a></li>
                            </ul>
                        </div>
                        <div class="col-md-4 best-practices">
                            <div class="sub-title">Best Practices</div>
                            <ul>
                                <li><a href="#"><i class="fa fa-gear"></i>Workflow</a></li>
                                <li><a href="#"><i class="fa fa-gear"></i>Callflow</a></li>
                            </ul>
                        </div>
                        <div class="col-md-4 faq">
                            <div class="sub-title">FAQs</div>
                            <ul>
                                <li><a href="#"><i class="fa fa-gear"></i><span>Compatibility with CMS/Platforms</span></a></li>
                                <li><a href="#"><i class="fa fa-gear"></i>Top 30 CMS</a></li>
                                <li><a href="#"><i class="fa fa-gear"></i>Newsletter</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
              </li>
            </ul>
            
            <div id="bx-pager">
              <a data-slide-index="0" href=""><span></span><i class="fa fa-code"></i>Leads</a>
              <a data-slide-index="1" href=""><span></span><i class="fa fa-file-text"></i>Reports</a>
              <a data-slide-index="2" href=""><span></span><i class="fa fa-quote-left"></i>Feedback</a>
              <a data-slide-index="3" href=""><span></span><i class="fa fa-comments"></i>Q & A Forum</a>
              <a data-slide-index="4" href=""><span></span><i class="fa fa-wrench"></i>Resources</a>
            </div>
        </div>
    </section>
    <section class="notifications"><div class="container-fluid">We are no longer accepting Google Shopping Migration Leads</div></section>
    <section class="performers testimonials">
    	<div class="container-fluid">
        	<h2>Top Lead Submitters</h2>
            <div class="row">
            	<div class="col-md-4">
                	<h3>Last Quarter</h3>
                    <img src="{% static 'images/performer-1.jpg' %}"/>
                    <div class="performer-info">
                    	<span>Tejas Thakkar</span>
                        Sales Manager<br>Bangalore, India
                    </div>
                </div>
                <div class="col-md-4">
                	<h3>Last Month</h3>
                    <img src="{% static 'images/performer-2.jpg' %}"/>
                    <div class="performer-info">
                    	<span>Jose Rodriguez</span>
                        Sales Manager<br>Bangalore, India
                    </div>
                </div>
                <div class="col-md-4">
                	<h3>Last Week</h3>
                    <img src="{% static 'images/performer-3.jpg' %}"/>
                    <div class="performer-info">
                    	<span>Harjeet Matharu</span>
                        Sales Manager<br>Bangalore, India
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="testimonials">
    	<div class="container-fluid">
        	<h2>Customer Testimonials</h2>
        	<div id="owl-demo" class="owl-carousel">
              <div class="testimonial">              	
              	<img class="testi-photo" src="{% static 'images/testimonial-pic.jpg' %}" alt="Customer Photo">
                <div class="testi-content">
                	<p>"Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident.”</p>
                    <span class="name">Lilia Ghazvini</span>
                    <span>Company Name | <a href="#">urlofcompany.com</a></span>                

                </div>
              </div>
              <div class="testimonial">
              	<img class="testi-photo" src="{% static 'images/testimonial-pic.jpg' %}" alt="Customer Photo">
                <div class="testi-content">
                	<p>"Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.”</p>
                    <span class="name">Lilia Ghazvini</span>
                    <span>Company Name | <a href="#">urlofcompany.com</a></span>                

                </div>
              </div>
              <div class="testimonial">
              	<img class="testi-photo" src="{% static 'images/testimonial-pic.jpg' %}" alt="Customer Photo">
                <div class="testi-content">
                	<p>"Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.”</p>
                    <span class="name">Lilia Ghazvini</span>
                    <span>Company Name | <a href="#">urlofcompany.com</a></span>

                </div>
              </div>
              <div class="testimonial">
              	<img class="testi-photo" src="{% static 'images/testimonial-pic.jpg' %}" alt="Customer Photo">
                <div class="testi-content">
                	<p>"Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.”</p>
                    <span class="name">Lilia Ghazvini</span>
                    <span>Company Name | <a href="#">urlofcompany.com</a></span>                

                </div>
              </div>
              <div class="testimonial">
              	<img class="testi-photo" src="{% static 'images/testimonial-pic.jpg' %}" alt="Customer Photo">
                <div class="testi-content">
                	<p>"Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.”</p>
                    <span class="name">Lilia Ghazvini</span>
                    <span>Company Name | <a href="#">urlofcompany.com</a></span>                
                </div>
              </div>              
            </div>
        </div>
    </section>
  </section>
{% endblock content %}

{% block main_js %}
<script>
$(document).ready(function() {
  $("#owl-demo").owlCarousel({
    autoPlay : true,
    stopOnHover : true,
    navigation:true,
    paginationSpeed : 500,
    goToFirstSpeed : 1000,
    singleItem : true,
    autoHeight : true,
    transitionStyle:"fade"
  });
  	  
	// banner slider
	$('.bxslider').bxSlider({
	  pagerCustom: '#bx-pager'
	});

});
</script>
{% endblock main_js %}