{% extends 'layouts/main.html' %}

{% load staticfiles %}

{% block title %}
Notification Manager
{% endblock title %}
{% block main_css %}
    <link rel="stylesheet" href="{% static 'css/webapp/vendor/editor.css' %}">
    <link rel="stylesheet" href="{% static 'css/representative/jquery.datetimepicker.css' %}">
    <style type="text/css">
      .delete{
        width: 90px !important;
      }
      .edit {
        width: 90px !important;
      }
      .location-pick {
      padding:10px;
      border:1px solid #ccc;
      height:140px;
      overflow:auto;
      margin-top: -13px;
      }
      .location-pick .checkbox {
        margin:0;
      }
      .location-pick .checkbox label {
        display:block;
        text-align:left;
        margin-bottom:5px;
      }

      .region-pick {
        padding:10px;
        border:1px solid #ccc;
        height:140px;
        overflow:auto;
        margin-top: -13px;
      }
      .region-pick .checkbox {
        margin:0;
      }
      .region-pick .checkbox label {
        display:block;
        text-align:left;
        margin-bottom:5px;
      }
    </style>
{% endblock main_css %}
{% block content %}
<section class="content-region inner-page">
    <div class="container-fluid" style="max-width: 98%;">
        <button id="new-notification" class="btn std-btn sm-btn"
                style="float:right;margin-top: 0.7%;margin-right: 10%;line-height: 90%;">
            <i class="fa fa-bell"></i>
            New Notification
        </button>
        <h2>Notification Manager</h2>
        <div id="notification-box" class="row" style="margin-bottom:1%;display:none;">
            {% csrf_token %}
            <div style="margin-bottom: 1%;margin-left: 1.2%;font-weight: bold;">
                <span id="msg-container"></span>
            </div>
        </div>
        <!-- modal fo picasso-->
      <div id="editor-modal" style="display:none">
        <div class="modal-dialog" style="width:70%;">
          <div class="modal-content" style="width:100%;">
            <div class="modal-header" style="display: inline-block;width:100%;height: 50px;">
              <button type="button" id="close-modal" class="close">&times;</button>
              <h3 class="modal-title" style="font-size:22px;line-height: 18px;">Add New Notification</h3>
            </div>
            <div class="modal-body" style="width:100%;">
                <div class="col-lg-12 nopadding">
                    <textarea id="notification-editor" style="width: 100%;min-height: 100px;max-height: 150px;"></textarea>
                </div>
            </div>

            <div class="modal-footer" style="padding-bottom:25px;">
            <div class="col-md-12">
              <div class="loc col-md-3">
                <label style="float: left;margin-top: 2px;margin-left: 5px;color:#9c9999;">Region</label><br/><br/>
                <div class="region-pick" id="filter_region">
                  <div class="checkbox" id="region_checks">
                      <label><input type="checkbox" value="all" class="checkbox_select_all"> Select All </label>
                      {% for reg in regions %}
                          <label>
                              <input type="checkbox" value="{{reg.name}}"> {{reg.name}}
                          </label>
                      {% endfor %}
                  </div>
                </div>
              </div>

              <div class="loc col-md-3">
              <label style="float: left;margin-top: 2px;margin-left: 5px;color:#9c9999;">Country</label><br/><br/>
                <div class="location-pick" id="filter_location">
                  <div class="checkbox" id="location_checks">
                      <label><input type="checkbox" value="all" class="checkbox_select_all"> Select All </label>
                        {% for loc in locations %}
                         <label class="all-loc">
                             <input type="checkbox" value="{{ loc.location_name }}">{{ loc.location_name }}
                         </label>
                        {% endfor %}
                  </div>
                </div>
              </div>

              <div class="team col-md-3">
                  <label style="float: left;margin-top: 2px;margin-left: 5px;color:#9c9999;">Google Teams</label><br/><br/>
                    <div class="region-pick" id="filter_teams">
                      <div class="checkbox" id="team_checks">
                          <label><input type="checkbox" value="all" class="team_select_all"> Select All </label>
                          {% for team in teams %}
                              <label>
                                  <input class="team-check" type="checkbox" value="{{team.team_name}}"> {{team.team_name}}
                              </label>
                          {% endfor %}
                      </div>
                    </div>
              </div>

              <div class="col-md-3" >
                <label style="float: left;margin-left: 20px;color:#9c9999;">Start Date</label>
                <div class="col-md-12">
                   <input type="text" class="start-date form-control" id="start-date" name="start-date" placeholder="Start Date">
                </div>
                <label style="float: left;margin-left: 20px;color:#9c9999;">End Date</label>
                <div class="col-md-12">
                     <input type="text" class="end-date form-control" id="end-date" name="end-date" placeholder="End Date">
                </div>
              </div>

            </div>

            <div class="col-md-12">
              <!-- <label style="float:left;"><input id="check" type="checkbox" /> Show on form</label> -->
              <div class="checkbox col-md-4">
                   <label style="float:left;"><input id="check" type="checkbox" /> Show on form</label>
              </div>

              <button id="publish" class="btn std-btn sm-btn" onclick="publishNotification()">Publish</button>
              <button id="draft" class="btn std-btn sm-btn" onclick="draftNotification()">Save as Draft</button>
            </div>

            </div>
          </div>
        </div>
      </div>
        <div id="notification_wrapper" class="dataTables_wrapper no-footer" style="margin-bottom: 1%;">
            <table id="notification-table" class="display" cellspacing="0" width="100%">
                <thead>
                    <tr role="row">
                        <th>Created on</th>
                        <th>Content</th>
                        <th>Teams</th>
                        <th>Countries</th>
                        <th>Regions</th>
                        <th>Status</th>
                        <th>On Form</th>
                        <th>Duration</th>
                        <th>Created By</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody id="notifications_tbody"></tbody>
            </table>
        </div>
    </div>
</section>
<!-- content-region ends -->
{% endblock content %}

{% block main_js %}
<script src="{% static 'js/reports/moment.min.js' %}"></script>
<script src="{% static 'js/webapp/vendor/editor.js' %}"></script>
<script src="{% static 'js/jquery.datetimepicker.full.js' %}"></script>
<script src="{% static 'js/webapp/vendor/jquery.dataTables.min.js' %}"></script>
<link rel="stylesheet" href="{% static 'css/webapp/vendor/jquery.dataTables.min.css' %}">

<script>
var edit_id = '0';
var americas = ['Argentina', 'Belize', 'Brazil', 'Canada', 'Chile', 'Colombia', 'Costa Rica', 'Dominican Republic', 'Ecuador', 'El Salvador', 'Guatemala', 'Honduras', 'Mexico', 'Nicaragua', 'Panama', 'Peru', 'Puerto Rico', 'SPLATAM', 'United States', 'Uruguay'];
var apac = ['AU/NZ', 'China', 'Hong Kong', 'India', 'Japan', 'SEA', 'Taiwan'];
var emea = ['Austria', 'Belgium', 'Denmark', 'Finland', 'France', 'Germany', 'Israel', 'Italy', 'MENA', 'Netherlands', 'Norway', 'Poland', 'Portugal', 'Russia', 'South Africa', 'Spain', 'Sub Saharan Africa', 'Sweden', 'Switzerland', 'UK/I', 'Ukraine'];
var all = [];

$("#location_checks input").each(function(){
    all.push(String($(this).val()));
  });var i = all.indexOf("all");
if(i != -1) {
  all.splice(i, 1);
}

var k = []
var l = []
var m = []
var n = []

for(i=0;i<all.length;i++){
  k+= '<label class="all-loc"><input type="checkbox" value="'+all[i]+'">'+all[i]+'</label>';
}

$('#location_checks').html('<label><input type="checkbox" value="all" class="checkbox_select_all"> Select All </label>');
$('#location_checks').append(k);

for(i=0;i<apac.length;i++){
  l+= '<label class="apac" style="display:none;"><input type="checkbox" value="'+apac[i]+'">'+apac[i]+'</label>';
}
$('#location_checks').append(l);

for(i=0;i<emea.length;i++){
  m+= '<label class="emea" style="display:none;"><input type="checkbox" value="'+emea[i]+'">'+emea[i]+'</label>';
}
$('#location_checks').append(m);

for(i=0;i<americas.length;i++){
  n+= '<label class="americas" style="display:none;"><input type="checkbox" value="'+americas[i]+'">'+americas[i]+'</label>';
}
$('#location_checks').append(n);



function updateNotificationData(){
  $('#notification-table').DataTable({
      "ajax": {
          "url": "/main/notifications/?notifications=true",
          "dataSrc": function(json) {
              json = json['data']
              for(var i=0; i<json.length; i++){
                  json[i][0] = formatTime(json[i].created_on);
                  json[i][1] = json[i].content;
                  json[i][2] = json[i].teams;
                  json[i][3] = json[i].countries;
                  json[i][4] = json[i].regions;

                  json[i][5] = json[i].status;
                  json[i][6] = json[i].display_on_form;
                  json[i][7] = formatTime(json[i].start_date)+'<br/><span style="padding-left:25px;"> to <span><br>'+formatTime(json[i].end_date);
                  json[i][8] = json[i].modified_by;
                  if(json[i].status == 'Published'){
                    json[i][9] = "<button class='btn-sm btn btn-danger delete' data-id="+json[i].id+">UnPublish</button>";
                  }
                  else if(json[i].status == 'Draft'){
                    json[i][9] = "<button class='btn-sm btn btn-info edit' data-id="+json[i].id+"><span class='glyphicon glyphicon-edit'></span>Draft</button>";
                  }
                  else{
                    json[i][9] = 'Un-Published';
                  }
              }
              return json;
          }
      },
      columnDefs: [
          {bSortable: false,targets: [1,2,3,6,8]},
          { "width": "8%", "targets": 0 },
          { "width": "25%", "targets": 1 },
          { "width": "11%", "targets": 2 },
          { "width": "11%", "targets": 3 },
          { "width": "8%", "targets": 4 },
          { "width": "8%", "targets": 5 },
          { "width": "8%", "targets": 6 },
          { "width": "13%", "targets": 7 },
          { "width": "8%", "targets": 8 },
      ],
      "bDestroy": true,
  });
}


var formatTime = function(unixTimestamp){
    if(unixTimestamp === null)
        return "-"
    else{
        var datestamp = new Date(unixTimestamp*1000);
        var date = datestamp.getDate();
        var month = datestamp.getMonth() + 1;
        var year =  datestamp.getFullYear();
        var m = '0'
        if(month < 10){
          month = m + String(month)
        }
        if(date < 10){
          date = m + String(date)
        }
        return date + "-" + month + "-" + year;
    }
};


$(document).ready(function(){
  olark('api.box.hide');
  updateNotificationData();
});


function validateThis()
{
  if($('#notification-editor').val() == ''){
    $('#notification-editor').addClass('error-box');
  }
  else{
    $('#notification-editor').removeClass('error-box');
  }
}


function assignVal(task)
{
  var s_date = $('#start-date').val();
  var e_date = $('#end-date').val();
  var location = [];
  var region = [];
  var teams = [];
  if($('#start-date').val()){
    s_date = $('#start-date').val();
    s_date = s_date.substr(3, 2)+"/"+s_date.substr(0, 2)+"/"+s_date.substr(6, 4);
  }
  else{
    s_date = '';
  }

  if($('#end-date').val()){
    e_date = $('#end-date').val();
    e_date = e_date.substr(3, 2)+"/"+e_date.substr(0, 2)+"/"+e_date.substr(6, 4);
  }
  else{
    e_date = '';
  }
  $("#location_checks input:checked").each(function(){
      if($(this).val() !== "all" && $(this).is(':visible')){
        location.push(String($(this).val()));
      }
  });

  $("#region_checks input:checked").each(function(){
      if($(this).val() !== "all")
        region.push(String($(this).val()));
  });

  $(".team-check:checked").each(function(){
      if($(this).val() !== "all")
        teams.push(String($(this).val()));
  });

  var publish_on_form = $("#check").is(':checked');
  var text = $('#notification-editor').val();
  var draft = false;
  if(task == "draft"){
    draft = true;
  }
  var locValid = true;
  var teamValid = true;
  if(location.length < 1){
    locValid = false;
  }

  if(teams.length < 1){
    teamValid = false;
  }

  if(!teamValid && !locValid){
    alert("Location or Team must be selected.");
    return false;
  }

  var isValid = true;
  if(region.length){
        for (var i = 0; i < region.length; i++) {
            reg = region[i];
            location = location.sort();
            if( reg === 'Americas'){
                commonElements = array_intersection(americas,location);
            }else if(reg === 'APAC'){
                commonElements = array_intersection(apac,location);
            }else{
                commonElements = array_intersection(emea,location);
            }
            if(commonElements.length < 1){
                alert("Please select at-least one country for the Region '"+reg.toUpperCase() +"'.")
                return false;
            }
        }
  }

  var data = {
            text: text,
            f_date: s_date,
            t_date: e_date,
            draft: draft,
            on_form: publish_on_form,
    }
    data.teams = teams;
    data.location = location;
    data.region = region;
    return data
}


function array_intersection(a, b)
{
  var ai=0, bi=0;
  var result = [];

  while( ai < a.length && bi < b.length )
  {
     if(a[ai] < b[bi] ){ ai++; }
     else if (a[ai] > b[bi] ){ bi++; }
     else /* they're equal */
     {
       result.push(a[ai]);
       ai++;
       bi++;
     }
  }

  return result;
}


/*$('#publish').click(function(){*/
function publishNotification()
{
  validateThis();
  var jsonData = assignVal("publish");
  if(!jsonData){
    console.log(false);
  }else{
      if(!$("*").hasClass('error-box')){
        $.ajax({
          type: "POST",
          url: "/main/notifications/?id="+edit_id,
          data: JSON.stringify(jsonData),
          contentType: "application/json; charset=utf-8",
          traditional: true,
          success: function (data) {
            if(data.success){
              setTimeout(function(){updateNotificationData();},1000);
            }
            $("#editor-modal").toggle();
            $('#notification-editor').val('');
            $('#start-date').val('');
            $('#end-date').val('');
            $("#check").removeAttr('checked');
            $('#location_checks input').removeAttr('checked');
            $('#region_checks input').removeAttr('checked');

          },
          error: function(data){
              alert("Something went wrong, please try after some time");
          }
        });
      }
      else
      {
        console.log(false);
      }
  }
}


/*$('#draft').click(function(){*/
function draftNotification()
{
  validateThis();
  var jsonData = assignVal("draft");
  if(!$("*").hasClass('error-box')){
    $.ajax({
      type: "POST",
      url: "/main/notifications/?id="+edit_id,
      data: JSON.stringify(jsonData),
      contentType: "application/json; charset=utf-8",
      traditional: true,
      success: function (data) {
        if(data.success){       
          setTimeout(function(){updateNotificationData();},1000);
        }
        $("#editor-modal").toggle();
        $('#notification-editor').val('');
        $('#start-date').val('');
        $('#end-date').val('');
        $("#check").removeAttr('checked');
        $('#location_checks input').removeAttr('checked');
        $('#region_checks input').removeAttr('checked');
      },
      error: function(data){
          alert("Something went wrong, please try after some time");
      }
    });
  }
  else
  {
    console.log(false);
  }
}


// close modal window
$("#close-modal").on('click', function(e){
    $("#editor-modal").toggle();
});

$("#new-notification").on('click', function(e){
    $("#editor-modal").toggle();
    $(".start-date, .end-date").datetimepicker({
          timepicker : false,
          format : 'd-m-Y',
          scrollInput : false,
          minDate : new Date(),
    });

});


$('body').on('click', '.delete', function(){
  var $that = $(this);
  var id = $that.data('id');
  var table = $('#notification-table').DataTable();
  var valid=confirm("Are you sure you want to unpublish Notification?");
  if(valid){
        $.ajax({
        type: "PUT",
        url: "/main/notifications/?id="+id,
        success: function (data) {
                if(data.success){
                  setTimeout(function(){updateNotificationData();},1000);
                }
            },
            error: function(data){
                alert("Something went wrong, please try after some time");
            }
        });
        
    }
  });


$('body').on('click', '.edit', function(){
  var $that = $(this);
  var id = $that.data('id');
  edit_id = id;
  $("#new-notification").click();

  var row = $(this).parent().parent();
  var created_date = row.children().eq(0).html();
  var content = row.children().eq(1).html();
  var countries= row.children().eq(2).html();
  var regions = row.children().eq(3).html();
  var status = row.children().eq(4).html();
  var on_form= row.children().eq(5).html();
  var duration = row.children().eq(6).text();
  var modified_by = row.children().eq(7).html();

  var tmp = countries.replace(/ /g,'')
  var ctry = tmp.split(",");
  tmp = regions.replace(/ /g,'')
  var reg = tmp.split(",");
  var time_period = duration.split(" ");
  var i = time_period.indexOf("to");
  if(i != -1) {
    time_period.splice(i, 1);
  }
  
  $('#notification-editor').val(content);

  $('#start-date').val(time_period[0]);
  $('#end-date').val(time_period[1]);


  $("#location_checks input").each(function(){
    if(ctry.indexOf(String($(this).val())) != -1){
      $(this).prop('checked',true);
    }
  });

  $("#region_checks input").each(function(){
    if(reg.indexOf(String($(this).val())) != -1){
      $(this).prop('checked',true);
    }
  });

  if(on_form == 'Yes'){
    $("#check").prop('checked',true);
  }

});


$("#region_checks .checkbox_select_all").change(function() {
    if(this.checked) {
        $('#region_checks').find('input').prop('checked',true);
    }
    else{
      $('#region_checks').find('input').prop('checked',false);
    }
});


$(document).on('click',function(){
  $("#location_checks .checkbox_select_all").change(function() {
      if(this.checked) {
          $('#location_checks').find('input').prop('checked',true);
      }
      else{
        $('#location_checks').find('input').prop('checked',false);
      }
  });
});

$("#region_checks input").click(function(){
  if($(this).is(':checked')){
    if($(this).val() == 'APAC'){
      $('#location_checks .all-loc').hide();
      $('#location_checks .apac').show();
    }

    if($(this).val() == 'EMEA'){
      $('#location_checks .all-loc').hide();
      $('#location_checks .emea').show();
    }

    if($(this).val() == 'Americas'){
      $('#location_checks .all-loc').hide();
      $('#location_checks .americas').show();
    }
  }
});

$("#region_checks input").click(function(){
  if(!$(this).is(':checked')){
    if($(this).val() == 'APAC'){
      $('#location_checks .apac input').prop('checked',false);
      $('#location_checks .apac').hide();
    }

    if($(this).val() == 'EMEA'){
      $('#location_checks .emea input').prop('checked',false);
      $('#location_checks .emea').hide();
    }

    if($(this).val() == 'Americas'){
      $('#location_checks .americas input').prop('checked',false);
      $('#location_checks .americas').hide();
    }
  }

  if(!$("#region_checks input").is(':checked')){
    $('#location_checks .all-loc').show();
  }
});


$(".team_select_all").click(function(e){
    if($(this).prop('checked'))
        $(".team-check").prop("checked", true );
    else
        $(".team-check").prop( "checked", false );
});
</script>

{% endblock main_js %}