{% extends 'layouts/main.html' %}

{% load staticfiles %}

{% block title %}
  PICASSO
{% endblock title %}
{% block main_css %}
<link rel="stylesheet" type="text/css" href="{% static 'css/material.min.css'%}">
<link rel="stylesheet" type="text/css" href="{% static 'css/picasso_lead_form.css'%}">
  <style type="text/css">
    .tasks{ margin-bottom: 5px;}
    .footer{position: absolute;}
  </style>
{% endblock main_css %}
{% block content %}
{% if picasso %}
  {% include 'layouts/picasso_header.html'%}
{% endif %}

<!-- content-region -->
<section class="content-region">
	<section class="home-banner">
		<div class="banner-content">
			<div class="wrap">
				<ul class="bxslider">
					<li class="leads" id="tag_leads">
					<!-- Starts Picasso leads section  -->
						<div class="slide-wrap" id="wpp_status">
							<div style="padding-top: 20px;"> &nbsp</div>
	                        <div class="btn-group">
	                            <button class="btn std-btn submit-lead" onclick='location.href="{% url 'leads.views.picasso_lead_form' %}"'>SUBMIT MOBILE SITE OPTIMIZATION REQUEST</button>
	                            <button class="btn std-btn lead-status" onclick='location.href="{% url 'leads.views.get_picasso_lead_summary'%}"' >Check the Status of Your Leads</button>
	                        </div>
	                        <div class="wpp_leads-summary" style=" margin-top: 45px;">
	                        	<h2 class="sub-title">Your Leads Summary</h2>
	                        	<div class="row" style="max-width: 670px;">
	                        		<div class="summary-breakup">
	                                    <span>{{picasso_lead_status.In_Queue}}</span> In Queue
	                                </div>
	                                <div class="summary-breakup">
	                                    <span>{{picasso_lead_status.Audited}}</span> Audited
	                                </div>
	                                <div class="summary-breakup">
	                                    <span>{{picasso_lead_status.Already_Responsive}}</span> Already Responsive
	                                </div>
	                                <div class="summary-breakup">
	                                    <span>{{picasso_lead_status.Delivered}}</span> Delivered
	                                </div>
	                        	</div>
	                        </div>
						</div>
						<!-- End WPP leads section  -->
					</li>
					<li class="reports">
						<!--  Starts Picasso Reports section -->
						<div class="slide-wrap" id="wpp_reports">
							<h1 class="sub-title">Reports</h1>
							<button class="btn std-btn sm-btn" onclick='location.href="{% url 'leads.views.get_picasso_lead_summary'%}"'>View all reports</button>
						</div>
						<!-- End Picasso Reports section -->
					</li>
				</ul>
				<div id="bx-pager">
	              <a data-slide-index="0" href=""><span></span><i class="fa fa-code"></i>Leads</a>
	              <a data-slide-index="1" href=""><span></span><i class="fa fa-file-text"></i>Reports</a>
	              <!-- <a data-slide-index="2" href=""><span></span><i class="fa fa-quote-left"></i>Feedback</a> -->
	            </div>
			</div>
		</div>
	</section>
	<section class="notifications">
      <div class="slick-slider container-fluid trans" id="marquee_notofication">
          <div>&nbsp;</div>
      </div>
    </section>
</section>

{% endblock content %}

{% block main_js %}
<script src="{% static 'js/jquery.classyloader.js' %}"></script>
<script>
$(document).ready(function() {

  // wpp_treatment_type_report = {{wpp_treatment_type_report|safe}}

  // $("#totalWPPWin").text(parseInt(wpp_treatment_type_report['TOTAL']) + "%");
  // $("#FullDesktopMobileWin").text(parseInt(wpp_treatment_type_report['FullDesktop/MobileOptimization']) + "%");
  // $("#LandingPageWin").text(parseInt(wpp_treatment_type_report['LandingPageOptimization']) + "%");
  // $("#Mobile-onlyWin").text(parseInt(wpp_treatment_type_report['Mobile-onlyOptimization']) + "%");

  $("#owl-demo").owlCarousel({
    autoPlay : true,
    stopOnHover : true,
    navigation:true,
    paginationSpeed : 500,
    goToFirstSpeed : 1000,
    singleItem : true,
    autoHeight : true,
    transitionStyle:"fade"
  });
      
  // banner slider
  $('.bxslider').bxSlider({
    pagerCustom: '#bx-pager'
  });

  $('.slick-slider').slick({
      dots: false,
      infinite: true,
      speed: 500,
      fade: true,
      slide: 'div',
      cssEase: 'linear',
      autoplay:true,
      autoplaySpeed:5000,
      adaptiveHeight:true
    });
  $(window).trigger('resize');

});

function include(arr,obj) {
  return (arr.indexOf(obj) != -1);
}

function showOlark(){
  olark('api.box.show');
}

function hideOlark(){
  olark('api.box.hide');
}

$(window).on('resize',function() {
   // do whatever
    if ($(window).width() < 768 ) {
      // alert(screen.width)

          $('#buyonline').ClassyLoader({
            width: 90,
            height: 90 ,
            diameter : 40,
            lineColor : 'rgb(70,138,255)',
            // percentage : parseInt(wpp_treatment_type_report['TOTAL']),
            lineWidth : 5,
            animate: false,
            remainingLineColor : 'rgba(0,0,0,0.15)'    
          });
          $('#formentry').ClassyLoader({
            width: 90,
            height: 90 ,
            diameter : 40,
            lineColor : 'rgb(20,195,111)',
            // percentage : parseInt(wpp_treatment_type_report['FullDesktop/MobileOptimization']),
            lineWidth : 5,
            animate: false,
            remainingLineColor : 'rgba(0,0,0,0.15)'    
          });
          $('#callyourbusiness').ClassyLoader({
            width: 90,
            height: 90 ,
            diameter : 40,
            lineColor : 'rgb(255,187,0)',
            // percentage : parseInt(wpp_treatment_type_report['LandingPageOptimization']),
            lineWidth : 5,
            animate: false,
            remainingLineColor : 'rgba(0,0,0,0.15)'    
          });
          $('#engagewithyourcontent').ClassyLoader({
            width: 90,
            height: 90 ,
            diameter : 40,
            lineColor : 'rgb(70,138,255)',
            // percentage : parseInt(wpp_treatment_type_report['Mobile-onlyOptimization']),
            lineWidth : 5,
            animate: false,
            remainingLineColor : 'rgba(0,0,0,0.15)'    
          });
          $('#becomeafan').ClassyLoader({
            width: 90,
            height: 90 ,
            diameter : 40,
            lineColor : 'rgb(70,138,255)',
            // percentage : parseInt(wpp_treatment_type_report['Mobile-onlyOptimization']),
            lineWidth : 5,
            animate: false,
            remainingLineColor : 'rgba(0,0,0,0.15)'    
          });

    }else{

      $('#buyonline').ClassyLoader({
            diameter : 49,
            lineColor : 'rgb(70,138,255)',
            // percentage : parseInt(wpp_treatment_type_report['TOTAL']),
            lineWidth : 6,
            animate: false,
            remainingLineColor : 'rgba(0,0,0,0.15)'    
          });
          $('#formentry').ClassyLoader({
            diameter : 49,
            lineColor : 'rgb(20,195,111)',
            // percentage : parseInt(wpp_treatment_type_report['FullDesktop/MobileOptimization']),
            lineWidth : 6,
            animate: false,
            remainingLineColor : 'rgba(0,0,0,0.15)'    
          });
          $('#callyourbusiness').ClassyLoader({
            diameter : 49,
            lineColor : 'rgb(255,187,0)',
            // percentage : parseInt(wpp_treatment_type_report['LandingPageOptimization']),
            lineWidth : 6,
            animate: false,
            remainingLineColor : 'rgba(0,0,0,0.15)'    
          });
          $('#engagewithyourcontent').ClassyLoader({
            diameter : 49,
            lineColor : 'rgb(70,138,255)',
            // percentage : parseInt(wpp_treatment_type_report['Mobile-onlyOptimization']),
            lineWidth : 6,
            animate: false,
            remainingLineColor : 'rgba(0,0,0,0.15)'    
          });
          $('#becomeafan').ClassyLoader({
            diameter : 49,
            lineColor : 'rgb(70,138,255)',
            // percentage : parseInt(wpp_treatment_type_report['Mobile-onlyOptimization']),
            lineWidth : 6,
            animate: false,
            remainingLineColor : 'rgba(0,0,0,0.15)'    
          });

    }


});


</script>

{% endblock main_js %}