
{% extends 'layouts/main.html' %}

{% load staticfiles %}

{% block title %}
  Manage Help
{% endblock title %}


{% block content %}
<!-- content-region -->
  <!-- content-region -->
  <section class="content-region inner-page resources main">
    <div class="container-fluid">
      <h1>Resources</h1>
      <div class="row">
        <div class="col-md-4 capabilities">
          <div class="sub-title">Capabilities</div>
          <ul>
            <li><a href="#">Tag Implementation</a></li>
            <li><a href="#">Product Listing Ads</a></li>
            
          </ul>
        </div>
        <div class="col-md-4 best-practices">
          <div class="sub-title">Best Practices</div>
          <ul>
            <li><a href="#">Workflow</a></li>
            <li><a href="#">Callflow</a></li>
          </ul>
        </div>
        <div class="col-md-4 faq">
          <div class="sub-title">FAQs</div>
          <ul>
            <li><a href="#"><span>Compatibility with CMS/Platforms</span></a></li>
            <li><a href="#">Top 30 CMS</a></li>
            <li><a href="{% url 'newsletter.views.archive' %}">Newsletter</a></li>
          </ul>
        </div>
      </div>
    </div>
  </section>
  <!-- content-region ends --> 
 {% endblock content %}
{% block main_js %}
{% endblock main_js%}