{% extends 'layouts/main.html' %}

{% load staticfiles %}

{% block title %}
  Meet The Team
{% endblock title %}

{% block content %}
<section class="content-region team-page">
    <div class="container-fluid">
      <h2>THE MANAGEMENT TEAM</h2>
        <div class="team-slider">
            {% for management in contacts_list.management %}
            <div class="team-slide">
                <img src="{% static management.photo_url %}">
                <div class="slide-copy">
                    <span class="member-name">{{management.name}}</span>
                    {{management.email}}<br>
                    {{management.phone}}<br>
                    {% if management.skype %}
                        Skype: <span>{{management.skype}}</span>
                    {% endif %}
                </div>
            </div>
            {% endfor %}
        </div>
        <h2>THE IMPLEMENTATION TEAM</h2>

        <div class="team-slider">
            {% for rep in contacts_list.representatives %}
            <div class="team-slide">
                <img src="{% static rep.photo_url %}">
                <div class="slide-copy">
                    <span class="member-name">{{rep.name}}</span>
                    {{rep.email}}<br>
                    {{rep.phone}}<br>
                    {% if rep.skype %}
                        Skype: <span>{{rep.skype}}</span>
                    {% endif %}
                </div>
            </div>
            {% endfor %}
        </div>
        
      
    </div>
  </section>
  <!-- content-region ends -->
{% endblock content %}

{% block main_js %}
<script type="text/javascript">

    $(document).ready(function(){
  $('.slider1').bxSlider({
    slideWidth: 240,
    minSlides: 1,
    maxSlides: 5,
    slideMargin: 30,
    infiniteLoop: false,
    pager: false
  });
});

</script>
{% endblock main_js %}
