{% extends 'layouts/main.html' %}

{% load staticfiles %}

{% block content %}
<section class="content-region team-page">
    <div class="container-fluid">
      <h1>Meet the team</h1>
      <div class="team-banner"></div>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer vitae facilisis purus. Sed molestie tempus tortor eget elementum. Nullam eu sollicitudin orci, non interdum augue. Cras est dui, consequat sed tristique sed, pulvinar nec nulla. Vestibulum tincidunt eu est non luctus. Pellentesque venenatis dictum nunc, quis maximus augue sodales quis. Proin sodales efficitur nibh. In imperdiet, sapien vel sodales cursus, diam dui porttitor ante, ut molestie purus est eget est. Nulla non elit mi.</p>
      <h2>Management Team</h2>
        <div class="slider1 team-slider">
            {% for management in contacts_list.management %}
            <div class="slide team-slide">
                <img src="{% static 'images/default_user.png' %}">
                <div class="slide-copy">
                    <span class="member-name">{{management.name}}</span>
                    {{management.email}}<br>
                    {{management.phone}}<br>
                    {% if management.skype %}
                        Skype: <span>{{management.skype}}</span>
                    {% endif %}

                </div>
            </div>
            {% endfor %}
        </div>
        <h2>Customer Support team</h2>
        <div class="slider1 team-slider">
            {% for rep in contacts_list.representatives %}
            <div class="slide team-slide">
                <img src="{% static 'images/default_user.png' %}">
                <div class="slide-copy">
                    <span class="member-name">{{rep.name}}</span>
                    {{rep.email}}<br>
                    {{rep.phone}}<br>
                    {% if rep.skype %}
                        Skype: <span>{{rep.skype}}</span>
                    {% endif %}
                </div>
            </div>
            {% endfor %}
        </div>
        
      
    </div>
  </section>
  <!-- content-region ends -->
{% endblock content %}

{% block main_js %}
<script type="text/javascript">

    $(document).ready(function(){
  $('.slider1').bxSlider({
    slideWidth: 240,
    minSlides: 1,
    maxSlides: 5,
    slideMargin: 30,
    infiniteLoop: false,
    pager: false
  });
});

</script>
{% endblock main_js %}
