{% extends 'layouts/main.html' %}

{% load staticfiles %}

{% block title %}
Top 30 CMS
{% endblock title %}

{% block content %}
<div id="content" class="clearfix">
    <div class="main_content">
        <ul class="ul_pdf doc_10">
            <li>
                <a href="https://docs.google.com/a/regalix-inc.com/document/d/1IKuBQY6Q9tUoLmdUSqzuFYI2QruJXuWVsY6e5eXln7E/edit" target="_blank">
                    <div class="icon_text">3DCart</div>
                </a>
            </li>
            <li>
                <a href="https://docs.google.com/a/regalix-inc.com/document/d/1xhonlOeHILUeqcbLkKFLupOwMPZQCiDioVUnhFP-Tb8/edit" target="_blank">
                    <div class="icon_text">bigcommerce</div>
                </a>
            </li>
            <li>
                <a href="https://docs.google.com/a/regalix-inc.com/document/d/1pU3GQjlFCq5W-CsDmb1geFxTdwZt-tXlYPd5gA6Mg00/edit" target="_blank">
                    <div class="icon_text">godaddy</div>
                </a>
            </li>
            <li>
                <a href="https://docs.google.com/a/regalix-inc.com/document/d/1HXAy8w_DUkMaGZB8Tpsy6ycZ5Ub9vmv99-qkRQ8dTr4/edit" target="_blank">
                    <div class="icon_text">magento</div>
                </a>
            </li>
            <li>
                <a href="https://docs.google.com/a/regalix-inc.com/document/d/1DkvPHOK4ZLgltumqjcCoEKIVyMwsuERG_Kz0nr9SItw/edit" target="_blank">
                    <div class="icon_text">netsuite</div>
                </a>
            </li>
            <li>
                <a href="https://docs.google.com/a/regalix-inc.com/document/d/1AdG22JyUqr5aJKSuHx9JqZsXPnu87iyot6bimwBKciY/edit" target="_blank">
                    <div class="icon_text">prestashop</div>
                </a>
            </li>
            <li>
                <a href="https://docs.google.com/a/regalix-inc.com/document/d/1i2-aNsxNVGYwfqJ0tC-jvc6e05hD5lR6vaK8Nn-wtdY/edit" target="_blank">
                    <div class="icon_text">Shopify</div>
                </a>
            </li>
            <li>
                <a href="https://docs.google.com/a/regalix-inc.com/document/d/1BmQGrHJ5IsWoSGCm7H1teJyuu3JOPq4nG7ZmdrDwOXs/edit" target="_blank">
                    <div class="icon_text">Volusion</div>
                </a>
            </li>
            <li>
                <a href="https://docs.google.com/a/regalix-inc.com/document/d/1k5VdvjCIDn1vyKuIob3PKbrWyD8yemyAKYrJZQcnmxg/edit" target="_blank">
                    <div class="icon_text">wordpress</div>
                </a>
            </li>
            <li>
                <a href="https://docs.google.com/a/regalix-inc.com/document/d/1gXo67XZp9_AwlLG-bhBzcxdDyJBWvFOp74RqfqTAnTk/edit" target="_blank">
                    <div class="icon_text">yahoostore</div>
                </a>
            </li>
        </ul>
        <ul class="ul_pdf doc_20 ">
            <li>
                <a href="https://docs.google.com/a/regalix-inc.com/document/d/1AeUeCrawtigQCEnD7HPJoMZ5pI58hOY4fi-m8qvElSc/edit" target="_blank">
                    <div class="icon_text">Amazon</div>
                </a>
            </li>
            <li>
                <a href="https://docs.google.com/a/regalix-inc.com/document/d/1-CdY7aJG0YOizauzqsm0UrUNLozGkbEHK7_dns9vKls/edit" target="_blank">
                    <div class="icon_text">CityMax</div>
                </a>
            </li>
            <li>
                <a href="https://docs.google.com/a/regalix-inc.com/document/d/19yYDiW0C7_DJydBTPJ6cMczemfoKTUJzvUZxA1eGHqE/edit" target="_blank">
                    <div class="icon_text">Concrete5</div>
                </a>
            </li>
            <li>
                <a href="https://docs.google.com/a/regalix-inc.com/document/d/1vD7GCO4j7A9UWjhyechms_JR0a80mvWMfGTlmD8P57I/edit" target="_blank">
                    <div class="icon_text">DotNetNuke</div>
                </a>
            </li>
            <li>
                <a href="https://docs.google.com/a/regalix-inc.com/document/d/1dLwUpMbZpAs43tXXNlQ5RIXQ0KhBootRHWILFr0kfus/edit" target="_blank">
                    <div class="icon_text">Drupal</div>
                </a>
            </li>
            <li>
                <a href="https://docs.google.com/a/regalix-inc.com/document/d/1CkWNjuWPhS4zp9FR6vEDj3FJfAF5FDHL0NcEHx0FutY/edit" target="_blank">
                    <div class="icon_text">EKM Powershop</div>
                </a>
            </li>
            <li>
                <a href="https://docs.google.com/a/regalix-inc.com/document/d/1h7Qhh0YI019htUUw25cyLl9gQXScS2coe9a_5_1Jrzo/edit" target="_blank">
                    <div class="icon_text">Gambio shop</div>
                </a>
            </li>
            <li>
                <a href="https://docs.google.com/a/regalix-inc.com/document/d/1DqGzBTT9z3qwHBLFlmmZJcVw5XYZcAdt_Rp__dh5yf8/edit" target="_blank">
                    <div class="icon_text">Joomla</div>
                </a>
            </li>
            <li>
                <a href="https://docs.google.com/a/regalix-inc.com/document/d/1rR2ZZRjjDlank3AM6tOKW9SewhY_2gOCN-QF1ZhROSA/edit" target="_blank">
                    <div class="icon_text">Miva merchants</div>
                </a>
            </li>
            <li>
                <a href="https://docs.google.com/a/regalix-inc.com/document/d/1pAwGf8sCj7wZwbUto-E-0lfNLaFTVMJqX8f7wTYSQUA/edit" target="_blank">
                    <div class="icon_text">Network solutions</div>
                </a>
            </li>
        </ul>
        <ul class="ul_pdf doc_30 ">
            <li>
                <a href="https://docs.google.com/a/regalix-inc.com/document/d/15-AS0lOjAuz8Bc4hhC7TvTLglpUPcj39pRrbsp5B5iQ/edit" target="_blank">
                    <div class="icon_text">Opencart</div>
                </a>
            </li>
            <li>
                <a href="https://docs.google.com/a/regalix-inc.com/document/d/1hBejin0VScdDyk2ke4LyMTmdoxGbfK84BR3FPpS4tAE/edit" target="_blank">
                    <div class="icon_text">prostores</div>
                </a>
            </li>
            <li>
                <a href="https://docs.google.com/a/regalix-inc.com/document/d/1Yr4Nm0YyMpGQOoiptkKoGIrKRWMjHjzAgLNUiqDPAnM/edit" target="_blank">
                    <div class="icon_text">Square space 1</div>
                </a>
            </li>
            <li>
                <a href="https://docs.google.com/a/regalix-inc.com/document/d/1741MqAHEku7vfzmo5IkiUIk6vhvAQDwVNuLfpPwSEeQ/edit" target="_blank">
                    <div class="icon_text">Square space 2</div>
                </a>
            </li>
            <li>
                <a href="https://docs.google.com/a/regalix-inc.com/document/d/1YpdfXtfGnZz_o75vXMbnaeZgQLityeQD6V1pjPPfcPk/edit" target="_blank">
                    <div class="icon_text">Strato</div>
                </a>
            </li>
            <li>
                <a href="https://docs.google.com/a/regalix-inc.com/document/d/1xrmeYNlFvqZBI2Rv4xgMbqzcF5cvrNeGDQj3UaSe_EY/edit" target="_blank">
                    <div class="icon_text">Weebly</div>
                </a>
            </li>
            <li>
                <a href="https://docs.google.com/a/regalix-inc.com/document/d/1wRuOi942S2oFRMrJT3LZbHu36ZxSIysNCknY_iQVLcc/edit" target="_blank">
                    <div class="icon_text">Wix</div>
                </a>
            </li>
            <li>
                <a href="https://docs.google.com/a/regalix-inc.com/document/d/1PLgeV9Bkc5XpYc6oB8bQ0GtsDm1NTdCe4dOdo2YeP68/edit" target="_blank">
                    <div class="icon_text">Xcart</div>
                </a>
            </li>
            <li>
                <a href="https://docs.google.com/a/regalix-inc.com/document/d/15sQvVhspTrp3nFUqMG-UpChtDELWPfAXPJ7ecfRkXSs/edit" target="_blank">
                    <div class="icon_text">Zeald</div>
                </a>
            </li>
            <li>
                <a href="https://docs.google.com/a/regalix-inc.com/document/d/1kpP8TMdFyeAzAZi9aLIebixWK2K7a13PTvFWXBwZ8Bc/edit" target="_blank">
                    <div class="icon_text">ZenCart</div>
                </a>
            </li>
        </ul>
    </div>
</div>
{% endblock content %}