{% extends 'layouts/main.html' %}

{% load staticfiles %}

{% block title %}
Manage Help
{% endblock title %}

{% block content %}
<!-- content-region -->
<section class="content-region inner-page-wide">
  <div class="container-fluid">
  <h1>Feedback Details</h1>  
  <div class="feedback-details-section">
    <div class="std-sub-title">Feedback Info</div>
    <div class="row">
        <div class="col-md-4">
            <div class="feedback-info-row">
                <label>Title</label>
                <div class="value">{{feedback.title}}</div>
            </div>
            </div>
            <div class="col-md-4">
            <div class="feedback-info-row">
                <label>Feedback ID</label>
                <div class="value" id='feedbackId'>Goog-{{feedback.id}}</div>
            </div>
            </div>
            <div class="col-md-4">
            <div class="feedback-info-row">
                <label>CID</label>
                <div class="value">{{feedback.cid}}</div>
            </div>
            </div>
            <div class="col-md-4">
            <div class="feedback-info-row">
                <label>Advertiser Name</label>
                <div class="value">{{feedback.advertiser_name}}</div>
            </div>
        </div>    
        <div class="col-md-4">
            <div class="feedback-info-row">
                <label>Google Acc. Manager</label>
                <div class="value">Suresh Kumar</div>
            </div></div>
            <div class="col-md-4">
            <div class="feedback-info-row">
                <label>Email</label>
                <div class="value">skumar@regalix.com</div>
            </div>
            </div>
            <div class="col-md-4">
            <div class="feedback-info-row">
                <label>Lead Owner</label>
                <div class="value">{{feedback.lead_owner.first_name}} {{feedback.lead_owner.last_name}}</div>
            </div>
            </div>
            <div class="col-md-4">
            <div class="feedback-info-row">
                <label>Lead Owner Email</label>
                <div class="value">{{feedback.lead_owner.email}}</div>
            </div>
        </div>    
        <div class="col-md-4">
            <div class="feedback-info-row">
                <label>Feedback Type</label>
                <div class="value">{{feedback.feedback_type}}</div>
            </div>
            </div>
            <div class="col-md-4">
            <div class="feedback-info-row">
                <label>Location</label>
                <div class="value">{{feedback.location.location_name}}</div>
            </div>
            </div>
            <div class="col-md-4">
            <div class="feedback-info-row">
                <label>Language</label>
                <div class="value">{{feedback.language}}</div>
            </div>
            </div>
            <div class="col-md-4">
            <div class="feedback-info-row">
                <label>Created Date</label>
                <div class="value">{{feedback.created_date | date:"D, M d Y, f A" }}</div>
            </div>
        </div>
    </div>    
  </div>
  <div class="feedback-details-section">
      <div class="std-sub-title">Feedback Description</div>
      <p>{{feedback.description}}</p>
  </div>
  <div class="feedback-details-section">
    {% if feedback.status == 'RESOLVED' %}
        <div class="feedback-status resolved">Resolved</div>
    {% endif %}

    {% if feedback.status == 'IN PROGRESS' %}
        <div class="feedback-status inprogress">In Progress</div>
    {% endif %}

    <div class="feedback-comments">
        {% if comments %}
            {% for c in comments %}
                {% if 'regalix' in c.comment_by.email %}
                    <div class="feedback-comment regalix">
                        <p>{{c.comment}}</p>
                        <p class="feedback-auth">- <span>{{c.comment_by.username}}</span> ({{c.comment_by.email}}) On <span>{{c.created_date | date:"D, M d Y, f A"}}</span></p>
                    </div>
                {% endif %}
                 {% if 'Google' in c.comment_by.email %}
                    <div class="feedback-comment google">
                        <p>{{c.comment}}</p>
                        <p class="feedback-auth">- <span>{{c.comment_by.username}}</span> ({{c.comment_by.email}}) On <span>{{c.created_date | date:"D, M d Y, f A"}}</span></p>
                    </div>
                {% endif %}
                 
            {% endfor %}
        {% endif %}
        {% if feedback.status == 'RESOLVED'%}
            {% if 'regalix' in feedback.resolved_by.email %}
                <div class="feedback-comment regalix">
                    <p>Resolved By</p>
                    <p class="feedback-auth">- <span>{{feedback.resolved_by.username}}</span> ({{feedback.resolved_by.email}}) On <span>{{feedback.resolved_date | date:"D, M d Y, f A"}}</span></p>
                </div>
            {% endif %}
            {% if 'Google' in feedback.resolved_by.email %}
                <div class="feedback-comment google">
                    <p>Resolved By</p>
                    <p class="feedback-auth">- <span>{{feedback.resolved_by.username}}</span> ({{feedback.resolved_by.email}}) On <span>{{feedback.resolved_date | date:"D, M d Y, f A"}}</span></p>
                </div>
            {% endif %}
        {% endif %}
    </div>
    
     {% if feedback.status != 'RESOLVED' %}
        <form action="{% url 'main.views.comment_feedback' feedback.id %}" method="post" onsubmit="return validate(this);">
            {% csrf_token %}
            <input type="hidden" name='feedback' value="{{feedback.id}}">
            <textarea class="form-control feedback-commet-box" placeholder="Comments" name='comment'></textarea>
            <div class="btn-row">
                <button class="btn std-btn" id='AddComments'>Comment</button>
            </div>
        </form>
    {% endif %}
    {% if feedback.status != 'RESOLVED' and can_resolve %}
        <form action="{% url 'main.views.resolve_feedback' feedback.id %}">
                <button class="btn std-btn" id='Resolved' style="margin-top: -170px;margin-left: 750px;">Resolved</button>
        </form>
    {% endif %}
    {% if feedback.status == 'RESOLVED' %}
        <form action="{% url 'main.views.reopen_feedback' feedback.id %}">
              <div class="btn-row">
                <button class="btn std-btn">Reopen</button>
              </div>
        </form>
    {% endif %}
    
  
  </div>
  </div>
</section>
<!-- content-region ends --> 
{% endblock content %}

{% block main_js %}
<script type="text/javascript">
    function validate(frm){
        if(frm.comment.value == ''){
            alert('Write something to comment');
            return false
        }
    }
</script>
{% endblock main_js %}
