{% extends 'layouts/base.html' %}

{% load staticfiles %}
{% load custom_tags %}
{% block base_css %}
    <link href="{% static 'css/owl.carousel.css' %}" rel="stylesheet">
    <link href="{% static 'css/owl.theme.css' %} " rel="stylesheet">
    <link href="{% static 'css/owl.transitions.css' %} " rel="stylesheet">
    <link href="{% static 'js/google-code-prettify/prettify.css' %}" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">
    <link rel="stylesheet" href="{% static 'css/bootstrap-theme.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/font-awesome.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/normalize.css' %}">
    <link href="{% static 'css/jquery-ui.css' %}" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" href="{% static 'css/jquery.bxslider.css' %}">
    <link rel="stylesheet" href="{% static 'css/roboto-styles.css' %}">
    <link rel="stylesheet" href="{% static 'css/main.css' %}">
    <link rel="stylesheet" href="{% static 'css/slick.css' %}">
    <link rel="stylesheet" media="all" type="text/css" href="{% static 'css/colorbox.css' %}" />
    <script src="{% static 'js/vendor/modernizr-2.6.2.min.js' %}"></script>
    {% block main_css %}{% endblock main_css %}
{% endblock base_css %}

{% block body %}
    {% if picasso_header %}
        {% include "layouts/picasso_header.html" %}
    {% elif request.user.is_authenticated and not picasso %}
        {% include "layouts/header.html" %}
    {% endif %}
    
        {% block content %}
                <!-- Content Block  -->
        {% endblock content %}
   
    {% include "layouts/footer.html" %}
    {% block model_popup %}

    {% endblock model_popup %}
{% endblock body %}

{% block base_js %}
<script src="{% static 'js/jquery-1.11.1.min.js' %}"></script>
<script src="{% static 'js/plugins.js' %}"></script> 
<script src="{% static 'js/bootstrap.min.js' %}"></script> 
<script src="{% static 'js/npm.js' %}"></script> 
<script src="{% static 'js/jquery.bxslider.js' %}"></script>
<script src="{% static 'js/main.js' %}"></script>  
<script src="{% static 'js/owl.carousel.js' %}"></script>
<script src="{% static 'js/google-code-prettify/prettify.js' %}"></script>
<script src="{% static 'js/application.js' %}"></script>
<script src="{% static 'js/jquery.tablesorter.js' %}"></script>
<script type="text/javascript" src="{% static 'js/jquery.colorbox-min.js' %}"></script>
<script type="text/javascript" src="{% static 'js/slick.min.js' %}"></script>
            
            <!--begin prepolute of fields -->

              <script type="text/javascript">
                olark('api.visitor.updateEmailAddress', {
                        emailAddress: '{{request.user}}'
                });
                olark('api.visitor.updateFullName', {
                    fullName: '{{request.user.first_name}}'
                });
            </script>


            <!-- end prepolute of fields -->
            
{% block main_js %}{% endblock main_js %}
{% endblock base_js %}