​<!DOCTYPE html>
<html>
<body>
<p>Hi {{advertiser_name}},</p>
<br/>
<p>Thank you for taking the time off to meet us and set up the implementation program with your agency.</p>
<br/>
<p>To make it easy for you to request tasks, we have created <a href="{{poc_link}}">this</a> unique table that will be yours to manage. This table will capture the CID and task combination that you may have.</p>
<br/>
<p>After you upload the data, save & submit, tickets will automatically be raised for all the requests. </p>
<br/>
<p>Please bookmark this link as <a href="{{poc_link}}">this</a> will be your one point summary of leads submitted. Do reply to this email if you need to know the status of ny CID you had submitted.</p>
Link: {{poc_link}}
<br/>
<p>Thanks,</p>
<p>Tag Implementation Team</p>
<p>implementation-support@google.com</p>
</body>
</html>