<!DOCTYPE html>
<html>
<body>

<p>Hi {{Google Account Manager}},</p>

<p>
This regarding the introduction call you had setup with {Advertiser Name}. Here is a unique link (shared with agency POC as well) where you can raise tickets for tasks you would like to get done. </p>

<br/>

<p>
Please note, the agency POC has access to this page where they can also submit multiple leads. Along with that, they will have a simple summary table which will give base stats of the implementation progress.
</p>
<br/>

<p>
You can also view the status of all the leads you have submitted here<link lead status>
</p>
<br/>
<p>
Do not forget to bookmark this link.
</p>
<br/>
<p>
Reply if you have any queries
</p>
<br/>
<br/>

<p>Thanks,</p>
<p>Tag Implementation Team</p>
<p>implementation-support@google.com</p>
</body>
</html>
