{% extends 'layouts/main.html' %}

{% load rep_filters %}
{% load staticfiles %}

{% block title %}
Manage Appointments
{% endblock title %}

{% block main_css %}
  <link rel="stylesheet" href="{% static 'css/representative/plan_schedule.css' %}">
{% endblock main_css %}

{% block content %}
<!-- content-region -->
<section class="content-region inner-page">
    <div class="container-fluid">
      <h1>EXPORT APPOINTMENTS</h1>
     <!-- google rep info -->

        <div class="row std-sub-top">
        </div>
    <form method="post" onsubmit="return validatethis(this);">
        {% csrf_token %}
        <div class="row">
            <div class="col-md-2">
                <input id="datepickerFrom" type="text" class="form-control date-from" name="date_from" placeholder="Start Date">
            </div>
            <div class="col-md-2">
                <input id="datepickerTo" type="text" class="form-control date-to" name="date_to" placeholder="End Date">
            </div>
            <div class="col-md-1">
                <label class="lab2">Process</label>
            </div>
            <div class="col-md-2 box2 bb">
                <select class="form-control bgicon" name="process_type">
                    {% for type in process_types %}
                        <option value="{{type}}" {% if type == process_type %}selected{% endif %}>{{type}}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="col-md-1 cutomwid1">
                <label class="lab2">Team</label>
            </div>
            <div class="col-md-2 box2 bb">
                 <select class="form-control bgicon" name="team" id="team">
                    {% for team in teams %}
                        <option value="{{team.id}}" {% if team.id == selected_team.id %}selected{% endif %}>{{team}}</option>
                    {% endfor %}
                </select>
            </div>
        </div>
        
        <div style="text-align:center;">
            <input type="submit" value="Export" class="btn std-btn">
        </div>
    </form>
    </div>
</section>
<div id="preloaderOverlay" style='display:none;'>
  <div class="preloader">
  <img src="{% static 'images/preloader.gif'%}" width="40" height="40" >
  
  </div>
</div>
{% endblock content %}

{% block main_js %}
<script src="{% static 'js/jquery-ui.js' %}"></script>
<script type="text/javascript">
    $(document).ready(function(){

        window.tagByTeams = {{tag_by_team|safe}};
        $('select[name=process_type]').trigger('change');

        $("#datepickerFrom").datepicker({
          defaultDate : "+1w",
          changeMonth : true,
          numberOfMonths : 1,
          dateFormat: "M dd, yy",
          onClose : function(selectedDate) {
            $("#to").datepicker("option", "minDate", selectedDate);
          },
          onSelect: function (selected) {
                var dt = new Date(selected);
                dt.setDate(dt.getDate() + 1);
                $("#datepickerTo").datepicker("option", "minDate", dt);
            }
        });
        $("#datepickerTo").datepicker({
          defaultDate : "+1w",
          changeMonth : true,
          numberOfMonths : 1,
          dateFormat: "M dd, yy",
          onClose : function(selectedDate) {
            $("#from").datepicker("option", "maxDate", selectedDate);
          },
          onSelect: function (selected) {
                var dt = new Date(selected);
                dt.setDate(dt.getDate() - 1);
                $("#datepickerFrom").datepicker("option", "maxDate", dt);
            }
        });

    });
    
    $('select[name=process_type]').change(function(){
            var selected_process = $(this).val();
            setTeams(selected_process);
        });

    function setTeams(selected_process){
        var selectTeams = window.tagByTeams[selected_process];

        $("#team").html();
        var option = '<option value="all">all</option>';
        for(var i=0;i<selectTeams.length;i++){
            option += "<option value='" + selectTeams[i]['id'] + "'>"+ selectTeams[i]['name']+ "</option>"
        }
        $('#team').html(option);
    }

    function validatethis(frm) {

        window.is_error = false;

        if (frm.date_from.value == "0" || frm.date_from.value == "") {
          $(frm.date_from).addClass('error-box');
          frm.date_from.focus();
          window.is_error = true;
        }

        if (frm.date_to.value == "0" || frm.date_to.value == "") {
          $(frm.date_to).addClass('error-box');
          frm.date_to.focus();
          window.is_error = true;
        }

        if(window.is_error){
          return false;
        }else{
          var status = true;
          
          if (status) {
            // $('#preloaderOverlay').show();
            $('form input[type=submit]');
          }
          return status;
        }
    }


</script>
{% endblock main_js %}