{% extends 'layouts/main.html' %}

{% load rep_filters %}
{% load staticfiles %}

{% block title %}
Manage Appointments
{% endblock title %}

{% block main_css %}
  <link rel="stylesheet" href="{% static 'css/representative/plan_schedule.css' %}">
{% endblock main_css %}

{% block content %}
<section class="content-region inner-page">
	<div class="container-fluid">
		<h1>SCHEDULE APPOINTMENTS</h1>
     <!-- google rep info -->
        {% if error %}
        <div class="row std-sub-top">
            <div class="col-xs-12 title-text">
                <span>Opps you don't have permission to access the appointments slots!</span>
            </div>
        </div>
        {% else %}
            <div class="row std-sub-top">
                <div class="col-xs-2 ">
                    <a href="" class="text-prev">Previous Week</a>
                </div>
                <div class="col-xs-8  title-text">
                    <span>Time Zone: IST(UTC:5:30)</span>
                </div>
                <div class="col-xs-2 ">
                    <a href="" class="text-next">Next Week</a>
                </div>
            </div>
            <form method="post" action="">
            	{% csrf_token %}
            <input type="hidden" name='schedule_week_start_date' value="{{schedule_date|date:'m-d-Y'}}" />
            <div class="row">
                <div class="col-md-1">
                    <label class="lab2">Process</label>
                </div>
                <div class="col-md-2 box2 bb process" style="padding-top: 9px; margin-left: -9px;">
                	{% for type in process_types %}
                		<input type='checkbox' name='process_type' value="{{type}}" {% if type == process_type %}selected{% endif %}>{{type}}</input>
                	{% endfor %}
                </div>
                <div class="col-md-1 cutomwid1">
                    <label class="lab2">Team</label>
                </div>
                <div class="col-md-2 box2 bb team" style='width:433px; padding-top: 9px;margin-left: -9px;'>
                	{% for team in teams %}
                		<input type='checkbox' name='team' value='{{team.id}}' {% if team.id == selected_team.id %}selected{% endif %}>{{team}}</input></br>
                	{% endfor %}
                </div>
                
                <div class="col-md-3 bbc">
                    <div class="checkbox web-access">
                        <span>
                            <svg width="10" height="10" style="margin-right:3%">
                            <rect x="2" y="2" width="5" height="5" style="fill:blue;stroke:#C7F4D3;stroke-width:5;fill-opacity:0.1;stroke-opacity:1">
                            </svg>Appointments Booked
                        </span><br />
                      <span>
                        <svg width="12" height="12" style="margin-right:3%">
                            <rect x="2" y="2" width="9" height="9" style="fill:white;stroke:#000;stroke-width:0.5;fill-opacity:0.1;stroke-opacity:1">
                        </svg>
                      Slots Available</span>
                    </div>
                </div>

                <div class="col-md-5 bbd">
                    <button class="btn std-btn ">Submit</button> 
                </div>     
            </div>
            </form>
        {% endif %}
	</div>
</section>

{% endblock content %}

{% block main_js %}
<script type="text/javascript">
// $('input[type="checkbox"]').click(function(){
// 	if($(this).prop("checked") == true){
//         alert(this.value());
//     }
//     else if($(this).prop("checked") == false){
//         alert("Checkbox is unchecked.");
//     }
// });
	$('button').click(function(){
		// alert();
		// if($('input[type="checkbox"]').prop("checked") == true){
		// 	alert();
		// }
		var value = {}
		var val = [];
			if($('input[type="checkbox"]').prop("checked") == true){
		        $(':checkbox:checked').each(function(i){
		        	val[i] = $(this).val();
		        	console.log(val)
		        })
		    alert(val);
		    value['val'] = val
		    $.ajax({
		    	method: 'GET',
		    	url: 'representatives/manage-appointments',
		    	data: value,
		    	dataType: "json",
		    	success:function(data){
		    	},
		    	error: function(jqXHR, textStatus, errorThrown) {
                	console.log('Failure');
            	}
		    })
		    }else{
		    	alert('select checkbox');
		    }
	})

</script>


{% endblock main_js %}