{% extends 'layouts/main.html' %}

{% load rep_filters %}
{% load staticfiles %}

{% block title %}
Manage Appointments
{% endblock title %}

{% block content %}
<div id="content" class="clearfix">
    <div class="main_content">
        <fieldset style="border:1px solid #d9d9d9;">
            <legend class="legend"><p style="font-family:Times New Roman;font-size:25px;font-weight:bold;text-align:center; color:#3c3c3c">Schedule Appointments</p></legend>
                <input type='button' class="logbtn copy_button" id='copy_appointments' value='Copy from previous week' week-start='{{dates|get_dict_val:'day1'|date:"m-d-Y"}}' />
                <form method="post" action="{% url 'representatives.views.plan_schedule' plan_month plan_day plan_year process_type selected_team.id %}">
                    {% csrf_token %}
                    <input type="hidden" name='schedule_week_start_date' value="{{schedule_date|date:'m-d-Y'}}" />
                    <table style="margin:0 auto;">
                        <td colspan="2" align="left">
                            <a href="{% url 'representatives.views.plan_schedule' prev_week.month prev_week.day prev_week.year process_type selected_team.id %}" class="prev">Prev Week</a>
                        </td>
                        <td colspan="2" align="left">
                            <label><span class='red'>*</span>Each cell = Appointments Booked / Slots Available</label><br />
                            <label><span class='red'>*</span>All slots represents availability of resource in IST</label>
                        </td>
                        <td colspan="2" align="left">
                            <label>Process</label>
                            <select name="process_type">
                                {% for type in process_types %}
                                    <option value="{{type}}" {% if type == process_type %}selected{% endif %}>{{type}}</option>
                                {% endfor %}
                            </select><br />
                            <label>Teams</label>
                            <select name="team">
                                {% for team in teams %}
                                    <option value="{{team.id}}" {% if team.id == selected_team.id %}selected{% endif %}>{{team}}</option>
                                {% endfor %}
                            </select>
                        </td>
                        <td colspan="2" align="right">
                            <a href="{% url 'representatives.views.plan_schedule' next_week.month next_week.day next_week.year process_type selected_team.id %}" class="next">Next Week</a>
                        </td>
                    </table>
                    <div style="clear:both;"></div>
                    <table border="1px;" style="margin: 0 auto 10px;" name='schedule_appointments'>
                        <tbody>
                            <tr>
                                <th>Slots/Day</th>
                                <th>Mon<br />{{dates|get_dict_val:'day1'|date:"M d, Y"}}</th>
                                <th>Tue<br />{{dates|get_dict_val:'day2'|date:"M d, Y"}}</th>
                                <th>Wed<br />{{dates|get_dict_val:'day3'|date:"M d, Y"}}</th>
                                <th>Thu<br />{{dates|get_dict_val:'day4'|date:"M d, Y"}}</th>
                                <th>Fri<br />{{dates|get_dict_val:'day5'|date:"M d, Y"}}</th>
                                <th>Sat<br />{{dates|get_dict_val:'day6'|date:"M d, Y"}}</th>
                            </tr>
                            {% for i in 12|get_range %}
                            <tr align="center">
                                {% if forloop.first %}
                                    <th><b>{{i|add:12|concatenate:':00'}} AM</b></th>
                                {% else %}
                                    <th><b>{{i|concatenate:':00'}} AM</b></th>
                                {% endif %}
                                {% with 'input_' as input %}
                                <td>
                                    {% with dates|get_dict_val:'day1'|date:"d_m_Y_" as next_day %}
                                    {% with input|concatenate:next_day|concatenate:i|concatenate:'_0' as key_subs %}
                                    {% with appointments|get_dict_val:key_subs|get_dict_val:'booked' as booked_count and appointments|get_dict_val:key_subs|get_dict_val:'value' as av_count and appointments|get_dict_val:key_subs|get_dict_val:'disabled' as isdisabled %}
                                        {{booked_count|either:0}} / <input type="text" name="{{key_subs}}" value='{{av_count}}' {% if isdisabled %}disabled{% endif %}/>
                                    {% endwith %}
                                    {% endwith %}
                                    {% endwith %}
                                </td>
                                <td>
                                    {% with dates|get_dict_val:'day2'|date:"d_m_Y_" as next_day %}
                                    {% with input|concatenate:next_day|concatenate:i|concatenate:'_0' as key_subs %}
                                    {% with appointments|get_dict_val:key_subs|get_dict_val:'booked' as booked_count and appointments|get_dict_val:key_subs|get_dict_val:'value' as av_count and appointments|get_dict_val:key_subs|get_dict_val:'disabled' as isdisabled %}
                                        {{booked_count|either:0}} / <input type="text" name="{{key_subs}}" value='{{av_count}}' {% if isdisabled %}disabled{% endif %}/>
                                    {% endwith %}
                                    {% endwith %}
                                    {% endwith %}
                                </td>
                                <td>
                                    {% with dates|get_dict_val:'day3'|date:"d_m_Y_" as next_day %}
                                    {% with input|concatenate:next_day|concatenate:i|concatenate:'_0' as key_subs %}
                                    {% with appointments|get_dict_val:key_subs|get_dict_val:'booked' as booked_count and appointments|get_dict_val:key_subs|get_dict_val:'value' as av_count and appointments|get_dict_val:key_subs|get_dict_val:'disabled' as isdisabled %}
                                        {{booked_count|either:0}} / <input type="text" name="{{key_subs}}" value='{{av_count}}' {% if isdisabled %}disabled{% endif %}/>
                                    {% endwith %}
                                    {% endwith %}
                                    {% endwith %}
                                </td>
                                <td>
                                    {% with dates|get_dict_val:'day4'|date:"d_m_Y_" as next_day %}
                                    {% with input|concatenate:next_day|concatenate:i|concatenate:'_0' as key_subs %}
                                    {% with appointments|get_dict_val:key_subs|get_dict_val:'booked' as booked_count and appointments|get_dict_val:key_subs|get_dict_val:'value' as av_count and appointments|get_dict_val:key_subs|get_dict_val:'disabled' as isdisabled %}
                                        {{booked_count|either:0}} / <input type="text" name="{{key_subs}}" value='{{av_count}}' {% if isdisabled %}disabled{% endif %}/>
                                    {% endwith %}
                                    {% endwith %}
                                    {% endwith %}
                                </td>
                                <td>
                                    {% with dates|get_dict_val:'day5'|date:"d_m_Y_" as next_day %}
                                    {% with input|concatenate:next_day|concatenate:i|concatenate:'_0' as key_subs %}
                                    {% with appointments|get_dict_val:key_subs|get_dict_val:'booked' as booked_count and appointments|get_dict_val:key_subs|get_dict_val:'value' as av_count and appointments|get_dict_val:key_subs|get_dict_val:'disabled' as isdisabled %}
                                        {{booked_count|either:0}} / <input type="text" name="{{key_subs}}" value='{{av_count}}' {% if isdisabled %}disabled{% endif %}/>
                                    {% endwith %}
                                    {% endwith %}
                                    {% endwith %}
                                </td>
                                <td>
                                    {% with dates|get_dict_val:'day6'|date:"d_m_Y_" as next_day %}
                                    {% with input|concatenate:next_day|concatenate:i|concatenate:'_0' as key_subs %}
                                    {% with appointments|get_dict_val:key_subs|get_dict_val:'booked' as booked_count and appointments|get_dict_val:key_subs|get_dict_val:'value' as av_count and appointments|get_dict_val:key_subs|get_dict_val:'disabled' as isdisabled %}
                                        {{booked_count|either:0}} / <input type="text" name="{{key_subs}}" value='{{av_count}}' {% if isdisabled %}disabled{% endif %}/>
                                    {% endwith %}
                                    {% endwith %}
                                    {% endwith %}
                                </td>
                                {% endwith %}
                            </tr>
                            <tr align="center">
                                {% if forloop.first %}
                                    <th><b>{{i|add:12|concatenate:':30'}} AM</b></th>
                                {% else %}
                                    <th><b>{{i|concatenate:':30'}} AM</b></th>
                                {% endif %}
                                {% with 'input_' as input %}
                                <td>
                                    {% with dates|get_dict_val:'day1'|date:"d_m_Y_" as next_day %}
                                    {% with input|concatenate:next_day|concatenate:i|concatenate:'_30' as key_subs %}
                                    {% with appointments|get_dict_val:key_subs|get_dict_val:'booked' as booked_count and appointments|get_dict_val:key_subs|get_dict_val:'value' as av_count and appointments|get_dict_val:key_subs|get_dict_val:'disabled' as isdisabled %}
                                        {{booked_count|either:0}} / <input type="text" name="{{key_subs}}" value='{{av_count}}' {% if isdisabled %}disabled{% endif %}/>
                                    {% endwith %}
                                    {% endwith %}
                                    {% endwith %}
                                </td>
                                <td>
                                    {% with dates|get_dict_val:'day2'|date:"d_m_Y_" as next_day %}
                                    {% with input|concatenate:next_day|concatenate:i|concatenate:'_30' as key_subs %}
                                    {% with appointments|get_dict_val:key_subs|get_dict_val:'booked' as booked_count and appointments|get_dict_val:key_subs|get_dict_val:'value' as av_count and appointments|get_dict_val:key_subs|get_dict_val:'disabled' as isdisabled %}
                                        {{booked_count|either:0}} / <input type="text" name="{{key_subs}}" value='{{av_count}}' {% if isdisabled %}disabled{% endif %}/>
                                    {% endwith %}
                                    {% endwith %}
                                    {% endwith %}
                                </td>
                                <td>
                                    {% with dates|get_dict_val:'day3'|date:"d_m_Y_" as next_day %}
                                    {% with input|concatenate:next_day|concatenate:i|concatenate:'_30' as key_subs %}
                                    {% with appointments|get_dict_val:key_subs|get_dict_val:'booked' as booked_count and appointments|get_dict_val:key_subs|get_dict_val:'value' as av_count and appointments|get_dict_val:key_subs|get_dict_val:'disabled' as isdisabled %}
                                        {{booked_count|either:0}} / <input type="text" name="{{key_subs}}" value='{{av_count}}' {% if isdisabled %}disabled{% endif %}/>
                                    {% endwith %}
                                    {% endwith %}
                                    {% endwith %}
                                </td>
                                <td>
                                    {% with dates|get_dict_val:'day4'|date:"d_m_Y_" as next_day %}
                                    {% with input|concatenate:next_day|concatenate:i|concatenate:'_30' as key_subs %}
                                    {% with appointments|get_dict_val:key_subs|get_dict_val:'booked' as booked_count and appointments|get_dict_val:key_subs|get_dict_val:'value' as av_count and appointments|get_dict_val:key_subs|get_dict_val:'disabled' as isdisabled %}
                                        {{booked_count|either:0}} / <input type="text" name="{{key_subs}}" value='{{av_count}}' {% if isdisabled %}disabled{% endif %}/>
                                    {% endwith %}
                                    {% endwith %}
                                    {% endwith %}
                                </td>
                                <td>
                                    {% with dates|get_dict_val:'day5'|date:"d_m_Y_" as next_day %}
                                    {% with input|concatenate:next_day|concatenate:i|concatenate:'_30' as key_subs %}
                                    {% with appointments|get_dict_val:key_subs|get_dict_val:'booked' as booked_count and appointments|get_dict_val:key_subs|get_dict_val:'value' as av_count and appointments|get_dict_val:key_subs|get_dict_val:'disabled' as isdisabled %}
                                        {{booked_count|either:0}} / <input type="text" name="{{key_subs}}" value='{{av_count}}' {% if isdisabled %}disabled{% endif %}/>
                                    {% endwith %}
                                    {% endwith %}
                                    {% endwith %}
                                </td>
                                <td>
                                    {% with dates|get_dict_val:'day6'|date:"d_m_Y_" as next_day %}
                                    {% with input|concatenate:next_day|concatenate:i|concatenate:'_30' as key_subs %}
                                    {% with appointments|get_dict_val:key_subs|get_dict_val:'booked' as booked_count and appointments|get_dict_val:key_subs|get_dict_val:'value' as av_count and appointments|get_dict_val:key_subs|get_dict_val:'disabled' as isdisabled %}
                                        {{booked_count|either:0}} / <input type="text" name="{{key_subs}}" value='{{av_count}}' {% if isdisabled %}disabled{% endif %}/>
                                    {% endwith %}
                                    {% endwith %}
                                    {% endwith %}
                                </td>
                                {% endwith %}
                            </tr>
                        {% endfor %}
                        {% for i in 12|get_range %}
                            <tr align="center">
                                {% if forloop.first %}
                                    <th><b>{{i|add:12|concatenate:':00'}}PM</b></th>
                                {% else %}
                                    <th><b>{{i|concatenate:':00'}}PM</b></th>
                                {% endif %}
                                {% with 'input_' as input %}
                                <td>
                                    {% with dates|get_dict_val:'day1'|date:"d_m_Y_" as next_day and i|add:12 as next_loop %}
                                    {% with input|concatenate:next_day|concatenate:next_loop|concatenate:'_0' as key_subs %}
                                    {% with appointments|get_dict_val:key_subs|get_dict_val:'booked' as booked_count and appointments|get_dict_val:key_subs|get_dict_val:'value' as av_count and appointments|get_dict_val:key_subs|get_dict_val:'disabled' as isdisabled %}
                                        {{booked_count|either:0}} / <input type="text" name="{{key_subs}}" value='{{av_count}}' {% if isdisabled %}disabled{% endif %}/>
                                    {% endwith %}
                                    {% endwith %}
                                    {% endwith %}
                                </td>
                                <td>
                                    {% with dates|get_dict_val:'day2'|date:"d_m_Y_" as next_day and i|add:12 as next_loop %}
                                    {% with input|concatenate:next_day|concatenate:next_loop|concatenate:'_0' as key_subs %}
                                    {% with appointments|get_dict_val:key_subs|get_dict_val:'booked' as booked_count and appointments|get_dict_val:key_subs|get_dict_val:'value' as av_count and appointments|get_dict_val:key_subs|get_dict_val:'disabled' as isdisabled %}
                                        {{booked_count|either:0}} / <input type="text" name="{{key_subs}}" value='{{av_count}}' {% if isdisabled %}disabled{% endif %}/>
                                    {% endwith %}
                                    {% endwith %}
                                    {% endwith %}
                                </td>
                                <td>
                                    {% with dates|get_dict_val:'day3'|date:"d_m_Y_" as next_day and i|add:12 as next_loop %}
                                    {% with input|concatenate:next_day|concatenate:next_loop|concatenate:'_0' as key_subs %}
                                    {% with appointments|get_dict_val:key_subs|get_dict_val:'booked' as booked_count and appointments|get_dict_val:key_subs|get_dict_val:'value' as av_count and appointments|get_dict_val:key_subs|get_dict_val:'disabled' as isdisabled %}
                                        {{booked_count|either:0}} / <input type="text" name="{{key_subs}}" value='{{av_count}}' {% if isdisabled %}disabled{% endif %}/>
                                    {% endwith %}
                                    {% endwith %}
                                    {% endwith %}
                                </td>
                                <td>
                                    {% with dates|get_dict_val:'day4'|date:"d_m_Y_" as next_day and i|add:12 as next_loop %}
                                    {% with input|concatenate:next_day|concatenate:next_loop|concatenate:'_0' as key_subs %}
                                    {% with appointments|get_dict_val:key_subs|get_dict_val:'booked' as booked_count and appointments|get_dict_val:key_subs|get_dict_val:'value' as av_count and appointments|get_dict_val:key_subs|get_dict_val:'disabled' as isdisabled %}
                                        {{booked_count|either:0}} / <input type="text" name="{{key_subs}}" value='{{av_count}}' {% if isdisabled %}disabled{% endif %}/>
                                    {% endwith %}
                                    {% endwith %}
                                    {% endwith %}
                                </td>
                                <td>
                                    {% with dates|get_dict_val:'day5'|date:"d_m_Y_" as next_day and i|add:12 as next_loop %}
                                    {% with input|concatenate:next_day|concatenate:next_loop|concatenate:'_0' as key_subs %}
                                    {% with appointments|get_dict_val:key_subs|get_dict_val:'booked' as booked_count and appointments|get_dict_val:key_subs|get_dict_val:'value' as av_count and appointments|get_dict_val:key_subs|get_dict_val:'disabled' as isdisabled %}
                                        {{booked_count|either:0}} / <input type="text" name="{{key_subs}}" value='{{av_count}}' {% if isdisabled %}disabled{% endif %}/>
                                    {% endwith %}
                                    {% endwith %}
                                    {% endwith %}
                                </td>
                                <td>
                                    {% with dates|get_dict_val:'day6'|date:"d_m_Y_" as next_day and i|add:12 as next_loop %}
                                    {% with input|concatenate:next_day|concatenate:next_loop|concatenate:'_0' as key_subs %}
                                    {% with appointments|get_dict_val:key_subs|get_dict_val:'booked' as booked_count and appointments|get_dict_val:key_subs|get_dict_val:'value' as av_count and appointments|get_dict_val:key_subs|get_dict_val:'disabled' as isdisabled %}
                                        {{booked_count|either:0}} / <input type="text" name="{{key_subs}}" value='{{av_count}}' {% if isdisabled %}disabled{% endif %}/>
                                    {% endwith %}
                                    {% endwith %}
                                    {% endwith %}
                                </td>
                                {% endwith %}
                            </tr>
                            <tr align="center">
                                {% if forloop.first %}
                                    <th><b>{{i|add:12|concatenate:':30'}}PM</b></th>
                                {% else %}
                                    <th><b>{{i|concatenate:':30'}}PM</b></th>
                                {% endif %}
                                {% with 'input_' as input %}
                                <td>
                                    {% with dates|get_dict_val:'day1'|date:"d_m_Y_" as next_day and i|add:12 as next_loop %}
                                    {% with input|concatenate:next_day|concatenate:next_loop|concatenate:'_30' as key_subs %}
                                    {% with appointments|get_dict_val:key_subs|get_dict_val:'booked' as booked_count and appointments|get_dict_val:key_subs|get_dict_val:'value' as av_count and appointments|get_dict_val:key_subs|get_dict_val:'disabled' as isdisabled %}
                                        {{booked_count|either:0}} / <input type="text" name="{{key_subs}}" value='{{av_count}}' {% if isdisabled %}disabled{% endif %}/>
                                    {% endwith %}
                                    {% endwith %}
                                    {% endwith %}
                                </td>
                                <td>
                                    {% with dates|get_dict_val:'day2'|date:"d_m_Y_" as next_day and i|add:12 as next_loop %}
                                    {% with input|concatenate:next_day|concatenate:next_loop|concatenate:'_30' as key_subs %}
                                    {% with appointments|get_dict_val:key_subs|get_dict_val:'booked' as booked_count and appointments|get_dict_val:key_subs|get_dict_val:'value' as av_count and appointments|get_dict_val:key_subs|get_dict_val:'disabled' as isdisabled %}
                                        {{booked_count|either:0}} / <input type="text" name="{{key_subs}}" value='{{av_count}}' {% if isdisabled %}disabled{% endif %}/>
                                    {% endwith %}
                                    {% endwith %}
                                    {% endwith %}
                                </td>
                                <td>
                                    {% with dates|get_dict_val:'day3'|date:"d_m_Y_" as next_day and i|add:12 as next_loop %}
                                    {% with input|concatenate:next_day|concatenate:next_loop|concatenate:'_30' as key_subs %}
                                    {% with appointments|get_dict_val:key_subs|get_dict_val:'booked' as booked_count and appointments|get_dict_val:key_subs|get_dict_val:'value' as av_count and appointments|get_dict_val:key_subs|get_dict_val:'disabled' as isdisabled %}
                                        {{booked_count|either:0}} / <input type="text" name="{{key_subs}}" value='{{av_count}}' {% if isdisabled %}disabled{% endif %}/>
                                    {% endwith %}
                                    {% endwith %}
                                    {% endwith %}
                                </td>
                                <td>
                                    {% with dates|get_dict_val:'day4'|date:"d_m_Y_" as next_day and i|add:12 as next_loop %}
                                    {% with input|concatenate:next_day|concatenate:next_loop|concatenate:'_30' as key_subs %}
                                    {% with appointments|get_dict_val:key_subs|get_dict_val:'booked' as booked_count and appointments|get_dict_val:key_subs|get_dict_val:'value' as av_count and appointments|get_dict_val:key_subs|get_dict_val:'disabled' as isdisabled %}
                                        {{booked_count|either:0}} / <input type="text" name="{{key_subs}}" value='{{av_count}}' {% if isdisabled %}disabled{% endif %}/>
                                    {% endwith %}
                                    {% endwith %}
                                    {% endwith %}
                                </td>
                                <td>
                                    {% with dates|get_dict_val:'day5'|date:"d_m_Y_" as next_day and i|add:12 as next_loop %}
                                    {% with input|concatenate:next_day|concatenate:next_loop|concatenate:'_30' as key_subs %}
                                    {% with appointments|get_dict_val:key_subs|get_dict_val:'booked' as booked_count and appointments|get_dict_val:key_subs|get_dict_val:'value' as av_count and appointments|get_dict_val:key_subs|get_dict_val:'disabled' as isdisabled %}
                                        {{booked_count|either:0}} / <input type="text" name="{{key_subs}}" value='{{av_count}}' {% if isdisabled %}disabled{% endif %}/>
                                    {% endwith %}
                                    {% endwith %}
                                    {% endwith %}
                                </td>
                                <td>
                                    {% with dates|get_dict_val:'day6'|date:"d_m_Y_" as next_day and i|add:12 as next_loop %}
                                    {% with input|concatenate:next_day|concatenate:next_loop|concatenate:'_30' as key_subs %}
                                    {% with appointments|get_dict_val:key_subs|get_dict_val:'booked' as booked_count and appointments|get_dict_val:key_subs|get_dict_val:'value' as av_count and appointments|get_dict_val:key_subs|get_dict_val:'disabled' as isdisabled %}
                                        {{booked_count|either:0}} / <input type="text" name="{{key_subs}}" value='{{av_count}}' {% if isdisabled %}disabled{% endif %}/>
                                    {% endwith %}
                                    {% endwith %}
                                    {% endwith %}
                                </td>
                                {% endwith %}
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                    <div style="text-align:center;" >
                        <input type="submit" value="Schedule" class="logbtn">
                    </div>
                </form>
        </fieldset>
    </div>
</div>
{% endblock content %}

{% block main_js %}
<script type="text/javascript">
    $(document).ready(function(){

        $('select[name=team]').change(function(){
            var old_team = '{{selected_team.id}}'
            var selected_team = $(this).val();
            loc = window.location.href;
            window.location.href = loc.substring(0, loc.lastIndexOf(old_team)) + selected_team;
        });

        $('select[name=process_type]').change(function(){
            var old_process = '{{process_type}}'
            var selected_process = $(this).val();
            window.location.href = decodeURI(window.location.href).replace(old_process, selected_process);
        });

        // Click on Schedule button
        // Validate the slots entry
        $('.logbtn').click(function(){
            var isError = false;
            $('table tr td input[type=text]:enabled').each(function(){
                if(isNaN($(this).val())){
                    $(this).focus();
                    isError = true;
                    alert('Please enter a valid entry for available slots');
                    return false;
                }else if(parseInt($(this).val()) > 1000000 ){
                    $(this).focus();
                    isError = true;
                    alert('Available slots are out of range');
                    return false;
               }
            });
            if(isError){
                return false;
            }
        });

        $('#copy_appointments').click(function(){
            var url = '/representatives/copy-appointment/' + $(this).attr('week-start') + '/' + $('select[name=team]').val()
            $.ajax({
                'dataType': 'json',
                'url': url,
                success: function(response){
                    // Iterate over list of previous week appointments
                    for(var i=0;i<response.appointment.length;i++){
                        // format date to match current week slot
                        var slot = response.appointment[i];
                        var slot_splits = slot.date_in_utc.split('_');

                        var day = slot_splits[0];
                        var month = slot_splits[1];
                        var year = slot_splits[2];
                        var hour = parseInt(slot_splits[3]);
                        var minutes = parseInt(slot_splits[4]);
                        // Prepare slot key
                        var slot_key = 'input_' + day + '_' + month + '_' + year + '_' + hour.toString() + '_' + minutes.toString();
                        $("input[name=" + slot_key + "]").val(slot.availability_count);
                    }
                }
            });
        })
    });
</script>
{% endblock main_js %}