{% extends 'layouts/main.html' %}

{% load rep_filters %}
{% load staticfiles %}

{% block title %}
Manage Appointments
{% endblock title %}

{% block main_css %}
  <link rel="stylesheet" href="{% static 'css/representative/plan_schedule.css' %}">
{% endblock main_css %}

{% block content %}
<!-- content-region -->
<section class="content-region inner-page">
    <div class="container-fluid">
      <h1>SCHEDULE APPOINTMENTS</h1>
     <!-- google rep info -->
        {% if error %}
        <div class="row std-sub-top">
            <div class="col-xs-12 title-text">
                <span>Opps you don't have permission to access the appointments slots!</span>
            </div>
        </div>
        {% else %}
            <div class="row std-sub-top">
                <div class="col-xs-2 ">
                    <a href="{% url 'representatives.views.plan_schedule' prev_week.month prev_week.day prev_week.year process_type selected_team.id %}" class="text-prev">Previous Week</a>
                </div>
                <div class="col-xs-8  title-text">
                    <span>Time Zone: IST(UTC:5:30)</span>
                </div>
                <div class="col-xs-2 ">
                    <a href="{% url 'representatives.views.plan_schedule' next_week.month next_week.day next_week.year process_type selected_team.id %}" class="text-next">Next Week</a>
                </div>
            </div>
        <form method="post" action="{% url 'representatives.views.plan_schedule' plan_month plan_day plan_year process_type selected_team.id %}">
            {% csrf_token %}
            <input type="hidden" name='schedule_week_start_date' value="{{schedule_date|date:'m-d-Y'}}" />
            <div class="row">
                <div class="col-md-1">
                    <label class="lab2">Process</label>
                </div>
                <div class="col-md-2 box2 bb">
                    <select class="form-control bgicon" name="process_type">
                        {% for type in process_types %}
                            <option value="{{type}}" {% if type == process_type %}selected{% endif %}>{{type}}</option>
                        {% endfor %}
                    </select>
                </div>
                <div class="col-md-1 cutomwid1">
                    <label class="lab2">Team</label>
                </div>
                <div class="col-md-2 box2 bb">
                     <select class="form-control bgicon" name="team">
                        {% for team in teams %}
                            <option value="{{team.id}}" {% if team.id == selected_team.id %}selected{% endif %}>{{team}}
                            </option>
                        {% endfor %}
                    </select>
                </div>
                
                <div class="col-md-3 bbc">
                    <div class="checkbox web-access">
                        <span>
                            <svg width="10" height="10" style="margin-right:3%">
                            <rect x="2" y="2" width="5" height="5" style="fill:blue;stroke:#C7F4D3;stroke-width:5;fill-opacity:0.1;stroke-opacity:1">
                            </svg>Appointments Booked
                        </span><br />
                      <span>
                        <svg width="12" height="12" style="margin-right:3%">
                            <rect x="2" y="2" width="9" height="9" style="fill:white;stroke:#000;stroke-width:0.5;fill-opacity:0.1;stroke-opacity:1">
                        </svg>
                      Slots Available</span>
                    </div>
                </div>

                <div class="col-md-5 bbd">
                    <input type='button' class="btn std-btn copy_button" style="min-width:164px !important; width=100% !important; font-size:10px;" id='copy_appointments' value='Copy from previous week' week-start='{{dates|get_dict_val:'day1'|date:"m-d-Y"}}' />
                     <!-- <button class="btn std-btn ">Submit</button> -->
                </div>     
            </div>
            <div style=" overflow-x: scroll !important;">
                <table class="table table-bordered table-hover table-responsive" cellspacing="10" style="border-spacing:5px; border-collapse: inherit;">
                    <tr>
                        <!-- <th>Slots/Day</th> -->
                        <th style="border-top:none !important; border:none !important; width:8% !important;"></th>
                        <th class="custom-bg" ><table class="table cubg" ><tr><td class="cubg"> Mon</td></tr><tr><td class="cubg">{{dates|get_dict_val:'day1'|date:"M d, Y"}}</td></tr></table></th>
                        <th class="custom-bg" ><table class="table cubg" ><tr><td class="cubg"> Tue</td></tr><tr><td class="cubg"> {{dates|get_dict_val:'day2'|date:"M d, Y"}}</td></tr></table></th>
                        <th class="custom-bg" ><table class="table cubg" ><tr><td class="cubg"> Wed</td></tr><tr><td class="cubg"> {{dates|get_dict_val:'day3'|date:"M d, Y"}}</td></tr></table></th>
                        <th class="custom-bg" ><table class="table cubg" ><tr><td class="cubg"> Thu</td></tr><tr><td class="cubg"> {{dates|get_dict_val:'day4'|date:"M d, Y"}}</td></tr></table></th>
                        <th class="custom-bg" ><table class="table cubg" ><tr><td class="cubg"> Fri</td></tr><tr><td class="cubg"> {{dates|get_dict_val:'day5'|date:"M d, Y"}}</td></tr></table></th>
                        <th class="custom-bg" ><table class="table cubg" ><tr><td class="cubg"> Sat</td></tr><tr><td class="cubg"> {{dates|get_dict_val:'day6'|date:"M d, Y"}}</td></tr></table></th>
                    </tr>
                    <tr style="background-color: rgb(166, 166, 104);">
                        <td class="cubg2">Total</td>
                        {% for slot in total_slots %}
                            <td class="cubg2">
                                <table class="table ttb" cellspacing="2">
                                    <tr>
                                        <td class="cubg3">{{slot.booked}}</td>
                                        <td class="cubg4">{{slot.available}}</td>
                                    </tr>
                                </table>
                            </td>
                        {% endfor %}
                    </tr>
                    {% for i in 12|get_range %}
                        <tr>
                            {% if forloop.first %}
                                <td class="cubg2">{{i|add:12|concatenate:':00'}} AM</td>
                            {% else %}
                            <td class="cubg2">{{i|concatenate:':00'}} AM</td>
                            {% endif %}
                            {% with 'input_' as input %}
                            <td class="cubg2">
                                <table class="table ttb" cellspacing="0" cellpadding="0">
                                    {% with dates|get_dict_val:'day1'|date:"d_m_Y_" as next_day %}
                                    {% with input|concatenate:next_day|concatenate:i|concatenate:'_0' as key_subs %}
                                    {% with appointments|get_dict_val:key_subs|get_dict_val:'booked' as booked_count and appointments|get_dict_val:key_subs|get_dict_val:'value' as av_count and appointments|get_dict_val:key_subs|get_dict_val:'disabled' as isdisabled %}
                                    <tr><td class="cubg3">{{booked_count|either:0}}</td><td class="cubg4"><input type="text" name="{{key_subs}}" value='{{av_count}}' class="css3" {% if isdisabled %}disabled{% endif %} /></td></tr>
                                    {% endwith %}
                                    {% endwith %}
                                    {% endwith %}
                                </table>
                            </td>
                            <td class="cubg2">
                                <table class="table ttb" cellspacing="0" cellpadding="0">
                                    {% with dates|get_dict_val:'day2'|date:"d_m_Y_" as next_day %}
                                    {% with input|concatenate:next_day|concatenate:i|concatenate:'_0' as key_subs %}
                                    {% with appointments|get_dict_val:key_subs|get_dict_val:'booked' as booked_count and appointments|get_dict_val:key_subs|get_dict_val:'value' as av_count and appointments|get_dict_val:key_subs|get_dict_val:'disabled' as isdisabled %}
                                    <tr><td class="cubg3">{{booked_count|either:0}}</td><td class="cubg4"><input type="text" name="{{key_subs}}" value='{{av_count}}' class="css3" {% if isdisabled %}disabled{% endif %} /></td></tr>
                                    {% endwith %}
                                    {% endwith %}
                                    {% endwith %}
                                </table>
                            </td>
                            <td class="cubg2">
                                <table class="table ttb" cellspacing="0" cellpadding="0">
                                    {% with dates|get_dict_val:'day3'|date:"d_m_Y_" as next_day %}
                                    {% with input|concatenate:next_day|concatenate:i|concatenate:'_0' as key_subs %}
                                    {% with appointments|get_dict_val:key_subs|get_dict_val:'booked' as booked_count and appointments|get_dict_val:key_subs|get_dict_val:'value' as av_count and appointments|get_dict_val:key_subs|get_dict_val:'disabled' as isdisabled %}
                                    <tr><td class="cubg3">{{booked_count|either:0}}</td><td class="cubg4"><input type="text" name="{{key_subs}}" value='{{av_count}}' class="css3" {% if isdisabled %}disabled{% endif %} /></td></tr>
                                    {% endwith %}
                                    {% endwith %}
                                    {% endwith %}
                                </table>
                            </td>

                            <td class="cubg2">
                                <table class="table ttb" cellspacing="0" cellpadding="0">
                                    {% with dates|get_dict_val:'day4'|date:"d_m_Y_" as next_day %}
                                    {% with input|concatenate:next_day|concatenate:i|concatenate:'_0' as key_subs %}
                                    {% with appointments|get_dict_val:key_subs|get_dict_val:'booked' as booked_count and appointments|get_dict_val:key_subs|get_dict_val:'value' as av_count and appointments|get_dict_val:key_subs|get_dict_val:'disabled' as isdisabled %}
                                    <tr><td class="cubg3">{{booked_count|either:0}}</td><td class="cubg4"><input type="text" name="{{key_subs}}" value='{{av_count}}' class="css3" {% if isdisabled %}disabled{% endif %} /></td></tr>
                                    {% endwith %}
                                    {% endwith %}
                                    {% endwith %}
                                </table>
                            </td>
                            <td class="cubg2">
                                <table class="table ttb" cellspacing="0" cellpadding="0">
                                    {% with dates|get_dict_val:'day5'|date:"d_m_Y_" as next_day %}
                                    {% with input|concatenate:next_day|concatenate:i|concatenate:'_0' as key_subs %}
                                    {% with appointments|get_dict_val:key_subs|get_dict_val:'booked' as booked_count and appointments|get_dict_val:key_subs|get_dict_val:'value' as av_count and appointments|get_dict_val:key_subs|get_dict_val:'disabled' as isdisabled %}
                                    <tr><td class="cubg3">{{booked_count|either:0}}</td><td class="cubg4"><input type="text" name="{{key_subs}}" value='{{av_count}}' class="css3" {% if isdisabled %}disabled{% endif %} /></td></tr>
                                    {% endwith %}
                                    {% endwith %}
                                    {% endwith %}
                                </table>
                            </td>

                            <td class="cubg2">
                                <table class="table ttb" cellspacing="0" cellpadding="0">
                                    {% with dates|get_dict_val:'day6'|date:"d_m_Y_" as next_day %}
                                    {% with input|concatenate:next_day|concatenate:i|concatenate:'_0' as key_subs %}
                                    {% with appointments|get_dict_val:key_subs|get_dict_val:'booked' as booked_count and appointments|get_dict_val:key_subs|get_dict_val:'value' as av_count and appointments|get_dict_val:key_subs|get_dict_val:'disabled' as isdisabled %}
                                    <tr><td class="cubg3">{{booked_count|either:0}}</td><td class="cubg4"><input type="text" name="{{key_subs}}" value='{{av_count}}' class="css3" {% if isdisabled %}disabled{% endif %} /></td></tr>
                                    {% endwith %}
                                    {% endwith %}
                                    {% endwith %}
                                </table>
                            </td>
                            {% endwith %}
                        </tr>
                        <tr>
                            {% if forloop.first %}
                                <td class="cubg2">{{i|add:12|concatenate:':30'}} AM</td>
                            {% else %}
                            <td class="cubg2">{{i|concatenate:':30'}} AM</td>
                            {% endif %}
                            {% with 'input_' as input %}
                            <td class="cubg2">
                                <table class="table ttb" cellspacing="0" cellpadding="0">
                                    {% with dates|get_dict_val:'day1'|date:"d_m_Y_" as next_day %}
                                    {% with input|concatenate:next_day|concatenate:i|concatenate:'_30' as key_subs %}
                                    {% with appointments|get_dict_val:key_subs|get_dict_val:'booked' as booked_count and appointments|get_dict_val:key_subs|get_dict_val:'value' as av_count and appointments|get_dict_val:key_subs|get_dict_val:'disabled' as isdisabled %}
                                    <tr><td class="cubg3">{{booked_count|either:0}}</td><td class="cubg4"><input type="text" name="{{key_subs}}" value='{{av_count}}' class="css3" {% if isdisabled %}disabled{% endif %} /></td></tr>
                                    {% endwith %}
                                    {% endwith %}
                                    {% endwith %}
                                </table>
                            </td>
                            <td class="cubg2">
                                <table class="table ttb" cellspacing="0" cellpadding="0">
                                    {% with dates|get_dict_val:'day2'|date:"d_m_Y_" as next_day %}
                                    {% with input|concatenate:next_day|concatenate:i|concatenate:'_30' as key_subs %}
                                    {% with appointments|get_dict_val:key_subs|get_dict_val:'booked' as booked_count and appointments|get_dict_val:key_subs|get_dict_val:'value' as av_count and appointments|get_dict_val:key_subs|get_dict_val:'disabled' as isdisabled %}
                                    <tr><td class="cubg3">{{booked_count|either:0}}</td><td class="cubg4"><input type="text" name="{{key_subs}}" value='{{av_count}}' class="css3" {% if isdisabled %}disabled{% endif %} /></td></tr>
                                    {% endwith %}
                                    {% endwith %}
                                    {% endwith %}
                                </table>
                            </td>
                            <td class="cubg2">
                                <table class="table ttb" cellspacing="0" cellpadding="0">
                                    {% with dates|get_dict_val:'day3'|date:"d_m_Y_" as next_day %}
                                    {% with input|concatenate:next_day|concatenate:i|concatenate:'_30' as key_subs %}
                                    {% with appointments|get_dict_val:key_subs|get_dict_val:'booked' as booked_count and appointments|get_dict_val:key_subs|get_dict_val:'value' as av_count and appointments|get_dict_val:key_subs|get_dict_val:'disabled' as isdisabled %}
                                    <tr><td class="cubg3">{{booked_count|either:0}}</td><td class="cubg4"><input type="text" name="{{key_subs}}" value='{{av_count}}' class="css3" {% if isdisabled %}disabled{% endif %} /></td></tr>
                                    {% endwith %}
                                    {% endwith %}
                                    {% endwith %}
                                </table>
                            </td>

                            <td class="cubg2">
                                <table class="table ttb" cellspacing="0" cellpadding="0">
                                    {% with dates|get_dict_val:'day4'|date:"d_m_Y_" as next_day %}
                                    {% with input|concatenate:next_day|concatenate:i|concatenate:'_30' as key_subs %}
                                    {% with appointments|get_dict_val:key_subs|get_dict_val:'booked' as booked_count and appointments|get_dict_val:key_subs|get_dict_val:'value' as av_count and appointments|get_dict_val:key_subs|get_dict_val:'disabled' as isdisabled %}
                                    <tr><td class="cubg3">{{booked_count|either:0}}</td><td class="cubg4"><input type="text" name="{{key_subs}}" value='{{av_count}}' class="css3" {% if isdisabled %}disabled{% endif %} /></td></tr>
                                    {% endwith %}
                                    {% endwith %}
                                    {% endwith %}
                                </table>
                            </td>
                            <td class="cubg2">
                                <table class="table ttb" cellspacing="0" cellpadding="0">
                                    {% with dates|get_dict_val:'day5'|date:"d_m_Y_" as next_day %}
                                    {% with input|concatenate:next_day|concatenate:i|concatenate:'_30' as key_subs %}
                                    {% with appointments|get_dict_val:key_subs|get_dict_val:'booked' as booked_count and appointments|get_dict_val:key_subs|get_dict_val:'value' as av_count and appointments|get_dict_val:key_subs|get_dict_val:'disabled' as isdisabled %}
                                    <tr><td class="cubg3">{{booked_count|either:0}}</td><td class="cubg4"><input type="text" name="{{key_subs}}" value='{{av_count}}' class="css3" {% if isdisabled %}disabled{% endif %} /></td></tr>
                                    {% endwith %}
                                    {% endwith %}
                                    {% endwith %}
                                </table>
                            </td>

                            <td class="cubg2">
                                <table class="table ttb" cellspacing="0" cellpadding="0">
                                    {% with dates|get_dict_val:'day6'|date:"d_m_Y_" as next_day %}
                                    {% with input|concatenate:next_day|concatenate:i|concatenate:'_30' as key_subs %}
                                    {% with appointments|get_dict_val:key_subs|get_dict_val:'booked' as booked_count and appointments|get_dict_val:key_subs|get_dict_val:'value' as av_count and appointments|get_dict_val:key_subs|get_dict_val:'disabled' as isdisabled %}
                                    <tr><td class="cubg3">{{booked_count|either:0}}</td><td class="cubg4"><input type="text" name="{{key_subs}}" value='{{av_count}}' class="css3" {% if isdisabled %}disabled {% endif %} /></td></tr>
                                    {% endwith %}
                                    {% endwith %}
                                    {% endwith %}
                                </table>
                            </td>
                            {% endwith %}
                        </tr>
                    {% endfor %}

                    <!-- ################## PM #######################################-->
                    {% for i in 12|get_range %}
                        <tr>
                            {% if forloop.first %}
                                <td class="cubg2">{{i|add:12|concatenate:':00'}} PM</td>
                            {% else %}
                            <td class="cubg2">{{i|concatenate:':00'}} PM</td>
                            {% endif %}
                            {% with 'input_' as input %}
                            <td class="cubg2">
                                <table class="table ttb" cellspacing="0" cellpadding="0">
                                    {% with dates|get_dict_val:'day1'|date:"d_m_Y_" as next_day and i|add:12 as next_loop %}
                                        {% with input|concatenate:next_day|concatenate:next_loop|concatenate:'_0' as key_subs %}
                                        {% with appointments|get_dict_val:key_subs|get_dict_val:'booked' as booked_count and appointments|get_dict_val:key_subs|get_dict_val:'value' as av_count and appointments|get_dict_val:key_subs|get_dict_val:'disabled' as isdisabled %}
                                        <tr><td class="cubg3">{{booked_count|either:0}}</td><td class="cubg4"><input type="text" name="{{key_subs}}" value='{{av_count}}' class="css3" {% if isdisabled %}disabled {% endif %} /></td></tr>
                                        {% endwith %}
                                        {% endwith %}
                                        {% endwith %}

                                </table>
                            </td>
                            <td class="cubg2">
                                <table class="table ttb" cellspacing="0" cellpadding="0">
                                    {% with dates|get_dict_val:'day2'|date:"d_m_Y_" as next_day and i|add:12 as next_loop %}
                                        {% with input|concatenate:next_day|concatenate:next_loop|concatenate:'_0' as key_subs %}
                                        {% with appointments|get_dict_val:key_subs|get_dict_val:'booked' as booked_count and appointments|get_dict_val:key_subs|get_dict_val:'value' as av_count and appointments|get_dict_val:key_subs|get_dict_val:'disabled' as isdisabled %}
                                        <tr><td class="cubg3">{{booked_count|either:0}}</td><td class="cubg4"><input type="text" name="{{key_subs}}" value='{{av_count}}' class="css3" {% if isdisabled %}disabled {% endif %} /></td></tr>
                                        {% endwith %}
                                        {% endwith %}
                                        {% endwith %}

                                </table>
                            </td>
                            <td class="cubg2">
                                <table class="table ttb" cellspacing="0" cellpadding="0">
                                    {% with dates|get_dict_val:'day3'|date:"d_m_Y_" as next_day and i|add:12 as next_loop %}
                                        {% with input|concatenate:next_day|concatenate:next_loop|concatenate:'_0' as key_subs %}
                                        {% with appointments|get_dict_val:key_subs|get_dict_val:'booked' as booked_count and appointments|get_dict_val:key_subs|get_dict_val:'value' as av_count and appointments|get_dict_val:key_subs|get_dict_val:'disabled' as isdisabled %}
                                        <tr><td class="cubg3">{{booked_count|either:0}}</td><td class="cubg4"><input type="text" name="{{key_subs}}" value='{{av_count}}' class="css3" {% if isdisabled %}disabled {% endif %}/></td></tr>
                                        {% endwith %}
                                        {% endwith %}
                                        {% endwith %}

                                </table>
                            </td>

                            <td class="cubg2">
                                <table class="table ttb" cellspacing="0" cellpadding="0">
                                    {% with dates|get_dict_val:'day4'|date:"d_m_Y_" as next_day and i|add:12 as next_loop %}
                                        {% with input|concatenate:next_day|concatenate:next_loop|concatenate:'_0' as key_subs %}
                                        {% with appointments|get_dict_val:key_subs|get_dict_val:'booked' as booked_count and appointments|get_dict_val:key_subs|get_dict_val:'value' as av_count and appointments|get_dict_val:key_subs|get_dict_val:'disabled' as isdisabled %}
                                        <tr><td class="cubg3">{{booked_count|either:0}}</td><td class="cubg4"><input type="text" name="{{key_subs}}" value='{{av_count}}' class="css3" {% if isdisabled %}disabled {% endif %} /></td></tr>
                                        {% endwith %}
                                        {% endwith %}
                                        {% endwith %}

                                </table>
                            </td>
                            <td class="cubg2">
                                <table class="table ttb" cellspacing="0" cellpadding="0">
                                    {% with dates|get_dict_val:'day5'|date:"d_m_Y_" as next_day and i|add:12 as next_loop %}
                                        {% with input|concatenate:next_day|concatenate:next_loop|concatenate:'_0' as key_subs %}
                                        {% with appointments|get_dict_val:key_subs|get_dict_val:'booked' as booked_count and appointments|get_dict_val:key_subs|get_dict_val:'value' as av_count and appointments|get_dict_val:key_subs|get_dict_val:'disabled' as isdisabled %}
                                        <tr><td class="cubg3">{{booked_count|either:0}}</td><td class="cubg4"><input type="text" name="{{key_subs}}" value='{{av_count}}' class="css3" {% if isdisabled %}disabled {% endif %} /></td></tr>
                                        {% endwith %}
                                        {% endwith %}
                                        {% endwith %}

                                </table>
                            </td>

                            <td class="cubg2">
                                <table class="table ttb" cellspacing="0" cellpadding="0">
                                    {% with dates|get_dict_val:'day6'|date:"d_m_Y_" as next_day and i|add:12 as next_loop %}
                                        {% with input|concatenate:next_day|concatenate:next_loop|concatenate:'_0' as key_subs %}
                                        {% with appointments|get_dict_val:key_subs|get_dict_val:'booked' as booked_count and appointments|get_dict_val:key_subs|get_dict_val:'value' as av_count and appointments|get_dict_val:key_subs|get_dict_val:'disabled' as isdisabled %}
                                        <tr><td class="cubg3">{{booked_count|either:0}}</td><td class="cubg4"><input type="text" name="{{key_subs}}" value='{{av_count}}' class="css3" {% if isdisabled %}disabled {% endif %} /></td></tr>
                                        {% endwith %}
                                        {% endwith %}
                                        {% endwith %}

                                </table>
                            </td>
                            {% endwith %}
                        </tr>
                        <tr>
                            {% if forloop.first %}
                                <td class="cubg2">{{i|add:12|concatenate:':30'}} PM</td>
                            {% else %}
                            <td class="cubg2">{{i|concatenate:':30'}} PM</td>
                            {% endif %}
                            {% with 'input_' as input %}
                            <td class="cubg2">
                                <table class="table ttb" cellspacing="0" cellpadding="0">
                                    {% with dates|get_dict_val:'day1'|date:"d_m_Y_" as next_day and i|add:12 as next_loop %}
                                        {% with input|concatenate:next_day|concatenate:next_loop|concatenate:'_30' as key_subs %}
                                        {% with appointments|get_dict_val:key_subs|get_dict_val:'booked' as booked_count and appointments|get_dict_val:key_subs|get_dict_val:'value' as av_count and appointments|get_dict_val:key_subs|get_dict_val:'disabled' as isdisabled %}
                                        <tr><td class="cubg3">{{booked_count|either:0}}</td><td class="cubg4"><input type="text" name="{{key_subs}}" value='{{av_count}}' class="css3" {% if isdisabled %}disabled {% endif %} /></td></tr>
                                        {% endwith %}
                                        {% endwith %}
                                        {% endwith %}

                                </table>
                            </td>
                            <td class="cubg2">
                                <table class="table ttb" cellspacing="0" cellpadding="0">
                                    {% with dates|get_dict_val:'day2'|date:"d_m_Y_" as next_day and i|add:12 as next_loop %}
                                        {% with input|concatenate:next_day|concatenate:next_loop|concatenate:'_30' as key_subs %}
                                        {% with appointments|get_dict_val:key_subs|get_dict_val:'booked' as booked_count and appointments|get_dict_val:key_subs|get_dict_val:'value' as av_count and appointments|get_dict_val:key_subs|get_dict_val:'disabled' as isdisabled %}
                                        <tr><td class="cubg3">{{booked_count|either:0}}</td><td class="cubg4"><input type="text" name="{{key_subs}}" value='{{av_count}}' class="css3" {% if isdisabled %}disabled {% endif %} /></td></tr>
                                        {% endwith %}
                                        {% endwith %}
                                        {% endwith %}

                                </table>
                            </td>
                            <td class="cubg2">
                                <table class="table ttb" cellspacing="0" cellpadding="0">
                                    {% with dates|get_dict_val:'day3'|date:"d_m_Y_" as next_day and i|add:12 as next_loop %}
                                        {% with input|concatenate:next_day|concatenate:next_loop|concatenate:'_30' as key_subs %}
                                        {% with appointments|get_dict_val:key_subs|get_dict_val:'booked' as booked_count and appointments|get_dict_val:key_subs|get_dict_val:'value' as av_count and appointments|get_dict_val:key_subs|get_dict_val:'disabled' as isdisabled %}
                                        <tr><td class="cubg3">{{booked_count|either:0}}</td><td class="cubg4"><input type="text" name="{{key_subs}}" value='{{av_count}}' class="css3" {% if isdisabled %}disabled {% endif %} /></td></tr>
                                        {% endwith %}
                                        {% endwith %}
                                        {% endwith %}

                                </table>
                            </td>

                            <td class="cubg2">
                                <table class="table ttb" cellspacing="0" cellpadding="0">
                                    {% with dates|get_dict_val:'day4'|date:"d_m_Y_" as next_day and i|add:12 as next_loop %}
                                        {% with input|concatenate:next_day|concatenate:next_loop|concatenate:'_30' as key_subs %}
                                        {% with appointments|get_dict_val:key_subs|get_dict_val:'booked' as booked_count and appointments|get_dict_val:key_subs|get_dict_val:'value' as av_count and appointments|get_dict_val:key_subs|get_dict_val:'disabled' as isdisabled %}
                                        <tr><td class="cubg3">{{booked_count|either:0}}</td><td class="cubg4"><input type="text" name="{{key_subs}}" value='{{av_count}}' class="css3" {% if isdisabled %}disabled {% endif %} /></td></tr>
                                        {% endwith %}
                                        {% endwith %}
                                        {% endwith %}

                                </table>
                            </td>
                            <td class="cubg2">
                                <table class="table ttb" cellspacing="0" cellpadding="0">
                                    {% with dates|get_dict_val:'day5'|date:"d_m_Y_" as next_day and i|add:12 as next_loop %}
                                        {% with input|concatenate:next_day|concatenate:next_loop|concatenate:'_30' as key_subs %}
                                        {% with appointments|get_dict_val:key_subs|get_dict_val:'booked' as booked_count and appointments|get_dict_val:key_subs|get_dict_val:'value' as av_count and appointments|get_dict_val:key_subs|get_dict_val:'disabled' as isdisabled %}
                                        <tr><td class="cubg3">{{booked_count|either:0}}</td><td class="cubg4"><input type="text" name="{{key_subs}}" value='{{av_count}}' class="css3" {% if isdisabled %}disabled {% endif %} /></td></tr>
                                        {% endwith %}
                                        {% endwith %}
                                        {% endwith %}

                                </table>
                            </td>

                            <td class="cubg2">
                                <table class="table ttb" cellspacing="0" cellpadding="0">
                                    {% with dates|get_dict_val:'day6'|date:"d_m_Y_" as next_day and i|add:12 as next_loop %}
                                        {% with input|concatenate:next_day|concatenate:next_loop|concatenate:'_30' as key_subs %}
                                        {% with appointments|get_dict_val:key_subs|get_dict_val:'booked' as booked_count and appointments|get_dict_val:key_subs|get_dict_val:'value' as av_count and appointments|get_dict_val:key_subs|get_dict_val:'disabled' as isdisabled %}
                                        <tr><td class="cubg3">{{booked_count|either:0}}</td><td class="cubg4"><input type="text" name="{{key_subs}}" value='{{av_count}}' class="css3" {% if isdisabled %}disabled {% endif %} /></td></tr>
                                        {% endwith %}
                                        {% endwith %}
                                        {% endwith %}

                                </table>
                            </td>
                            {% endwith %}
                        </tr>
                    {% endfor %}
                </table>
                <div style="text-align:center;" >
                    <input type="submit" value="Schedule" class="btn std-btn">
                </div>
            </div>
        </form>
    {% endif %}
    </div>
</section>
{% endblock content %}

{% block main_js %}
<script type="text/javascript">
    $(document).ready(function(){
        window.old_team = '{{selected_team.id}}';
        window.old_process = '{{process_type}}'
        $('select[name=team]').change(function(){
            var selected_team = $(this).val();
            loc = window.location.href;
            window.location.href = loc.substring(0, loc.lastIndexOf(old_team)) + selected_team;
        });

        $('select[name=process_type]').change(function(){
            var selected_process = $(this).val();
            console.log(decodeURI(window.location.href).replace(old_process, selected_process));
            loc = window.location.href;
            var selected_team = 0;
            loc = loc.substring(0, loc.lastIndexOf(old_team)) + selected_team;
            window.location.href = decodeURI(loc).replace(old_process, selected_process);
        });

        // Click on Schedule button
        // Validate the slots entry
        $('.logbtn').click(function(){
            var isError = false;
            $('table tr td input[type=text]:enabled').each(function(){
                if(isNaN($(this).val())){
                    $(this).focus();
                    isError = true;
                    alert('Please enter a valid entry for available slots');
                    return false;
                }else if(parseInt($(this).val()) > 1000000 ){
                    $(this).focus();
                    isError = true;
                    alert('Available slots are out of range');
                    return false;
               }
            });
            if(isError){
                return false;
            }
        });

        $('#copy_appointments').click(function(){
            var url = '/representatives/copy-appointment/' + $(this).attr('week-start') + '/' + $('select[name=team]').val()
            $.ajax({
                'dataType': 'json',
                'url': url,
                success: function(response){
                    // Iterate over list of previous week appointments
                    for(var i=0;i<response.appointment.length;i++){
                        // format date to match current week slot
                        var slot = response.appointment[i];
                        var slot_splits = slot.date_in_utc.split('_');

                        var day = slot_splits[0];
                        var month = slot_splits[1];
                        var year = slot_splits[2];
                        var hour = parseInt(slot_splits[3]);
                        var minutes = parseInt(slot_splits[4]);
                        // Prepare slot key
                        var slot_key = 'input_' + day + '_' + month + '_' + year + '_' + hour.toString() + '_' + minutes.toString();
                        $("input[name=" + slot_key + "]").val(slot.availability_count);
                    }
                }
            });
        })
    });

    $("input[type=text]").bind("keypress", function(e) {
        // body...
        var key = e.keyCode ? e.keyCode : e.which;
        if ( isNaN( String.fromCharCode(key) ) ) return false;
    })
    
</script>
{% endblock main_js %}