.version.index /* version checker */
{
	color: #0000EB;
	background-color: #5051F0;
}

.html
{
	background: #FFFFFF url("../../images/newsletter/bg.jpg") no-repeat center top fixed;
}

#page
{
	z-index: 1;
	width: 960px;
	min-height: 7544.959989413661px;
	background-image: none;
	border-style: none;
	border-color: #000000;
	background-color: transparent;
	padding-bottom: 0px;
	margin-left: auto;
	margin-right: auto;
}

#page_position_content
{
	padding-top: 27px;
	padding-bottom: 11px;
}

#u1257
{
	z-index: 517;
	width: 961px;
	background-color: transparent;
	position: fixed;
	top: 0px;
	left: -221px;
}

#u1242
{
	z-index: 519;
	width: 961px;
	background-color: transparent;
	position: fixed;
	top: 0px;
	left: -1px;
}

#u1263
{
	z-index: 515;
	width: 961px;
	background-color: transparent;
	position: fixed;
	top: 0px;
	left: 221px;
}

#u1248
{
	z-index: 20;
	width: 1024px;
	background-color: transparent;
	left: -32px;
	position: relative;
}

#u1248_clip
{
	overflow: hidden;
	width: 1024px;
	height: 303px;
}

#u1248_img
{
	margin-top: -27px;
}

#pu78-4
{
	width: 0.01px;
	margin-left: 20px;
	margin-top: 30px;
}

#u78-4
{
	z-index: 42;
	width: 346px;
	min-height: 294px;
	background-color: transparent;
	color: #3C7DB5;
	font-size: 75px;
	line-height: 90px;
	font-family: Palatino, Palatino Linotype, Georgia, Times, Times New Roman, serif;
	font-weight: normal;
	position: relative;
	margin-right: -10000px;
}

#u1187-4
{
	z-index: 489;
	width: 550px;
	min-height: 293px;
	background-color: transparent;
	font-size: 16px;
	line-height: 26px;
	font-family: Palatino, Palatino Linotype, Georgia, Times, Times New Roman, serif;
	position: relative;
	margin-right: -10000px;
	left: 370px;
}

#u1188-13
{
	z-index: 493;
	width: 920px;
	min-height: 381px;
	background-color: transparent;
	font-size: 16px;
	line-height: 26px;
	font-family: Palatino, Palatino Linotype, Georgia, Times, Times New Roman, serif;
	margin-left: 20px;
	margin-top: 10px;
	position: relative;
}

#u1206
{
	z-index: 22;
	width: 928px;
	background-color: transparent;
	margin-left: 18px;
	position: relative;
}

#u637
{
	z-index: 376;
	width: 960px;
	background-color: transparent;
	margin-top: 52px;
	position: relative;
}

#ppu168-4
{
	width: 0.01px;
	margin-left: 20px;
	margin-top: 52px;
}

#pu168-4
{
	width: 0.01px;
	margin-right: -10000px;
	margin-top: 4px;
}

#u168-4
{
	z-index: 297;
	width: 393px;
	min-height: 57px;
	background-color: transparent;
	color: #454545;
	font-size: 45px;
	line-height: 54px;
	font-family: Palatino, Palatino Linotype, Georgia, Times, Times New Roman, serif;
	position: relative;
}

#u170-8
{
	z-index: 46;
	width: 417px;
	min-height: 216px;
	background-color: transparent;
	font-family: Palatino, Palatino Linotype, Georgia, Times, Times New Roman, serif;
	margin-top: 10px;
	position: relative;
}

#u630
{
	z-index: 374;
	width: 406px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 487px;
}

#u646
{
	z-index: 378;
	width: 960px;
	background-color: transparent;
	margin-top: 73px;
	position: relative;
}

#u517-4
{
	z-index: 321;
	width: 393px;
	min-height: 57px;
	background-color: transparent;
	color: #454545;
	font-size: 45px;
	line-height: 54px;
	font-family: Palatino, Palatino Linotype, Georgia, Times, Times New Roman, serif;
	margin-left: 20px;
	margin-top: 55px;
	position: relative;
}

#u518-4
{
	z-index: 238;
	width: 920px;
	min-height: 56px;
	background-color: transparent;
	color: #000000;
	font-size: 16px;
	line-height: 24px;
	font-family: Palatino, Palatino Linotype, Georgia, Times, Times New Roman, serif;
	margin-left: 20px;
	margin-top: 10px;
	position: relative;
}

#u588
{
	z-index: 372;
	width: 974px;
	background-color: transparent;
	left: -19px;
	margin-top: 17px;
	position: relative;
}

#u656
{
	z-index: 380;
	width: 960px;
	background-color: transparent;
	margin-top: 24px;
	position: relative;
}

#ppu652-4
{
	width: 0.01px;
	margin-left: -39px;
	margin-top: 56px;
}

#u652-4
{
	z-index: 325;
	width: 328px;
	min-height: 112px;
	background-color: transparent;
	color: #454545;
	font-size: 45px;
	line-height: 54px;
	font-family: Palatino, Palatino Linotype, Georgia, Times, Times New Roman, serif;
	margin-left: 59px;
	position: relative;
}

#u651-11
{
	z-index: 242;
	width: 406px;
	min-height: 315px;
	background-color: transparent;
	color: #000000;
	font-family: Palatino, Palatino Linotype, Georgia, Times, Times New Roman, serif;
	margin-left: 59px;
	margin-top: 13px;
	position: relative;
}

#u170-2,#u170-3,#u170-5,#u651-2,#u651-3,#u651-5,#u651-6,#u651-8
{
	font-size: 16px;
	line-height: 24px;
}

#u170-6,#u651-9
{
	line-height: 21px;
}

#u732
{
	z-index: 409;
	width: 499px;
	background-color: transparent;
	margin-top: 15px;
	position: relative;
}

#u732_clip
{
	overflow: hidden;
	width: 499px;
	height: 418px;
}

#u732_img
{
	margin-left: -72px;
}

#u719
{
	z-index: 408;
	width: 1px;
	height: 880px;
	border-style: none;
	border-color: transparent;
	background-color: #7F7F7F;
	position: relative;
	margin-right: -10000px;
	left: 499px;
}

#pu662-4
{
	width: 0.01px;
	margin-right: -10000px;
	margin-left: 534px;
}

#u662-4
{
	z-index: 329;
	width: 445px;
	min-height: 162px;
	background-color: transparent;
	color: #454545;
	font-size: 45px;
	line-height: 54px;
	font-family: Palatino, Palatino Linotype, Georgia, Times, Times New Roman, serif;
	position: relative;
}

#u661-4
{
	z-index: 253;
	width: 443px;
	min-height: 79px;
	background-color: transparent;
	color: #000000;
	line-height: 21px;
	font-family: Palatino, Palatino Linotype, Georgia, Times, Times New Roman, serif;
	font-style: italic;
	margin-left: 2px;
	margin-top: 23px;
	position: relative;
}

#ppu666
{
	width: 0.01px;
	margin-left: 1px;
	margin-top: 17px;
}

#pu652-4,#pu666
{
	width: 0.01px;
	padding-bottom: 0px;
	margin-right: -10000px;
}

#u666
{
	z-index: 394;
	width: 45px;
	background-color: transparent;
	margin-left: 1px;
	position: relative;
}

#u672
{
	z-index: 396;
	width: 45px;
	background-color: transparent;
	margin-left: 1px;
	margin-top: 49px;
	position: relative;
}

#u677
{
	z-index: 398;
	width: 46px;
	background-color: transparent;
	margin-top: 36px;
	position: relative;
}

#u682
{
	z-index: 400;
	width: 46px;
	background-color: transparent;
	margin-left: 1px;
	margin-top: 35px;
	position: relative;
}

#u664-18
{
	z-index: 279;
	width: 362px;
	min-height: 321px;
	background-color: transparent;
	line-height: 21px;
	color: #000000;
	font-family: Palatino, Palatino Linotype, Georgia, Times, Times New Roman, serif;
	position: relative;
	margin-right: -10000px;
	margin-top: 4px;
	left: 55px;
}

#u664
{
	color: #4982C3;
	font-weight: bold;
}

#u664-5
{
	color: #F1B70D;
	font-weight: bold;
}

#u664-9
{
	color: #E15C3C;
	font-weight: bold;
}

#u664-13
{
	color: #00AD70;
	font-weight: bold;
}

#u716
{
	z-index: 392;
	width: 461px;
	background-color: transparent;
	margin-left: 4px;
	position: relative;
}

#u716_clip
{
	overflow: hidden;
	width: 461px;
	height: 4px;
}

#u716_img
{
	margin-right: -19px;
	margin-bottom: 1px;
}

#u691-4
{
	z-index: 257;
	width: 443px;
	min-height: 28px;
	background-color: transparent;
	color: #000000;
	line-height: 21px;
	font-family: Palatino, Palatino Linotype, Georgia, Times, Times New Roman, serif;
	font-style: normal;
	margin-left: 23px;
	margin-top: 20px;
	position: relative;
}

#ppu695
{
	width: 0.01px;
	margin-left: 23px;
	margin-top: 15px;
}

#pu695
{
	width: 0.01px;
	padding-bottom: 0px;
	margin-right: -10000px;
	margin-top: 4px;
}

#u695
{
	z-index: 402;
	width: 12px;
	background-color: transparent;
	position: relative;
}

#u704
{
	z-index: 404;
	width: 12px;
	background-color: transparent;
	margin-top: 50px;
	position: relative;
}

#u710
{
	z-index: 406;
	width: 12px;
	background-color: transparent;
	margin-top: 49px;
	position: relative;
}

#u693-18
{
	z-index: 261;
	width: 399px;
	min-height: 208px;
	background-color: transparent;
	color: #000000;
	line-height: 21px;
	font-family: Palatino, Palatino Linotype, Georgia, Times, Times New Roman, serif;
	font-style: normal;
	position: relative;
	margin-right: -10000px;
	left: 23px;
}

#u693-2
{
	color: #F15A24;
	font-weight: bold;
}

#u693-8,#u693-14
{
	color: #F65832;
	font-weight: bold;
}

#u723
{
	z-index: 382;
	width: 960px;
	background-color: transparent;
	margin-top: 67px;
	position: relative;
}

#u246-4
{
	z-index: 301;
	width: 829px;
	min-height: 66px;
	background-color: transparent;
	color: #000000;
	font-size: 45px;
	line-height: 54px;
	font-family: Palatino, Palatino Linotype, Georgia, Times, Times New Roman, serif;
	margin-left: 20px;
	margin-top: 32px;
	position: relative;
}

#u247-4
{
	z-index: 54;
	width: 768px;
	min-height: 31px;
	background-color: transparent;
	font-size: 16px;
	line-height: 24px;
	font-family: Palatino, Palatino Linotype, Georgia, Times, Times New Roman, serif;
	margin-left: 20px;
	margin-top: 19px;
	position: relative;
}

#ppu431
{
	width: 0.01px;
	margin-left: 20px;
	margin-top: 17px;
}

#u431
{
	z-index: 333;
	width: 45px;
	background-color: transparent;
	position: relative;
}

#u437
{
	z-index: 337;
	width: 45px;
	background-color: transparent;
	margin-top: 7px;
	position: relative;
}

#u442
{
	z-index: 341;
	width: 45px;
	background-color: transparent;
	margin-top: 6px;
	position: relative;
}

#u447
{
	z-index: 345;
	width: 46px;
	background-color: transparent;
	margin-top: 7px;
	position: relative;
}

#u452
{
	z-index: 349;
	width: 45px;
	background-color: transparent;
	margin-top: 6px;
	position: relative;
}

#u457
{
	z-index: 353;
	width: 46px;
	background-color: transparent;
	margin-top: 7px;
	position: relative;
}

#u462
{
	z-index: 355;
	width: 45px;
	background-color: transparent;
	margin-top: 6px;
	position: relative;
}

#pu474
{
	width: 0.01px;
	margin-right: -10000px;
	margin-top: 22px;
	margin-left: 46px;
}

#u474
{
	z-index: 357;
	width: 47px;
	height: 1px;
	border-color: #000000;
	background-color: #4982C3;
	position: relative;
}

#u478
{
	z-index: 360;
	width: 47px;
	height: 1px;
	border-color: #000000;
	background-color: #F1B70D;
	margin-top: 50px;
	position: relative;
}

#u482
{
	z-index: 364;
	width: 47px;
	height: 1px;
	border-color: #000000;
	background-color: #E15C3C;
	margin-top: 50px;
	position: relative;
}

#u484
{
	z-index: 367;
	width: 47px;
	height: 1px;
	border-color: #000000;
	background-color: #00AD70;
	margin-top: 50px;
	position: relative;
}

#u488
{
	z-index: 369;
	width: 47px;
	height: 1px;
	border-color: #000000;
	background-color: #999A9B;
	margin-top: 52px;
	position: relative;
}

#u496
{
	z-index: 363;
	width: 47px;
	height: 1px;
	border-color: #000000;
	background-color: #F1B70D;
	margin-top: 52px;
	position: relative;
}

#u500
{
	z-index: 359;
	width: 47px;
	height: 1px;
	border-color: #000000;
	background-color: #4982C3;
	margin-top: 49px;
	position: relative;
}

#pu473-4
{
	width: 0.01px;
	margin-right: -10000px;
	margin-top: 11px;
	margin-left: 97px;
}

#u473-4
{
	z-index: 190;
	width: 230px;
	min-height: 23px;
	background-color: transparent;
	line-height: 21px;
	color: #4982C3;
	font-family: Palatino, Palatino Linotype, Georgia, Times, Times New Roman, serif;
	position: relative;
}

#u477-4
{
	z-index: 202;
	width: 270px;
	min-height: 23px;
	background-color: transparent;
	line-height: 21px;
	color: #F1B70D;
	font-family: Palatino, Palatino Linotype, Georgia, Times, Times New Roman, serif;
	margin-top: 28px;
	position: relative;
}

#u481-4
{
	z-index: 214;
	width: 270px;
	min-height: 23px;
	background-color: transparent;
	line-height: 21px;
	color: #E15C3C;
	font-family: Palatino, Palatino Linotype, Georgia, Times, Times New Roman, serif;
	margin-top: 28px;
	position: relative;
}

#u483-4
{
	z-index: 222;
	width: 270px;
	min-height: 23px;
	background-color: transparent;
	line-height: 21px;
	color: #00AD70;
	font-family: Palatino, Palatino Linotype, Georgia, Times, Times New Roman, serif;
	margin-top: 28px;
	position: relative;
}

#u487-4
{
	z-index: 230;
	width: 270px;
	min-height: 23px;
	background-color: transparent;
	line-height: 21px;
	color: #999A9B;
	font-family: Palatino, Palatino Linotype, Georgia, Times, Times New Roman, serif;
	margin-top: 30px;
	position: relative;
}

#u495-4
{
	z-index: 210;
	width: 270px;
	min-height: 23px;
	background-color: transparent;
	line-height: 21px;
	color: #F1B70D;
	font-family: Palatino, Palatino Linotype, Georgia, Times, Times New Roman, serif;
	margin-top: 30px;
	position: relative;
}

#u499-4
{
	z-index: 198;
	width: 230px;
	min-height: 23px;
	background-color: transparent;
	line-height: 21px;
	color: #4982C3;
	font-family: Palatino, Palatino Linotype, Georgia, Times, Times New Roman, serif;
	margin-top: 27px;
	position: relative;
}

#pu264
{
	z-index: 14;
	width: 0.01px;
	position: relative;
	margin-right: -10000px;
	margin-left: 391px;
}

#u264
{
	z-index: 0;
	width: 640px;
	border-style: none;
	border-color: transparent;
	background-color: #39B54A;
	opacity: 0.76;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=76)";
	filter: alpha(opacity=76);
	position: absolute;
	top: 0px;
	bottom: 0px;
}

#pu265
{
	width: 0.01px;
	position: relative;
	left: 9px;
	padding-top: 7px;
	z-index: 2;
	padding-bottom: 9px;
}

#u265
{
	z-index: 15;
	width: 623px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u265_clip
{
	overflow: hidden;
	width: 623px;
	height: 302px;
}

#u265_img
{
	margin-bottom: -2px;
}

#u1329
{
	z-index: 17;
	width: 165px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 117px;
	left: 619px;
}

#u274
{
	z-index: 19;
	width: 623px;
	height: 302px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 7px;
	left: 400px;
}

.ie #u274
{
	background-color: #FFFFFF;
	opacity: 0.01;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=1)";
	filter: alpha(opacity=1);
}

#u274:hover
{
	background-color: #FFFF00;
	opacity: 0.21;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=21)";
	filter: alpha(opacity=21);
	margin: 7px -10000px 0px 0px;
}

#u741
{
	z-index: 384;
	width: 960px;
	background-color: transparent;
	margin-top: 62px;
	position: relative;
}

#u746-4
{
	z-index: 305;
	width: 567px;
	min-height: 57px;
	background-color: transparent;
	color: #000000;
	font-size: 45px;
	line-height: 54px;
	font-family: Palatino, Palatino Linotype, Georgia, Times, Times New Roman, serif;
	margin-left: 20px;
	margin-top: 50px;
	position: relative;
}

#ppu747-4
{
	width: 0.01px;
	margin-left: 18px;
	margin-top: 15px;
}

#pu431,#pu747-4
{
	width: 0.01px;
	margin-right: -10000px;
}

#u747-4
{
	z-index: 58;
	width: 521px;
	min-height: 60px;
	background-color: transparent;
	font-size: 16px;
	line-height: 24px;
	font-family: Palatino, Palatino Linotype, Georgia, Times, Times New Roman, serif;
	margin-left: 2px;
	position: relative;
}

#pu749-4
{
	width: 0.01px;
	margin-top: 34px;
}

#u749-4
{
	z-index: 28;
	width: 178px;
	min-height: 31px;
	background-color: transparent;
	color: #000000;
	font-size: 16px;
	line-height: 19px;
	font-family: Palatino, Palatino Linotype, Georgia, Times, Times New Roman, serif;
	position: relative;
	margin-right: -10000px;
}

#u757-4
{
	z-index: 32;
	width: 276px;
	min-height: 35px;
	background-color: transparent;
	color: #000000;
	font-size: 16px;
	line-height: 19px;
	font-family: Palatino, Palatino Linotype, Georgia, Times, Times New Roman, serif;
	position: relative;
	margin-right: -10000px;
	left: 294px;
}

#ppu816
{
	width: 0.01px;
	margin-right: -10000px;
	margin-left: 294px;
}

#pu816
{
	z-index: 2;
	width: 0.01px;
	position: relative;
	margin-right: -10000px;
}

#pu758
{
	width: 0.01px;
	position: relative;
	left: 4px;
	padding-top: 4px;
	z-index: 2;
	padding-bottom: 4px;
}

#u758
{
	z-index: 3;
	width: 259px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u758_clip
{
	overflow: hidden;
	width: 259px;
	height: 119px;
}

#u758_img
{
	margin-bottom: -22px;
}

#u818
{
	z-index: 5;
	width: 259px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	padding-bottom: 41px;
	position: relative;
	margin-right: -10000px;
	margin-top: 4px;
	left: 2px;
}

#u1344
{
	z-index: 6;
	width: 120px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 49px;
	left: 61px;
}

#pu808
{
	z-index: 8;
	width: 0.01px;
	position: relative;
	margin-right: -10000px;
}

#u816,#u808
{
	z-index: 0;
	width: 267px;
	border-style: none;
	border-color: transparent;
	background-color: #39B54A;
	opacity: 0.76;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=76)";
	filter: alpha(opacity=76);
	position: absolute;
	top: 0px;
	bottom: 0px;
}

#pu750
{
	width: 0.01px;
	position: relative;
	left: 4px;
	padding-top: 3px;
	z-index: 2;
	padding-bottom: 4px;
}

#u750
{
	z-index: 9;
	width: 259px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u1338
{
	z-index: 11;
	width: 120px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 53px;
	left: 62px;
}

#u814
{
	z-index: 13;
	width: 259px;
	height: 119px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 4px;
	left: 4px;
}

.ie #u814
{
	background-color: #FFFFFF;
	opacity: 0.01;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=1)";
	filter: alpha(opacity=1);
}

#u818:hover,#u814:hover
{
	background-color: #FFFF00;
	opacity: 0.21;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=21)";
	filter: alpha(opacity=21);
	margin: 4px -10000px 0px 0px;
}

.ie #u274:hover,.ie #u814:hover
{
	opacity: 0.21;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=21)";
	filter: alpha(opacity=21);
}

#u823
{
	z-index: 27;
	width: 318px;
	border-color: #000000;
	background-color: #39B54A;
	position: relative;
	margin-right: -10000px;
	margin-top: 5px;
	left: 599px;
	padding: 21px 11px 12px 14px;
}

#u822-6
{
	z-index: 36;
	width: 308px;
	min-height: 53px;
	background-color: transparent;
	color: #FFFFFF;
	font-size: 20px;
	line-height: 24px;
	font-family: Palatino, Palatino Linotype, Georgia, Times, Times New Roman, serif;
	margin-left: 2px;
	position: relative;
}

#u879
{
	z-index: 411;
	width: 318px;
	background-color: transparent;
	margin-top: 11px;
	position: relative;
}

#pamphletu862
{
	z-index: 413;
	width: 0.01px;
	height: 154px;
	position: relative;
	margin-right: -10000px;
	margin-top: 91px;
	left: 613px;
}

#u868
{
	z-index: 414;
	width: 318px;
	position: relative;
	margin-right: -10000px;
}

#u869
{
	position: absolute;
	width: 318px;
	height: 154px;
	background-color: transparent;
}

.ie #u869
{
	background-color: #FFFFFF;
	opacity: 0.01;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=1)";
	filter: alpha(opacity=1);
}

#u864
{
	position: absolute;
	width: 708px;
	background-color: #AAAAAA;
	background-color: rgba(0, 0, 0, 0.33);
	padding-bottom: 44px;
	top: -67px;
	left: -223px;
	-pie-background: rgba(0, 0, 0, 0.33);
}

#u864popup
{
	z-index: 416;
}

#u865
{
	z-index: 417;
	width: 664px;
	height: 457px;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
	top: 22px;
	left: 22px;
}

#u866
{
	z-index: 418;
	width: 640px;
	min-height: 364px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 34px;
	left: 16px;
}

.PamphletWidget .ThumbGroup .Thumb,.PamphletNextButton,.PamphletPrevButton,.PamphletCloseButton /* pamphlet2 */
{
	cursor: pointer;
}

#u888
{
	z-index: 386;
	width: 960px;
	background-color: transparent;
	margin-top: 60px;
	position: relative;
}

#u893-4
{
	z-index: 309;
	width: 940px;
	min-height: 65px;
	background-color: transparent;
	color: #000000;
	font-size: 45px;
	line-height: 54px;
	font-family: Palatino, Palatino Linotype, Georgia, Times, Times New Roman, serif;
	margin-left: 20px;
	margin-top: 41px;
	position: relative;
}

#u894-4
{
	z-index: 62;
	width: 733px;
	min-height: 29px;
	background-color: transparent;
	font-size: 18px;
	line-height: 27px;
	font-family: Palatino, Palatino Linotype, Georgia, Times, Times New Roman, serif;
	margin-left: 20px;
	position: relative;
}

#pu896
{
	width: 0.01px;
	margin-left: 20px;
	margin-top: 26px;
}

#u896
{
	z-index: 335;
	width: 45px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u906
{
	z-index: 343;
	width: 45px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 2px;
	left: 549px;
}

#u899
{
	z-index: 358;
	width: 28px;
	height: 1px;
	border-color: #000000;
	background-color: #4982C3;
	position: relative;
	margin-right: -10000px;
	margin-top: 22px;
	left: 46px;
}

#u905-4
{
	z-index: 194;
	width: 139px;
	min-height: 72px;
	background-color: transparent;
	line-height: 21px;
	color: #4982C3;
	font-family: Palatino, Palatino Linotype, Georgia, Times, Times New Roman, serif;
	position: relative;
	margin-right: -10000px;
	margin-top: 11px;
	left: 77px;
}

#u935
{
	z-index: 362;
	width: 16px;
	height: 1px;
	border-color: #000000;
	background-color: #F1B70D;
	position: relative;
	margin-right: -10000px;
	margin-top: 22px;
	left: 237px;
}

#u900
{
	z-index: 339;
	width: 45px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 253px;
}

#u904
{
	z-index: 361;
	width: 28px;
	height: 1px;
	border-color: #000000;
	background-color: #F1B70D;
	position: relative;
	margin-right: -10000px;
	margin-top: 22px;
	left: 299px;
}

#u903-4
{
	z-index: 206;
	width: 187px;
	min-height: 23px;
	background-color: transparent;
	line-height: 21px;
	color: #F1B70D;
	font-family: Palatino, Palatino Linotype, Georgia, Times, Times New Roman, serif;
	position: relative;
	margin-right: -10000px;
	margin-top: 11px;
	left: 330px;
}

#u910
{
	z-index: 365;
	width: 28px;
	height: 1px;
	border-color: #000000;
	background-color: #E15C3C;
	position: relative;
	margin-right: -10000px;
	margin-top: 24px;
	left: 595px;
}

#u909-4
{
	z-index: 218;
	width: 190px;
	min-height: 23px;
	background-color: transparent;
	line-height: 21px;
	color: #E15C3C;
	font-family: Palatino, Palatino Linotype, Georgia, Times, Times New Roman, serif;
	position: relative;
	margin-right: -10000px;
	margin-top: 12px;
	left: 626px;
}

#u939
{
	z-index: 366;
	width: 28px;
	height: 1px;
	border-color: #000000;
	background-color: #E15C3C;
	position: relative;
	margin-right: -10000px;
	margin-top: 24px;
	left: 529px;
}

#pu911
{
	width: 0.01px;
	margin-left: 20px;
	margin-top: 27px;
}

#u911
{
	z-index: 347;
	width: 46px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 10px;
}

#u915
{
	z-index: 368;
	width: 28px;
	height: 1px;
	border-color: #000000;
	background-color: #00AD70;
	position: relative;
	margin-right: -10000px;
	margin-top: 32px;
	left: 46px;
}

#u914-4
{
	z-index: 226;
	width: 139px;
	min-height: 23px;
	background-color: transparent;
	line-height: 21px;
	color: #00AD70;
	font-family: Palatino, Palatino Linotype, Georgia, Times, Times New Roman, serif;
	position: relative;
	margin-right: -10000px;
	margin-top: 20px;
	left: 77px;
}

#u937
{
	z-index: 371;
	width: 16px;
	height: 1px;
	border-color: #000000;
	background-color: #999A9B;
	position: relative;
	margin-right: -10000px;
	margin-top: 33px;
	left: 237px;
}

#u916
{
	z-index: 351;
	width: 45px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 10px;
	left: 253px;
}

#u920
{
	z-index: 370;
	width: 28px;
	height: 1px;
	border-color: #000000;
	background-color: #999A9B;
	position: relative;
	margin-right: -10000px;
	margin-top: 33px;
	left: 299px;
}

#u919-4
{
	z-index: 234;
	width: 193px;
	min-height: 70px;
	background-color: transparent;
	line-height: 21px;
	color: #999A9B;
	font-family: Palatino, Palatino Linotype, Georgia, Times, Times New Roman, serif;
	position: relative;
	margin-right: -10000px;
	margin-top: 21px;
	left: 330px;
}

#u921
{
	z-index: 419;
	width: 326px;
	border-color: #000000;
	background-color: #000000;
	position: relative;
	margin-right: -10000px;
	left: 572px;
}

#u923-6
{
	z-index: 420;
	width: 284px;
	min-height: 76px;
	background-color: transparent;
	line-height: 35px;
	color: #FFFFFF;
	font-family: Palatino, Palatino Linotype, Georgia, Times, Times New Roman, serif;
	margin-bottom: -1px;
	position: relative;
	margin-right: -10000px;
	margin-top: 16px;
	left: 25px;
}

#pbuttonu925
{
	width: 0.01px;
	margin-right: -10000px;
	margin-top: 18px;
	margin-left: 682px;
}

#buttonu925
{
	z-index: 427;
	width: 100px;
	height: 28px;
	border-width: 1px;
	border-style: solid;
	border-color: #FFFFFF;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#pbuttonu925:hover #buttonu925
{
	width: 101px;
	height: 29px;
	background-image: none;
	border-style: none;
	border-color: transparent;
	background-color: #F15A24;
	background-color: rgba(241, 90, 36, 1);
	-pie-background: none;
	-moz-border-radius: 0px;
	-webkit-border-radius: 0px;
	-khtml-border-radius: 0px;
	border-radius: 0px;
	position: relative;
	margin-right: -10000px;
	margin-top: 0px;
	left: 0px;
	margin-left: 0px;
	min-height: 1px;
}

#u926-4
{
	z-index: 428;
	width: 51px;
	min-height: 18px;
	background-color: transparent;
	letter-spacing: 1px;
	color: #FFFFFF;
	font-size: 12px;
	line-height: 14px;
	text-align: center;
	font-family: Palatino, Palatino Linotype, Georgia, Times, Times New Roman, serif;
}

#pbuttonu925:hover #u926-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	position: relative;
	width: 51px;
	margin-right: -10000px;
	margin-top: 8px;
	left: 22px;
	min-height: 18px;
}

#pbuttonu925.ButtonSelected #u926-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 18px;
}

#pbuttonu925:hover #u926-4 p
{
	color: #FFFFFF;
	visibility: inherit;
}

#pbuttonu925 #u926-4
{
	position: relative;
	width: 51px;
	margin-right: -10000px;
	margin-top: 7px;
	left: 21px;
}

#u931
{
	z-index: 388;
	width: 960px;
	background-color: transparent;
	margin-top: 60px;
	position: relative;
}

#u942-4
{
	z-index: 313;
	width: 940px;
	min-height: 65px;
	background-color: transparent;
	color: #000000;
	font-size: 45px;
	line-height: 54px;
	font-family: Palatino, Palatino Linotype, Georgia, Times, Times New Roman, serif;
	margin-left: 20px;
	margin-top: 50px;
	position: relative;
}

#u943-4
{
	z-index: 66;
	width: 912px;
	min-height: 34px;
	background-color: transparent;
	font-size: 16px;
	line-height: 24px;
	font-family: Palatino, Palatino Linotype, Georgia, Times, Times New Roman, serif;
	margin-left: 20px;
	position: relative;
}

#ppu946
{
	width: 0.01px;
	margin-left: 40px;
	margin-top: 8px;
}

#pu946
{
	width: 0.01px;
	margin-right: -10000px;
	margin-top: 14px;
}

#u946
{
	z-index: 433;
	width: 12px;
	background-color: transparent;
	position: relative;
}

#u955
{
	z-index: 437;
	width: 12px;
	background-color: transparent;
	margin-top: 25px;
	position: relative;
}

#u961
{
	z-index: 439;
	width: 12px;
	background-color: transparent;
	margin-top: 28px;
	position: relative;
}

#u967
{
	z-index: 441;
	width: 12px;
	background-color: transparent;
	margin-top: 29px;
	position: relative;
}

#u945-10
{
	z-index: 86;
	width: 828px;
	min-height: 161px;
	background-color: transparent;
	font-size: 16px;
	line-height: 40px;
	font-family: Palatino, Palatino Linotype, Georgia, Times, Times New Roman, serif;
	position: relative;
	margin-right: -10000px;
	left: 24px;
}

#ppu972
{
	width: 0.01px;
	margin-left: 70px;
	margin-top: 9px;
}

#pu972
{
	width: 0.01px;
	margin-right: -10000px;
	margin-top: 7px;
}

#u972
{
	z-index: 443;
	width: 7px;
	background-color: transparent;
	position: relative;
}

#u981
{
	z-index: 445;
	width: 7px;
	background-color: transparent;
	margin-top: 16px;
	position: relative;
}

#u987
{
	z-index: 447;
	width: 7px;
	background-color: transparent;
	margin-top: 17px;
	position: relative;
}

#u993
{
	z-index: 449;
	width: 7px;
	background-color: transparent;
	margin-top: 19px;
	position: relative;
}

#u971-10
{
	z-index: 180;
	width: 701px;
	min-height: 114px;
	background-color: transparent;
	line-height: 28px;
	font-family: Palatino, Palatino Linotype, Georgia, Times, Times New Roman, serif;
	position: relative;
	margin-right: -10000px;
	left: 15px;
}

#pu1000
{
	width: 0.01px;
	margin-left: 40px;
	margin-top: 12px;
}

#u1000
{
	z-index: 435;
	width: 12px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 14px;
}

#u1003-4
{
	z-index: 96;
	width: 828px;
	min-height: 43px;
	background-color: transparent;
	font-size: 16px;
	line-height: 40px;
	font-family: Palatino, Palatino Linotype, Georgia, Times, Times New Roman, serif;
	position: relative;
	margin-right: -10000px;
	left: 24px;
}

#u1007
{
	z-index: 390;
	width: 960px;
	background-color: transparent;
	margin-top: 37px;
	position: relative;
}

#u1012-4
{
	z-index: 317;
	width: 123px;
	min-height: 65px;
	background-color: transparent;
	color: #000000;
	font-size: 45px;
	line-height: 54px;
	font-family: Palatino, Palatino Linotype, Georgia, Times, Times New Roman, serif;
	margin-left: 20px;
	margin-top: 40px;
	position: relative;
}

#pu1025
{
	width: 0.01px;
	margin-left: 23px;
	margin-top: 25px;
}

#u1025
{
	z-index: 481;
	width: 45px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u1013-4
{
	z-index: 70;
	width: 866px;
	min-height: 36px;
	background-color: transparent;
	font-size: 18px;
	line-height: 27px;
	font-family: Palatino, Palatino Linotype, Georgia, Times, Times New Roman, serif;
	position: relative;
	margin-right: -10000px;
	margin-top: 9px;
	left: 53px;
}

#pu1016
{
	z-index: 24;
	width: 0.01px;
	position: relative;
	margin-left: 87px;
	margin-top: 6px;
}

#pu1019
{
	width: 0.01px;
	position: relative;
	left: 24px;
	padding-top: 10px;
	z-index: 2;
	padding-bottom: 16px;
}

#u1019
{
	z-index: 451;
	width: 12px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 14px;
}

#pu1015-4
{
	width: 0.01px;
	margin-right: -10000px;
	margin-left: 20px;
}

#u1015-4
{
	z-index: 100;
	width: 778px;
	min-height: 41px;
	background-color: transparent;
	font-size: 16px;
	line-height: 40px;
	font-family: Palatino, Palatino Linotype, Georgia, Times, Times New Roman, serif;
	position: relative;
}

#pu1022
{
	width: 0.01px;
	margin-left: 6px;
	margin-top: 2px;
}

#u1022
{
	z-index: 467;
	width: 7px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 6px;
}

#u1018-4
{
	z-index: 155;
	width: 729px;
	min-height: 66px;
	background-color: transparent;
	font-size: 14px;
	line-height: 21px;
	font-family: Palatino, Palatino Linotype, Georgia, Times, Times New Roman, serif;
	position: relative;
	margin-right: -10000px;
	left: 15px;
}

#pu1054
{
	width: 0.01px;
	margin-left: 23px;
	margin-top: 14px;
}

#u1054
{
	z-index: 483;
	width: 45px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u672_img,#u437_img,#u900_img,#u1054_img
{
	padding-right: 1px;
}

#u1053-4
{
	z-index: 74;
	width: 866px;
	min-height: 36px;
	background-color: transparent;
	font-size: 18px;
	line-height: 27px;
	font-family: Palatino, Palatino Linotype, Georgia, Times, Times New Roman, serif;
	position: relative;
	margin-right: -10000px;
	margin-top: 7px;
	left: 53px;
}

#pu1045
{
	z-index: 25;
	width: 0.01px;
	position: relative;
	margin-left: 87px;
	margin-top: 5px;
}

#ppu1046
{
	width: 0.01px;
	position: relative;
	left: 24px;
	padding-top: 19px;
	z-index: 2;
	padding-bottom: 20px;
}

#pu1046
{
	width: 0.01px;
	margin-right: -10000px;
	margin-top: 6px;
}

#u1046
{
	z-index: 453;
	width: 12px;
	background-color: transparent;
	position: relative;
}

#u1064
{
	z-index: 465;
	width: 12px;
	background-color: transparent;
	margin-top: 61px;
	position: relative;
}

#u1052-9
{
	z-index: 104;
	width: 778px;
	min-height: 125px;
	background-color: transparent;
	font-size: 16px;
	line-height: 24px;
	font-family: Palatino, Palatino Linotype, Georgia, Times, Times New Roman, serif;
	position: relative;
	margin-right: -10000px;
	left: 20px;
}

#pu1088
{
	width: 0.01px;
	margin-left: 23px;
	margin-top: 11px;
}

#u1088
{
	z-index: 485;
	width: 45px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u1087-4
{
	z-index: 78;
	width: 866px;
	min-height: 36px;
	background-color: transparent;
	font-size: 18px;
	line-height: 27px;
	font-family: Palatino, Palatino Linotype, Georgia, Times, Times New Roman, serif;
	position: relative;
	margin-right: -10000px;
	margin-top: 7px;
	left: 53px;
}

#ppu1080
{
	width: 0.01px;
	margin-left: 87px;
	margin-top: 4px;
}

#pu1080
{
	z-index: 26;
	width: 0.01px;
	position: relative;
	margin-right: -10000px;
}

#u1016,#u1045,#u1080
{
	z-index: 0;
	width: 873px;
	border-color: #000000;
	background-color: #7F7F7F;
	opacity: 0.09;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=9)";
	filter: alpha(opacity=9);
	position: absolute;
	top: 0px;
	bottom: 0px;
}

#ppu1084
{
	width: 0.01px;
	position: relative;
	left: 24px;
	padding-top: 19px;
	z-index: 2;
	padding-bottom: 33px;
}

#pppu816,#pu1084
{
	width: 0.01px;
}

#u1084
{
	z-index: 455;
	width: 12px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 5px;
}

#u1079-4
{
	z-index: 113;
	width: 778px;
	min-height: 29px;
	background-color: transparent;
	font-size: 16px;
	line-height: 24px;
	font-family: Palatino, Palatino Linotype, Georgia, Times, Times New Roman, serif;
	position: relative;
	margin-right: -10000px;
	left: 20px;
}

#u1099
{
	z-index: 469;
	width: 7px;
	background-color: transparent;
	margin-left: 26px;
	margin-top: 9px;
	position: relative;
}

#u1106
{
	z-index: 473;
	width: 7px;
	background-color: transparent;
	margin-left: 26px;
	margin-top: 22px;
	position: relative;
}

#u1112
{
	z-index: 475;
	width: 7px;
	background-color: transparent;
	margin-left: 26px;
	margin-top: 23px;
	position: relative;
}

#u1118
{
	z-index: 477;
	width: 7px;
	background-color: transparent;
	margin-left: 26px;
	margin-top: 23px;
	position: relative;
}

#u1124
{
	z-index: 479;
	width: 7px;
	background-color: transparent;
	margin-left: 26px;
	margin-top: 41px;
	position: relative;
}

#pu1131
{
	width: 0.01px;
	margin-top: 47px;
}

#u1131
{
	z-index: 457;
	width: 12px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 5px;
}

#u1134-4
{
	z-index: 117;
	width: 778px;
	min-height: 29px;
	background-color: transparent;
	font-size: 16px;
	line-height: 24px;
	font-family: Palatino, Palatino Linotype, Georgia, Times, Times New Roman, serif;
	position: relative;
	margin-right: -10000px;
	left: 20px;
}

#pu1139
{
	width: 0.01px;
	margin-left: 26px;
	margin-top: 13px;
}

#u1139
{
	z-index: 471;
	width: 7px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 3px;
}

#u1142-4
{
	z-index: 176;
	width: 736px;
	min-height: 34px;
	background-color: transparent;
	font-size: 14px;
	line-height: 21px;
	font-family: Palatino, Palatino Linotype, Georgia, Times, Times New Roman, serif;
	position: relative;
	margin-right: -10000px;
	left: 15px;
}

#u1102-17
{
	z-index: 159;
	width: 736px;
	min-height: 214px;
	background-color: transparent;
	font-family: Palatino, Palatino Linotype, Georgia, Times, Times New Roman, serif;
	position: relative;
	margin-right: -10000px;
	margin-top: 54px;
	left: 64px;
}

#u1102-15
{
	font-size: 14px;
	line-height: 21px;
}

#pu1148
{
	width: 0.01px;
	margin-left: 23px;
	margin-top: 26px;
}

#u1148
{
	z-index: 487;
	width: 45px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u1088_img,#u1148_img
{
	padding-right: 1px;
	padding-bottom: 2px;
}

#u1147-4
{
	z-index: 82;
	width: 375px;
	min-height: 36px;
	background-color: transparent;
	font-size: 18px;
	line-height: 27px;
	font-family: Palatino, Palatino Linotype, Georgia, Times, Times New Roman, serif;
	position: relative;
	margin-right: -10000px;
	margin-top: 7px;
	left: 53px;
}

#pu1172
{
	width: 0.01px;
	margin-left: 110px;
	margin-top: 13px;
}

#u1172
{
	z-index: 459;
	width: 12px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 5px;
}

#u1158-4
{
	z-index: 121;
	width: 78px;
	min-height: 29px;
	background-color: transparent;
	font-size: 16px;
	line-height: 24px;
	font-family: Palatino, Palatino Linotype, Georgia, Times, Times New Roman, serif;
	position: relative;
	margin-right: -10000px;
	left: 21px;
}

#u1160-8
{
	z-index: 133;
	width: 534px;
	min-height: 29px;
	background-color: transparent;
	font-size: 14px;
	line-height: 21px;
	font-family: Palatino, Palatino Linotype, Georgia, Times, Times New Roman, serif;
	position: relative;
	margin-right: -10000px;
	left: 108px;
}

#pu1178
{
	width: 0.01px;
	margin-left: 110px;
	margin-top: 7px;
}

#u1178
{
	z-index: 461;
	width: 12px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 5px;
}

#u1163-4
{
	z-index: 125;
	width: 213px;
	min-height: 29px;
	background-color: transparent;
	font-size: 16px;
	line-height: 24px;
	font-family: Palatino, Palatino Linotype, Georgia, Times, Times New Roman, serif;
	position: relative;
	margin-right: -10000px;
	left: 21px;
}

#u1164-6
{
	z-index: 141;
	width: 534px;
	min-height: 29px;
	background-color: transparent;
	font-size: 14px;
	line-height: 21px;
	font-family: Palatino, Palatino Linotype, Georgia, Times, Times New Roman, serif;
	position: relative;
	margin-right: -10000px;
	left: 234px;
}

#pu1184
{
	width: 0.01px;
	margin-left: 110px;
	margin-top: 9px;
}

#u1184
{
	z-index: 463;
	width: 12px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 7px;
}

#u1168-4
{
	z-index: 129;
	width: 233px;
	min-height: 29px;
	background-color: transparent;
	font-size: 16px;
	line-height: 24px;
	font-family: Palatino, Palatino Linotype, Georgia, Times, Times New Roman, serif;
	position: relative;
	margin-right: -10000px;
	margin-top: 1px;
	left: 21px;
}

#u1167-8
{
	z-index: 147;
	width: 534px;
	min-height: 29px;
	background-color: transparent;
	font-size: 14px;
	line-height: 21px;
	font-family: Palatino, Palatino Linotype, Georgia, Times, Times New Roman, serif;
	position: relative;
	margin-right: -10000px;
	left: 263px;
}

#u1189
{
	z-index: 506;
	border-style: none;
	border-color: transparent;
	background-color: #000000;
}

#u1189_align_to_page
{
	margin-left: auto;
	margin-right: auto;
	width: 960px;
	position: relative;
	left: -100px;
}

#u1191-4
{
	z-index: 507;
	width: 163px;
	min-height: 29px;
	background-color: transparent;
	color: #FFFFFF;
	font-size: 14px;
	line-height: 21px;
	font-family: Palatino, Palatino Linotype, Georgia, Times, Times New Roman, serif;
	position: relative;
	margin-right: -10000px;
	margin-top: 5px;
	left: 121px;
}

#u1193-4
{
	z-index: 511;
	width: 255px;
	min-height: 29px;
	background-color: transparent;
	color: #FFFFFF;
	line-height: 21px;
	text-align: right;
	font-family: Palatino, Palatino Linotype, Georgia, Times, Times New Roman, serif;
	position: relative;
	margin-right: -10000px;
	margin-top: 5px;
	left: 785px;
}

#u1189-bw
{
	z-index: 506;
	margin-top: 135px;
	height: 34px;
}

body
{
	position: relative;
	min-width: 960px;
}

#page .verticalspacer
{
	clear: both;
}

