<!DOCTYPE html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>New Lead mail html</title>
    <style type="text/css">
       
    </style>
</head>

<body>
    <div>
        <table align="center" style="border:5px Solid navy;">
            <tr>
                <td>
                    <table align="center" width="660" border="0" cellpadding="0" cellspacing="0">

                        <div>
                            <br>
                        </div>
                        <div>
                            <div style="font-family: arial, sans-serif; font-size: small;"><span style="font-size: 14.6667px; font-family: Arial; vertical-align: baseline; white-space: pre-wrap;"><img src="https://c.na14.content.force.com/servlet/servlet.ImageServer?id=015d0000008PHGF&oid=00Dd0000000fk18&lastMod=1443439392000" width="182" height="42" alt="Team Logo.png" style="border: none; margin-right: 0px;"></span><b><br></b>
                            </div>
                            <div style="font-family: arial, sans-serif; font-size: small;">
                                <br>
                            </div>
                            <div style="font-family: arial, sans-serif; font-size: small;">
                                <table cellspacing="0" cellpadding="0" dir="ltr"  style="table-layout:fixed;font-size:13px;font-family:arial,sans,sans-serif;border-collapse:collapse;border:0px solid #ccc">
                                    <colgroup>
                                        <col width="158">
                                            <col width="100">
                                                <col width="100">
                                                    <col width="136">
                                                        <col width="181">
                                                            <col width="100">
                                                                <col width="256">
                                    </colgroup>
                                    <tbody>
                     

                   
                    <tr style="height:27px;">
                        <td style="padding: 2px 3px; border-right-width: 1px; border-right-style: solid; border-right-color: rgb(255, 255, 255); border-bottom-width: 1px; border-bottom-style: solid; border-bottom-color: rgb(255, 255, 255); border-left-width: 1px; border-left-style: solid; border-left-color: rgb(255, 255, 255); font-size: 100%; white-space: nowrap; vertical-align: bottom;" rowspan="1" colspan="7"> Hello User,</td>
                    </tr>
                     <tr style="height:27px;">
                        <td style="padding: 2px 3px; border-right-width: 1px; border-right-style: solid; border-right-color: rgb(255, 255, 255); border-bottom-width: 1px; border-bottom-style: solid; border-bottom-color: rgb(255, 255, 255); border-left-width: 1px; border-left-style: solid; border-left-color: rgb(255, 255, 255); font-size: 100%; white-space: nowrap; vertical-align: bottom;" rowspan="1" colspan="7"> <a href="{{url}}"> This Lead </a> status has been moved from "<b>{{prev_lead_status}}</b>" to "<b>{{lead_status}}</b>".</td>
                    </tr>
                    <tr style="height:27px;">
                        <td style="padding: 2px 3px; border-right-width: 1px; border-right-style: solid; border-right-color: rgb(255, 255, 255); border-bottom-width: 1px; border-bottom-style: solid; border-bottom-color: rgb(255, 255, 255); border-left-width: 1px; border-left-style: solid; border-left-color: rgb(255, 255, 255); font-size: 100%; white-space: nowrap; vertical-align: bottom;" rowspan="1" colspan="7"><a href="{{url}}">click here </a>to view the lead.</td>
                    </tr>
                    
                                        <tr style="height:15px;">
                                         
                                        </tr>
                                    </tbody>
                                </table>
</body>