<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body>

	<table style="width: 100%;" border="0" cellpadding="0" cellspacing="0">
      <tr> 
        <td style="vertical-align:top;" align="center" valign="top">
            <table style="width:600px;text-align: left;" border="0" cellpadding="0" cellspacing="0">
              <tr>
                <td style="">
                    <img src="http://gtrack.regalix.com/static/images/tag-logo.png" align="left" border="0" width="132" height="26" alt="Regalix" style="text-align: center; vertical-align: middle; padding-top: 10px;padding-bottom: 10px;"/>
                    <div style="color: #336699; font-size: 23px; font-family: Cambria; font-weight: bold; line-height: 26px;"></div>
                    <div style="color: #336699; font-size: 23px; font-family: Cambria; font-weight: bold; line-height: 26px;"></div>
                </td>
              </tr>
            </table>
        </td>
      </tr>
      <tr>
        <td style="vertical-align: top;" align="center" valign="top">
          <table style="padding: 10px;width:600px;text-align: left;border-top: 1px solid #3369e8;" border="0" cellpadding="0" cellspacing="0">
            <tr>
              <th style="border: 1px solid #333333; padding: 5px; text-align: center; width: 5%;">Process</th>
              <th  style="border: 1px solid #333333; padding: 5px; text-align: center; width: 55%;">Americas</th>
              <th style="border: 1px solid #333333; padding: 5px; text-align: center; width: 15%;">APAC</th>
              <th style="border: 1px solid #333333; padding: 5px; text-align: center; width: 25%;">EMEA</th>
              <th style="border: 1px solid #333333; padding: 5px; text-align: center; width: 25%;">Not Assigned</th>
            </tr>  
          	<tr>
				<td style="border:1px solid #333; padding:5px;">TAG</td>
				{% for key, value in final_dict.items %}
					{% if key == 'TAG' %}
						{% for val in value %}
							{% for key, value in val.items %}
								<td style="border:1px solid #333; padding:5px;">{{value}}</td>					
							{% endfor %}
						{% endfor %}
					{% endif %}
				{% endfor %}
				<td style="border:1px solid #333; padding:5px;"></td>
			</tr>
			<tr>
				<td style="border:1px solid #333; padding:5px;">SHOPPING</td>
				{% for key, value in final_dict.items %}
					{% if key == 'SHOPPING' %}
						{% for val in value %}
							{% for key, value in val.items %}
								<td style="border:1px solid #333; padding:5px;">{{value}}</td>					
							{% endfor %}
						{% endfor %}
					{% endif %}
				{% endfor %}
				<td style="border:1px solid #333; padding:5px;"></td>
			</tr>
          </table>
              </td>
            </tr>
            <tr>
        <td style="vertical-align: top;padding-top: 30px;" align="center" valign="top">
          <div style="background:#fafafa; color: #999999; font-size: 12px; font-family: Calibri; height:26px;">
          <div class="mktEditable" id="Footer" align="center" style="padding-top: 10px;">&nbsp;&nbsp;Copyright &#64; 2016 Regalix Inc. All rights reserved.</div></div>
        </td>
      </tr>
    </table>
<!-- <div id="table_content" style="padding-left: 247px;">
	<table style="width:57%;border-bottom: 1px solid #3369e8;">
		<tr style="padding: 20px 20px 10px 10px; color: #45555f; font-family: Tahoma,Helvetica;font-size: 12px; line-height: 18px; vertical-align: top; border-bottom: 1px solid #3369e8;">
	      <td>
	       <img src="http://info.regalix.com/rs/713-ASE-384/images/regalix-logo-2015.png" align="left" border="0" width="150" height="21" alt="Regalix" style="text-align: center; vertical-align: middle; padding-top: 10px"/>
	       <img src="http://info.regalix.com/rs/713-ASE-384/images/Google_2015_logo.png" align="right" border="0" width="135" height="46" alt="Google" style="text-align: center; vertical-align: middle"/>
	       <div style="color: #336699; font-size: 23px; font-family: Cambria; font-weight: bold; line-height: 26px;">
	        </div>
	      </td>
	    </tr>
	</table>
	<h3>Leads count for status Pending QC - WIN & Implemented <br/> on {{specific_date}}</h3>
	<table border="1" style="width:57%">

		<tr>
			<th>Process</th>
			<th>Americas</th>
			<th>APAC</th>
			<th>EMEA</th>
			<th>Not Assigned</th>
		</tr>
		<tr>
			<td>TAG</td>
			{% for key, value in final_dict.items %}
				{% if key == 'TAG' %}
					{% for val in value %}
						{% for key, value in val.items %}
							<td>{{value}}</td>					
						{% endfor %}
					{% endfor %}
				{% endif %}
			{% endfor %}
			<td></td>
		</tr>
		<tr>
			<td>SHOPPING</td>
			{% for key, value in final_dict.items %}
				{% if key == 'SHOPPING' %}
					{% for val in value %}
						{% for key, value in val.items %}
							<td>{{value}}</td>					
						{% endfor %}
					{% endfor %}
				{% endif %}
			{% endfor %}
			<td></td>
		</tr>
	</table>
</div> -->
</body>
</html>