<!DOCTYPE html>
<html>
<body>

	<table style="width: 100%;" border="0" cellpadding="0" cellspacing="0">
      <tr> 
        <td style="vertical-align:top;" align="center" valign="top">
            <table style="width:600px;text-align: left;" border="0" cellpadding="0" cellspacing="0">
              <tr>
                <td style="">
                    <img src="http://gtrack.regalix.com/static/images/tag-logo.png" align="left" border="0" width="132" height="26" alt="Regalix" style="text-align: center; vertical-align: middle; padding-top: 10px;padding-bottom: 10px;"/>
                    <div style="color: #336699; font-size: 23px; font-family: Cambria; font-weight: bold; line-height: 26px;"></div>
                    <div style="color: #336699; font-size: 23px; font-family: Cambria; font-weight: bold; line-height: 26px;"></div>
                </td>
              </tr>
            </table>
        </td>
      </tr>
      <tr>
        <td style="vertical-align: top;" align="center" valign="top">
          <table style="padding: 10px;width:600px;text-align: left;border-top: 1px solid #3369e8;" border="0" cellpadding="0" cellspacing="0">
            <tr>
            	<td><p>Thanks for submitting RLSA Bulk document.<br>
				{{count}} new leads created.</p>
				<p><a href="{{history_path}}">click here</a> to see upload history.</p></td>
			</tr>
          </table>
              </td>
            </tr>
            <tr>
        <td style="vertical-align: top;padding-top: 30px;" align="center" valign="top">
          <div style="background:#fafafa; color: #999999; font-size: 12px; font-family: Calibri; height:26px;">
          <div class="mktEditable" id="Footer" align="center" style="padding-top: 10px;">&nbsp;&nbsp;Copyright &#64; 2016 Regalix Inc. All rights reserved.</div></div>
        </td>
      </tr>
    </table>
</body>
</html>
