<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title>Newsletter December, 2014</title>
</head>

{% load staticfiles %}
<body style="margin:0px; color:#333333; line-height:18px; font-size:13px; padding:0px; font-family: Arial, Helvetica">
<table width="800" align="center" cellpadding="0" cellspacing="0" style="margin:0px auto; padding:0px; background-color:#eeeeee;">
  <tbody>
    <tr>
      <td colspan="5"><img src="{% static 'images/newsletter/banner.jpg' %}" width="800" height="250" alt=""/></td>
    </tr>
    <tr>
      <td width="30">&nbsp;</td>
      <td colspan="3" height="45
      ">&nbsp;</td>
      <td width="30">&nbsp;</td>
    </tr>
    <tr>
      <td height="43">&nbsp;</td>
      <td colspan="3" align="left" valign="middle" style="font-size:13px;"><span style="font-size:16px;">Hey There,</span></td>
      <td>&nbsp;</td>
    </tr>
    <tr>
      <td height="70">&nbsp;</td>
      <td colspan="3" align="left" valign="top"><span style="font-size:13px;"><span style="line-height:16px; margin-bottom:5px;">The Sales Implementation team had a very successful Q4 and we want to thank you for trusting us with your customer’s implementation needs.  In total, our team pitched in on over 25% of tag and shopping sales wins in the regions we cover and saved Googlers 5000+ hours!<br>
      </span></span></td>
      <td>&nbsp;</td>
    </tr>
    <tr>
      <td height="44">&nbsp;</td>
      <td colspan="3"><span style="font-size:13px;">As we transition into Q1, we would like to take a minute to celebrate our joint successes, share some pertinent information about our implementation support, and highlight how we are expanding our team to continue to provide a high level of service.  </span></td>
      <td>&nbsp;</td>
    </tr>
    <tr>
      <td>&nbsp;</td>
      <td colspan="3" height="35">&nbsp;</td>
      <td>&nbsp;</td>
    </tr>
    <tr>
      <td>&nbsp;</td>
      <td  colspan="3" align="left" valign="top" style=" background-color:#ffffff;
    border: 1px solid #e4e5e5;
    border-radius: 8px;
    color: #474747;
    font-size: 13px;"><table width="734" border="0" align="center">
        <tbody>
          <tr>
            <td height="28">&nbsp;</td>
            </tr>
          <tr>
            <td height="34" align="center" valign="middle" style="font-size:22px; ">Some Quick Stats</td>
            </tr>
          <tr>
            <td>&nbsp;</td>
            </tr>
          <tr>
            <td><table width="680" border="0" align="center">
              <tbody>
                <tr>
                  <td width="220" align="center" valign="middle"><img src="{% static 'images/newsletter/1.jpg' %}" width="135" height="135" alt=""/></td>
                  <td width="232" align="center" valign="middle"><img src="{% static 'images/newsletter/2.jpg' %}" width="136" height="136" alt=""/></td>
                  <td width="214" align="center" valign="middle"><img src="{% static 'images/newsletter/3.jpg' %}" width="136" height="136" alt=""/></td>
                </tr>
                <tr style="font-size:14px;">
                  <td align="center" valign="top"><strong>Total Q4 Tag and Shopping Implementation Leads<br>
                    sent to Regalix</strong></td>
                  <td align="center" valign="top"><strong>Total Successful Implementations<br>
                    by Regalix</strong></td>
                  <td align="center" valign="top"><strong>Conversion
                    Rate</strong></td>
                </tr>
              </tbody>
            </table></td>
            </tr>
          <tr>
            <td>&nbsp;</td>
            </tr>
          <tr>
            <td>&nbsp;</td>
            </tr>
        </tbody>
      </table></td>
      <td>&nbsp;</td>
    </tr>
    <tr>
      <td>&nbsp;</td>
      <td colspan="3" height="30">&nbsp;</td>
      <td>&nbsp;</td>
    </tr>
    <tr>
      <td>&nbsp;</td>
      <td colspan="3" style=" background-color:#ffffff;
    border: 1px solid #e4e5e5;
    border-radius: 8px;
    color: #474747;
    font-size: 13px;"><table width="725" border="0" align="center">
        <tbody>
          <tr>
            <td height="28" colspan="5">&nbsp;</td>
            </tr>
          <tr>
            <td height="34" colspan="5" align="center" valign="middle" style="font-size:22px;">New in Q1: Enhanced Non-English Language Support</td>
          </tr>
          <tr>
            <td colspan="5">&nbsp;</td>
            </tr>
          <tr>
            <td width="17" height="30">&nbsp;</td>
            <td width="25" valign="top" style="font-size:13px; "><img src="{% static 'images/newsletter/right.png' %}" style="padding-top:5px;" width="16" height="11" alt=""/><br></td>
            <td colspan="3" valign="middle" style="font-size:13px; ">Beginning on Jan-21st, we will be re-instituting Russian-language support.   Our new Russian rep will be able to support Basic Adwords & Analytics task types immediately and more complex tasks after additional training
</td>
          </tr>
          <tr>
            <td height="34">&nbsp;</td>
            <td valign="middle"><img src="{% static 'images/newsletter/right.png' %}" width="16" height="11" alt=""/></td>
            <td colspan="3" >We are also expanding our Portuguese-language team in LATAM by hiring one additional resource</td>
          </tr>
         
          <tr>
            <td colspan="5">&nbsp;</td>
            </tr>
        </tbody>
      </table></td>
      <td>&nbsp;</td>
    </tr>
    <tr>
      <td>&nbsp;</td>
      <td colspan="3" height="30">&nbsp;</td>
      <td>&nbsp;</td>
    </tr>
    <tr>
      <td>&nbsp;</td>
      <td colspan="3" style=" background-color:#ffffff;
    border: 1px solid #e4e5e5;
    border-radius: 8px;
    color: #474747;
    font-size: 13px;"><table width="734" border="0" align="center">
        <tbody>
          <tr>
            <td height="28" colspan="5">&nbsp;</td>
            </tr>
          <tr>
            <td height="41" colspan="5" align="center" valign="middle" style="font-size:22px;">Q4, 2014 Trends</td>
          </tr>
          <tr>
            <td colspan="5" align="center"><strong style="font-size:14px;">Implementation Distribution |</strong> % of total implementations for each Quarter</td>
            </tr>
          <tr>
            <td width="17">&nbsp;</td>
            <td colspan="4" >&nbsp;</td>
            </tr>
          <tr>
            <td style="font-size:14px;">&nbsp;</td>
            <td colspan="4" align="center" style="font-size:15px;"><img src="{% static 'images/newsletter/graph4.jpg' %}" width="539" height="476" alt=""/></td>
          </tr>
          <tr>
            <td height="47">&nbsp;</td>
            <td width="33" align="center" valign="top"><img src="{% static 'images/newsletter/right.png' %}" width="16" style="padding-top:10px;" height="11" alt=""/><br></td>
            <td colspan="2">
Demand growth for WCC (+1728% QoQ) and Shopping (+50%)  Implementations significantly outpaced growth for Conversion Tracking (+22%)</td>
            <td width="48">&nbsp;</td>
          </tr>
          <tr>
            <td>&nbsp;</td>
            <td align="center" valign="top"><img src="{% static 'images/newsletter/right.png' %}" width="16" style="padding-top:4px;" height="11" alt=""/><br></td>
            <td colspan="2">Implementation support was added for Website Call Conversions in Q4 and represented 8% of total leads (34 in total)
<br></td>
            <td>&nbsp;</td>
          </tr>
          <tr>
            <td>&nbsp;</td>
            <td align="center" valign="middle">&nbsp;</td>
            <td colspan="2">&nbsp;</td>
            <td>&nbsp;</td>
          </tr>
          </tbody>
      </table></td>
      <td>&nbsp;</td>
    </tr>
    <tr>
      <td height="30">&nbsp;</td>
      <td width="423" height="30">&nbsp;</td>
      <td width="115" height="30">&nbsp;</td>
      <td width="192" height="30">&nbsp;</td>
      <td height="30">&nbsp;</td>
    </tr>
    <tr>
      <td>&nbsp;</td>
      <td colspan="3"  style=" background-color:#ffffff;
    border: 1px solid #e4e5e5;
    border-radius: 8px;
    color: #474747;
    font-size: 13px;"><table width="725" border="0" align="center">
        <tbody>
          <tr>
            <td width="17" height="28">&nbsp;</td>
            <td>&nbsp;</td>
            </tr>
          <tr>
            <td height="34" colspan="2" align="center" valign="middle" style="font-size:22px;">Helpful Resources</td>
          </tr>
          <tr>
            <td>&nbsp;</td>
            <td >&nbsp;</td>
            </tr>
          <tr>
            <td height="65" style="font-size:14px;">&nbsp;</td>
            <td style="font-size:13px;">Have you ever wondered how we help customers build Shopping feeds?  Whether we support javascript implementation for GA Event Tracking?  We’ve consolidated the answers to these questions and many more in <a href="https://docs.google.com/a/regalix-inc.com/spreadsheets/d/1QcThw2Ld1WrFE9Ie5NHoDXDaOPcBkEI7Mu7WIJLzLrU/edit?usp=sharing" target="_blank">trix</a> to help you better understand everything we do (and what we don’t).</td>
            </tr>
          <tr>
            <td>&nbsp;</td>
            <td>If you have any queries on the support boundaries please reach out to<em> rwieker@</em><br></td>
          </tr>
          <tr>
            <td colspan="2" height="6"></td>
          </tr>
          <tr>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            </tr>
        </tbody>
      </table></td>
      <td>&nbsp;</td>
    </tr>
    <tr>
      <td>&nbsp;</td>
      <td colspan="3" height="30">&nbsp;</td>
      <td>&nbsp;</td>
    </tr>
    <tr>
      <td height="315">&nbsp;</td>
      <td colspan="3" style=" background-color:#ffffff;
    border: 1px solid #e4e5e5;
    border-radius: 8px;
    color: #474747;
    font-size: 13px;"><table width="700" border="0" align="center">
        <tbody>
          <tr>
            <td width="3" height="28">&nbsp;</td>
            <td width="6">&nbsp;</td>
            <td colspan="3">&nbsp;</td>
            </tr>
          <tr>
            <td height="48" align="center" valign="middle" style="font-size:22px;">&nbsp;</td>
            <td colspan="2" rowspan="3" align="left" valign="bottom" style="font-size:22px;"><img style="padding-left:25px;" src="{% static 'images/newsletter/user1.jpg' %}" width="212" height="212" alt=""/></td>
            <td width="259" height="48" align="left" valign="middle" style="font-size:22px;">Meet Our Team</td>
            <td width="113" height="48" align="center" valign="middle" style="font-size:22px;">&nbsp;</td>
          </tr>
          <tr>
            <td>&nbsp;</td>
            <td colspan="2">

This is  Vinay Suresh, one of our implementation specialists for the UK/I region.  Vinay has been on the team for 1 year & 3 months and has a passion for new technology & hi-fi gadgets. Outside of work, Vinay likes to travel, listen to music and watch movies. </td>
            </tr>
          <tr>
            <td height="41">&nbsp;</td>
            <td colspan="2" align="left" valign="middle">Vinay is recognized as one of our most consistent specialists.. Here is an email Tomos Bodin (NACE SMB Sales - Sweden) sent
</td>
            </tr>
          <tr>
            <td>&nbsp;</td>
            <td colspan="4" align="left" valign="middle" style="font-size:13px;"><span><strong><em>CID: 382-437-6925</em><br>
            </strong></span>
              <p><em>&quot;To the manager and team lead of Mr Vinay Suresh</em></p>
              <p dir="ltr"><em>Mr Suresh helped Badshop.se, a very high demanding VIP client with high expectations on Google to great success. They have struggled with remarketing for 3 different domains and on one consultation he managed to helped them solve all their issues. I am very pleased with the actions of Mr Suresh and I am very excited for my next call with the client. This one interaction will have an est. quarterly impact of $15000 and we would not have reached there without Mr Suresh exceptional technical and communications skills! Thank You. 
              </em></p>
              <p dir="ltr"><em>Best Regards,<br>
              Tomas Bodin&quot;</em><br>
              </p></td>
            </tr>
          <tr>
            <td>&nbsp;</td>
            <td colspan="4" align="center" valign="middle" style="font-size:22px;">&nbsp;</td>
            </tr>
        </tbody>
      </table></td>
      <td>&nbsp;</td>
    </tr>
    <tr>
      <td>&nbsp;</td>
      <td colspan="3" height="30px;">&nbsp;</td>
      <td>&nbsp;</td>
    </tr>
    <tr>
      <td>&nbsp;</td>
      <td colspan="3" style=" background-color:#ffffff;
    border: 1px solid #e4e5e5;
    border-radius: 8px;
    color: #474747;
    font-size: 13px;"><table width="700" border="0" align="center">
        <tbody>
          <tr>
            <td width="10" height="28">&nbsp;</td>
            <td colspan="2">&nbsp;</td>
            </tr>
          <tr>
            <td height="62" align="center" valign="middle" style="font-size:22px;">&nbsp;</td>
            <td width="298" rowspan="3" align="left" valign="top" style="font-size:22px;"><img src="{% static 'images/newsletter/usear2.png' %}" width="212" height="212" style="margin-top:35px; padding-left:25px;" alt=""/></td>
            <td width="378" height="62" align="left" valign="middle" style="font-size:22px;">Celebrating Success</td>
            </tr>
          <tr>
            <td height="50">&nbsp;</td>
            <td valign="bottom">Our team’s goal is to be a valuable partner to both SMB sales teams and our advertiser. and we are always excited we are recognized as such.  Here is what one of your colleagues (Eugenia) had to say about Naomi, who provides Implementation Support to the Spanish market:</td>
          </tr>
          <tr>
            <td height="121">&nbsp;</td>
            <td align="left" valign="middle"><em>&quot;</em><em>Since I started in SMB Spain in January, Naomi has been key in many cases to help both the client by providing an excellent customer experience, and us to achieve the challenging targets we have when it comes to conversion tracking implementations, remarketing and other solutions. I would like to highlight a few reasons why I think her contribution is so valuable:</em></td>
          </tr>
          <tr>
            <td height="75">&nbsp;</td>
            <td colspan="2" align="left" valign="top">- Naomi always goes the extra mile if needed. For instance, scheduling several follow-up calls to make sure implementations happen successfully, dealing with troubleshooting leads from highly strategic customers or involving us when there has been an issue so that we can work hand in hand in making the customer experience as smooth as possible.</td>
          </tr>
          <tr>
            <td height="63">&nbsp;</td>
            <td colspan="2" align="left" ><em>- She has a <strong>highly professional approach</strong> towards the way she handles the relationship with the customers we send. She has even worked to improve the communication process with the clients focusing on having a more uniform approach and making it easier for them.</em></td>
            </tr>
          <tr>
            <td height="25">&nbsp;</td>
            <td colspan="2" align="left" valign="middle"><em>- Another aspect in which she has made our life a lot easier is in the way she <strong>communicates with our team</strong>. More specifically:</em></td>
            </tr>
          <tr>
            <td height="42">&nbsp;</td>
            <td colspan="2" align="left" valign="middle" ><em> &nbsp;&nbsp;&nbsp;&#8226; She always keeps the lead status up to date and she is very clear about her interactions with the client, which is &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;vital for me to be able to follow up on the evolution of the lead.</em></td>
            </tr>
          <tr>
            <td height="41">&nbsp;</td>
            <td colspan="2" align="left" valign="middle" ><em>&nbsp;&nbsp; &#8226; When there is an issue with a client (client is not reachable, there has been a problem during the implementation, &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;etc.) she tries to find a solution but she always keeps us in the loop.</em></td>
            </tr>
          <tr>
            <td height="44">&nbsp;</td>
            <td colspan="2" align="left" valign="middle" >-<em><strong> Customers are really satisfied:</strong> I have talked to many clients who were very satisfied with Naomi's help and assistance, even in complex troubleshooting cases. </em></td>
            </tr>
          <tr>
            <td>&nbsp;</td>
            <td colspan="2" align="left" valign="middle" ><em>All in all, she doesn't give up on a lead at the very first road block, but strives to find a way to make it work. I just thought it was important to note how helpful she has been to our team and what a great job she has been performing all along.&quot;</em></td>
            </tr>
          <tr>
            <td>&nbsp;</td>
            <td colspan="2" align="center" valign="middle">&nbsp;</td>
            </tr>
        </tbody>
      </table></td>
      <td>&nbsp;</td>
    </tr>
    <tr>
      <td>&nbsp;</td>
      <td colspan="3">&nbsp;</td>
      <td>&nbsp;</td>
    </tr>
    <tr>
      <td height="28">&nbsp;</td>
      <td colspan="3">Do you want to help in contributing to this newsletter? If yes, please fill out this <span style="color:#3193e6;"><a href="https://docs.google.com/a/regalix-inc.com/forms/d/1BCCJUSHCzqQ2Dq6jxL9gGO_0GD00z7J2-ciZwriW2WQ/formrestricted" target="_blank">form</a></span> and we will reach out to you.<br></td>
      <td>&nbsp;</td>
    </tr>
    <tr>
      <td height="23">&nbsp;</td>
      <td colspan="3">Do you have feedback for us? <span style="color:#3193e6;"><a href="https://docs.google.com/a/regalix-inc.com/forms/d/1RtZcbW2pAGKyQl6qLMuxnb_txEqLL1QEoHW73N6AApA/formrestricted" target="_blank">go/regalixfeedback</a></span> is where you can do so</td>
      <td>&nbsp;</td>
    </tr>
    <tr>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
    </tr>
  </tbody>
</table>

</body>
</html>
