{% extends 'layouts/base.html' %}

{% load staticfiles %}

{% block title %}
Newletter | July Vol 1
{% endblock title %}

{% block base_css %}
    <link href="{% static 'css/newsletter.css' %}" rel="stylesheet" type="text/css" />
{% endblock base_css %}

{% block body %}
<div class="gspark-continer">
    <div id="scroll_header">
        <div class="gspark-nav-continer">
            <ul>
                <li >
                    <a href="#regalix-rep" class="mainMenuLink">KNOW A
                    <br>
                    REGALIX REP</a>
                </li>
                <li >
                    <a href="#rockstars" class="mainMenuLink">GOOGLE ROCKSTARS</a>
                </li>
                <li >
                    <a href="#rollouts" class="mainMenuLink">NEW ROLLOUTS!</a>
                </li>
                <li >
                    <a href="#language" class="mainMenuLink">NEW LANGUAGES &amp; CAPACITY / UTILIZATION</a>
                </li>
                <li >
                    <a href="#fast-facts" class="mainMenuLink">FAST FACTS</a>
                </li>
                <li >
                    <a href="#updates" class="mainMenuLink">ANALYSIS & UPDATES</a>
                </li>
                <li >
                    <a href="#faq" class="mainMenuLink">FAQ’S</a>
                </li>
            </ul>
        </div>
        <div class="gspark-header" id="banner_img"></div>
    </div>
    <div class="regalix-rep-content">
        <div class="regalix-rep-smalltext">
            Multilingual Tag, PLA Implementation & Shopping Migration
        </div>
        <div class="regalix-rep-content-box">
            <div class="regalix-rep-left-box">
                <div class="regalix-rep-table-title">
                    <span>KEY</span> STAKEHOLDERS
                </div>

                <table class="regalix-rep-table" width="380" border="0">
                    <tr>
                        <td width="151"><strong>Babla Sharan</strong></td>
                        <td width="219">| SVP Implementation Process</td>
                    </tr>
                    <tr>
                        <td><strong>Brendan Farnell</strong></td>
                        <td>| VP of  Services</td>
                    </tr>
                    <tr>
                        <td><strong>Tabish Khan</strong></td>
                        <td>| Program Director</td>
                    </tr>
                    <tr>
                        <td><strong>Vaibhav Gupta</strong></td>
                        <td>| Program Manager</td>
                    </tr>
                    <tr>
                        <td><strong>Suresh Kamat</strong></td>
                        <td>| Sr. Operations Manager.</td>
                    </tr>
                    <tr>
                        <td><strong>Leon Dave</strong></td>
                        <td>| Operations Manager</td>
                    </tr>
                    <tr>
                        <td><strong>Darshan Karthik</strong></td>
                        <td>| Operations Manager</td>
                    </tr>
                    <tr>
                        <td><strong>Nidhi Kannanda</strong></td>
                        <td>| Learning &amp; Development</td>
                    </tr>
                    <tr>
                        <td><strong>Linda Joseph</strong></td>
                        <td>| Team Lead</td>
                    </tr>
                    <tr>
                        <td><strong>Haleema Shariff</strong></td>
                        <td>| Team Lead</td>
                    </tr>
                    <tr>
                        <td><strong>Sijo Varkey</strong></td>
                        <td>| Quality Analyst</td>
                    </tr>
                    <tr>
                        <td><strong>Vishal Kumar</strong></td>
                        <td>| Quality Analyst</td>
                    </tr>
                    <tr>
                        <td><strong>Ankit Bhardwaj</strong></td>
                        <td>| Product Specialist</td>
                    </tr>
                    <tr>
                        <td><strong>Syed Saifullah</strong></td>
                        <td>| Product Specialist</td>
                    </tr>
                </table>
            </div>
            <div class="regalix-rep-pics"></div>

        </div>
        <div class="knowregalixrep" id="regalix-rep">
            <div class="knowregalixrep-titlebar">
                <h4 style=" margin-top:9px;">KNOW A REGALIX REP</h4>
            </div>
            <div class="prifile-gpics"></div>
            <div class="knowregalixrep-lines">
                <strong>Name:</strong> Syed Saifullah (but just call me “Saif ”) <br>
                <br>
                <strong>Time on Tag Implementation Project:</strong> One year
                <br>
                <br>
                <strong>Awarded Star performer for Q2 & Q4 2013</strong>
                <br>
                <br>
                <strong>Most Difficult Implementation:</strong> Multiple account cross-domain tracking
                with 4 domains! <br>
                <br>

                <strong>Skill Set:</strong> Conversion Tracking, Re-marketing, Google Analytics, Dynamic Re-targeting, Campaign
                Setup
                <br>
                <br>
                <strong>Outside of Regalix:</strong> Football and Music
                <br>
                <br>
                <strong>My favorite quote:</strong> “A ship is safe in harbor, but that’s not what ships are for.”
            </div>

        </div>

        <div class="ROCKSTARS" id="rockstars">
            <div class="ROCKSTARS-titlebar">
                <h4 style=" margin-top:9px;">GOOGLE ROCKSTARS</h4>
            </div>
            <div class="ROCKSTARS-big-text">
                TAG - TOTAL LEADS SUBMITTED
            </div>
            <div class="ROCKSTARS-barchat"></div>
            <hr>
            <div class="ROCKSTARS-big-text">
                SHOPPING CAMPAIGN SETUP - TOTAL LEADS SUBMITTED
            </div>
            <div class="ROCKSTARS-barchat-blue"></div>

        </div>

        <div class="new" id="rollouts">
            <div class="new-titlebar">
                <h4 style=" margin-top:9px;">NEW ROLLOUTS</h4>
          </div>
            <div class="new-barchat-text1">
                <table width="474" height="381" border="0">
                    <tr>
                        <td colspan="3"><strong>GTrack:</strong></td>
                    </tr>
                    <tr>
                        <td width="13">&nbsp;</td>
                        <td colspan="2">&#x0229A; An intuitive one-stop application to review, analyze &amp;
                        <br>
                        &nbsp;&nbsp;&nbsp;&nbsp;monitor leads to enhance internal transparency &amp; efficiency</td>
                    </tr>
                    <tr>
                        <td>&nbsp;</td>
                        <td colspan="2"> &#x0229A; Added calendar functionality into submittal form</td>
                    </tr>
                    <tr>
                        <td height="10">&nbsp;</td>
                        <td width="251">&nbsp;</td>
                        <td width="127">&nbsp;</td>
                  </tr>
                    <tr>
                        <td colspan="2"><strong>Global Reporting:</strong></td>
                        <td>&nbsp;</td>
                    </tr>
                    <tr>
                        <td>&nbsp;</td>
                        <td colspan="2">&#x0229A; Dashboard for viewing real-time reports</td>
                    </tr>
                    <tr>
                        <td>&nbsp;</td>
                        <td colspan="2"> &#x0229A; 1.0 released. New features to be rolled out in Q3</td>
                    </tr>
                    <tr>
                        <td height="22">&nbsp;</td>
                        <td colspan="2">&nbsp;</td>
                    </tr>
                    <tr>
                        <td colspan="3"><strong>Knowledge Central:</strong></td>
                    </tr>
                    <tr>
                        <td>&nbsp;</td>
                        <td colspan="2"> &#x0229A; Tips, Best Practices, FAQs</td>
                    </tr>
                    <tr>
                        <td>&nbsp;</td>
                        <td colspan="2"> &#x0229A; Target July 11</td>
                    </tr>
                </table>
          </div>
            <div class="new-right-chat"></div>
        </div>

        <div class="LANGUAGES" id="language">
                <div class="LANGUAGES-titlebar">
                    <h4 style=" margin-top:9px;">NEW LANGUAGES & CAPACITY / UTILIZATION</h4>
                </div>
                <div class="LANGUAGES-barchat-text1">
                    <table width="531" border="0" align="left" cellspacing="1">
                        <tr>
                            <td colspan="3"><strong style="color:#05af6b;">Current In-Production Languages</strong></td>
                        </tr>
                        <tr>
                          <td bgcolor="#eaf5ed">&nbsp;</td>
                          <td align="center" bgcolor="#eaf5ed"><strong>Total Capacity</strong></td>
                          <td align="center" bgcolor="#eaf5ed"><strong>CU %</strong></td>
                      </tr>
                        <tr>
                            <td width="175" bgcolor="#eaf5ed">&nbsp;&nbsp;&nbsp;English - APAC</td>
                            <td width="167" align="center" valign="middle" bgcolor="#eaf5ed"><strong>18</strong></td>
                            <td align="center" valign="middle" bgcolor="#eaf5ed"><img src="{% static 'images/newsletter/72.png' %}" width="75" height="27"></td>
                        </tr>
                        <tr>
                            <td bgcolor="#eaf5ed">&nbsp;&nbsp;&nbsp;Dutch</td>
                            <td align="center" valign="middle" bgcolor="#eaf5ed"><strong>04</strong></td>
                            <td align="center" valign="middle" bgcolor="#eaf5ed"><img src="{% static 'images/newsletter/38.png' %}" width="75" height="27"></td>
                        </tr>
                        <tr>
                            <td bgcolor="#eaf5ed">&nbsp;&nbsp;&nbsp;Eng - America</td>
                            <td align="center" valign="middle" bgcolor="#eaf5ed"><strong>102</strong></td>
                            <td align="center" bgcolor="#eaf5ed"><img src="{% static 'images/newsletter/66.png' %}" width="75" height="27"></td>
                        </tr>
                        <tr>
                            <td bgcolor="#eaf5ed">&nbsp;&nbsp;&nbsp;English - EMEA</td>
                            <td align="center" valign="middle" bgcolor="#eaf5ed"><strong>24</strong></td>
                            <td align="center" bgcolor="#eaf5ed"><img src="{% static 'images/newsletter/78.png' %}" width="75" height="27"></td>
                        </tr>
                        <tr>
                            <td bgcolor="#eaf5ed">&nbsp;&nbsp;&nbsp;French</td>
                            <td align="center" valign="middle" bgcolor="#eaf5ed"><strong>12</strong></td>
                            <td align="center" bgcolor="#eaf5ed"><img src="{% static 'images/newsletter/19.png' %}" width="75" height="27"></td>
                        </tr>
                        <tr>
                            <td bgcolor="#eaf5ed">&nbsp;&nbsp;&nbsp;German</td>
                            <td align="center" valign="middle" bgcolor="#eaf5ed"><strong>12</strong></td>
                            <td align="center" bgcolor="#eaf5ed"><img src="{% static 'images/newsletter/25.png' %}" alt="" width="75" height="27"></td>
                        </tr>
                        <tr>
                            <td bgcolor="#eaf5ed">&nbsp;&nbsp;&nbsp;Latin Amer</td>
                            <td align="center" valign="middle" bgcolor="#eaf5ed"><strong>18</strong></td>
                            <td align="center" bgcolor="#eaf5ed"><img src="{% static 'images/newsletter/74.png' %}" width="75" height="27"></td>
                        </tr>
                        <tr>
                          <td bgcolor="#eaf5ed">&nbsp;&nbsp;&nbsp;Mandarin</td>
                          <td align="center" valign="middle" bgcolor="#eaf5ed"><strong>04</strong></td>
                          <td align="center" valign="middle" bgcolor="#eaf5ed"><img src="{% static 'images/newsletter/25.png' %}" alt="" width="75" height="27"></td>
                      </tr>
                        <tr>
                          <td bgcolor="#eaf5ed">&nbsp;&nbsp;&nbsp;Russian</td>
                          <td align="center" valign="middle" bgcolor="#eaf5ed"><strong>06</strong></td>
                          <td align="center" valign="middle" bgcolor="#eaf5ed"><img src="{% static 'images/newsletter/25.png' %}" alt="" width="75" height="27"></td>
                      </tr>
                        <tr>
                            <td bgcolor="#eaf5ed">&nbsp;&nbsp;&nbsp;Spanish</td>
                            <td align="center" valign="middle" bgcolor="#eaf5ed"><strong>12</strong></td>
                            <td align="center" bgcolor="#eaf5ed"><img src="{% static 'images/newsletter/19.png' %}" alt="" width="75" height="27"></td>
                        </tr>
                        <tr>
                            <td colspan="3"><strong style="color:#05af6b;">Languages Roadmap</strong></td>
                        </tr>
                        <tr>
                            <td align="left" valign="middle" bgcolor="#eaf5ed">&nbsp;&nbsp;&nbsp;Japanese <br>
                              <span style="font-size:12px;">&nbsp;&nbsp;&nbsp;(Go Live - July 28th, 2014)</span></td>
                            <td align="center" valign="middle" bgcolor="#eaf5ed"><strong>04</strong></td>
                            <td align="center" valign="middle" bgcolor="#eaf5ed"><strong>----</strong></td>
                        </tr>
                    </table>

              </div>
                <div class="LANGUAGES-right-chat"></div>
            </div>

        <div class="FACTS" id="fast-facts">
            <div class="FACTS-titlebar">
                <h4 style=" margin-top:9px;">FAST FACTS</h4>
            </div>
            <div class="FACTS-barchat-text1">
                <table width="820" height="267" border="0">
                    <tr>
                        <td width="10">&nbsp;</td>
                        <td width="931"><strong style="color:#e55025;">Knowledge Central:</strong> If you have queries about our capabilities, then please check out our knowledge central site.</td>
                    </tr>
                    <tr>
                        <td>&nbsp;</td>
                        <td><strong style="color:#e55025;">Total Implementations to Date:</strong> 12,000+</td>
                    </tr>
                    <tr>
                        <td>&nbsp;</td>
                        <td><strong style="color:#e55025;">CMS/Frameworks Supported:</strong> 100+</td>
                    </tr>
                    <tr>
                        <td>&nbsp;</td>
                        <td><strong style="color:#e55025;">Languages Supported:</strong> 8</td>
                    </tr>
                    <tr>
                        <td>&nbsp;</td>
                        <td><strong style="color:#e55025;">Regalix Google Tag/Shopping Campaign Setup Team:</strong> 50+ (and still growing!)</td>
                    </tr>
                    <tr>
                        <td>&nbsp;</td>
                        <td><strong style="color:#e55025;">Late Night Dosas Eaten:</strong> lost count!</td>
                    </tr>
                </table>
            </div>

        </div>

        <div class="ANALYSIS" id="updates">
            <div class="ANALYSIS-titlebar">
                <h4 style=" margin-top:9px;">ANALYSIS & UPDATES</h4>
            </div>
            <div class="ANALYSIS-barchat-text1">
                <table width="750" height="224" border="0">
                    <tr>
                        <td width="10" height="72">&nbsp;</td>
                        <td width="931"><strong>Issue:</strong> Google Analytics was directly installed on the website without Google Tag
                        Manager with Event Tracking set up leading to data being reflected on the Google
                        Analytics account.</td>
                    </tr>
                    <tr>
                        <td height="73">&nbsp;</td>
                        <td><strong>Solution:</strong> Removal of all previous codes and then installed Google Tag Manager
                        on the website. This gave rise to consolidated summary of tags from Google
                        Analytics, Event Tracking and Google Manager.</td>
                    </tr>
                    <tr>
                        <td height="71">&nbsp;</td>
                        <td><strong>Learning: </strong>Whenever tag manager is used to implement tags, the codes should be
                        <br>
                        an output of the manager alone.</td>
                    </tr>
                </table>
            </div>

        </div>

        <div class="FAQQ" id="faq">
            <div class="FAQQ-titlebar">
                <h4 style=" margin-top:9px;">FAQ'S</h4>
            </div>
            <div class="FAQQ-barchat-text1">
                <table width="978" height="516" border="0">
                    <tr>
                        <td width="10" height="185">&nbsp;</td>
                        <td width="931"><strong style="color:#427fc1;">What are the Toll Inbound numbers:</strong>
                        <br>
                        &#x0229A; US: 866-999-7725
                        <br>
                        &#x0229A; UK: 08000664313
                        <br>
                        &#x0229A; France: 33-805080097
                        <br>
                        &#x0229A; Spain: 34-901848016
                        <br>
                        &#x0229A; Germany: 4536946358 (Denmark)
                        <br>
                        &#x0229A; AU/NZ: 611300655402</td>
                    </tr>
                    <tr>
                        <td height="102">&nbsp;</td>
                        <td><strong style="color:#427fc1;">What can cause a delay in implementation?</strong>
                        <br>
                        &#x0229A; If the advertiser not reachable
                        <br>
                        &#x0229A; If the advertiser does not have the time to implement
                        <br>
                        &#x0229A; If the advertiser does not have the login credentials (to the CMS or Adwords) required</td>
                    </tr>
                    <tr>
                        <td height="71">&nbsp;</td>
                        <td><strong style="color:#427fc1;">What is a conversion?</strong>
                        <br>
                        &#x0229A; A conversion happens when someone clicks your ad and then takes an action that you've defined as valuable to your business, such as an online purchase or a call to your business from a mobile phone
                        <br>
                        &#x0229A; A conversion is quantified by the rate of Sign ups, Form fills, Downloads, Time on site, Sales, Outbound links (3rd party
                        links)
                        <br>
                        &#x0229A; A conversion is typically campaign based
                        <br>
                        For B2C / E Commerce campaigns: Sales are primary and Sign ups are secondary goals
                        <br>
                        For B2B campaigns: Conversion is speculated via Form fills, Sign-ups, RFPs, Downloads, Free trials, Webinars,
                        <br>
                        &#x0229A; Newsletters, Key page view and Time spent on the site</td>
                    </tr>
                    <tr>
                        <td height="71">&nbsp;</td>
                        <td><strong style="color:#427fc1;">Is it OK to pitch GA Conversion Tracking if the advertiser does not have Google Analytics?</strong>
                        <br>
                        &#x0229A; Absolutely! We will implement Google Analytics code at first and setup the goals and conversion tracking accordingly
                        <br>
                        <br>
                        <strong>Note:</strong> Ideally, it will be great, if the advertiser has already set up their GA account and have the tag ready. It saves time for us
                        to set it up during the call and retrieve the code. </td>
                    </tr>
                </table>
            </div>

        </div>
        <div class="FAQQ-footer">
            <div class="hyd-footer"></div>

        </div>
    </div>

</div>
<div class="gspark-footer">
    2014 Regalix.inc <span style="float:right; padding-right:10px;">Note: For Internal Circulation Only</span>
</div>
{% endblock body %}

{% block base_js %}
    <script type="text/javascript" src="{% static 'js/jquery-ui.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/newsletter.js' %}"></script>
{% endblock base_js %}
