<!DOCTYPE html>
<html class="html" lang="en-US">
 <head>

  <title>Newsletter | September Vol 1</title>
  {% load staticfiles %}
  <!-- CSS -->
  <!-- <link href="{% static 'css/newsletter/site_global.css' %}" rel="stylesheet" type="text/css" /> -->
  <!-- <link href="{% static 'css/newsletter/index.css' %}" rel="stylesheet" type="text/css" id="pagesheet"/>
 -->
  <style>
#u168-4 {
  z-index: 297;
  width: 393px;
  min-height: 57px;
  background-color: transparent;
  color: #454545;
  font-size: 45px;
  line-height: 54px;
  font-family: Palatino, Palatino Linotype, Georgia, Times, Times New Roman, serif;
  position: relative;
}
  </style>
   </head>
 <body>

  <div class="clearfix" id="page"><!-- column -->
   <div class="position_content" id="page_position_content">
    <div class="clip_frame mse_pre_init" id="u1257"><!-- image -->
     <img class="block" id="u1257_img" src="{% static 'images/newsletter/lines2.png' %}" alt="" width="961" height="28"/>
    </div>
    <div class="clip_frame mse_pre_init" id="u1242"><!-- image -->
     <img class="block" id="u1242_img" src="{% static 'images/newsletter/lines2.png' %}" alt="" width="961" height="28"/>
    </div>
    <div class="clip_frame mse_pre_init" id="u1263"><!-- image -->
     <img class="block" id="u1263_img" src="{% static 'images/newsletter/lines2.png' %}" alt="" width="961" height="28"/>
    </div>
    <div class="clip_frame clearfix colelem" id="u1248"><!-- image -->
     <div id="u1248_clip">
      <img class="position_content" id="u1248_img" src="{% static 'images/newsletter/topbanner.jpg' %}" alt="" width="1024" height="330"/>
     </div>
    </div>
    <div class="clearfix colelem" id="pu78-4"><!-- group -->
     <div class="clearfix grpelem" id="u78-4"><!-- content -->
      <p>WHEN VISIONS COLLIDE</p>
     </div>
     <div class="clearfix grpelem" id="u1187-4"><!-- content -->
      <p>It is just about anybody’s guess that Google as an enterprise have had the most meaningful track-record in partnering with organizations to synergize, co-innovate and enhance value in anything it endeavors. As it may appear as news to some of us, or a familiar fact to others, it is always a pleasure for us to introduce you to Regalix. Headquartered in Palo Alto, Regalix is a digital marketing conglomerate that fuses cutting-edge technology and business intelligence to leverage actionable insights and way forward for a host of customers around the world. About 10 years young at heart, its teams in Palo Alto, Bangalore, Hyderabad and Delhi have been forever on their toes to go champion their clients, right from product lifecycle development to successful marketing of their products and services.</p>
     </div>
    </div>
    <div class="clearfix colelem" id="u1188-13"><!-- content -->
     <p>As for Google, the partnership with Regalix has helped envelope a range of programs from executing tag implementation to enhance brand visibility, customer retention and organizational loyalty for numerous clients across the world, to successfully launching Google Shopping campaigns, which involves migration of PLA advertisers to Google shopping and setting up new Shopping campaigns. With dedicated teams investing their undivided attention in Regalix for Google across business metropolises, we’re certain this co-innovation is headed on a positive growth pathway.</p>
     <p>&nbsp;</p>
     <p>Googlers (SMB Sales and Services Team) pitch different types of codes (Conversion Tracking Codes, Google Analytics Code or Remarketing Codes) to advertisers and transfer these pitches as leads for the Regalix team. Googlers also send across Shopping Campaign Setup requests and Shopping Campaign Migration requests as leads.</p>
     <p>&nbsp;</p>
     <p>Without further ado, here’s getting into the what, where and how of the implementation business</p>
     <p>&nbsp;</p>
     <p>Here are the code types we help implement</p>
    </div>
    <div class="clip_frame colelem" id="u1206"><!-- image -->
     <img class="block" id="u1206_img" src="{% static 'images/newsletter/info2b.jpg' %}" alt="" width="928" height="526"/>
    </div>
    <div class="clip_frame colelem" id="u637"><!-- image -->
     <img class="block" id="u637_img" src="{% static 'images/newsletter/lines.png' %}" alt="" width="960" height="6"/>
    </div>
    <div class="clearfix colelem" id="ppu168-4"><!-- group -->
     <div class="clearfix grpelem" id="pu168-4"><!-- column -->
      <div class="clearfix colelem" id="u168-4"><!-- content -->
       <p>HOW WE HELP</p>
      </div>
      <div class="clearfix colelem" id="u170-8"><!-- content -->
       <p id="u170-2">Regalix has operations in India and the USA supporting a global advertiser base across all regions in English, Russian, Portuguese, German, Italian, French, Spanish, Mandarin, Dutch &amp; Japanese.</p>
       <p id="u170-3">&nbsp;</p>
       <p id="u170-5">A team of dedicated implementation specialists calls the advertiser and implements the requests as and when submitted.</p>
       <p id="u170-6">&nbsp;</p>
      </div>
     </div>
     <div class="clip_frame grpelem" id="u630"><!-- image -->
      <img class="block" id="u630_img" src="{% static 'images/newsletter/language2.png' %}" alt="" width="406" height="287"/>
     </div>
    </div>
    <div class="clip_frame colelem" id="u646"><!-- image -->
     <img class="block" id="u646_img" src="{% static 'images/newsletter/lines.png' %}" alt="" width="960" height="6"/>
    </div>
    <div class="clearfix colelem" id="u517-4"><!-- content -->
     <p>HOW WE DO IT</p>
    </div>
    <div class="clearfix colelem" id="u518-4"><!-- content -->
     <p>Once you submit a lead for any of the three programs, with the help of our implementation specialists, we follow the below steps to take this from contact to implementation.</p>
    </div>
    <div class="clip_frame colelem" id="u588"><!-- image -->
     <img class="block" id="u588_img" src="{% static 'images/newsletter/info2a.jpg' %}" alt="" width="974" height="957"/>
    </div>
    <div class="clip_frame colelem" id="u656"><!-- image -->
     <img class="block" id="u656_img" src="{% static 'images/newsletter/lines.png' %}" alt="" width="960" height="6"/>
    </div>
    <div class="clearfix colelem" id="ppu652-4"><!-- group -->
     <div class="clearfix grpelem" id="pu652-4"><!-- column -->
      <div class="clearfix colelem" id="u652-4"><!-- content -->
       <p>VARIATIONS IN PROCESS</p>
      </div>
      <div class="clearfix colelem" id="u651-11"><!-- content -->
       <p id="u651-2">After step 3, depending on the code type, the implementation specialist finalizes the pages according to where this particular code has to be placed.</p>
       <p id="u651-3">&nbsp;</p>
       <p id="u651-5">In case of dynamic remarketing, the specialists understand the various parameters that have to be called and customize the same accordingly.</p>
       <p id="u651-6">&nbsp;</p>
       <p id="u651-8">For Google Analytics &amp; GA remarketing codes, the implementation specialists after installing the code, will link this to the GA account, enabling data generation for further analysis.</p>
       <p id="u651-9">&nbsp;</p>
      </div>
      <div class="clip_frame clearfix colelem" id="u732"><!-- image -->
       <div id="u732_clip">
        <img class="position_content" id="u732_img" src="{% static 'images/newsletter/art1.png' %}" alt="" width="571" height="418"/>
       </div>
      </div>
     </div>
     <div class="grpelem" id="u719"><!-- simple frame --></div>
     <div class="clearfix grpelem" id="pu662-4"><!-- column -->
      <div class="clearfix colelem" id="u662-4"><!-- content -->
       <p>MILESTONE COMMUNICATIONS [MS]</p>
      </div>
      <div class="clearfix colelem" id="u661-4"><!-- content -->
       <p>NOTE: All communications with advertisers will be on gCases and Googlers will be bcc’ed on all such occasions. All communications with the Googlers will be using Google mail ids.</p>
      </div>
      <div class="clearfix colelem" id="ppu666"><!-- group -->
       <div class="clearfix grpelem" id="pu666"><!-- column -->
        <div class="clip_frame colelem" id="u666"><!-- image -->
         <img class="block" id="u666_img" src="{% static 'images/newsletter/clip1.png' %}" alt="" width="45" height="45"/>
        </div>
        <div class="clip_frame colelem" id="u672"><!-- image -->
         <img class="block" id="u672_img" src="{% static 'images/newsletter/clip2.png' %}" alt="" width="44" height="45"/>
        </div>
        <div class="clip_frame colelem" id="u677"><!-- image -->
         <img class="block" id="u677_img" src="{% static 'images/newsletter/clip3.png' %}" alt="" width="46" height="45"/>
        </div>
        <div class="clip_frame colelem" id="u682"><!-- image -->
         <img class="block" id="u682_img" src="{% static 'images/newsletter/clip4.png' %}" alt="" width="46" height="45"/>
        </div>
       </div>
       <div class="clearfix grpelem" id="u664-18"><!-- content -->
        <p><span id="u664">Thank You email:</span>&nbsp;This email is sent out to the Googler with the ticket submitted to the email ID registered with us.</p>
        <p>&nbsp;</p>
        <p><span id="u664-5">Appointment Confirmation:</span>&nbsp;If the appointment is for a future date, an appointment confirmation email is sent to the advertiser.</p>
        <p>&nbsp;</p>
        <p><span id="u664-9">In progress leads:</span>&nbsp;48 hours post getting in touch with the advertiser, the implementation specialist sends out an email.</p>
        <p>&nbsp;</p>
        <p><span id="u664-13">Congrats email:</span>&nbsp;This contains screenshots confirming implementation.</p>
        <p>&nbsp;</p>
       </div>
      </div>
      <div class="clip_frame clearfix colelem" id="u716"><!-- image -->
       <div id="u716_clip">
        <img class="position_content" id="u716_img" src="{% static 'images/newsletter/lines.png' %}" alt="" width="480" height="3"/>
       </div>
      </div>
      <div class="clearfix colelem" id="u691-4"><!-- content -->
       <p>Other emails sent to the advertisers include:</p>
      </div>
      <div class="clearfix colelem" id="ppu695"><!-- group -->
       <div class="clearfix grpelem" id="pu695"><!-- column -->
        <div class="clip_frame colelem" id="u695"><!-- image -->
         <img class="block" id="u695_img" src="{% static 'images/newsletter/bullet.png' %}" alt="" width="12" height="12"/>
        </div>
        <div class="clip_frame colelem" id="u704"><!-- image -->
         <img class="block" id="u704_img" src="{% static 'images/newsletter/bullet.png' %}" alt="" width="12" height="12"/>
        </div>
        <div class="clip_frame colelem" id="u710"><!-- image -->
         <img class="block" id="u710_img" src="{% static 'images/newsletter/bullet.png' %}" alt="" width="12" height="12"/>
        </div>
       </div>
       <div class="clearfix grpelem" id="u693-18"><!-- content -->
        <p>If the advertiser misses the set appointment, a <span id="u693-2">Missed Appointment</span>&nbsp;email is sent to the advertiser.<br/><br/></p>
        <p>If the call is re-scheduled, a <span id="u693-8">Re-scheduled Appointment</span>&nbsp;email will be sent out to the advertiser<br/><br/></p>
        <p>In case of an <span id="u693-14">Inactive/Uninterested lead,</span>&nbsp;an email is sent informing that the advertiser can get in touch with their account managers at a later point of time if required.</p>
       </div>
      </div>
     </div>
    </div>
    <div class="clip_frame colelem" id="u723"><!-- image -->
     <img class="block" id="u723_img" src="{% static 'images/newsletter/lines.png' %}" alt="" width="960" height="6"/>
    </div>
    <div class="clearfix colelem" id="u246-4"><!-- content -->
     <p>GOOGLE PORTAL - gtrack</p>
    </div>
    <div class="clearfix colelem" id="u247-4"><!-- content -->
     <p>This is our cool new portal created to help you with this program. This portal encompasses:</p>
    </div>
    <div class="clearfix colelem" id="ppu431"><!-- group -->
     <div class="clearfix grpelem" id="pu431"><!-- column -->
      <div class="clip_frame colelem" id="u431"><!-- image -->
       <img class="block" id="u431_img" src="{% static 'images/newsletter/clip1.png' %}" alt="" width="45" height="45"/>
      </div>
      <div class="clip_frame colelem" id="u437"><!-- image -->
       <img class="block" id="u437_img" src="{% static 'images/newsletter/clip2.png' %}" alt="" width="44" height="45"/>
      </div>
      <div class="clip_frame colelem" id="u442"><!-- image -->
       <img class="block" id="u442_img" src="{% static 'images/newsletter/clip3.png' %}" alt="" width="45" height="45"/>
      </div>
      <div class="clip_frame colelem" id="u447"><!-- image -->
       <img class="block" id="u447_img" src="{% static 'images/newsletter/clip4.png' %}" alt="" width="46" height="45"/>
      </div>
      <div class="clip_frame colelem" id="u452"><!-- image -->
       <img class="block" id="u452_img" src="{% static 'images/newsletter/clip5.png' %}" alt="" width="45" height="45"/>
      </div>
      <div class="clip_frame colelem" id="u457"><!-- image -->
       <img class="block" id="u457_img" src="{% static 'images/newsletter/clip6.png' %}" alt="" width="46" height="45"/>
      </div>
      <div class="clip_frame colelem" id="u462"><!-- image -->
       <img class="block" id="u462_img" src="{% static 'images/newsletter/clip7.png' %}" alt="" width="45" height="45"/>
      </div>
     </div>
     <div class="clearfix grpelem" id="pu474"><!-- column -->
      <div class="colelem" id="u474"><!-- simple frame --></div>
      <div class="colelem" id="u478"><!-- simple frame --></div>
      <div class="colelem" id="u482"><!-- simple frame --></div>
      <div class="colelem" id="u484"><!-- simple frame --></div>
      <div class="colelem" id="u488"><!-- simple frame --></div>
      <div class="colelem" id="u496"><!-- simple frame --></div>
      <div class="colelem" id="u500"><!-- simple frame --></div>
     </div>
     <div class="clearfix grpelem" id="pu473-4"><!-- column -->
      <div class="clearfix colelem" id="u473-4"><!-- content -->
       <p>Forms to submit leads</p>
      </div>
      <div class="clearfix colelem" id="u477-4"><!-- content -->
       <p>Resources to learn more about the process</p>
      </div>
      <div class="clearfix colelem" id="u481-4"><!-- content -->
       <p>Top Googlers in this program</p>
      </div>
      <div class="clearfix colelem" id="u483-4"><!-- content -->
       <p>Lead Status</p>
      </div>
      <div class="clearfix colelem" id="u487-4"><!-- content -->
       <p>Customer Testimonials</p>
      </div>
      <div class="clearfix colelem" id="u495-4"><!-- content -->
       <p>Interactive Reports</p>
      </div>
      <div class="clearfix colelem" id="u499-4"><!-- content -->
       <p>Feedback Form</p>
      </div>
     </div>
     <div class="grpelem" id="pu264"><!-- inclusion -->
      <div id="u264"><!-- simple frame --></div>
      <div class="clearfix" id="pu265"><!-- group -->
       <a class="nonblock nontext clip_frame clearfix grpelem" id="u265" href="https://google.regalix.com/main/home"><!-- image --><div id="u265_clip"><img class="position_content" id="u265_img" src="{% static 'images/newsletter/portal.jpg' %}" alt="" width="623" height="304"/></div></a>
      </div>
     </div>
     <div class="clip_frame grpelem" id="u1329"><!-- image -->
      <img class="block" id="u1329_img" src="{% static 'images/newsletter/click_here.png' %}" alt="" width="165" height="41"/>
     </div>
     <a class="nonblock nontext grpelem" id="u274" href="https://google.regalix.com/main/home" target="_blank"><!-- simple frame --></a>
    </div>
    <div class="clip_frame colelem" id="u741"><!-- image -->
     <img class="block" id="u741_img" src="{% static 'images/newsletter/lines.png' %}" alt="" width="960" height="6"/>
    </div>
    <div class="clearfix colelem" id="u746-4"><!-- content -->
     <p>LEAD SUBMISSION FORM</p>
    </div>
    <div class="clearfix colelem" id="ppu747-4"><!-- group -->
     <div class="clearfix grpelem" id="pu747-4"><!-- column -->
      <div class="clearfix colelem" id="u747-4"><!-- content -->
       <p>You could give a feedback / escalate an issue to Regalix in case of any of the following scenarios:</p>
      </div>
      <div class="clearfix colelem" id="pu749-4"><!-- group -->
       <div class="clearfix grpelem" id="u749-4"><!-- content -->
        <p>A) TAG - Form</p>
       </div>
       <div class="clearfix grpelem" id="u757-4"><!-- content -->
        <p>B) Google Shopping Setup - Form</p>
       </div>
      </div>
      <div class="clearfix colelem" id="pppu816"><!-- group -->
       <div class="clearfix grpelem" id="ppu816"><!-- group -->
        <div class="grpelem" id="pu816"><!-- inclusion -->
         <div id="u816"><!-- simple frame --></div>
         <div class="clearfix" id="pu758"><!-- group -->
          <div class="clip_frame clearfix grpelem" id="u758"><!-- image -->
           <div id="u758_clip">
            <img class="position_content" id="u758_img" src="{% static 'images/newsletter/shopping_form.png' %}" alt="" width="259" height="141"/>
           </div>
          </div>
         </div>
        </div>
        <a class="nonblock nontext clearfix grpelem" id="u818" href="https://google.regalix.com/leads/shopping-campaign-setup-lead-form/" target="_blank"><!-- group --><div class="clip_frame grpelem" id="u1344"><!-- image --><img class="block" id="u1344_img" src="{% static 'images/newsletter/click_here.png' %}" alt="" width="120" height="30"/></div></a>
       </div>
       <div class="grpelem" id="pu808"><!-- inclusion -->
        <div id="u808"><!-- simple frame --></div>
        <div class="clearfix" id="pu750"><!-- group -->
         <div class="clip_frame grpelem" id="u750"><!-- image -->
          <img class="block" id="u750_img" src="{% static 'images/newsletter/advertiser_leadform.png' %}" alt="" width="259" height="119"/>
         </div>
        </div>
       </div>
       <div class="clip_frame grpelem" id="u1338"><!-- image -->
        <img class="block" id="u1338_img" src="{% static 'images/newsletter/click_here.png' %}" alt="" width="120" height="30"/>
       </div>
       <a class="nonblock nontext grpelem" id="u814" href="https://google.regalix.com/leads/lead-form/" target="_blank"><!-- simple frame --></a>
      </div>
     </div>
     <div class="clearfix grpelem" id="u823"><!-- column -->
      <div class="clearfix colelem" id="u822-6"><!-- content -->
       <p>Watch a short video on how to <br/>submit a form</p>
      </div>
      <div class="clip_frame colelem" id="u879"><!-- image -->
       <img class="block" id="u879_img" src="{% static 'images/newsletter/video_image.jpg' %}" alt="" width="318" height="154"/>
      </div>
     </div>
     <div class="PamphletWidget clearfix widget_invisible grpelem" id="pamphletu862"><!-- none box -->
      <div class="ThumbGroup clearfix grpelem" id="u868"><!-- none box -->
       <div class="popup_anchor">
        <div class="Thumb popup_element" id="u869"><!-- simple frame --></div>
       </div>
      </div>
      <div class="popup_anchor" id="u864popup">
       <div class="ContainerGroup rgba-background clearfix" id="u864"><!-- stack box -->
        <div class="Container clearfix grpelem" id="u865"><!-- group -->
         <div class="grpelem" id="u866"><!-- custom html -->
          <iframe width="640" height="360" src="//www.youtube.com/embed/5Ox4vsNmo-U" frameborder="0" allowfullscreen></iframe>
</div>
        </div>
       </div>
      </div>
     </div>
    </div>
    <div class="clip_frame colelem" id="u888"><!-- image -->
     <img class="block" id="u888_img" src="{% static 'images/newsletter/lines.png' %}" alt="" width="960" height="6"/>
    </div>
    <div class="clearfix colelem" id="u893-4"><!-- content -->
     <p>FEEDBACK / ESCALATION</p>
    </div>
    <div class="clearfix colelem" id="u894-4"><!-- content -->
     <p>You could give a feedback / escalate an issue to Regalix by the way of following scenarios:</p>
    </div>
    <div class="clearfix colelem" id="pu896"><!-- group -->
     <div class="clip_frame grpelem" id="u896"><!-- image -->
      <img class="block" id="u896_img" src="{% static 'images/newsletter/clip1.png' %}" alt="" width="45" height="45"/>
     </div>
     <div class="clip_frame grpelem" id="u906"><!-- image -->
      <img class="block" id="u906_img" src="{% static 'images/newsletter/clip3.png' %}" alt="" width="45" height="45"/>
     </div>
     <div class="grpelem" id="u899"><!-- simple frame --></div>
     <div class="clearfix grpelem" id="u905-4"><!-- content -->
      <p>Happy with the support you got from the Regalix agent</p>
     </div>
     <div class="grpelem" id="u935"><!-- simple frame --></div>
     <div class="clip_frame grpelem" id="u900"><!-- image -->
      <img class="block" id="u900_img" src="{% static 'images/newsletter/clip2.png' %}" alt="" width="44" height="45"/>
     </div>
     <div class="grpelem" id="u904"><!-- simple frame --></div>
     <div class="clearfix grpelem" id="u903-4"><!-- content -->
      <p>Not happy with the support</p>
     </div>
     <div class="grpelem" id="u910"><!-- simple frame --></div>
     <div class="clearfix grpelem" id="u909-4"><!-- content -->
      <p>Incorrect code implemented</p>
     </div>
     <div class="grpelem" id="u939"><!-- simple frame --></div>
    </div>
    <div class="clearfix colelem" id="pu911"><!-- group -->
     <div class="clip_frame grpelem" id="u911"><!-- image -->
      <img class="block" id="u911_img" src="{% static 'images/newsletter/clip4.png' %}" alt="" width="46" height="45"/>
     </div>
     <div class="grpelem" id="u915"><!-- simple frame --></div>
     <div class="clearfix grpelem" id="u914-4"><!-- content -->
      <p>Appointment missed</p>
     </div>
     <div class="grpelem" id="u937"><!-- simple frame --></div>
     <div class="clip_frame grpelem" id="u916"><!-- image -->
      <img class="block" id="u916_img" src="{% static 'images/newsletter/clip5.png' %}" alt="" width="45" height="45"/>
     </div>
     <div class="grpelem" id="u920"><!-- simple frame --></div>
     <div class="clearfix grpelem" id="u919-4"><!-- content -->
      <p>Broken communication - Not aware of what is the status on the lead</p>
     </div>
     <div class="clearfix grpelem" id="u921"><!-- group -->
      <div class="clearfix grpelem" id="u923-6"><!-- content -->
       <p>Use the form&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; to do so. <br/>We will respond back within 1 business day</p>
      </div>
     </div>
     <div class="sbg Button clearfix grpelem" id="pbuttonu925"><!-- group -->
      <a class="nonblock nontext clearfix grpelem rgba-background" id="buttonu925" href="https://google.regalix.com/main/feedback/list/" target="_blank"><!-- container box --><div class="clearfix grpelem" id="u926-4"><!-- content --><p>FORM</p></div></a>
     </div>
    </div>
    <div class="clip_frame colelem" id="u931"><!-- image -->
     <img class="block" id="u931_img" src="{% static 'images/newsletter/lines.png' %}" alt="" width="960" height="6"/>
    </div>
    <div class="clearfix colelem" id="u942-4"><!-- content -->
     <p>QUALITY LEAD</p>
    </div>
    <div class="clearfix colelem" id="u943-4"><!-- content -->
     <p>For a lead to be considered of good quality, it has to have the following characteristics:</p>
    </div>
    <div class="clearfix colelem" id="ppu946"><!-- group -->
     <div class="clearfix grpelem" id="pu946"><!-- column -->
      <div class="clip_frame colelem" id="u946"><!-- image -->
       <img class="block" id="u946_img" src="{% static 'images/newsletter/bullet.png' %}" alt="" width="12" height="12"/>
      </div>
      <div class="clip_frame colelem" id="u955"><!-- image -->
       <img class="block" id="u955_img" src="{% static 'images/newsletter/bullet.png' %}" alt="" width="12" height="12"/>
      </div>
      <div class="clip_frame colelem" id="u961"><!-- image -->
       <img class="block" id="u961_img" src="{% static 'images/newsletter/bullet.png' %}" alt="" width="12" height="12"/>
      </div>
      <div class="clip_frame colelem" id="u967"><!-- image -->
       <img class="block" id="u967_img" src="{% static 'images/newsletter/bullet.png' %}" alt="" width="12" height="12"/>
      </div>
     </div>
     <div class="clearfix grpelem" id="u945-10"><!-- content -->
      <p>Warmed up lead: Appointment date / time set &amp; Advertiser understands what the code is for</p>
      <p>Tag that needs to be placed (Conversion code, Remarketing code, Google analytics, Google Tag Manager)</p>
      <p>What is a conversion: (URL identified); eg:www.com/thankyou.html</p>
      <p>CSR defined agenda for the team (Educate the advertiser about what we are going to do and what’s required):</p>
     </div>
    </div>
    <div class="clearfix colelem" id="ppu972"><!-- group -->
     <div class="clearfix grpelem" id="pu972"><!-- column -->
      <div class="clip_frame colelem" id="u972"><!-- image -->
       <img class="block" id="u972_img" src="{% static 'images/newsletter/arrow.png' %}" alt="" width="7" height="11"/>
      </div>
      <div class="clip_frame colelem" id="u981"><!-- image -->
       <img class="block" id="u981_img" src="{% static 'images/newsletter/arrow.png' %}" alt="" width="7" height="11"/>
      </div>
      <div class="clip_frame colelem" id="u987"><!-- image -->
       <img class="block" id="u987_img" src="{% static 'images/newsletter/arrow.png' %}" alt="" width="7" height="11"/>
      </div>
      <div class="clip_frame colelem" id="u993"><!-- image -->
       <img class="block" id="u993_img" src="{% static 'images/newsletter/arrow.png' %}" alt="" width="7" height="11"/>
      </div>
     </div>
     <div class="clearfix grpelem" id="u971-10"><!-- content -->
      <p>What does the advertiser / CSR want to track as conversion? Sale, sign up, downloads etc.</p>
      <p>Code placement assisted via screen-sharing</p>
      <p>Requirements: Advertiser to have access to the CMS (backend of the website)</p>
      <p>30 mins - 1 hour of time</p>
     </div>
    </div>
    <div class="clearfix colelem" id="pu1000"><!-- group -->
     <div class="clip_frame grpelem" id="u1000"><!-- image -->
      <img class="block" id="u1000_img" src="{% static 'images/newsletter/arrow.png' %}" src="images/newsletter/bullet.png" alt="" width="12" height="12"/>
     </div>
     <div class="clearfix grpelem" id="u1003-4"><!-- content -->
      <p>Additional notes: if there are specific customization requests of code basis CMS or advertiser requirement</p>
     </div>
    </div>
    <div class="clip_frame colelem" id="u1007"><!-- image -->
     <img class="block" id="u1007_img" src="{% static 'images/newsletter/lines.png' %}" alt="" width="960" height="6"/>
    </div>
    <div class="clearfix colelem" id="u1012-4"><!-- content -->
     <p>FAQ</p>
    </div>
    <div class="clearfix colelem" id="pu1025"><!-- group -->
     <div class="clip_frame grpelem" id="u1025"><!-- image -->
      <img class="block" id="u1025_img" src="{% static 'images/newsletter/clip1.png' %}" alt="" width="45" height="45"/>
     </div>
     <div class="clearfix grpelem" id="u1013-4"><!-- content -->
      <p>What is the best way to transfer leads for maximum success?</p>
     </div>
    </div>
    <div class="colelem" id="pu1016"><!-- inclusion -->
     <div id="u1016"><!-- simple frame --></div>
     <div class="clearfix" id="pu1019"><!-- group -->
      <div class="clip_frame grpelem" id="u1019"><!-- image -->
       <img class="block" id="u1019_img" src="{% static 'images/newsletter/bullet.png' %}" alt="" width="12" height="12"/>
      </div>
      <div class="clearfix grpelem" id="pu1015-4"><!-- column -->
       <div class="clearfix colelem" id="u1015-4"><!-- content -->
        <p>Live Transfers:</p>
       </div>
       <div class="clearfix colelem" id="pu1022"><!-- group -->
        <div class="clip_frame grpelem" id="u1022"><!-- image -->
         <img class="block" id="u1022_img" src="{% static 'images/newsletter/arrow.png' %}" alt="" width="7" height="11"/>
        </div>
        <div class="clearfix grpelem" id="u1018-4"><!-- content -->
         <p>Post your consultation, if the advertiser has shown interest in implementing conversion tracking, transfer the call to our rep and fill out the form with basic details immediately. (Contact number, advertiser name, website, tag requested - CT, RM)</p>
        </div>
       </div>
      </div>
     </div>
    </div>
    <div class="clearfix colelem" id="pu1054"><!-- group -->
     <div class="clip_frame grpelem" id="u1054"><!-- image -->
      <img class="block" id="u1054_img" src="{% static 'images/newsletter/clip2.png' %}" alt="" width="44" height="45"/>
     </div>
     <div class="clearfix grpelem" id="u1053-4"><!-- content -->
      <p>Is it OK to pitch GA Conversion Tracking if the advertiser doesn't have Google Analytics?</p>
     </div>
    </div>
    <div class="colelem" id="pu1045"><!-- inclusion -->
     <div id="u1045"><!-- simple frame --></div>
     <div class="clearfix" id="ppu1046"><!-- group -->
      <div class="clearfix grpelem" id="pu1046"><!-- column -->
       <div class="clip_frame colelem" id="u1046"><!-- image -->
        <img class="block" id="u1046_img" src="{% static 'images/newsletter/bullet.png' %}" alt="" width="12" height="12"/>
       </div>
       <div class="clip_frame colelem" id="u1064"><!-- image -->
        <img class="block" id="u1064_img" src="{% static 'images/newsletter/bullet.png' %}" alt="" width="12" height="12"/>
       </div>
      </div>
      <div class="clearfix grpelem" id="u1052-9"><!-- content -->
       <p>Absolutely! We will implement Google Analytics code at first and setup the goals and conversion tracking accordingly.</p>
       <p>&nbsp;</p>
       <p>Note: Ideally, it will be great if the advertiser has already setup their GA account and have the tags ready.</p>
       <p>It saves time for us to set it up during the call and retrieve the code.</p>
      </div>
     </div>
    </div>
    <div class="clearfix colelem" id="pu1088"><!-- group -->
     <div class="clip_frame grpelem" id="u1088"><!-- image -->
      <img class="block" id="u1088_img" src="{% static 'images/newsletter/clip3.png' %}" alt="" width="44" height="43"/>
     </div>
     <div class="clearfix grpelem" id="u1087-4"><!-- content -->
      <p>What can cause a delay in implementation?</p>
     </div>
    </div>
    <div class="clearfix colelem" id="ppu1080"><!-- group -->
     <div class="grpelem" id="pu1080"><!-- inclusion -->
      <div id="u1080"><!-- simple frame --></div>
      <div class="clearfix" id="ppu1084"><!-- column -->
       <div class="clearfix colelem" id="pu1084"><!-- group -->
        <div class="clip_frame grpelem" id="u1084"><!-- image -->
         <img class="block" id="u1084_img" src="{% static 'images/newsletter/bullet.png' %}" alt="" width="12" height="12"/>
        </div>
        <div class="clearfix grpelem" id="u1079-4"><!-- content -->
         <p>Beyond Agent’s Control:</p>
        </div>
       </div>
       <div class="clip_frame colelem" id="u1099"><!-- image -->
        <img class="block" id="u1099_img" src="{% static 'images/newsletter/arrow.png' %}" alt="" width="7" height="11"/>
       </div>
       <div class="clip_frame colelem" id="u1106"><!-- image -->
        <img class="block" id="u1106_img" src="{% static 'images/newsletter/arrow.png' %}" alt="" width="7" height="11"/>
       </div>
       <div class="clip_frame colelem" id="u1112"><!-- image -->
        <img class="block" id="u1112_img" src="{% static 'images/newsletter/arrow.png' %}" alt="" width="7" height="11"/>
       </div>
       <div class="clip_frame colelem" id="u1118"><!-- image -->
        <img class="block" id="u1118_img" src="{% static 'images/newsletter/arrow.png' %}" alt="" width="7" height="11"/>
       </div>
       <div class="clip_frame colelem" id="u1124"><!-- image -->
        <img class="block" id="u1124_img" src="{% static 'images/newsletter/arrow.png' %}" alt="" width="7" height="11"/>
       </div>
       <div class="clearfix colelem" id="pu1131"><!-- group -->
        <div class="clip_frame grpelem" id="u1131"><!-- image -->
         <img class="block" id="u1131_img" src="{% static 'images/newsletter/bullet.png' %}" alt="" width="12" height="12"/>
        </div>
        <div class="clearfix grpelem" id="u1134-4"><!-- content -->
         <p>Under Agent’s control</p>
        </div>
       </div>
       <div class="clearfix colelem" id="pu1139"><!-- group -->
        <div class="clip_frame grpelem" id="u1139"><!-- image -->
         <img class="block" id="u1139_img" src="{% static 'images/newsletter/arrow.png' %}" alt="" width="7" height="11"/>
        </div>
        <div class="clearfix grpelem" id="u1142-4"><!-- content -->
         <p>Missed appointments due to oversight or previous call running over (Fixes put in place to counter this issue)</p>
        </div>
       </div>
      </div>
     </div>
     <div class="clearfix grpelem" id="u1102-17"><!-- content -->
      <p>If the advertiser not reachable</p>
      <p>&nbsp;</p>
      <p>If the advertiser does not have the time to implement</p>
      <p>&nbsp;</p>
      <p>If the advertiser does not have the login credentials (to the CMS or Adwords) required</p>
      <p>&nbsp;</p>
      <p>If the advertiser shares details of webmaster for implementation (The implementation now depends on the availability of the webmaster)</p>
      <p>&nbsp;</p>
      <p>In case of technically complexity: Needs more research / time / troubleshooting (more than 2 appointments required to close case)</p>
      <p id="u1102-15">&nbsp;</p>
     </div>
    </div>
    <div class="clearfix colelem" id="pu1148"><!-- group -->
     <div class="clip_frame grpelem" id="u1148"><!-- image -->
      <img class="block" id="u1148_img" src="{% static 'images/newsletter/clip4.png' %}" alt="" width="44" height="43"/>
     </div>
     <div class="clearfix grpelem" id="u1147-4"><!-- content -->
      <p>If I have more questions, whom do I contact?</p>
     </div>
    </div>
    <div class="clearfix colelem" id="pu1172"><!-- group -->
     <div class="clip_frame grpelem" id="u1172"><!-- image -->
      <img class="block" id="u1172_img" src="{% static 'images/newsletter/bullet.png' %}" alt="" width="12" height="12"/>
     </div>
     <div class="clearfix grpelem" id="u1158-4"><!-- content -->
      <p>For TAG</p>
     </div>
     <div class="clearfix grpelem" id="u1160-8"><!-- content -->
      <p>darshankarthik@ / tabish@</p>
     </div>
    </div>
    <div class="clearfix colelem" id="pu1178"><!-- group -->
     <div class="clip_frame grpelem" id="u1178"><!-- image -->
      <img class="block" id="u1178_img" src="{% static 'images/newsletter/bullet.png' %}" alt="" width="12" height="12"/>
     </div>
     <div class="clearfix grpelem" id="u1163-4"><!-- content -->
      <p>For Google Shopping Setup</p>
     </div>
     <div class="clearfix grpelem" id="u1164-6"><!-- content -->
      <p>sureshkamat@ / tabish@</p>
     </div>
    </div>
    <div class="browser_width colelem" id="u1189-bw">
     <div id="u1189"><!-- group -->
      <div class="clearfix" id="u1189_align_to_page">
       <div class="clearfix grpelem" id="u1191-4"><!-- content -->
        <p>2014 Regalix.inc</p>
       </div>
       <div class="clearfix grpelem" id="u1193-4"><!-- content -->
        <p>Note: For Internal Circulation Only</p>
       </div>
      </div>
     </div>
    </div>
    <div class="verticalspacer"></div>
   </div>
  </div>
   </body>
</html>
