{% extends 'layouts/main.html' %}

{% load staticfiles %}

{% block title %}
	Lead Form
{% endblock title %}

{% block main_css %}
  <link rel="stylesheet" href="http://code.jquery.com/ui/1.11.2/themes/smoothness/jquery-ui.css">
{% endblock main_css %}

{% block content %}
<section class="content-region inner-page">
  <div class="container-fluid">
  <h1>Submit Lead</h1>
    {% if poc_details %}
      <div class="lead-form agents-form-selection" id="agency_bulk_upload">
              <!-- <div class="table-container" style="float:left;">
                <form action="{% url 'leads.views.download_agency_csv' %}">
                  <input type="submit" class="btn std-btn sm-btn" value="Download CSV format">
                </form>
              </div>
            <div class="table-container" style="float:left;">
                {% if not data %}
                <form method="post" enctype="multipart/form-data">
                  {% csrf_token %}
                    <label style="float:left;"> Select CSV file to upload: </label>
                    <input type="file" name="csvfile" id="csvfile" style="float:left;">
                    <input type="submit" class="btn std-btn sm-btn" value="Upload CSV" name="submit" style="float:left;">
                  </form>
                  {% endif %}
            </div> -->
               <!-- google rep info -->
                <form class="lead-form" id="agentAppointmentContent">
                    <div class="std-sub-title">Google Rep Info</div>
                    <div class="row">
                      <div class="col-md-4">
                        <input type="text" class="form-control" id="gref" name="gref" placeholder="Google Rep Name" value='{{ user.get_full_name }}'>
                      </div>
                      <div class="col-md-4">
                        <input type="email" class="form-control" id="emailref" name="emailref" placeholder="Google Rep Email" value="{{ user.email }}">
                      </div>
                      <div class="col-md-4">
                        <select class="form-control bgicon" id="team" title="Program Name" name="team">
                          <option value="">Program name</option>
                          {% for team in teams %}
                            <option value='{{team.team_name}}'>{{team.team_name}}</option>
                          {% endfor %}
                        </select>
                      </div>
                    </div>
                 <div class="row">
                      <div class="col-md-4">
                        <input type="text" class="form-control" name="manager_name" id="manager_name" placeholder="Manager Name" value="{{user.profile.user_manager_name}}">
                      </div>
                      <div class="col-md-4">
                        <input type="email" class="form-control" name="manager_email" id="manager_email" placeholder="Manager Email" value="{{user.profile.user_manager_email}}">
                      </div>
                      <div class="col-md-4">
                        <select class="form-control bgicon" onchange="changetime(this);" id="country" title="Program Location" name="country">
                          <option value="0">Market Served</option>
                          {% for loc in locations %}
                            <option value="{{loc.name}}" location_id="{{loc.id}}">{{loc.name}}</option>
                          {% endfor %}
                        </select>
                      </div>
                    </div>
                <div class="bg_custom">
                   <div class="form-heading">Will end customers be involved in the implementation process, or will we only be working with the Agency?</div>
                    <div class="checkbox web-access">
                      <input type="radio" name="agency" id="agency" value="agency">
                      <span style="padding-right:2.5%;"> Agency </span>
                      <input type="radio" name="end_customer" id="end_customer" value="End Customer">
                      <span style="padding-right:2.5%;">End Customer</span>
                    </div>
                  <div class="form-heading">Will the same task be implemented across different CID or will it be different tasks?</div>
                  <div>
                     <input type="radio" name="same_task" value="same-task" id="same_task">
                     <span style="padding-right:2.5%;"> Same task</span>
                      <input type="radio" name="diff_task" id="diff_task" value="Different-task">
                      <span style="padding-right:2.5%;">Different tasks </span>
                  </div>
                </div>
                <br />
                <div class="form-heading">Set Appointment</div>
                 <div class="row">
                 <div class="col-md-4">
                    <select title="Time Zone" class="form-control" id="tzone" name="tzone">
                      <option value="">Select Time Zone</option>
                    </select>
                  </div>
                  <div class="col-md-4">
                    <input type="text" class="form-control" id="tag_contact_person_name" name="tag_contact_person_name" placeholder="Contact Person Name">
                  </div>
                  <div class="col-md-4">
                    <input type="text" class="form-control" id="tag_datepick" process_type='TAG' placeholder="MM/DD/YYYY hh:mm AM/PM" name="tag_datepick" autocomplete='off'>
                  </div>
                </div>
               
                 <div class="std-sub-title">Agency Conatct Info</div>
                 <div class="row">
                      <div class="col-md-4">
                        <input type="text" class="form-control" id="agency_name" name="agency_name" placeholder="Agency Name">
                      </div>
                      <div class="col-md-4">
                        <input type="email" class="form-control" id="agency_email" name="agency_email" placeholder="Email">
                      </div>
                      <div class="col-md-4">
                        <input type="text" class="form-control" id="agency_phone" name="agency_phone" placeholder="Telephone">
                      </div>

                    </div>
                 <div id="lead0">
                  <div class="std-sub-title">Lead Details</div>
                <div class="row">
                  <div class="col-md-4">
                    <select title="Code Type" class="form-control bgicon" name="ctype1" id="ctype1">
                      <option value="">Select Code Type</option>
                      {% for c_type in code_types %}
                        <option value="{{c_type.name}}">{{c_type.name}}</option>
                      {% endfor %}
                    </select>
                  </div>
                </div>
                <div class="row fixallit" id="addedRowss"></div>

                  <!-- ################### Code Type 1 ############################### -->
                  <div class="row " id="rowIdd">
                    <div class="col-md-2 customwidth custom2">
                       <input type="text" class="form-control" id="cid1" name="cid" placeholder="CID">
                    </div>
                    <div class="col-md-2 customwidth">
                       <input type="text" class="form-control" id="url1" name="url1" placeholder="URL">
                    </div>
                    <div class="col-md-2 customwidth">
                       <input type="text" class="form-control" id="code1" name="code1" placeholder="Code (Optional)">
                    </div>
                    <div class="col-md-2 customwidth">
                       <input type="text" class="form-control" id="comment1" name="comment1" placeholder="Special Instruction (Optional)">
                    </div>
                    
                    <div class="col-md-2 customwidthplus allcenter">
                    <span  onclick="addMoreRowss(this.form);"><img src="{% static 'images/plus.png' %}" class="img-responsive plusicon"></span>
                    </div>
                  </div>
                  <!-- ################### Code Type 1 ############################### -->

                </div>  
                <div id="lead1">  
                <div class="std-sub-title" >Lead Details</div>
                  <div class="row fixallit" id="addedRows"></div>
                  <div class="row" id="rowId">
                    <div class="col-md-2  customwidth custom2">
                       <select class="form-control bgicon" id="CodeTypes" >
                              
                        </select>
                    </div>
                    <div class="col-md-2 customwidth">
                       <input type="text" class="form-control" id="" placeholder="Field Label">
                    </div>
                    <div class="col-md-2 customwidth">
                       <input type="text" class="form-control" id="" placeholder="Field Label">
                    </div>
                    <div class="col-md-2 customwidth">
                       <input type="text" class="form-control" id="" placeholder="Field Label">
                    </div>
                    <div class="col-md-2 customwidth">
                       <input type="text" class="form-control" id="" placeholder="Field Label">
                    </div>
                    <div class="col-md-2 allcenter customwidthplus">
                    <span onclick="addMoreRows(this.form);"><img src="{% static 'images/plus.png' %}" class="img-responsive plusicon"></span>
                    </div>
                  </div>
                </div>  
                </form>
              
                <form class="lead-form" id="defaultLeadForm">
                 <div class="std-sub-title shopping-policies">Upload a CSV if there are more leads!
                    <div class="checkbox">
                      <button class="btn std-btn fileUpload"><span>BROWSE</span><input type="file" class="upload" id="" ></button>
                    </div>
                  </div>
                  <div class="btns text-center">
                    <div class="btn-group">
                      <button class="btn std-btn">Submit</button>
                      <button class="btn std-btn grayed">Reset</button>
                    </div>
                  </div>
                </form>
              
              </div>
            </section>

            {% if data %}
            <div class="row table-container" style="width:800px !important">
                  <form method="post" id="bulkForm" name="buklForm" action="{% url 'leads.views.agent_bulk_upload' agency_name pid %}">
                    <input type="hidden" value="/wEPDwUKMTQ5MDIxNjIyMmRkkaquz41PfskY4KKZFRwNmxGTj9E=" id="__VIEWSTATE" name="__VIEWSTATE">
                    <input type="hidden" name="oid" value="00DZ000000MipUa">
                      <input type="hidden" value="{{poc_details.agency.google_rep.id}}" name="google_rep_id" id="google_rep_id">
                      <input type="hidden" value="{{poc_details.id}}" name="poc_id" id="poc_id">
                      <table style="width:100%" class="csv-table">
                      <tr>
                        <th width="100px">Google Rep Name</th>
                        <th width="80px">Customer ID</th>
                        <th>Code Type</th>
                        <th>URL</th>
                        <th>Location</th>
                        <th>Timezone</th>
                        <th>Agency Contact Name</th>
                        <th>Agency Contact phone</th>
                        <th>Agency Contact Email</th>
                        <th>Special Instructions</th>
                      </tr>
                      {% for rec in data %}
                      <tr class="leads">
                        <td><input type="text" value="{{poc_details.agency.google_rep.first_name}} {{poc_details.agency.google_rep.last_name}}" name="rep_name_{{forloop.counter}}" id="rep_name_{{forloop.counter}}"></td>
                        <td><input type="text" value="{{rec.customer_id }}" name="customer_id_{{forloop.counter}}" id="customer_id_{{forloop.counter}}"></td>

                        <td>
                          <select name="code_type_{{forloop.counter}}" id="code_type_{{forloop.counter}}">
                              <option value="">Choose an Code type</option>
                            {% for type in code_types %}
                              {% if rec.code_type == type %}
                                <option value="{{rec.code_type}}" selected>{{type}}</option>
                              {% else %}
                                <option value="{{type}}">{{type}}</option>
                              {% endif %}
                            {% endfor %}
                          </select>
                        </td>
                        <td><input type="text" value="{{rec.url}}" name="url_{{forloop.counter}}" id="url_{{forloop.counter}}"></td>

                        <td>
                          <select name="location_{{forloop.counter}}" id="location_{{forloop.counter}}" class="location">
                              <option value="">Market Served</option>
                            {% for loc in locations %}
                              {% if loc.id == poc_details.agency.location_id %}
                                <option value="{{loc.name}}" selected>{{loc.name}}</option>
                              {% else %}
                                <option value="{{loc.name}}">{{loc.name}}</option>
                              {% endif %}
                            {% endfor %}
                          </select>
                        </td>

                        <td>
                          <select name="timezone_{{forloop.counter}}" id="timezone_{{forloop.counter}}">
                              <option value="{{poc_details.agency.timezone.zone_name}}">{{poc_details.agency.timezone.zone_name}}</option>
                          </select>
                        </td>

                        <td>
                          <input type="text" value="{{poc_details.contact_person}}" name="agency_name_{{forloop.counter}}" id="agency_name_{{forloop.counter}}">
                        </td>

                        <td>
                          <input type="text" value="{{poc_details.contact_phone}}" name="agency_phone_{{forloop.counter}}" id="agency_phone_{{forloop.counter}}">
                        </td>

                        <td>
                          <input type="text" value="{{poc_details.contact_email}}" name="agency_email_{{forloop.counter}}" id="agency_email_{{forloop.counter}}">
                        </td>

                        <td><input type="textarea" value="{{rec.special_instructions}}" name="special_instructions_{{forloop.counter}}" id="special_instructions_{{forloop.counter}}"></td>
                      </tr>
                      {% endfor %}
                      {% for indx in remaining %}
                          <tr class="leads snew-tr" id="tr_{{indx}}" style="display:none;">
                            <td><input type="text" value="" name="rep_name_{{indx}}" id="rep_name_{{indx}}"></td>
                            <td><input type="text" value="" name="customer_id_{{indx}}" id="customer_id_{{indx}}"></td>

                            <td>
                              <select name="location_{{indx}}" id="location_{{indx}}" class="location">
                                  <option value="">Choose an Location</option>
                                {% for loc in locations %}
                                    <option value="{{loc.name}}">{{loc.name}}</option>
                                {% endfor %}
                              </select>
                            </td>

                            <td>
                              <select name="timezone_{{indx}}" id="timezone_{{indx}}" class="timezone">
                              </select>
                            </td>

                            <td>
                              <input type="text" value="" name="agency_name_{{indx}}" id="agency_name_{{indx}}">
                            </td>

                            <td>
                              <input type="text" value="" name="agency_phone_{{indx}}" id="agency_phone_{{indx}}">
                            </td>

                            <td>
                              <input type="text" value="" name="agency_email_{{indx}}" id="agency_email_{{indx}}">
                            </td>

                            <td>
                              <select name="code_type_{{indx}}" id="code_type_{{indx}}">
                                  <option value="">Choose an Code type</option>
                                {% for type in code_types %}
                                    <option value="{{type}}">{{type}}</option>
                                {% endfor %}
                              </select>
                            </td>
                            <td><input type="text" value="" name="url_{{indx}}" id="url_{{indx}}"></td>
                            <td><input type="textarea" value="" name="special_instructions_{{indx}}" id="special_instructions_{{indx}}"></td>
                          </tr>
                      {% endfor %}
                      <tr><td colspan="10"><a href="javascript:void(0);" class="addMore" id="addMore_{{data|length}}">Add new</a><td></tr>
                      <input type="hidden" value="{{data|length}}" name="paramcounts" id="paramcounts">
                  </table>
                <div class="row" style="margin-top:20px">
                  <input type="submit" value="Submit" class="btn std-btn sm-btn">
                </div>
            </form>
          </div>
       {% endif %}
      </div>
    {% else %}
        <div class="row">No Agencies found!</div>
    {% endif %}
    </div>
</div>
</section>
{% endblock content %}

{% block main_js %}
{% include 'leads/timezone.html' %}
<script src="{% static 'js/jquery-ui.js' %}"></script>
 <script type="text/javascript">

 $(document).ready(function(){
    var loc_length = $(".location").length;
    for(i=1; i<=loc_length; i++){
      locElem = "#location_" + i;
      val = $(locElem).val();
      if(val){
        getTimezones(val, i);
      }
    }
 });

    $(".addMore").click(function(){
        var thisid = $(this).attr('id')
        var indx = thisid.split('_')[1]
        var elm = thisid.split('_')[0]
        idx = parseInt(indx) + 1;
        $("#tr_"+idx).show();
        next_id = parseInt(indx) + 1;
        $(this).attr('id', elm + '_'+ next_id)
    });

    $("#bulkForm").submit(function(event){
        $(".error-txt").remove();
        $(".lead-form .form-control").removeClass('error-box');
        var check = /^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$/;
        var cidFormat = /^\d{3}-\d{3}-\d{4}$/;
        var phoneFormat = /^\(?([0-9]{3})\)?[-. ]?([0-9]{3})[-. ]?([0-9]{4})$/;
        var numericExpression = /^[0-9]+$/;

        window.is_error = false;
        var row_len = $(".csv-table .leads:visible").length;

        for(i=1; i<=row_len; i++){
          rep_name = document.getElementById('rep_name_'+ i);
          validateFiled(rep_name);
          cid = document.getElementById('customer_id_' + i);
          validateFiled(cid)
          loc = document.getElementById('location_' + i);
          validateFiled(loc)
          timezone = document.getElementById('timezone_' + i);
          validateFiled(timezone)
          agency_name = document.getElementById('agency_name_' + i);
          validateFiled(agency_name)
          agency_phone = document.getElementById('agency_phone_' + i);
          validateFiled(agency_phone)
          agency_email = document.getElementById('agency_email_' + i);
          validateFiled(agency_email)
          ctype = document.getElementById('code_type_' + i);
          validateFiled(ctype);
          url = document.getElementById('url_' + i);
          validateFiled(url);
        }
        
        if(window.is_error){
          event.preventDefault();
          return false;
        }else{
          $("#paramcounts").val(row_len);
        }
      });

    function validateFiled(elem){
      console.log($(elem).val());
      // Google Manager details validation
        if ($(elem).val() == "" || $(elem).val() == "0" || !$(elem).val()) {
          $(elem).addClass('error-box');
          $(elem).focus();
          window.is_error = true;
          return false;
        }
    }
$('.location').change(function(){
    
    var loc = $(this).val();
    var id = $(this).attr('id')
    var index = id.split('_')[1]
    $("#timezone_"+index+"").empty();
    if(loc){
      getTimezones(loc, index);
    }

  });

  function getTimezones(loc_name, index){
  if(loc_name==''){
    console.log(loc_name);
  }else{
     $.ajax({
          url: "/leads/get-timezones",
          dataType: "json",
          type: 'GET',
          data: {'loc_name': loc_name},
          success: function(data) {
              console.log(data);
              displayTimezones(data, index);
          },
          error: function(errorThrown) {
              console.log('failure');
          }
        }); 
   }
}

function displayTimezones(timezones, index){
  $("#timezone_"+index).html("");
  for( i=0; i<timezones.length; i++){
      var id = timezones[i]['id'];
      var time = timezones[i]['time'];
      $("#timezone_"+index).append('<option value="' + id + '">' + time + '</option>');
  }
}


// ********************* Agency Bulk upload new form functionality ********************* //


// ********************* Agency Bulk upload new form functionality ********************* //
</script>
{% endblock main_js %}