{% extends 'layouts/main.html' %}

{% load staticfiles %}

{% block title %}
  Batch Lead Form
{% endblock title %}
{% block main_css %}
  <style type="text/css">
    .shopping-policies .subitems li{
      list-style: none;
    }
  </style>
{% endblock main_css %}

{% block content %}
<section class="content-region inner-page">
  <div class="container-fluid">
  <h1>Submit Batch Lead</h1>
 
  <form class="lead-form" id="ctl00" onsubmit="return validatethis(this);" method="POST">
    <input type="hidden" value="{{request.META.HTTP_HOST}}{% url 'leads.views.thankyou' %}?n=2" name="retURL">
    <input type="hidden" value="{{request.META.HTTP_HOST}}{% url 'leads.views.lead_error' %}?n=2" name="errorURL">
    <input type="hidden" name="oid" value="00DZ000000MipUa">
    <input type="hidden" id="campid" name="Campaign_ID" value="None">
    <input type="hidden" id="change_lead_owner" name="change_lead_owner" value="1">
    <input type="hidden" id="lead_type" name="lead_type" value="Bundle Lead">

    <input type="hidden" value="/wEPDwUKMTQ5MDIxNjIyMmRkkaquz41PfskY4KKZFRwNmxGTj9E=" id="__VIEWSTATE" name="__VIEWSTATE">
    <div class="std-sub-title">Google Rep Information</div>
    <div class="row">
      <div class="col-md-4">
        <label for="gref">Google Rep Name</label>
        <!-- <input  id="first_name" maxlength="40" name="first_name" size="20" type="text" /> -->
        <input type="text" class="form-control" id="gref" name="gref" placeholder="Google Rep Name" value='{{ user.get_full_name }}'>
      </div>
      <div class="col-md-4">
        <label for="emailref">Google Rep Email</label>
        <input type="email" class="form-control" id="emailref" name="emailref" placeholder="Google Rep Email" value="{{ user.email }}">
      </div>
      <div class="col-md-4">
        <label for="team">Program name</label>
        <select class="form-control bgicon" id="team" title="Program Name" name="team">
          <option value="">Program name</option>
          {% for team in teams %}
            <option value='{{team.team_name}}'>{{team.team_name}}</option>
          {% endfor %}
        </select>
        <!-- <input type="text" id="team" class="form-control" title="Program Name"> -->
      </div>
      <div class="col-md-4 tr_service_segment"></div>
      <div class="col-md-4 tr_service_segment"></div>
      <div class="col-md-4 tr_service_segment">
        <label for="service_segment">Service Segment</label>
          <select id="service_segment" title="service_segment" class="form-control bgicon" name="service_segment">
              <option value="">Service Segment</option>
              <option value="SBA">SBA</option>
              <option value="HPA">HPA</option>
              <option value="HPA+">HPA+</option>
          </select>
          <!-- <div class="col-md-4" style="display:none" id='GCaseId'> -->
            <!-- <label for="g_case_id">Google Cases-ID</label> -->
            <input type="text" class="form-control" id="g_cases_id" name="g_cases_id" title="G Case ID" placeholder="G Case ID (x-xxxxxxxxxxxxx)" value="">
        <!-- </div> -->
      </div>
      <div class="col-md-4">
        <label for="manager_name">Manager Name</label>
        <input type="text" class="form-control" name="manager_name" id="manager_name" placeholder="Manager Name" value="{{user.profile.user_manager_name}}">
      </div>
      <div class="col-md-4">
        <label for="manager_email">Manager Email</label>
        <input type="email" class="form-control" name="manager_email" id="manager_email" placeholder="Manager Email" value="{{user.profile.user_manager_email}}">
      </div>
      <div class="col-md-4">
        <label for="country">Google Rep Location</label>
          <input type="text" class="form-control" id="rep_location" name="rep_location" value="" placeholder="Enter Rep Location" autocomplete="off">
      </div>
    </div>
    <div class="std-sub-title">Advertiser Info</div>
    <div class="row">
        <div class="col-md-4">
          <input type="text" class="form-control" id="advertiser_name" name="advertiser_name" placeholder="Advertiser Name">
        </div>
        <div class="col-md-4">
          <input type="email" class="form-control" id="aemail" name="aemail" placeholder="Advertiser Email">
        </div>
        <div class="col-md-4">
          <input type="tel" class="form-control" id="phone" name="phone" placeholder="Advertiser Telephone">
        </div>
        <div class="col-md-4">
          <input type="text" class="form-control" id="company" name="company" placeholder="Company Name">
        </div>
        <div class="col-md-4">
          <input type="text" class="form-control" id="cid" maxlength="255" name="cid" placeholder="Customer ID (xxx-xxx-xxxx)">
        </div>
        <div class="col-md-4">
        <select class="form-control bgicon" id="region" title="Program Region" name="region">
          <option value="0">Region</option>
          {% for rgn in regions %}
            <option value="{{rgn.name}}" region_id="{{rgn.id}}">{{rgn.name}}</option>
          {% endfor %}
        </select>
      </div>
        <div class="col-md-4">
          <select class="form-control bgicon" onchange="changetime(this);" id="country" title="Program Location" name="country">
            <option value="0">Market Served</option>
            {% for loc in locations %}
              <option value="{{loc.name}}" location_id="{{loc.id}}">{{loc.name}}</option>
            {% endfor %}
          </select>
        </div>
        <div class="col-md-4" id='tr_language'>
          <select class="form-control bgicon" id="language" title="language" name="language">
            <option value="">Select Language</option>
          </select>
        </div>
        <div class="col-md-4">
          <select title="Time Zone" class="form-control bgicon" id="tzone" name="tzone">
            <option value="">Select Time Zone</option>
          </select>
        </div>
        <!-- <div class="col-md-4">
            <input type="text" class="form-control" id="advertiser_location" name="advertiser_location" placeholder="Enter Advertiser Location" autocomplete="off">
        </div> -->
    </div>
    <div class="webmasterCheck">        
      <div class="form-heading">Does the advertiser have web access or a Webmaster?</div>
      <div class="checkbox web-access">
            <label>
              <input type="radio" value="" name="web_access" id="web_access">
              Web Access
            </label>
            <label>
              <input id="webmasterCheck" type="radio" name="webmasterCheck" value="">
              Webmaster
            </label>
      </div>
      <div id="webmaster" class="row" style="display:none;">
        <div class="col-md-4">
          <input type="text" class="form-control" id="webmaster_name" name="webmaster_name" placeholder="Webmaster Name">
          <input type="hidden" class="form-control" id="lopt" name="lopt">
        </div>
        <div class="col-md-4">
          <input type="text" class="form-control" id="web_master_email" name="web_master_email" placeholder="Webmaster Email">
        </div>
        <div class="col-md-4">
           <input type="text" class="form-control" id="popt" name="popt" placeholder="888-888-8888">
        </div>
      </div>
    </div>
    <input type="hidden" class="form-control" id="is_tag_lead" name="is_tag_lead" value="no">
    <input type="hidden" class="form-control" id="is_shopping_lead" name="is_shopping_lead" value="no">
    <div class="tasks" id="bundles">
        <div class="task" id="bundle_1">
          <div class="std-sub-title">Choose upto 3 tasks</div>
          <div class="row">

              <!--  Bundle Codetype 1 -->
              <div class="col-md-4">
                <select title="Task Type" class="form-control ctype bgicon" name="ctype1" id="ctype1">
                  <option value="">Select Task Type</option>
                  {% for c_type in code_types %}
                    <option value="{{c_type.name}}" id="ctype1_{{c_type.id}}">{{c_type.name}}</option>
                  {% endfor %}
                  <option value="Google Shopping Setup" id="ctype1_Google-Shopping-Setup">Google Shopping Setup</option>
                </select>

                <div id="gasetup1" style="display:none;">
                <div class="checkbox">
                  <label class="lbl">
                    <input id="ga_setup1" type="checkbox" name="ga_setup1" value="0" class="is_ga_setup">
                    Is there an existing Analytics account? </label>
                </div>
              </div>
              <div id="analyticscode1" style="display:none;">
                <input class="form-control" id="analytics_code1" name="analytics_code1" placeholder="Analytics account ID"></input>
              </div>
                <div id='ctype1_campaign' style="display:none">
                  <div class="checkbox">
                    <label class="lbl">
                      <input type="checkbox" value="0" name="is_campaign_created1" id="is_campaign_created1">
                      Is the campaign created with a min budget >$30?
                    </label>
                  </div>
                  <input id="rbid_campaign1" name="rbid_campaign1" class="form-control" type="text" placeholder="Recommended Bid">
                  <input type="text" id="rbudget_campaign1" class="form-control" name="rbudget_campaign1" placeholder="Budget">
                </div>

                <div id='ctype1_shopping' style="display:none;">
                  <input id="rbid1" name="rbid1" class="form-control" type="text" placeholder="Recommended Bid">
                  <input id="rbidmodifier1" name="rbidmodifier1" class="form-control" type="text" placeholder="Recommended Mobile Bid Modifier">
                  <input type="text" id="rbudget1" class="form-control" name="rbudget1" placeholder="Budget">
                  <div class="checkbox">
                    <label class="lbl">
                      <input type="checkbox" value="0" name="is-mc_id1" id="is-mc_id1" class="is_mc_id" checked>
                      Customer has an existing Merchant Center account
                    </label>
                    </div>
                  <input id="mc_id1" name="mc_id1" size="20" class="form-control" type="text" placeholder="MC-ID">
                  <select id="web_client_inventory" name="web_client_inventory" class="form-control" title="Client's Web inventory" style="display:none">
                    <option value="Under 100">Under 100</option>
                  </select>
                </div>

                <input type="text" class="form-control" id="url1" name="url1" placeholder="URL">
                <textarea class="form-control" id="comment1" name="comment1" placeholder="Special Instructions (Optional)"></textarea>

                <div id="callextension1" style="display:none;">
                <div class="checkbox">
                  <label>
                    <input id="call_extension1" type="checkbox" name="call_extension1" value="0" class="call_extension">
                    Created Call Extension </label>
                </div>
              </div>
              <div id="codebehaviour1" style="display:none;">
                <div class="checkbox">
                  <label>
                    <input id="product_behaviour1" type="checkbox" name="product_behaviour1" value="0" class="code_behaviour">
                    Product Behaviour </label>
                </div>
                <div class="checkbox">
                  <label>
                    <input id="cartpage_behaviour1" type="checkbox" name="cartpage_behaviour1" value="0" class="code_behaviour">
                    Cart Page Behaviour </label>
                </div>
                <div class="checkbox">
                  <label>
                    <input id="checkout_process1" type="checkbox" name="checkout_process1" value="0" class="code_behaviour">
                    Check Out Process </label>
                </div>
                <div class="checkbox">
                  <label>
                    <input id="transaction_behaviour1" type="checkbox" name="transaction_behaviour1" value="0" class="code_behaviour">
                    Transaction Behaviour </label>
                </div>
                <div class="checkbox">
                  <label>
                    Implementation time to set up the code for each Behaviour will take apprx. 1  hour
                  </label>
                </div>
              </div>
              <!-- RLSA Bulk Implementation -->
              <div id="rlsa_bulk1" style="display:none;">
                  <input type="text" class="form-control" id="user_list_id1" name="user_list_id1" placeholder="User List ID">
                    <label>This is next to each of the remarketing list in Shared Library, and they should have > 1000 Google Search list users. Note: You can add a list that contains  &nbsp; < 1000 if you are certain that that number will increase eventually.</label>
                    <input type="text" class="form-control" id="internal_cid1" name="internal_cid1" placeholder="Internal Customer ID">
                    <label>The Google AdWords internal customer ID of the Client account that you want us to work on. Do not use the MCC ID.</label>
                    <input type="text" id="rsla_bid_adjustment1" class="form-control" name="rsla_bid_adjustment1" placeholder="RLSA Bid Adjustment">
                    <label>Check PitchIQ or <a href="https://goto.google.com/rlsa-bid-dash" target="_blank">go/rlsa-bid-dash</a> for customer specific recommendations! We recommend at least +40%.</label>
                    <select title="Overwrite existing bid modifiers" class="form-control bgicon" name="overwrite_existing_bid_modifiers1" id="overwrite_existing_bid_modifiers1">
                            <option value="">Overwrite existing bid modifiers</option>
                            <option value="TRUE">TRUE</option>
                            <option value="FALSE">FALSE</option>
                        </select>
                    <label>Should the existing bid modifiers(if any) be overwritten by the value specified herein.</label>
                    <select title="Create new bid modifiers" class="form-control bgicon" name="create_new_bid_modifiers1" id="create_new_bid_modifiers1">
                            <option value="">Create New bid modifiers</option>
                            <option value="TRUE">TRUE</option>
                            <option value="FALSE">FALSE</option>
                    </select>
                    <label>Should there be new bid modifiers created if they aren't specified already.</label>
                    <textarea class="form-control" id="campaign_ids1" name="campaign_ids1" placeholder="Campaign Ids (comma-separated) or 'All'"></textarea>
                    <label>This is next to each of the campaigns on AWICS. Please provide all the search campaigns that you would like us to apply RLSA. eg: 91872638,1298732190 If you want to apply it to all eligible campaigns, then type "All".</label>
                    <div class="checkbox" >
                        <label>
                          <input id="rsla_policies1" type="checkbox" name="rsla_policies1" value="0" class="rlsa_bulk headsup-policies">
                              Have you ensured that the website meets the RLSA policies specified 
                              <a href="https://support.google.com/adwordspolicy/answer/6258407" target="_blank">here?</a>
                        </label>
                    </div>
              </div>
              <!-- End Of RLSA Bulk Implementation -->
                <div class="checkbox">
                  <label>
                    <input id="keep_url" type="checkbox" value="">
                    Check this box if the URL is the same for all task types. </label>
                </div>
              </div>

              <!--  Bundle Codetype 2 -->
              <div class="col-md-4">
                  <select title="Task Type" class="form-control ctype bgicon" name="ctype2" id="ctype2">
                    <option value="">Select Task Type</option>
                    {% for c_type in code_types %}
                      <option value="{{c_type.name}}" id="ctype2_{{c_type.id}}">{{c_type.name}}</option>
                    {% endfor %}
                    <option value="Google Shopping Setup" id="ctype2_Google-Shopping-Setup">Google Shopping Setup</option>
                  </select>

                   <div id="gasetup2" style="display:none;">
                    <div class="checkbox">
                      <label class="lbl">
                        <input id="ga_setup2" type="checkbox" name="ga_setup2" value="0" class="is_ga_setup">
                        Is there an existing Analytics account? </label>
                    </div>
                  </div>
                  <div id="analyticscode2" style="display:none;">
                     <input class="form-control" id="analytics_code2" name="analytics_code2" placeholder="Analytics account ID"></input>
                  </div>

                  <div id='ctype2_campaign' style="display:none">
                  <div class="checkbox">
                    <label class="lbl">
                      <input type="checkbox" value="0" name="is_campaign_created2" id="is_campaign_created2">
                      Is the campaign created with a min budget >$30?
                    </label>
                  </div>
                  <input id="rbid_campaign2" name="rbid_campaign2" class="form-control" type="text" placeholder="Recommended Bid">
                  <input type="text" id="rbudget_campaign2" class="form-control" name="rbudget_campaign2" placeholder="Budget">
                </div>

                  <div id='ctype2_shopping' style="display:none;">
                   <input id="rbid2" name="rbid2" class="form-control" type="text" placeholder="Recommended Bid">
                      <input id="rbidmodifier2" name="rbidmodifier2" class="form-control" type="text" placeholder="Recommended Mobile Bid Modifier">
                      <input type="text" id="rbudget2" class="form-control" name="rbudget2" placeholder="Budget">
                      <div class="checkbox">
                        <label class="lbl">
                          <input type="checkbox" value="0" name="is-mc_id2" id="is-mc_id2" class="is_mc_id" checked>
                          Customer has an existing Merchant Center account
                        </label>
                      </div>
                      <input id="mc_id2" name="mc_id2" size="20" class="form-control" type="text" placeholder="MC-ID">
                      <select id="webinventory2" name="00Nd00000077T9t" class="form-control" title="Client's Web inventory" style="display:none">
                        <option value="Under 100">Under 100</option>
                      </select>
                  </div>

                    <input type="text" class="form-control" id="url2" name="url2" placeholder="URL">
                    <textarea class="form-control" id="comment2" name="comment2" placeholder="Special Instructions (Optional)"></textarea>
                    <div  id="callextension2" style="display:none">
                <div class="checkbox">
                  <label>
                    <input id="call_extension2" type="checkbox" name="call_extension2" value="0" class="call_extension">
                    Created Call Extension </label>
                </div>
              </div>
              <div id="codebehaviour2" style="display:none">
                <div class="checkbox">
                  <label>
                    <input id="product_behaviour2" type="checkbox" name="product_behaviour2" value="0" class="code_behaviour">
                    Product Behaviour </label>
                </div>
                <div class="checkbox">
                  <label>
                    <input id="cartpage_behaviour2" type="checkbox" name="cartpage_behaviour2" value="0" class="code_behaviour">
                    Cart Page Behaviour </label>
                </div>
                <div class="checkbox">
                  <label>
                    <input id="checkout_process2" type="checkbox" name="checkout_process2" value="0" class="code_behaviour">
                    Check Out Process </label>
                </div>
                <div class="checkbox">
                  <label>
                    <input id="transaction_behaviour2" type="checkbox" name="transaction_behaviour2" value="0" class="code_behaviour">
                    Transaction Behaviour </label>
                </div>
                <div class="checkbox">
                  <label>
                    Implementation time to set up the code for each Behaviour will take apprx. 1  hour
                  </label>
                </div>
              </div>
              <!-- RLSA Bulk Implementation -->
              <div id="rlsa_bulk2" style="display:none;">
                  <input type="text" class="form-control" id="user_list_id2" name="user_list_id2" placeholder="User List ID">
                    <label>This is next to each of the remarketing list in Shared Library, and they should have > 1000 Google Search list users. Note: You can add a list that contains  &nbsp; < 1000 if you are certain that that number will increase eventually.</label>
                    <input type="text" class="form-control" id="internal_cid2" name="internal_cid2" placeholder="Internal Customer ID">
                    <label>The Google AdWords internal customer ID of the Client account that you want us to work on. Do not use the MCC ID.</label>
                    <input type="text" id="rsla_bid_adjustment2" class="form-control" name="rsla_bid_adjustment2" placeholder="RLSA Bid Adjustment">
                    <label>Check PitchIQ or <a href="https://goto.google.com/rlsa-bid-dash" target="_blank">go/rlsa-bid-dash</a> for customer specific recommendations! We recommend at least +40%.</label>
                    <select title="Overwrite existing bid modifiers" class="form-control bgicon" name="overwrite_existing_bid_modifiers2" id="overwrite_existing_bid_modifiers2">
                            <option value="">Overwrite existing bid modifiers</option>
                            <option value="TRUE">TRUE</option>
                            <option value="FALSE">FALSE</option>
                        </select>
                    <label>Should the existing bid modifiers(if any) be overwritten by the value specified herein.</label>
                    <select title="Create new bid modifiers" class="form-control bgicon" name="create_new_bid_modifiers2" id="create_new_bid_modifiers2">
                            <option value="">Create New bid modifiers</option>
                            <option value="TRUE">TRUE</option>
                            <option value="FALSE">FALSE</option>
                    </select>
                    <label>Should there be new bid modifiers created if they aren't specified already.</label>
                    <textarea class="form-control" id="campaign_ids2" name="campaign_ids2" placeholder="Campaign Ids (comma-separated) or 'All'"></textarea>
                    <label>This is next to each of the campaigns on AWICS. Please provide all the search campaigns that you would like us to apply RLSA. eg: 91872638,1298732190 If you want to apply it to all eligible campaigns, then type "All".</label>
                    <div class="checkbox" >
                        <label>
                          <input id="rsla_policies2" type="checkbox" name="rsla_policies2" value="0" class="rlsa_bulk headsup-policies">
                              Have you ensured that the website meets the RLSA policies specified 
                              <a href="https://support.google.com/adwordspolicy/answer/6258407" target="_blank">here?</a>
                        </label>
                    </div>
              </div>
              <!-- End Of RLSA Bulk Implementation -->
              </div>

            <!--  Bundle Codetype 3 -->
            <div class="col-md-4">
              <select title="Task Type" class="form-control ctype bgicon" name="ctype3" id="ctype3">
                <option value="">Select Task Type</option>
                {% for c_type in code_types %}
                  <option value="{{c_type.name}}" id="ctype3_{{c_type.id}}">{{c_type.name}}</option>
                {% endfor %}
                <option value="Google Shopping Setup" id="ctype3_Google-Shopping-Setup">Google Shopping Setup</option>
              </select>

                <div id="gasetup3" style="display:none;">
                    <div class="checkbox">
                      <label class="lbl">
                        <input id="ga_setup3" type="checkbox" name="ga_setup3" value="0" class="is_ga_setup">
                        Is there an existing Analytics account? </label>
                    </div>
                  </div>

                <div id="analyticscode3" style="display:none;">
                  <input class="form-control" id="analytics_code3" name="analytics_code3" placeholder="Analytics account ID"></input>
                </div>

              <div id='ctype3_campaign' style="display:none">
                <div class="checkbox">
                  <label class="lbl">
                    <input type="checkbox" value="0" name="is_campaign_created3" id="is_campaign_created3">
                    Is the campaign created with a min budget >$30?
                  </label>
                </div>
                  <input id="rbid_campaign3" name="rbid_campaign3" class="form-control" type="text" placeholder="Recommended Bid">
                  <input type="text" id="rbudget_campaign3" class="form-control" name="rbudget_campaign3" placeholder="Budget">
                </div>

              <div id='ctype3_shopping' style="display:none;">
                <input id="rbid3" name="rbid3" class="form-control" type="text" placeholder="Recommended Bid">
                <input id="rbidmodifier3" name="rbidmodifier3" class="form-control" type="text" placeholder="Recommended Mobile Bid Modifier">
                <input type="text" id="rbudget3" class="form-control" name="rbudget3" placeholder="Budget">
                <div class="checkbox"> 
                  <label class="lbl">
                    <input type="checkbox" value="0" name="is-mc_id3" id="is-mc_id3" class="is_mc_id" checked>
                    Customer has an existing Merchant Center account
                  </label>
                </div>
                <input id="mc_id3" name="mc_id3" size="20" class="form-control" type="text" placeholder="MC-ID">
                  <select id="webinventory3" name="00Nd00000077T9t" class="form-control" title="Client's Web inventory" style="display:none">
                    <option value="Under 100">Under 100</option>
                  </select>
              </div>
                <input type="text" class="form-control" id="url3" name="url3" placeholder="URL">
                <textarea class="form-control" id="comment3" name="comment3" placeholder="Special Instructions (Optional)"></textarea>
               <div id="callextension3" style="display:none">
                <div class="checkbox">
                  <label>
                    <input id="call_extension3" type="checkbox" name="call_extension3" value="0" class="call_extension">
                    Created Call Extension </label>
                </div>
              </div>
              <div id="codebehaviour3" style="display:none">
                <div class="checkbox">
                  <label>
                    <input id="product_behaviour3" type="checkbox" name="product_behaviour3" value="0" class="code_behaviour">
                    Product Behaviour </label>
                </div>
                <div class="checkbox">
                  <label>
                    <input id="cartpage_behaviour3" type="checkbox" name="cartpage_behaviour3" value="0" class="code_behaviour">
                    Cart Page Behaviour </label>
                </div>
                <div class="checkbox">
                  <label>
                    <input id="checkout_process3" type="checkbox" name="checkout_process3" value="0" class="code_behaviour">
                    Check Out Process </label>
                </div>
                <div class="checkbox">
                  <label>
                    <input id="transaction_behaviour3" type="checkbox" name="transaction_behaviour3" value="0" class="code_behaviour">
                    Transaction Behaviour </label>
                </div>
                <div class="checkbox">
                  <label>
                    Implementation time to set up the code for each Behaviour will take apprx. 1  hour
                  </label>
                </div>
              </div>
             <!-- RLSA Bulk Implementation -->
              <div id="rlsa_bulk3" style="display:none;">
                  <input type="text" class="form-control" id="user_list_id3" name="user_list_id3" placeholder="User List ID">
                    <label>This is next to each of the remarketing list in Shared Library, and they should have > 1000 Google Search list users. Note: You can add a list that contains  &nbsp; < 1000 if you are certain that that number will increase eventually.</label>
                    <input type="text" class="form-control" id="internal_cid3" name="internal_cid3" placeholder="Internal Customer ID">
                    <label>The Google AdWords internal customer ID of the Client account that you want us to work on. Do not use the MCC ID.</label>
                    <input type="text" id="rsla_bid_adjustment3" class="form-control" name="rsla_bid_adjustment3" placeholder="RLSA Bid Adjustment">
                    <label>Check PitchIQ or <a href="https://goto.google.com/rlsa-bid-dash" target="_blank">go/rlsa-bid-dash</a> for customer specific recommendations! We recommend at least +40%.</label>
                    <select title="Overwrite existing bid modifiers" class="form-control bgicon" name="overwrite_existing_bid_modifiers3" id="overwrite_existing_bid_modifiers3">
                            <option value="">Overwrite existing bid modifiers</option>
                            <option value="TRUE">TRUE</option>
                            <option value="FALSE">FALSE</option>
                        </select>
                    <label>Should the existing bid modifiers(if any) be overwritten by the value specified herein.</label>
                    <select title="Create new bid modifiers" class="form-control bgicon" name="create_new_bid_modifiers3" id="create_new_bid_modifiers3">
                            <option value="">Create New bid modifiers</option>
                            <option value="TRUE">TRUE</option>
                            <option value="FALSE">FALSE</option>
                    </select>
                    <label>Should there be new bid modifiers created if they aren't specified already.</label>
                    <textarea class="form-control" id="campaign_ids3" name="campaign_ids3" placeholder="Campaign Ids (comma-separated) or 'All'"></textarea>
                    <label>This is next to each of the campaigns on AWICS. Please provide all the search campaigns that you would like us to apply RLSA. eg: 91872638,1298732190 If you want to apply it to all eligible campaigns, then type "All".</label>
                    <div class="checkbox" >
                        <label>
                          <input id="rsla_policies3" type="checkbox" name="rsla_policies3" value="0" class="rlsa_bulk headsup-policies">
                              Have you ensured that the website meets the RLSA policies specified 
                              <a href="https://support.google.com/adwordspolicy/answer/6258407" target="_blank">here?</a>
                        </label>
                    </div>
              </div>
              <!-- End Of RLSA Bulk Implementation -->
            </div>   
          </div>
        </div>

        <div class="appointment">
          <div class="checkbox">
              <label>
                <input id="appointmentCheck" type="checkbox" value="" checked>
                I want to setup an appointment </label>
            </div>
            <div class="row" id="tag_appointment">

                <!-- Appointment 1 -->
                <div class="tag_appointment-1">
                    <div class="col-md-4">
                      <input type="text" class="form-control" id="tag_contact_person_name" name="tag_contact_person_name1" placeholder="Contact Person Name" disabled>
                    </div>
                    <div class="col-md-4">
                      <select title="Primary Contact Role" class="form-control bgicon" name="tag_primary_role" id="tag_primary_role">
                    </select>
                    </div>
                    <div class="col-md-4">
                      <input type="text" class="form-control" id="tag_datepick" process_type='TAG' placeholder="MM/DD/YYYY hh:mm AM/PM" name="tag_datepick" autocomplete='off'>       
                    </div>
                </div>
        </div>    
    </div>

  <!-- ############### Shopping Heads UP ######################## -->
  <div class="std-sub-title shopping-policies" id="heads_up" style="display:none">Heads Up!
      <div class="checkbox">
            <label id="tagCheck" class="tag-policies" style="display:none;">
               <input type="checkbox" value="" id="tag_via_gtm" name="tag_via_gtm">
              Do you want to install this Tag via Google Tag Manager?
            </label>
            <label class="shopping-policy" style="display:none;">
              <input type="checkbox" value="" id="is_shopping_policies" name="is_shopping_policies">
              Have you ensured that the website meets the <a href="https://support.google.com/merchants/answer/188484?hl=en-GB" target="_blank">Google Shopping Policies</a>?
            </label>
            <ol class="subitems" id="shoppingTerms" style="display:none;">
              <li>This advertiser's products aren't prohibited by Google Shopping policies (prohibited: service-only businesses, vehicles, weapons, tobacco). A full list is available <a href="https://support.google.com/merchants/answer/2731539?hl=en" target="_blank">here.</a></li>
                <li>This advertiser's website meets Google Shopping's <a href="https://support.google.com/merchants/answer/188486?ref_topic=3163841" target="_blank">user safety requirements</a>. Notably, this advertiser's website contains:
                  <ul>
                        <li> 
                          <label> 
                            <input class="shopping-group" type="checkbox" value="" id="rules-1" name="rules-1"> Website has a secured payment gateway.
                          </label>
                        </li>
                        <li> 
                          <label>
                            <input type="checkbox" value="" id="rules-2" name="rules-2" class="shopping-group">  Website has a return and refund page. 
                          </label>
                          </li>
                        <li> 
                          <label>
                            <input type="checkbox" value="" id="rules-3" name="rules-3" class="shopping-group"> Website has payment options displayed on the home page. 
                          </label>
                          </li>
                        <li> 
                          <label>
                            <input type="checkbox" value="" id="rules-4" name="rules-4" class="shopping-group"> Website has clear contact information (Company Address and Phone number). 
                          </label>
                          </li>
                        <li> 
                          <label>
                            <input type="checkbox" value="" id="rules-5" name="rules-5" class="shopping-group"> Advertiser's Google Merchant Center account is not suspended. 
                          </label>
                        </li>
                    </ul>
                </li>
            </ol>         
          </div>
    </div>
    <div class="btns text-center" id="submit_buttons">
        <div class="btn-group">
            <button class="btn std-btn">Submit</button>
            <button class="btn std-btn grayed" onclick="resetBtn(this);" id="formReset">Reset</button>
        </div>
    </div>
</form>
</div>
</section>
<div id="preloaderOverlay" style='display:none;'>
  <div class="preloader">
  <img src="{% static 'images/preloader.gif'%}" width="40" height="40" >
  
  </div>
</div>
{% endblock content %}

{% block main_js %}
{% include 'leads/timezone.html' %}
<script src="{% static 'js/jquery-ui.js' %}"></script>
<script type="text/javascript" src="{% static 'js/bundle_lead_form.js' %}"></script>
<script type="text/javascript" src="{% static 'js/locations.js' %}"></script>
<script type="text/javascript">
  $(document).ready(function(){
    window.locations = {{locations|safe}};
    window.new_locations = {{new_locations|safe}};
    window.is_loc_changed = false;
    window.regions = {{regions|safe}};
    window.regionWiseLocations = {{region_locations|safe}};

    window.code_types = {{code_types|safe}};
    $(window).bind("load", function() {
      $('#country').trigger('change');
    });

    window.rep_location = "{{user.profile.rep_location|safe}}";

    $('#country').trigger('change');

    if(window.rep_location){
      $('#rep_location').val(window.rep_location);
    }else{
      getLocation('rep_location');
    }

    var userTeam = "{{user.profile.team.team_name|safe}}"
    if(userTeam){
      $('#team').val(userTeam);
    }

    var teams = [];
    $('#team option').each(function() { 
        teams.push( $(this).attr('value') );
    });

    if(userTeam){
      if(teams.indexOf(userTeam) != -1){
        $('#team').val(userTeam);
      }else{
        $('#team').val("");
      }
    }

    var userRegion = "{{user.profile.region.name|safe}}"
   if(userRegion){
      $('#region').val(userRegion);
      $('#region').trigger('change');
     }

    var userLocation = "{{user.profile.location.location_name|safe}}"
    if(userLocation){
      $('#country').val(userLocation);
      loc = document.getElementById('country');
      changetime(loc.options[loc.selectedIndex]);
    }
  
    $('#team').trigger('change');


  });

$("input:radio[name=web_access]").click(function() {
    /*var value = $(this).val();*/
    $('#tag_primary_role').empty()
    $('#tag_primary_role').append(' <option value="">Primary Contact Role</option><option value="Owner">Owner</option><option value="Marketing">Marketing</option>');

});

$("input:radio[name=webmasterCheck]").click(function() {
    /*var value = $(this).val();*/
    $('#tag_primary_role').empty()
    $('#tag_primary_role').append(' <option value="">Primary Contact Role</option><option value="Webmaster">Webmaster</option>');

});

$(document).on('change', '.call_extension', function() {
    if ($('.call_extension').is(':checked')) {
        $(this).val(1);
    } else {
        $(this).val(0);
    }
});

$(document).on('change', '.code_behaviour', function() {
    if ($('#'+$(this).attr('id')).is(':checked')){
       $('#'+$(this).attr('id')).val(1);
    } else {
        $('#'+$(this).attr('id')).val(0);
      }
    
});

function GetOption(text, value) {
        return "<option value = '" + value + "'>" + text + "</option>"
    }

$(document).on('change', '#country', function() {
    var location = $(this).val();
    
    $("#ctype1 option, #ctype2 option, #ctype3 option").remove();
    $("#ctype1, #ctype2, #ctype3").append(GetOption("Select Task Type", ""));

    if (['AU/NZ', 'Canada', 'United States', 'UK/I', 'India'].indexOf(location) == -1)) {

        rlsaIndx = window.code_types.indexOf('RLSA Bulk Implementation');
        if (rlsaIndx != -1) {
            window.code_types.splice(rlsaIndx, 1);
        }

    } else {

        rlsaIndx = window.code_types.indexOf('RLSA Bulk Implementation');
        if (rlsaIndx == -1) {
            window.code_types.splice(window.rlsaIndx, 0, "RLSA Bulk Implementation");
        }
    }
    //Loop through array and add options
    $.each(window.code_types, function(index) {
        $("#ctype1, #ctype2, #ctype3").append(GetOption(window.code_types[index], window.code_types[index]));
    });
    $("#ctype1, #ctype2, #ctype3").append(GetOption("Google Shopping Setup", "Google Shopping Setup"));
})
</script>
{% endblock main_js %}