{% extends 'layouts/main.html' %}

{% load staticfiles %}
{% load static %}
{% load question_list_tags %}

{% block title %}
  Lead Status
{% endblock title %}

{% block main_css %}
    <style type="text/css">
    #ldap-user-info {
        margin-top: 0 !important;
        margin-bottom: 30px !important;
        text-align: center;
        }
    </style>
{% endblock main_css %}

{% block content %}


   <!-- content-region -->
  <section class="content-region">
    <div class="container-fluid">
      <h1>Leads Summary</h1>
      <div class="row summary-container">
        <div class="col-xs-4 col-sm-4 col-md-2 placeholder">
          <div class="circle_green" id='implemented'>{{lead_status_dict.implemented }}</div>
          <div class="sum-lbl">Wins</div>
        </div>
        <div class="col-xs-4 col-sm-4 col-md-2 placeholder">
          <div class="circle_red" id='in_queue'>{{lead_status_dict.in_queue}}</div>
          <div class="sum-lbl">In Queue</div>
        </div>
        <div class="col-xs-4 col-sm-4 col-md-2 placeholder">
          <div class="circle_blue" id="attemptingcontact" >{{lead_status_dict.attempting_contact}}</div>
          <div class="sum-lbl">Attempting Contact</div>
        </div>
        <div class="col-xs-4 col-sm-4 col-md-2 placeholder">
          <div class="circle_yellow" id="in_progress">{{lead_status_dict.in_progress}}</div>
          <div class="sum-lbl">In Progress </div>
        </div>
        <div class="col-xs-4 col-sm-4 col-md-2 placeholder">
          <div class="circle" id="in_active">{{lead_status_dict.in_active}}</div>
          <div class="sum-lbl">Inactive</div>
        </div>
        <div class="col-xs-4 col-sm-4 col-md-2 placeholder">
          <div class="circle_black" id="total_leads">{{lead_status_dict.total_leads}}</div>
          <div class="sum-lbl">Total</div>
        </div>
      </div>
      <h1 class="lead_status">Leads Status</h1>
      {% if request.user.profile.team.team_name == 'Services' or  request.user.profile.team.team_name == 'Services Revenue Program (SRP)' or  request.user.profile.team.team_name == 'Services (Traverwood)'  or request.user.profile.team.team_name == 'Services/GCE'%}
        <div class="row" style="margin-top: -55px !important;margin-bottom: 20px; !important">
        <div class="auth-user-info" id="ldap_user_info" style="display:block; margin: 50px 15px 0px 15px">
                <div style="text-align:center;">
                  <label style="margin-left: 40px;">Search by LDAP/CID: </label>
                    <div class="value" style="width: 120px;">
                        <input type="radio" name="search_type" id="search_ldap" value="ldap" class="search_type" checked>
                        <span style="padding-right:2.5%;"> LDAP </span>
                        <input type="radio" name="search_type" id="search_cid" value="cid" class="search_type">
                        <span style="padding-right:2.5%;">CID</span>
                    </div>
                    <div class="value">
                        <input type="text" class="form-control ldap" id="ldap" value="{{request.user.get_full_name}}">
                        <a class="ldap-update"><i id="getLead" class="fa fa-refresh"></i>
                    </div>
                </div>
              </div>
        </div>
      {% endif %}
      <div class="row pagination1">
          <div class="col-xs-10 col-sm-12 col-md-10">
            <ul class="pagination pull-left">
              <li><a class="tag" href="javascript:void(0);" id='all'>All</a></li>
              <li><a class="page" href="javascript:void(0);" id='Inactive'>Inactive</a></li>
              <li><a class="page" href="javascript:void(0);" id='InQueue'>In Queue</a></li>
              <li><a class="page" href="javascript:void(0);" id='AttemptingContact'>Attempting Contact</a></li>
              <li><a class="page" href="javascript:void(0);" id='InProgress' >In Progress </a></li>
              <li><a class="page" href="javascript:void(0);" id='Implemented'>Implemented</a></li>
            </ul>
            <div class="table-search">
              <input type="text" class="form-control input-sm" id="inputValidation" placeholder="Filter by text" onkeyup="filter(this, 'Leads')"/>
              <span class="search-icon"><i class="fa fa-search" style="margin-top:12px;"/></i></span>
            </div>
          </div>
          <div class="col-xs-2 col-md-2">            
              <ul class="filter-area navbar-right">
                <li class="lbl">Sort by: </li>
                <li class="dropdown"><a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><span id='sortBy'>Recent</span> <i class="fa fa-angle-down"></i></a>
                  <ul class="dropdown-menu light" role="menu">
                    <li><a href="javascript:void(0);" id="RecentHeader">Recent</a></li>
                    <li><a href="javascript:void(0);" id='CodeTypeHeader'>Code Type</a></li>
                    <li><a href="javascript:void(0);" id="statusHeader">Status</a></li>
                  </ul>
                  </li>
              </ul>
            </div>
          </div>
        <div class="table-container pagination1">
          <table class="table status-table tablesorter" id='Leads'>
            <thead>
                <tr class="table_bg">
                  <th class="hidden-xs hidden-sm nthchild">No.</th>
                  <th class="hidden-xs hidden-sm nthchild1">Advertiser / Company</th>
                  <th width="20%" class="nthchild2">CID </th>
                  <th class="hidden-xs hidden-sm nthchild3" id="CodeTypeRow">Task Type </th>
                  <th class="hidden-xs hidden-sm nthchild3">Google Rep</th>
                  <th class="hidden-xs hidden-sm nthchild3">Regalix Rep</th>
                  <th class="hidden-xs hidden-sm nthchild3" id="RecentRow">Date Created</th>
                  <th class="hidden-xs hidden-sm nthchild3">Appointment Time</th>
                  <th class="hidden-xs hidden-sm nthchild3">Date of Installation</th>
                  <th class="hidden-xs hidden-sm nthchild8">Reschedule Appointment</th>
                  <th class="hidden-xs hidden-sm nthchild8">Regalix Comments</th>
                  <th class="nthchild3" id='StatusRow'>Status </th>
                  <th width="6%" class="nthchild11 services_action">Action</th>
                </tr>
            </thead>
            <tbody id="tableBody">
                  {% for l in leads|slice:":500" %}

                      {% if l.lead_status == 'Implemented' or l.lead_status == 'Pending QC - WIN' %} 
                      <tr class='status-implemented implemented searchable'>
                        <td class="hidden-xs hidden-sm"><span class="status-bor-color">{{forloop.counter}}</span></td>
                        {% elif l.lead_status == 'Rework Required' and l.lead_sub_status != 'RR - Inactive'%} 
                      <tr class='status-implemented implemented searchable'>
                        <td class="hidden-xs hidden-sm"><span class="status-bor-color">{{forloop.counter}}</span></td>
                        {% elif l.lead_status == 'Rework Required' and l.lead_sub_status == 'RR - Inactive'%} 
                     <tr class='status-inactive inactive searchable'>
                        <td class="hidden-xs hidden-sm"><span class="status-bor-color">{{forloop.counter}}</span></td>
                      {% elif l.lead_status == 'In Active' or l.lead_status == 'Pending QC - In Active' %}
                      <tr class='status-inactive inactive searchable'>
                        <td class="hidden-xs hidden-sm"><span class="status-bor-color">{{forloop.counter}}</span></td>
                      {% elif l.lead_status == 'In Progress' %}
                      <tr class="status-inpro  inprogress searchable">
                        <td class="hidden-xs hidden-sm"><span class="status-bor-color">{{forloop.counter}}</span></td>
                      {% elif l.lead_status == 'Attempting Contact' %}
                      <tr class='status-attm-contact attemptingcontact searchable'>
                        <td class="hidden-xs hidden-sm"><span class="status-bor-color">{{forloop.counter}}</span></td>
                      {% elif l.lead_status == 'In Queue' or l.lead_status == 'ON CALL'%}
                      <tr class='status-inq inqueue searchable'>
                        <td class="hidden-xs hidden-sm"><span class="status-bor-color">{{forloop.counter}}</span></td>
                      {% endif %}
                      <td class="hidden-xs hidden-sm">{{ l.company }}</td>
                      <td>{{ l.customer_id }}</td>
                      <td class="hidden-xs hidden-sm">{{ l.type_1 }}</td>
                      <td class="hidden-xs hidden-sm">{{ l.google_rep_name }}</td>
                      <td class="hidden-xs hidden-sm">{{ l.lead_owner_name }}</td>
                      <td class="hidden-xs hidden-sm">{{ l.created_date |date:"m/d/Y" }}</td>
                      <td class="hidden-xs hidden-sm">{{ l.appointment_date |date:"m/d/Y [h:i] A" }}</td>
                      <td class="hidden-xs hidden-sm">{{ l.date_of_installation |date:"m/d/Y" }}</td>
                      <td class="hidden-xs hidden-sm">{{ l.rescheduled_appointment |date:"m/d/Y [h:i] A" }}</td>
                      
                      {% if l.regalix_comment  %}
                          <td class="hidden-xs hidden-sm comments-container comments-container2"><p>
                          {% if l.regalix_comment and l.regalix_comment|length > 100 %}
                            {{ l.regalix_comment | truncatechars:100 }}</p>
                            <p class="comments-full"><img class="left-arrow" src="{%static 'images/comments-left-arrow.png' %}"> {{ l.regalix_comment}}</p> </td>
                          {% elif l.regalix_comment %}
                            {{ l.regalix_comment }}</p>
                          {% else %}
                            ''
                          {% endif %}

                      {% else %}
                          <td class="hidden-xs hidden-sm comments-container"><p></p>
                            </td>
                      {% endif %}
                     
                      {% if l.lead_status == 'Implemented' %}
                        <td><span class="status-txt-color">{{ l.lead_status }}</span></td>
                      {% elif l.lead_status == 'In Active'%}
                        <td><span class="status-txt-color">{{ l.lead_status }}</span></td>
                      {% elif l.lead_status == 'In Progress' %}
                        <td><span class="status-txt-color">{{ l.lead_status }}</span></td>
                      {% elif l.lead_status == 'Attempting Contact' %}
                        <td><span class="status-txt-color">{{ l.lead_status }}</span></td>
                      {% elif l.lead_status == 'In Queue' %}
                        <td><span class="status-txt-color">{{ l.lead_status }}</span></td>
                      {% else %}
                        <td><span class="status-txt-color">{{ l.lead_status }}</span></td>
                      {% endif %}
                      <td ><a href="#" title="Ping Status" class="action-item" data-toggle="modal" data-target="#pingModal" onclick='chat({{l.id}})' id="lead_id-{{l.id}}"><i class="fa fa-comments"></i></a> <a href="#" title="Write Feedback" class="action-item fb" data-toggle="modal" data-target="#feedbackModal"><i class="fa fa-pencil-square" onclick='feedbackBycid({{l.id}})'></i></a></td>
                      
                    </tr>
                    
                {% endfor %}
          </tbody>
        </table>
        <img src="{%static 'images/pre_loading.png' %}" alt=" " class="pre-load-img"/>
        
        </div>
    </div>
  </section>
  <!-- content-region ends --> 

{% endblock content %}
  {% block model_popup %}
  <!-- feedback modal -->
        <div class="modal" id="feedbackModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
          <div id="preloaderOverlay" style='display:none;'>
            <div class="preloader">
            <img src="{% static 'images/preloader.gif'%}" width="40" height="40" >
            </div>
          </div>
          <div class="modal-dialog ping-snippet" id="modal">
            <div class="modal-content">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><i aria-hidden="true" class="fa fa-times-circle"></i></button>
                <h4 class="modal-title" id="myModalLabel">Feedback</h4>
              </div>
              <div class="modal-body" id="feedback-body">
                 <input type="text" class="form-control" id="feedbackTitle" placeholder="Feedback Title">
                   <select class="form-control" id="feedbackType">
                      <option value="Feedback Type">Feedback Type</option>
                      <option value="Incorrect Code Installed / Code Installed Incorrectly">Incorrect Code Installed / Code Installed Incorrectly</option>
                      <option value="Rude / Unprofessional">Rude / Unprofessional</option>
                      <option value="Bad Communication">Bad Communication</option>
                      <option value="Missed Appointment(S) / No Follow Up">Missed Appointment(S) / No Follow Up</option>
                      <option value="Incorrect Information Provided">Incorrect Information Provided</option>
                      <option value="Good / Perfect Implementation">Good / Perfect Implementation</option>
                      <option value="Excellent Follow Up">Excellent Follow Up</option>
                      <option value="100%+">100%+</option>
                  </select>
                  <textarea class="form-control" placeholder="Comments" id='comments'></textarea>
               
              </div>
              <div class="modal-footer">

                <div class="btn-group">
                    <button class="btn std-btn" id='SubmitFeedback'>Submit</button>
                    <button class="btn std-btn grayed" data-dismiss="modal" id='closeFeedbcak'>Close</button>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- feedback modal ends -->
      
      <!-- modal -->
      <div class="modal" id="pingModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog ping-snippet">
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal" aria-label="Close"><i aria-hidden="true" class="fa fa-times-circle"></i></button>
              <h4 class="modal-title" id="myModalLabel">History</h4>
            </div>
            <div class="modal-body" id="chat-body">
              
            </div>
            <div class="modal-footer">
                <input  type="textarea" class="form-control send-txt" placeholder="Send a messege" id='message'>
                <button type="button" class="btn send-btn" id='submitmsg'><i class="fa fa-plus"></i></button>
            </div>
        </div>
      </div>
      <!-- modal ends -->
  {% endblock model_popup %}
{% block main_js %}
<script src="{% static 'js/jquery-ui.js' %}"></script>

<script src="{% static 'js/lead_summary.js' %}"></script>
<script type="text/javascript">

    var res = $('#SubmitFeedback').click(function(){
      $("#modal").show(function(){
        $("#preloaderOverlay").show();
    });
  });
</script>
<script type="text/javascript">
$(document).ready(function(){
    window.lead_id = '{{lead_id|safe}}';
    if(window.lead_id != 'None'){
      $("#lead_id-"+ window.lead_id).trigger("click");
      chat(window.lead_id);
    }
   setLeadSummary({{lead_status_dict|safe}});
});
window.lead_id = '';

function feedbackBycid(lead_id){
  window.lead_id = lead_id
}
/* pin chat */
var lead_owner_email = ''
var lead_owner_name = ''
var weekday = new Array("Sun","Mon","Tue","Wed","Thu","Fri","Sat")
var currentTime = new Date();
var day = currentTime.getDay()
var hour = currentTime.getHours()
var min = currentTime.getMinutes()
currentDayTime=''
if (hour >= 12){
  hour = hour - 12
  currentDayTime = weekday[day]+ ', ' + ' ' + hour + ' : ' + min + ' PM'
}else{
  currentDayTime = weekday[day]+ ', ' + ' ' + hour + ' : ' + min + ' AM'
}

var myVar=setInterval(function(){chat(window.lead_id)},5000);

function chat(lead_id){
    if(lead_id != 'None'){
        window.lead_id = lead_id
        dataString = {'lead_id': lead_id}
        $.ajax({
              url: "/leads/get-chat",
              data: dataString,
              type: 'GET',
              dataType: "json",
              success: function(data) {
                     setChat(data)       
              }
              
            }); 
    }
}

function setChat(chatmessages){
    $('#chat-body').html('')
    for(i=0; i < chatmessages.length; i +=1){
      if (chatmessages[i].user_id === '{{user.email}}'){
            $('#chat-body').append(  '<div class=" ping-copy out-msg">' +
                                      '<img src="{{request.session.profile_image}}" class="chatter-img">'+
                                      '<div class="chat-msg">'+
                                      '<img src="{%static 'images/chat-out-img.png' %}">'+
                                      '<p>'+ chatmessages[i].message +' </p><div class="chat-date">'+ chatmessages[i].created_date +'</div></div></div>');
                 
            }else{

              $('#chat-body').append(  '<div class=" ping-copy in-msg">' +
                                      '<img src="'+chatmessages[i].image_url+'?sz=32" class="chatter-img">'+
                                      '<div class="chat-msg">'+
                                      '<img src="{%static 'images/chat-in-img.png' %}">'+
                                      '<p>'+ chatmessages[i].message +' </p><div class="chat-date">'+ chatmessages[i].created_date +'</div></div></div>')
            }
    }
}

$('#submitmsg').click(function(){
  msg = $('#message').val()
  $('#message').val('')
   dataString = {'msg': msg, 'lead_id': window.lead_id};
   if (msg != ''){
     $.ajax({
          url: "/leads/create-chat",
          data: dataString,
          type: 'GET',
          dataType: "json",
          success: function(data) {
            setChat(data);
          }
        }); 
   
   }else{
    alert('please Enter some text msg')
   }
  
})

$("#message").keypress(function(event) {
    if (event.which == 13) {
        event.preventDefault();

        $("#submitmsg").trigger("click");
    }
});


$(".search_type").click(function(){
    $("#ldap").val('');
});

  $('.ldap').focus(function() {
    if($('input:radio[name=search_type]:checked').val() == 'ldap'){
      return $(this).autocomplete({
      source: "/reports/get-user-name",
      minLength: 2,
      close: function(event) {
      },
      select: function(event, ui) {
        if ($("#ldap").val() !== "") {
          $("#ldap").val(ui.item.id + "-" + ui.item.username);
          window.current_ldap = ui.item.id;
          $( "#getLead" ).trigger( "click" );
        }
      }
    });
    }
    else{
        //here it goes to select cids
    }
  });  



 $('#getLead').click(function(){
    if($('input:radio[name=search_type]:checked').val() == 'ldap'){
      user_id = window.current_ldap
      $.ajax({
        url: "/leads/lead-summary-by-user",
        data: {'user_id': user_id},
        type: 'GET',
        dataType: 'json',
        success: function(data){
          if(data){
            $('.services_action').hide();
            setLeadSummary(data['lead_status_dict'])
            setLeadSummaryTable(data['lead_list'])
            $('#leadstatus').show();
          }else{
            alert('No leads Found')
            $('#leadstatus').hide();
          }
        }
    });
    }else if($('input:radio[name=search_type]:checked').val() == 'cid'){
        //alert('ok have to write the func');
        cid = $('#ldap').val();
          $.ajax({
            url: "/leads/leads-summary-by-cid",
            data: {'cid': cid},
            type: 'GET',
            dataType: 'json',
            success: function(data){
              if(data){
                console.log(data);
                $('.services_action').hide();
                setLeadSummary(data['lead_status_dict'])
                setLeadSummaryTable(data['lead_list'])
              }else{
                alert('No leads Found')
              }
            }
        });
      }

  });

function setLeadSummary(lead_status){
    $('#implemented').text(lead_status['Implemented'])
    $('#in_queue').text(lead_status['In Queue'])
    $('#attemptingcontact').text(lead_status['Attempting Contact'])
    $('#in_progress').text(lead_status['In Progress'])
    $('#in_active').text(lead_status['In Active'])
    $('#total_leads').text(lead_status['total_leads'])
    
  }
  function setLeadSummaryTable(leads){

    $('#tableBody').html('')
    // $('#ldapTableBody').html('');
    for(i=0; i<leads.length; i += 1){
        c = i + 1
      if(leads[i].lead_status == 'Implemented' || leads[i].lead_status == 'Pending QC - WIN'){
          counter = '<tr class="status-implemented implemented searchable">'+'<td class="hidden-xs hidden-sm"><span class="status-bor-color">' +  c + '</span></td>'
       }
       else if(leads[i].lead_status == 'Rework Required' && leads[i].lead_sub_status != 'RR - Inactive'){
         counter = '<tr class="status-implemented implemented searchable">'+'<td class="hidden-xs hidden-sm"><span class="status-bor-color">' +  c + '</span></td>'
       }
       else if(leads[i].lead_status == 'Rework Required' && leads[i].lead_sub_status == 'RR - Inactive'){
         counter =  '<tr class="status-inactive inactive searchable">' + '<td class="hidden-xs hidden-sm"><span class="status-bor-color">'+  c + '</span></td>'
       }
       else if (leads[i].lead_status == 'In Active' || leads[i].lead_status == 'Pending QC - In Active'){
         counter =  '<tr class="status-inactive inactive searchable">' + '<td class="hidden-xs hidden-sm"><span class="status-bor-color">'+  c + '</span></td>'
        }else if (leads[i].lead_status == 'In Progress'){
        counter = '<tr class="status-inpro  inprogress searchable">' + '<td class="hidden-xs hidden-sm"><span class="status-bor-color">'+  c + '</span></td>'
        }else if (leads[i].lead_status == 'Attempting Contact') {
        counter = '<tr class="status-attm-contact attemptingcontact searchable">'+'<td class="hidden-xs hidden-sm"><span class="status-bor-color">'+  c + '</span></td>'
        }else if(leads[i].lead_status == 'In Queue' || leads[i].lead_status == 'ON CALL' ){
        counter = '<tr class="status-inq inqueue searchable">'+' <td class="hidden-xs hidden-sm"><span class="status-bor-color">' +  c + '</span></td>'
        }

       other =  '<td class="hidden-xs hidden-sm">' + leads[i].company + '</td>' +
                '<td>' + leads[i].cid + '</td>'+
                '<td class="hidden-xs hidden-sm">' + leads[i].code_type + '</td>' +
                '<td class="hidden-xs hidden-sm">' + leads[i].google_rep + '</td>'+
                '<td class="hidden-xs hidden-sm">' + leads[i].regalix_rep + '</td>'+
                '<td class="hidden-xs hidden-sm">' + leads[i].date_created + '</td>'+
                '<td class="hidden-xs hidden-sm">' + leads[i].appointment_time + '</td>'+
                '<td class="hidden-xs hidden-sm">' + leads[i].date_of_installation +'</td>'+
                '<td class="hidden-xs hidden-sm">' + leads[i].rescheduled_appointment +'</td>'
    
      if (leads[i].regalix_comment != 'None' && leads[i].regalix_comment.length > 100){
        comment = '<td class="hidden-xs hidden-sm comments-container comments-container2"><p>' + leads[i].regalix_comment.substring(1, 100) + '</p>' +
                '<p class="comments-full"><img class="left-arrow" src="/static/images/comments-left-arrow.png">' + leads[i].regalix_comment + '</p> </td>'
      }else if (leads[i].regalix_comment != 'None'){
          comment = '<td class="hidden-xs hidden-sm comments-container comments-container2"><p>' + leads[i].regalix_comment + '</p>'
      }else{
        comment = '<td class="hidden-xs hidden-sm comments-container comments-container2"><p> </p>'
      }

      status = '<td><span class="status-txt-color">'+ leads[i].lead_status +'</span></td>'
      $('#tableBody').append(counter+other+comment+status)
      
    }
    $("#Leads").trigger("update"); 
  }


function setLeadSummaryTableExtend(leads, start_row, end_row){

    for(i=0; i<leads.length; i += 1){
        c = start_row + i + 1
      if(leads[i].lead_status == 'Implemented' || leads[i].lead_status == 'Pending QC - WIN'){
          counter = '<tr class="status-implemented implemented searchable">'+'<td class="hidden-xs hidden-sm"><span class="status-bor-color">' +  c + '</span></td>'
       }
       else if(leads[i].lead_status == 'Rework Required' && leads[i].lead_sub_status != 'RR - Inactive'){
         counter = '<tr class="status-implemented implemented searchable">'+'<td class="hidden-xs hidden-sm"><span class="status-bor-color">' +  c + '</span></td>'
       }
       else if(leads[i].lead_status == 'Rework Required' && leads[i].lead_sub_status == 'RR - Inactive'){
         counter =  '<tr class="status-inactive inactive searchable">' + '<td class="hidden-xs hidden-sm"><span class="status-bor-color">'+  c + '</span></td>'
       }
       else if (leads[i].lead_status == 'In Active' || leads[i].lead_status == 'Pending QC - In Active'){
         counter =  '<tr class="status-inactive inactive searchable">' + '<td class="hidden-xs hidden-sm"><span class="status-bor-color">'+  c + '</span></td>'
        }else if (leads[i].lead_status == 'In Progress'){
        counter = '<tr class="status-inpro  inprogress searchable">' + '<td class="hidden-xs hidden-sm"><span class="status-bor-color">'+  c + '</span></td>'
        }else if (leads[i].lead_status == 'Attempting Contact') {
        counter = '<tr class="status-attm-contact attemptingcontact searchable">'+'<td class="hidden-xs hidden-sm"><span class="status-bor-color">'+  c + '</span></td>'
        }else if(leads[i].lead_status == 'In Queue' || leads[i].lead_status == 'ON CALL' ){
        counter = '<tr class="status-inq inqueue searchable">'+' <td class="hidden-xs hidden-sm"><span class="status-bor-color">' +  c + '</span></td>'
        }

       other =  '<td class="hidden-xs hidden-sm">' + leads[i].company + '</td>' +
                '<td>' + leads[i].cid + '</td>'+
                '<td class="hidden-xs hidden-sm">' + leads[i].code_type + '</td>' +
                '<td class="hidden-xs hidden-sm">' + leads[i].google_rep + '</td>'+
                '<td class="hidden-xs hidden-sm">' + leads[i].regalix_rep + '</td>'+
                '<td class="hidden-xs hidden-sm">' + leads[i].date_created + '</td>'+
                '<td class="hidden-xs hidden-sm">' + leads[i].appointment_time + '</td>'+
                '<td class="hidden-xs hidden-sm">' + leads[i].date_of_installation +'</td>'+
                '<td class="hidden-xs hidden-sm">' + leads[i].rescheduled_appointment +'</td>'
    
      if (leads[i].regalix_comment != 'None' && leads[i].regalix_comment.length > 100){
        comment = '<td class="hidden-xs hidden-sm comments-container comments-container2"><p>' + leads[i].regalix_comment.substring(1, 100) + '</p>' +
                '<p class="comments-full"><img class="left-arrow" src="/static/images/comments-left-arrow.png">' + leads[i].regalix_comment + '</p> </td>'
      }else if (leads[i].regalix_comment != 'None'){
          comment = '<td class="hidden-xs hidden-sm comments-container comments-container2"><p>' + leads[i].regalix_comment + '</p>'
      }else{
        comment = '<td class="hidden-xs hidden-sm comments-container comments-container2"><p> </p>'
      }
      
      status = '<td><span class="status-txt-color">'+ leads[i].lead_status +'</span></td>'
      action = '<td ><a href="#" title="Ping Status" class="action-item" data-toggle="modal" data-target="#pingModal" onclick=chat(' + leads[i].lead_id +') id="lead_id-'+ leads[i].lead_id + '"><i class="fa fa-comments"></i></a> <a href="#" title="Write Feedback" class="action-item fb" data-toggle="modal" data-target="#feedbackModal"><i class="fa fa-pencil-square" onclick=feedbackBycid(' + leads[i].lead_id + ')></i></a></td>'
      $('#tableBody').append(counter+other+comment+status+action)
    }
    $("#Leads").trigger("update"); 
  }


$('#ldap').keypress(function (e) {
 var key = e.which;
 if(key == 13)  // the enter key code
  {
    $( "#getLead" ).trigger( "click" );
  }
});

$(window).scroll(function() {
   if($(window).scrollTop() + $(window).height() == $(document).height()) {
      if($('.services_action').is(':visible')){
        var numOfLeads = $('#tableBody tr').length;
      uptoLeads = numOfLeads + 500
      $.ajax({
            url: "/leads/pagination-leads-summary",
            data: {'from': numOfLeads, 'to': uptoLeads},
            type: 'GET',
            dataType: 'json',
            success: function(data){
              setLeadSummaryTableExtend(data, numOfLeads, uptoLeads);
                console.log(data);
              }
        });
      }
   }
});

</script>


{% endblock main_js %}
