{% extends 'layouts/main.html' %}

{% load staticfiles %}

{% block content %}
{% if picasso %}
{% include 'layouts/picasso_header.html' %}
{% endif %}

<div id="content" class="clearfix">
    <div class="main_content" style="padding-top:5%;padding-bottom:20px;text-align:center;">
        Oops Error !<br /><br />
        Something went wrong while submitting lead<br /><br />
        Please reach out to <b>{{ PORTAL_MAIL_ID }}</b><br /><br />
        To submit once again please <a href="{{ return_link }}"><b>click here.</b></a>
    </div>
</div>
{% endblock content %}