{% extends 'layouts/main.html' %}

{% load staticfiles %}

{% block title %}
  PICASSO Build WPP Lead Form
{% endblock title %}
{% block main_css %}
  <link rel="stylesheet" type="text/css" href="{% static 'css/material.min.css'%}">
  <link rel="stylesheet" type="text/css" href="{% static 'css/picasso_lead_form.css'%}">
  <style type="text/css">
    .tasks{ margin-bottom: 5px;}
    .footer{position: relative;}
    .footer .container-fluid  ul{ line-height: 62px;}
    .table-container{ min-height:300px;}
  </style>
{% endblock main_css %}
{% block content %}
<section class="content-region inner-page">
  <div class="container-fluid">
  <h1 style="font-size: 24px;
  font-family: 'robotoblack';
  text-transform: uppercase;
  text-align: center;
  border-bottom: 1px solid #ccc;
  padding-bottom: 12px;
  margin-top: 50px;
  margin-bottom: 20px;">SUBMIT PICASSO BUILD REQUEST</h1>
 
  <form class="lead-form" id="ctl00" onsubmit="return validatethis(this);" method="POST" action="{% url 'leads.views.wpp_lead_form' %}">
    <input type="hidden" value="{{request.META.HTTP_HOST}}{% url 'leads.views.thankyou' %}?n=7" name="retURL">
    <input type="hidden" value="{{request.META.HTTP_HOST}}{% url 'leads.views.lead_error' %}?n=7" name="errorURL">
    <input type="hidden" name="oid" value="00DZ000000MipUa">
    <input type="hidden" id="campid" name="Campaign_ID" value="None">
    <input type="hidden" id="change_lead_owner" name="change_lead_owner" value="1">
    <input type="hidden" id="wpp_lead_status" name="wpp_lead_status" value="Open">
    <input type="hidden" id="ctype1" name="ctype1" value="WPP">
    <input type="hidden" id="code1" name="code1" value="">
    <input type="hidden" id="company" name="company" value="">
    <input type="hidden" id="fopt" name="fopt" value="">
    <input type="hidden" id="lopt" name="lopt" value="">

    <div class="row">
    <div  class="col-md-12">
      
    </div>
      <div class="col-md-6">
        <label for="cid">External CID</label>
        <input type="text" class="form-control" id="cid" maxlength="255" name="cid" placeholder="Please enter the CID (xxx-xxx-xxxx)" {% if ref_lead.customer_id == "" or ref_lead.customer_id == "None" %} value="" {% else %} value="{{ ref_lead.customer_id }}" {% endif %}>
          <label>Entering CID will retrieve any applicable Picasso audit submissions</label>
      </div>
      <div class="col-md-6">
         <label for="url" id="url_label_id">Website URL</label>
          <select class="form-control bgicon" id="multipleUrls" name="multipleUrls" style="display:none;">
          </select>
          <input type="text" class="form-control" id="url" name="url1" placeholder="Website URL" {% if ref_lead.url_1 == "" or ref_lead.url_1 == "None" %} value="" {% else %} value="{{ ref_lead.url_1 }}" {% endif %}>
        </div>
      <div class="row">
        <div class="col-md-6">
          </div>
        </div>
      </div>
      <div class="std-sub-title">Treatment Type</div>
      <div class='row'>
      <div class="col-md-6">
        <label for="treatment_type">Treatment Type</label>
        <select class="form-control bgicon" id="treatment_type" title="Treatment Type" name="treatment_type">
          <option value=""> Please Select Treatment Type</option>
            {% for type in treatment_type %}
                <option value="{{type}}"> {{type}}</option>
            {% endfor %}
        </select>
      </div>
    </div>
    <input type="hidden" value="/wEPDwUKMTQ5MDIxNjIyMmRkkaquz41PfskY4KKZFRwNmxGTj9E=" id="__VIEWSTATE" name="__VIEWSTATE">
    <div class="std-sub-title">Google Rep Information</div>
    <div class="row">
      <div class="col-md-6">
        <label for="gref">Google Rep Name</label>
        <!-- <input  id="first_name" maxlength="40" name="first_name" size="20" type="text" /> -->
        <input type="text" class="form-control" id="gref" name="gref" placeholder="Google Rep Name" value='{{ user.get_full_name }}'>
        <input type="hidden" class="form-control" id="emailref" name="emailref" placeholder="Google Rep Email" value="{{ user.email }}">
        <input type="hidden" class="form-control" name="manager_name" id="manager_name" placeholder="Manager Name" value="{{user.profile.user_manager_name}}">
        <input type="hidden" class="form-control" name="manager_email" id="manager_email" placeholder="Manager Email" value="{{user.profile.user_manager_email}}">
        <input type="hidden" class="form-control" id="aemail" name="aemail" placeholder="Advertiser Email">

      </div>
      <div class="col-md-6">
        <label for="team">Program name</label>
        <select class="form-control bgicon" id="team" title="Program Name" name="team">
          <option value="">Select Program</option>
          {% for program in teams %}
            <option value="{{program.team_name}}">{{program.team_name}}</option>
          {% endfor %}
        </select>
      </div>
    </div>
    <div class="std-sub-title">Advertiser Details</div>
      <div class="row">
     
      <div class="col-md-6">
        <label for="picasso_pod">POD Name</label>
        <input type="text" class="form-control" id="picasso_pod" maxlength="255" name="picasso_pod" placeholder="Ex: MMS Two Apollo-US-MTV2" {% if ref_lead.pod_name == "" or ref_lead.pod_name == "None" %} value="" {% else %} value="{{ ref_lead.pod_name }}" {% endif %}>
      </div>
      <div class="col-md-6">
                    <label for="picasso_objective">Objective</label></br>
                    <div class="checkboxvalidation" style="height:95px;">
                      <label for="buy_online" class="mdl-checkbox mdl-js-checkbox mdl-js-ripple-effect" style="width:170px;">
                        <input class="mdl-checkbox__input picasso_objective" type="checkbox" name="picasso_objective_list[]" id="buy_online" data="Buy Online"><span>Buy Online</span></br>
                      </label>
                      <label for="form_entry" class="mdl-checkbox mdl-js-checkbox mdl-js-ripple-effect" style="width:208px;">
                        <input class="mdl-checkbox__input picasso_objective" type="checkbox" name="picasso_objective_list[]" id="form_entry" data="Form Entry"><span>Form Entry</span></br>
                      </label>
                        <label for="call_your_business" class="mdl-checkbox mdl-js-checkbox mdl-js-ripple-effect" style="width:170px;">
                        <input class="mdl-checkbox__input picasso_objective" type="checkbox" name="picasso_objective_list[]" id="call_your_business" data="Call your Business"><span>Call your Business</span>
                      </label>
                      <label for="engage_with_your_content" class="mdl-checkbox mdl-js-checkbox mdl-js-ripple-effect" style="width:180px;">
                        <input class="mdl-checkbox__input picasso_objective" type="checkbox" name="picasso_objective_list[]" id="engage_with_your_content" data="Engage with your Content"><span>Engage with your Content</span></br>
                      </label>
                      <label for="become_a_fan" class="mdl-checkbox mdl-js-checkbox mdl-js-ripple-effect" style="width:170px;">
                        <input class="mdl-checkbox__input picasso_objective" type="checkbox" name="picasso_objective_list[]" id="become_a_fan" data="Become a Fan"><span>Become a Fan</span>
                      </label>
                       <label for="drive_foot_traffic" class="mdl-checkbox mdl-js-checkbox mdl-js-ripple-effect" style="width:170px;">
                        <input class="mdl-checkbox__input picasso_objective" type="checkbox" name="picasso_objective_list[]" id="drive_foot_traffic" data="Drive Foot Traffic"><span>Drive Foot Traffic</span>
                      </label>
                       <label for="install_mobile_app" class="mdl-checkbox mdl-js-checkbox mdl-js-ripple-effect" style="width:170px;">
                        <input class="mdl-checkbox__input picasso_objective" type="checkbox" name="picasso_objective_list[]" id="install_mobile_app" data="Install Mobile App"><span>Install Mobile App</span>
                      </label>
                    </div>
              </div>
        <div class="col-md-6">
          <label for="tracking_code">Tracking Codes(if need additional code adds)</label>
          <textarea class="form-control" placeholder="Tracking Codes" name="tracking_code" id="tracking_code"></textarea>
        </div>
         <div class="col-md-6" style="margin-top: 68px;">
        <label for="ab_testing">Do you want us to AB test the new website?</label>
          <select class="form-control bgicon" id="ab_testing" title="Do you want us to AB test the new website?" name="ab_testing">
            <option value=''>Please select...</option>
            <option value='yes'>Yes</option>
            <option value='no'>No</option>
        </select>
        </div>
      </div>
    <div class="std-sub-title" >Advertiser's Contact Details</div>
    <div class="row" id="advertiser_details1">
        <div class="col-md-6">
          <label for="first_name">First Name</label>
          <input type="text" class="form-control" id="first_name" name="first_name" placeholder="First Name">
        </div>
        <div class="col-md-6">
          <label for="last_name">Last Name</label>
          <input type="text" class="form-control" id="last_name" name="last_name" placeholder="Last Name">
        </div>
        <div class="col-md-6">
          <label for="wpp_aemail">Advertiser Email</label>
          <input type="email" class="form-control" id="wpp_aemail" name="wpp_aemail" placeholder="Advertiser Email">
        </div>
        <div class="col-md-6">
          <label for="phone">Advertiser Telephone</label>
          <input type="tel" class="form-control" id="phone" name="phone" placeholder="Advertiser Telephone">
        </div>
        <div class="col-md-6">
          <label for="advertiser_role1">Role</label>
          <select title="Role" class="form-control bgicon advertiser-role" name="advertiser_role1" id="advertiser_role1">
            <option value="">Role</option>
            <option value="Owner">Owner</option>
            <option value="Marketing">Marketing</option>
            <option value="Webmaster">Webmaster</option>
            <option value="Other">Other (please specify)</option>
          </select>
        </div>
        <div class="col-md-6 role-other1" style="display:none;">
          <label for="role_other1">Role Other</label>
          <input type="tel" class="form-control" id="role_other1" name="role_other1" placeholder="Role Other">
        </div>
        <div>
        <a id="addAdvertiser_1" class="btn std-btn task-btn add" style="margin-right:15px;margin-top: 32px;"><i class="fa fa-plus-circle"></i>Add Additional Contact</a>
        </div>
       <!--  <a id="removeAdvertiser_2" class="btn std-btn task-btn remove" style="display:none;"><i class="fa fa-minus-circle"></i>Remove Advertiser</a> -->
    </div>
    <div class="std-sub-title">Initial Appointment Details</div>
      <div class="row">
        <div class="col-md-6" >
            <label for="country"> Market Served</label>
              <select class="form-control bgicon" onchange="changetime(this);" id="country" title="Program Location" name="country">
              <option value="0">Market Served</option>
                {% for loc in wpp_locations %}
                    <option value="{{loc.name}}" location_id="{{loc.id}}">{{loc.name}}</option>
                {% endfor %}
              </select>
        </div>
        <div class="col-md-6">
            <label for="tzone">Time zone</label>
              <select title="Time Zone" class="form-control bgicon" id="tzone" name="tzone">
                <option value="">Select Time Zone</option>
              </select>
        </div> 
        <div class="col-md-6">
            <label for="aptDT">Appointment Date & Time</label>
              <input type="text" class="form-control" id="tag_datepick" process_type='WPP' placeholder="MM/DD/YYYY hh:mm AM/PM" name="tag_datepick" autocomplete='off'>
        </div>
         <div class="col-md-12">
          <label for="additional_notes">Additional Notes</label>
          <textarea class="form-control" placeholder="Additional Notes(Optional)" name="additional_notes" id="additional_notes"></textarea>
        </div>
      </div>
    <div class="btns text-center" id="submit_buttons">
        <div class="btn-group">
            <button class="btn std-btn mdl-button1 mdl-js-button mdl-button--raised mdl-js-ripple-effect" id="formsubmit">Submit Request</button>
            <button class="grey mdl-button2 mdl-js-button mdl-button--raised mdl-js-ripple-effect" onclick="resetBtn(this);" id="formReset">Reset</button>
        </div>
    </div>
  </form>
</div>
</section>
<div id="preloaderOverlay" style='display:none;'>
  <div class="preloader">
  <img src="{% static 'images/preloader.gif'%}" width="40" height="40" >
  </div>
</div>
{% endblock content %}

{% block main_js %}
{% include 'leads/timezone.html' %}
<script src="{% static 'js/jquery-ui.js' %}"></script>
<script type="text/javascript" src="{% static 'js/picasso_build_lead_form.js' %}"></script>
<script type="text/javascript" src="{% static 'js/material.min.js'%}"></script>
<script type="text/javascript">
  $(document).ready(function(){

    window.objectives = "{{ref_lead.picasso_objective|safe}}";
    

    var team = "{{ref_lead.team|safe}}";
    $('#team').val(team);

    var treatmentType = "{{ref_lead.treatment_type|safe}}";
    $('#treatment_type').val(treatmentType);

    $("#country").trigger('change');

    function addAdvertiser(index){
    prevIndex = parseInt(index) - 1;
    nextIndex = parseInt(index) + 1;
    $('#addAdvertiser_'+prevIndex).hide();
    $('#removeAdvertiser_'+prevIndex).hide();
    $('#removeAdvertiser_'+index).show();

   advertiserDetails = '<div class="row" id="advertiser_details'+index+'">' +
                          '<div class="col-md-6">' +
                            '<label for="first_name'+index+'">First Name</label>' +
                            '<input type="text" class="form-control" id="first_name'+index+'" name="first_name'+index+'" placeholder="First Name">' +
                          '</div>' +
                          '<div class="col-md-6">' + 
                            '<label for="last_name'+index+'">Last Name</label>' +
                            '<input type="text" class="form-control" id="last_name'+index+'" name="last_name'+index+'" placeholder="Last Name">' +
                          '</div>' +
                          '<div class="col-md-6">' +
                            '<label for="wpp_aemail'+index+'">Advertiser Email</label>' +
                            '<input type="email" class="form-control" id="wpp_aemail'+index+'" name="wpp_aemail'+index+'" placeholder="Advertiser Email">' +
                          '</div>' +
                          '<div class="col-md-6">' +
                            '<label for="phone'+index+'">Advertiser Telephone</label>' +
                            '<input type="tel" class="form-control" id="phone'+index+'" name="phone'+index+'" placeholder="Advertiser Telephone">' +
                         ' </div>' +
                          '<div class="col-md-6" >' +
                            '<label for="advertiser_role'+index+'">Role</label>' +
                            '<select title="Role" class="form-control bgicon advertiser-role" name="advertiser_role'+index+'" id="advertiser_role'+index+'">' +
                              '<option value="">Role</option>' +
                              '<option value="Owner">Owner</option>' + 
                              '<option value="Marketing">Marketing</option>' +
                              '<option value="Webmaster">Webmaster</option>' +
                              '<option value="Other">Other (please specify)</option>' +
                            '</select>' +
                          '</div>' +
                          '<div class="col-md-6 role-other'+index+'" style="display:none;">' + 
                            '<label for="role_other'+index+'">Role Other</label>' +
                            '<input type="tel" class="form-control" id="role_other'+index+'" name="role_other'+index+'" placeholder="Role Other">' +
                          '</div>'


      addAdvertiserBtn = '<div><a id="addAdvertiser_'+index+'" class="btn std-btn task-btn add" style="margin-right:15px;margin-top:32px;"><i class="fa fa-plus-circle"></i>Add Additional Contact</a></div>' + 
                        '</div>'

      removeAdvertiserBtn = '<div class="row" ><a id="removeAdvertiser_'+index+'" class="btn std-btn task-btn remove" style="margin-right: 15px;"><i class="fa fa-minus-circle"></i>Remove Additional Contact</a></div>'

         if(index!=3){
          $('#advertiser_details'+prevIndex).after(removeAdvertiserBtn+advertiserDetails+addAdvertiserBtn);
        }else{
          $('#advertiser_details'+prevIndex).after(removeAdvertiserBtn+advertiserDetails);
        }
}



function removeAdvertiser(index){
  prevIndex = parseInt(index) - 1;
  $('#advertiser_details'+index).remove();
  $('#removeAdvertiser_'+index).remove();
  $('#removeAdvertiser_'+prevIndex).show();
  $('#addAdvertiser_'+prevIndex).show();
}



$(document).on('click', '.add', function() {
    selectedId = $(this).attr('id');
    selectedIndex = selectedId.slice(-1);
    addAdvertiser(parseInt(selectedIndex)+1)

  })

$(document).on('click', '.remove', function() {
    selectedId = $(this).attr('id');
    selectedIndex = selectedId.slice(-1);
    removeAdvertiser(parseInt(selectedIndex))

  })

})

  $('#treatment_type').on('change', function(){
    treatment_type = $(this).val();
    if (treatment_type.indexOf("Regalix LP") != -1){
      $('#url_label_id').text('Website URL ( Page that needs to be converted to LP )');
    }
    else{
       $('#url_label_id').text('Website URL');
    }
  })


$(document).on('change', '.advertiser-role', function(e) {
    var selectedId = $(this).attr('id')
    var selectedRole = $(this).val();
    if (selectedRole == 'Other'){
      $(".role-other"+selectedId.slice(-1)).show();
    }else{
      $(".role-other"+selectedId.slice(-1)).hide();
      $("#role_other"+selectedId.slice(-1)).val('');
    }
  });


// on click of picasso objectives - Adding Text as Value and if it is uncheck clearing values of checkboxs
 $(document).on('change', '.mdl-checkbox__input', function() {
        id = $(this).attr('id');
        if($('#'+id).is(':checked')){
          //Aready Text as Value in element so no action
          $('#'+id).val($('#'+id).attr('data'));
        }else{
          $('#'+id).val(''); // if checkbox is unchecked then clearing its value
        }
    });

// After load enabling objectives checkboxs
 $(window).bind('load', function() {
      // code here
      objectives = window.objectives.split(',');
      objectives.forEach(function(entry) {
      $('input[data="'+entry+'"]').trigger('click')
    });

});

</script>
{% endblock main_js %}