{% extends 'layouts/main.html' %}

{% load staticfiles %}

{% block title %}
  Picasso & Bolt Audit Lead Form
{% endblock title %}
{% block main_css %}
<link rel="stylesheet" type="text/css" href="{% static 'css/material.min.css'%}">
<link rel="stylesheet" type="text/css" href="{% static 'css/picasso_lead_form.css'%}">
<style type="text/css">
  .tasks{ margin-bottom: 5px;}
  .footer{position: relative;}
  .footer .container-fluid  ul{ line-height: 62px;}
  .table-container{ min-height:300px;}
  .tab-content {
  padding-top: 1px;
  border-right: 1px solid #ddd;
  border-left: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
  background: #F9FAFC;

  }
  .list{
  width: 850px;
  margin: auto;
  border-radius: 20px;
  font-size: 15px;
  }
  .error_list{
  margin-left: 30px; 
  width: 700px;
  }
  ol li{
  list-style: decimal;
  }
  .nav > li > a:hover{
   border-top-left-radius:1em !important;
   border-top-right-radius:1em !important;
  }
  .nav > #bolt.active > a{
   background:  #F9FAFC !important;
   border-top-left-radius:1em;
   border-top-right-radius:1em;
   color: #2763c9 !important; 
  }
  .nav > #picasso.active > a{
   background:  #F9FAFC !important;
   border-top-left-radius:1em;
   border-top-right-radius:1em;
   color: #2763c9 !important; 

  }
  /*li > a:hover {
   background: #cfe0fc !important;
  }*/
  .nav-tabs > li > a {
   margin-right: 0px !important;
   width: 485px;
   font-weight: bold;
   text-align: center;
   color: #555 !important; 
  }
  .set-tab{
  padding-left: 30px !important;
  }
  .set-tab1{
  margin-left: 15px !important;
  }
  .set-tab2{
  margin-left: -15px !important;
  }
  a{
   font-weight: 500;
  }
 .set{
   padding-top: 35px;
  }
  .row-centered{
   margin: 0px 250px;
  }
 </style>
{% endblock main_css %}
{% block content %}

{% if picasso %}
  {% include 'layouts/picasso_header.html'%}
{% endif %}

<section class="content-region inner-page">
  <div class="container-fluid">
  <h1 style="font-size: 24px;
  font-family: 'robotoblack';
  text-transform: uppercase;
  text-align: center;
  border-bottom: 1px solid #ccc;
  padding-bottom: 12px;
  margin-top: 50px;
  margin-bottom: 20px;">SUBMIT PICASSO/BOLT MOBILE SITE AUDIT REQUEST</h1>
 
  <form class="lead-form" id="ctl00" onsubmit="return validatethis(this);" method="POST">
    <input type="hidden" value="{{request.META.HTTP_HOST}}{% url 'leads.views.thankyou' %}?n=6" name="retURL">
    <input type="hidden" value="{{request.META.HTTP_HOST}}{% url 'leads.views.lead_error' %}?n=6" name="errorURL">
    <input type="hidden" name="oid" value="00DZ000000MipUa">
    <input type="hidden" id="campid" name="Campaign_ID" value="None">
    <input type="hidden" id="change_lead_owner" name="change_lead_owner" value="1">
    <input type="hidden" id="picasso_lead_status" name="picasso_lead_status" value="In Queue">
    <input type="hidden" id="ctype1" name="ctype1" value="PICASSO">
    <input type="hidden" id="company" name="company" value="">
    <input type="hidden" id="country" name="country" value=".">
    <input type="hidden" class="form-control" id="aemail" name="aemail" placeholder="Advertiser Email" value="projectpicasso@regalix-inc.com">

    <input type="hidden" value="/wEPDwUKMTQ5MDIxNjIyMmRkkaquz41PfskY4KKZFRwNmxGTj9E=" id="__VIEWSTATE" name="__VIEWSTATE">
    <p style="border-radius: 20px;text-align:center;font-size: 15px;padding: 6px;background-color: #FFF2CC;width: 850px;margin: 20px auto;">This submission would be approximately number <b id="picasso_tat">{{no_of_inqueue_leads}}</b> in the queue with an expected delivery date by <b id="delivery_date" >{{estimated_tat}}</b> </p>
    
    <input type="hidden" class="form-control" id="gref" name="gref" placeholder="Google Rep Name" value='{{ user.get_full_name }}'>
   <input type="hidden" class="form-control" id="emailref" name="emailref" placeholder="Google Rep Email" value="{{ user.email }}">
   <input type="hidden" class="form-control" name="manager_name" id="manager_name" placeholder="Manager Name" value="{{user.profile.user_manager_name}}">
   <input type="hidden" class="form-control" name="manager_email" id="manager_email" placeholder="Manager Email" value="{{user.profile.user_manager_email}}">
    <div class="row"> 
       <div class="col-md-6">
        <label for="cid">Customer ID</label>
        <input type="text" class="form-control" id="cid" maxlength="255" name="cid" placeholder="Customer ID (xxx-xxx-xxxx)" onfocusout="checkout()">
      </div>

      <div class="col-md-6">
       <label for="url" id="url_label_id">Website URL</label>
        <input type="text" class="form-control" id="url" name="url1" placeholder="Website URL" onfocusout="checkout()">
      </div>

    </div>
    <p id="display_block_error_bolt" style="display:none;border-radius: 39px;text-align:center;font-size: 15px;padding: 10px 42px;background-color: #DD7E6B;width: 850px;margin:auto;margin-bottom:20px;">A lead with this CID and URL has already been submitted for a Bolt Audit. You can find more details at <a href="https://goto.google.com/PicassoDash/" target="_blank" style="color:#2763c9">go/PicassoDash</a></b> </p>

    <p id="display_block_error_picasso" style="display:none;border-radius: 39px;text-align:center;font-size: 15px;padding: 10px 42px;background-color: #DD7E6B;width: 850px;margin:auto;margin-bottom:20px;">A lead with this CID and URL has already been submitted for a Picasso Audit. You can find more details at <a href="https://goto.google.com/PicassoDash/" target="_blank" style="color:#2763c9">go/PicassoDash</a></b> </p>

    <p id="display_block_error_both" style="display:none;border-radius: 39px;text-align:center;font-size: 15px;padding: 10px 42px;background-color: #DD7E6B;width: 850px;margin:auto;margin-bottom:20px;">A lead with this CID and URL has already been submitted for both Audits. You can find more details at <a href="https://goto.google.com/PicassoDash/" target="_blank" style="color:#2763c9">go/PicassoDash</a></b> </p>

    <p id="cid_error" style="display:none;border-radius: 39px;text-align:center;font-size: 15px;padding: 10px 42px;background-color: #DD7E6B;width: 850px;margin:auto;margin-bottom:20px;">The Customer ID that you have entered is not eligible for an Audit at this time. Please enter another Customer ID or write to <a href="mailto:website-audit-support@google.com" style="color:#2763c9;">website-audit-support@google.com</a> for more information!</b> </p>
    
    <div class="row">
      <div class="col-md-6">
        <label for="picasso_pod">POD Name</label>
        <input type="text" class="form-control" id="picasso_pod" maxlength="255" name="picasso_pod" placeholder="Ex: MMS Two Apollo-US-MTV2" {% if user.profile.pod_name %} value="{{user.profile.pod_name}}" {% else %} value="" {% endif %}>
      </div>

      <div class="col-md-6">
        <label for="team">Program name</label>
        <select class="form-control bgicon" id="team" title="Program Name" name="team">
          <option value="">Select Program</option>
          {% for program in teams %}
            <option class ="{{program.picasso_lead_group_type}}" value="{{program.team_name}}">{{program.team_name}}</option>
          {% endfor %}
        </select>
      </div>
    </div>
      
    
    <div class="row">
    <ul class="nav nav-tabs">
      <li id="picasso" class="active" onclick="resetPicasso()"><a class="common" data-toggle="tab" href="#">Picasso (Mobile UI/UX)</a></li>
      <li id="bolt" style="margin-left:30px;" onclick="resetBolt()"><a class="common" data-toggle="tab" href="#">Bolt (Mobile Speed)</a></li>
    </ul>
    <div class="tab-content">
      <div class="container-fluid"><br />
        

        <div class="std-sub-title">Advertiser Details</div>

          <div class="row">
            <div class="col-md-6">
              <label for="language_selector">Language Selector</label>
                <select class="form-control bgicon" id="language_selector" title="Language Selector" name="language" onchange="optSelect.call(this, event)">
                  <option value="English">English</option>
                  <option value="German">German</option>
                </select>
            </div>
           <div class="col-md-6">
            <label for="market_selector">Market Selector</label>
                <select class="form-control bgicon" id="market_selector" title="Market Selector" name="market_selector">
                  <option value="Generic Market">Generic Market</option>
                </select>
            </div>
          </div>

          <div class="row">
  
            <div class="col-md-6">
              <label for="picasso_objective">Objective</label></br>
              <div class="checkboxvalidation" style="height:95px;">
                <label for="buy_online" class="mdl-checkbox mdl-js-checkbox mdl-js-ripple-effect checkvalid" style="width:170px;">
                  <input class="mdl-checkbox__input picasso_objective" type="checkbox" name="picasso_objective_list[]" id="buy_online" data="Buy Online"><span>Buy Online</span></br>
                </label>
                <label for="form_entry" class="mdl-checkbox mdl-js-checkbox mdl-js-ripple-effect checkvalid" style="width:208px;">
                  <input class="mdl-checkbox__input picasso_objective" type="checkbox" name="picasso_objective_list[]" id="form_entry" data="Form Entry"><span>Form Entry (Generate Leads)</span></br>
                </label>
                  <label for="call_your_business" class="mdl-checkbox mdl-js-checkbox mdl-js-ripple-effect checkvalid" style="width:170px;">
                  <input class="mdl-checkbox__input picasso_objective" type="checkbox" name="picasso_objective_list[]" id="call_your_business" data="Call your Business"><span>Call your Business</span>
                </label>
                <label for="engage_with_your_content" class="mdl-checkbox mdl-js-checkbox mdl-js-ripple-effect checkvalid" style="width:180px;">
                  <input class="mdl-checkbox__input picasso_objective" type="checkbox" name="picasso_objective_list[]" id="engage_with_your_content" data="Engage with your Content"><span>Engage with your Content</span></br>
                </label>
                <label for="become_a_fan" class="mdl-checkbox mdl-js-checkbox mdl-js-ripple-effect checkvalid" style="width:170px;">
                  <input class="mdl-checkbox__input picasso_objective" type="checkbox" name="picasso_objective_list[]" id="become_a_fan" data="Become a Fan"><span>Become a Fan</span>
                </label>
                 <label for="drive_foot_traffic" class="mdl-checkbox mdl-js-checkbox mdl-js-ripple-effect checkvalid" style="width:170px;">
                  <input class="mdl-checkbox__input picasso_objective " type="checkbox" name="picasso_objective_list[]" id="drive_foot_traffic" data="Drive Foot Traffic"><span>Drive Foot Traffic</span>
                </label>
                 <label for="install_mobile_app" class="mdl-checkbox mdl-js-checkbox mdl-js-ripple-effect checkvalid" style="width:170px;">
                  <input class="mdl-checkbox__input picasso_objective" type="checkbox" name="picasso_objective_list[]" id="install_mobile_app" data="Install Mobile App"><span>Install Mobile App</span>
                </label>
              </div>
            </div>
            <div class="col-md-6">
              <label for="additional_notes">Additional Notes(Optional)</label>
              <textarea class="form-control" name="additional_notes" id="additional_notes" style="height: 135px;"></textarea>
            </div>
          </div>


          <div class="std-sub-title  for-bolt">Please provide two Competitor URLs of your advertiser (Optional but you cannot provide just one competitor)</div>

          <div class="row for-bolt" >
            <div class="col-md-6">
             <label for="comp_url_1" id="url_label_id">Competitor URL 1</label>
              <input type="text" class="form-control" id="comp_url_1" name="url2" placeholder="Competitor URL 1">
            </div>
           <div class="col-md-6">
             <label for="comp_url_2" id="url_label_id">Competitor URL 2</label>
              <input type="text" class="form-control" id="comp_url_2" name="url3" placeholder="Competitor URL 2">
            </div>
          </div>



          <div class="std-sub-title">Contact Information - Once completed, the deck will be sent to the following</div>
          <div class="row">
            <div class="col-md-1 set" style="width:20px;">
              <label id="checkbox11" class="mdl-checkbox mdl-js-checkbox mdl-js-ripple-effect" for="checkbox1">
                  <input type="checkbox" id="checkbox1" class="mdl-checkbox__input">
                  
               </label>
            </div>
           
            <div class="col-md-4" style="width:429px;">
              <label>My Corporate Mail</label>
              <input id="corp_email" class="form-control" type="text" name="corp_email" value="{{request.user}}" readonly="readonly" onfocusout="checkout()">  
            </div>

            <div class="col-md-2 set" style="text-align:center;width:80px;">
              <p>AND/OR</p>
            </div>

            <div class="col-md-1 set" style="width:20px;">
              <label id="checkbox22" class="mdl-checkbox mdl-js-checkbox mdl-js-ripple-effect" for="checkbox2">
                  <input type="checkbox" id="checkbox2" class="mdl-checkbox__input">
                  
               </label>
            </div>
           
            <div class="col-md-4" style="width:429px;">
              <label>My Cases Alias</label>
              <input id="cases_alias" class="form-control" type="text" name="cases_alias" placeholder="Ex: fred.fs@google.com" onfocusout="checkout()">  
            </div>

          </div>
          
          <div class="row row-centered">
            <div class="col-md-1 set" style="width:20px;">
              <label id="checkbox33" class="mdl-checkbox mdl-js-checkbox mdl-js-ripple-effect" for="checkbox3">
                  <input type="checkbox" id="checkbox3" class="mdl-checkbox__input">
                  
               </label>
            </div>
            
            <div class="col-md-4" style="width:429px;">
            <label>My Advertiser E-mail</label>
              <input id="advertiser_email" class="form-control" type="text" name="advertiser_email" placeholder="Ex: barney.rubble@dabbadoo.com">
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="list">
      <ol class="error_list">  
        <li id="display_error_for_objective" style="display:none;">Please select atleast one objective</b></li>
        
        <li id="display_url_has_comma" style="display:none;">URL contains Comma</b></li>
        
        <li id="display_url_has_space" style="display:none;">URL contains Space</b></li>
        
        <li id="display_invalid_url" style="display:none;">Invalid URL</b></li>
        
        <li id="display_error_for_email_fields" style="display:none;">Please enter valid email address</b></li>

        <li id="display_error_for_same_competitor_url" style="display:none;">Competitor URLs should be different</b></li>

        <li id="display_error_for_contact_mail" style="display:none;">Please select and enter atleast one of your email addresses</b></li>

        <li id="display_error_for_cases_alias" style="display:none;">Please enter valid google email address cases alias</b></li>
      </ol>
    </div>
    <div class="btns text-center" id="submit_buttons">
        <div class="btn-group">
            <button class="btn std-btn mdl-button1 mdl-js-button mdl-button--raised mdl-js-ripple-effect" id="formsubmit">Submit Request</button>
            <button class="grey mdl-button2 mdl-js-button mdl-button--raised mdl-js-ripple-effect" onclick="resetBtn(this);" id="formReset">Reset</button>
        </div>
    </div>
  </form>
</div>
</section>
<div id="preloaderOverlay" style='display:none;'>
  <div class="preloader">
  <img src="{% static 'images/preloader.gif'%}" width="40" height="40" >
  </div>
</div>
{% endblock content %}

{% block main_js %}
<script src="{% static 'js/jquery-ui.js' %}"></script>
<script type="text/javascript" src="{% static 'js/picasso_lead_form.js' %}"></script>
<script type="text/javascript" src="{% static 'js/material.min.js'%}"></script>
<script type="text/javascript">
 $('#formsubmit').click(function(){
  $('.list').css('background','#E0A3A3');
  $('.error_list').css('margin-top','20px').css('padding','10px');
 });
  $(document).ready(function(){
    olark('api.box.hide');

     // on click of picasso objectives - Adding Text as Value and if it is uncheck clearing values of checkboxs
  $(document).on('change', '.mdl-checkbox__input', function() {
        id = $(this).attr('id');
        if($('#'+id).is(':checked')){
          //Placing data attr as Value
          $('#'+id).val($('#'+id).attr('data'));
        }else{
          $('#'+id).val(''); // if checkbox is unchecked then clearing its value
        }
    });

  $('.for-bolt').hide();
});

function getLink(href){
  var link = document.createElement("a");
  link.href = href;
  return link;
}

$('#cid').focusin(function(){
  $('#formsubmit').prop('disabled', true);
});
$('#url').focusin(function(){
  $('#formsubmit').prop('disabled', true);
});

function checkout(){
  $('.list').css('background','none');
  $('.error_list').css('margin-top','0px').css('padding','0px');
  $('#display_block_error_picasso').hide();
  $('#display_block_error_bolt').hide();
  $('#display_block_error_both').hide();
  $('#display_error_for_contact_mail').hide();
  $('#display_error_for_objective').hide();
  $('#display_url_has_space').hide();
  $('#display_url_has_comma').hide();
  $('#display_invalid_url').hide();
  $('#display_error_for_email_fields').hide();
  $('#display_error_for_cases_alias').hide();
  /*$('#invalid_competitor_url').hide();*/
  $('#display_error_for_same_competitor_url').hide();
  var cidElem = $('#cid').val().trim();
  var urlElem = $('#url').val().trim();
  if(cidElem && urlElem){
    if(urlElem.indexOf('https://') > -1){
      var link = getLink(urlElem);
      var linkhost = link.hostname;
    }else if(urlElem.indexOf('http://') > -1){
      var link = getLink(urlElem);
      var linkhost = link.hostname;
    }
    else{
      var urlElem = 'https://' + urlElem;
      var link = getLink(urlElem); 
      var linkhost = link.hostname;
    }
    $.ajax({
      url: "/leads/get-picasso-lead",
      type: "GET",
      data: {'cid': cidElem, 'url': linkhost},
      dataType: 'JSON',
      success:function(data){
        if(data['status'] == 'success'){
          $('#picasso a').trigger("click");
          if(data['type'] == 'bolt'){
            $('#display_block_error_bolt').show();
            $('#formsubmit').prop('disabled', false);
          }
          else if(data['type'] == 'picasso'){
            $('#display_block_error_picasso').show();
            $('#formsubmit').prop('disabled', true);
          }
          else if(data['type'] == 'both'){
            $('#display_block_error_both').show();
            $('#formsubmit').prop('disabled', true);
          }
          dataLayer.push({ 'event': 'gTrackEvent', 'category': 'Picasso', 'action': 'duplicate', 'label': cid.value+" - "+url.value });
        }else{
          
          $('#display_block_error_bolt').hide();
          $('#display_block_error_picasso').hide();
          $('#display_block_error_both').hide();
          $('#formsubmit').prop('disabled', false);
        }
      },
      failure:function(error) {
        // body...
      }
    });
  }else{
    checkID();
  }
}

// switching button enable disable

$('.common').click(function(){
  if($('#cid_error').is(':visible')){
    $('#formsubmit').prop('disabled', true);
  }
  else{
    if ($('#display_block_error_picasso').is(':visible')){
      if($("li#picasso").hasClass("active")){
        $('#formsubmit').prop('disabled', false);
      }

      else{
       $('#formsubmit').prop('disabled', true);
      }
    }

    else if($('#display_block_error_bolt').is(':visible') ){
      if($("li#bolt").hasClass("active")){
        $('#formsubmit').prop('disabled', false);
      }
      else{
        $('#formsubmit').prop('disabled', true);
      }
    }

    else if($('#display_block_error_both').is(':visible') ){
      $('#formsubmit').prop('disabled', true);
    }
    else{
      $('#formsubmit').prop('disabled', false);
    }
  }
          
});


</script>
{% endblock main_js %}