{% extends 'layouts/main.html' %}

{% load staticfiles %}

{% block title %}
  RLSA Bulk Upload
{% endblock title %}
{% block main_css %}
    <link rel="stylesheet" href="{% static 'css/webapp/leads/rlsa_bulk_upload.css' %}">
{% endblock main_css %}
{% block content %}
<section class="content-region inner-page">
    <div class="container-fluid">
        <h1 class="lead-header" style="">RLSA Bulk Submit</h1>
          <form class="lead-form" id="rlsaBulk" enctype="multipart/form-data">
             {% csrf_token %}
            <input type="hidden" id="oid" name="oid" value="00DZ000000MipUa">
            <input type="hidden" value="/wEPDwUKMTQ5MDIxNjIyMmRkkaquz41PfskY4KKZFRwNmxGTj9E=" id="__VIEWSTATE" name="__VIEWSTATE">
            <p style="border-radius: 20px;text-align:center;font-size: 15px;padding: 6px;background-color: #FFF2CC;width: 850px;margin: 20px auto;">
                If you do not get confirmation e-mail after submitting a lead please notify us at
                <b><a href="mailto:implementation-support@google.com" target="_top">implementation-support@google.com</a></b>
            </p>
            <div class="std-sub-title">Google Rep Info</div>
            <div class="row">
              <div class="col-md-4">
                <label for="gref">Google Rep Name</label>
                <input type="text" class="form-control" id="gref" name="gref" placeholder="Google Rep Name" value='{{ user.get_full_name }}'>
              </div>
              <div class="col-md-4">
                <label for="emailref">Google Rep Email</label>
                <input type="email" class="form-control" id="emailref" name="emailref" placeholder="Google Rep Email" value="{{ user.email }}">
              </div>
              <div class="col-md-4">
                <label for="team">Program Name</label>
                <select class="form-control bgicon" id="team" title="Program Name" name="team"
                        data-validation-error-msg="Please select your team">
                  <option value="">Program name</option>
                  {% for team in teams %}
                    <option value='{{team.team_name}}'>{{team.team_name}}</option>
                  {% endfor %}
                </select>
                <!-- <input type="text" id="team" class="form-control" title="Program Name"> -->
              </div>
              <div class="col-md-4">
              </div>
              <div class="col-md-4">
              </div>
               <div class="col-md-4">
                  <input type="email" class="form-control" id="ldap" name="ldap" title="" placeholder="Additional LDAP">
                </div>
              <div class="col-md-4">
                <label for="manager_name">Manager Name</label>
                <input type="text" class="form-control" name="manager_name" id="manager_name" placeholder="Manager Name" value="{{user.profile.user_manager_name}}">
              </div>
              <div class="col-md-4">
                <label for="manager_email">Manager Email</label>
                <input type="email" class="form-control" name="manager_email" id="manager_email" placeholder="Manager Email" value="{{user.profile.user_manager_email}}">
              </div>
              <div class="col-md-4">
                <label for="rep_location">Google Rep Location</label>
                  <input type="text" class="form-control" id="rep_location" name="rep_location" value="" placeholder="Enter Your Location" autocomplete="off">
              </div>
            </div>
            <div class="col-md-4" id="file_div" style="margin-left: -14px;">
                <input type="button" value="Choose file" id="fakeBrowse" onclick="handleBrowseClick();" style="width:40%;padding: 13px;"/>
                <input type="file" id="attachment_name" name="attachment_name" style="display: none" onChange="handleChange();" />
                <input type="text" id="filename" readonly="true" style="width:58%;padding: 13px;" />
            </div>
            <div id="submit" class="text-center">
                <div class="btn-group" style="margin-left: -43%;">
                    <button class="btn std-btn" id="file_submit" style="padding: 10px;" disabled="disabled">Submit</button>
                </div>
            </div>
          </form>
        <div id="status"></div>
        <!--div id="uploadSuccess" class="alert alert-success" style="display:none;"></div-->
        <!--div class="alert alert-danger"></div-->
        <!-- TIMELINE CODE START -->
        <section id="steps" class="steps-section" style="display:none">
            <h2 class="steps-header">Bulk upload progress</h2>

            <div class="steps-timeline">
                <div class="steps-one">
                    <div id="circle-div" class="circle"></div>
                    <h3 id="upload-status" class="steps-name">Uploading..</h3>
                </div>

                <div class="steps-two">
                    <div id="circle-div" class="circle"></div>
                    <h3 id="process-status" class="steps-name"></h3>
                </div>

                <div class="steps-three">
                    <div id="circle-div" class="circle"></div>
                    <h3 id="complete-status" class="steps-name"></h3>
                </div>
            </div>
        </section>
        <!-- TIMELINE CODE END -->
  </div>
</section>
<div id="preloaderOverlay" style='display:none;'>
  <div class="preloader">
  <img src="{% static 'images/preloader.gif'%}" width="40" height="40" >
  </div>
</div>
{% endblock content %}

{% block main_js %}
<script src="{% static 'js/jquery-ui.js' %}"></script>
<script src="{% static 'js/webapp/leads/rlsa_bulk_upload.js' %}"></script>
<script type="text/javascript" src="{% static 'js/locations.js' %}"></script>

<script type="text/javascript">

$(document).ready(function(){
    olark('api.box.hide');

    window.rep_location = "{{user.profile.rep_location|safe}}";
    if(window.rep_location){
      $('#rep_location').val(window.rep_location);
    }else{
      getLocation('rep_location');
    }

    /*capitalizing advertizer name */
    $.fn.capitalize = function () {
        $.each(this, function () {
            var split = this.value.split(' ');
            for (var i = 0, len = split.length; i < len; i++) {
                split[i] = split[i].charAt(0).toUpperCase() + split[i].slice(1).toLowerCase();
            }
            this.value = split.join(' ');
        });
        return this;
    };

    $('#advertiser_name').on('focusout', function () {
        $(this).capitalize();
    }).capitalize();
    /*end of capitalizing*/

    // Caching Elements
    var repName = $("#gref");
    var repEmail = $("#emailref");
    var repTeam = $("#team");
    var managerName = $("#manager_name");
    var managerEmail = $("#manager_email");
    var ldap = $("#ldap");

    var submit = true;
    $('form').change(function(e){
        submit = validateFormFields(repName, repEmail, repTeam, managerName, managerEmail, ldap);
    });

    $("body").on('click', '#errAlert', function(){
        clearAttachment();
    });

    $('#submit').click(function(e){
        e.preventDefault();
        if(submit)
            submit = validateFormFields(repName, repEmail, repTeam, managerName, managerEmail, ldap);


        if($('#file_submit').prop('disabled')){
            submit=false;
            var errState = document.getElementById("status");
            var html = "<div class='alert alert-warning'> \
                            <a id='errAlert' href='#' class='close' data-dismiss='alert' aria-label='close'>&times;</a> \
                        Please upload CSV file</div>";
            errState.innerHTML = html;
        }

        //Validate form
        var formData = new FormData();
        var file = document.getElementById("attachment_name").files[0];
        if (file) {
            formData.append('rlsaBulkFile',  file);
        }
        formData.append('gref', repName.val());
        formData.append('emailref', repEmail.val());
        formData.append('team', repTeam.val());
        formData.append('manager_name', managerName.val());
        formData.append('manager_email', managerEmail.val());
        formData.append('oid', $("#oid").val());
        formData.append('__VIEWSTATE', $("#__VIEWSTATE").val());
        formData.append('csrfmiddlewaretoken', $("[name='csrfmiddlewaretoken']").val());


        if (ldap.val() !== "")
            formData.append('ldap', ldap.val());

        var repLoc = $("#rep_location").val()
        if(repLoc !== "")
            formData.append('rep_location', repLoc);

        if(submit){
            $('#team').removeClass('error-box');
            $("#status").empty();
            $("form :input").attr("disabled", true);
            $("#steps").show();
            $(".steps-one > div").css('background','#0062B7');
            $.ajax({
                url: location.href,
                type: 'POST',
                xhr: function() {
                    // Custom XMLHttpRequest
                    var myXhr = $.ajaxSettings.xhr();
                    if(myXhr.upload){
                        // Check if upload property exists
                        myXhr.upload.addEventListener('progress',progressHandlingFunction, false);
                        // For handling the progress of the upload
                    }
                    return myXhr;
                },
                success: function(res){
                    if(res.success){
                        $(".steps-two > div").css('background','#4CAF50');
                        $(".steps-two > h3").text("Processed");
                        $(".steps-three > div").css('background','#0062B7');
                        $(".steps-three > div").css('background','#4CAF50');
                        $(".steps-three > h3").text("Completed");
                        $("form :input").attr("disabled", false);
                        $("#file_submit").attr("disabled", true);
                        clearAttachment();
                        resetTimeline();
                        var errState = document.getElementById("status");
                        var html = "<div class='alert alert-success'><a href='#' class='close' \
                                    data-dismiss='alert' aria-label='close'>&times;</a> <strong>Success!</strong> "+ res.new_leads +" \
                                    New lead(s) created successfully.\n <a  target='_blank' \
                                    href='/reports/rlsa-bulk-upload/'>Click here to see your bulk upload report</a></div>";
                        errState.innerHTML = html;
                    }else{
                        $(".steps-two > div").css('background','#4CAF50');
                        $(".steps-two > h3").text("Processed");
                        $(".steps-three > div").css('background','#FF0000');
                        $(".steps-three > h3").text("Upload failed");
                        $("form :input").attr("disabled", false);
                        $("#file_submit").attr("disabled", true);
                        clearAttachment();
                        if(res.error === "rows"){
                            // Errors in rows
                            var errState = document.getElementById("status");
                            var html = "<div class='alert alert-danger'><a id='errAlert' href='#' class='close' data-dismiss='alert' \
                                        aria-label='close'>&times;</a><b> Errors in following rows, please fix them and upload again</b> \
                                        <table class='table'><thead><tr><th>Row Number</th><th>Errors</th></tr></thead><tbody>";
                            $.each(res.data, function( index, value ) {
                              html += "<tr class='danger'> <td>"+value['row_count']+"</td><td><ul>"
                              $.each(value, function( key, value ) {
                                  if(key !== 'row_count'){
                                    html += "<li> <b>"+ key +"</b> : "+ value  +" </li>"
                                  }
                              });
                              html += "</ul></td></tr>";
                            });
                            html += "</tbody></table></div>";
                            errState.innerHTML = html;
                            resetTimeline();
                        }else if(res.error === "headers"){
                            // Missing headers or unknown headers
                            var errState = document.getElementById("status");
                            var html = "<div class='alert alert-danger'><a id='errAlert' href='#' class='close' data-dismiss='alert' \
                                        aria-label='close'>&times;</a> <b> Missing/Unknown headers</b> <ul>";
                            $.each(res.data, function( index, value ) {
                              html += "<li> "+index+" - "+ value +" </li>";
                            });
                            html += "</ul></div>";
                            errState.innerHTML = html;
                            resetTimeline();
                        }else{
                            // Bad File Format
                            var errState = document.getElementById("status");
                            var html = "<div class='alert alert-danger'><a id='errAlert'  href='#' class='close' data-dismiss='alert' \
                                        aria-label='close'>&times;</a> <b> Bad file format </b></div>";
                            errState.innerHTML = html;
                            resetTimeline();
                        }
                    }
                },
                error: function(e){
                    $("form :input").attr("disabled", false);
                    $("#file_submit").attr("disabled", true);
                    $(".steps-three > div").css('background','#FF0000');
                    $(".steps-three > h3").text("Upload failed");
                    clearAttachment();
                    var errState = document.getElementById("status");
                    var html = "<div class='alert alert-danger'><a id='errAlert' href='#' class='close' data-dismiss='alert' \
                                aria-label='close'>&times;</a> <b> Server error.</b> Please try after sometime or \
                                report this issue at <b><a href='mailto:implementation-support@google.com' target='_top'>implementation-support@google.com</a></b></div>"
                    errState.innerHTML = html;
                    resetTimeline();
                },
                data: formData,
                cache: false,
                contentType: false,
                processData: false
            });
        }else{
            console.log(false);
        }
    });
});
</script>
{% endblock main_js %}
