{% extends 'layouts/main.html' %}

{% load staticfiles %}

{% block content %}
<div id="content" class="clearfix">
    <div class="main_content" style="padding-top:10px;padding-bottom:420px;text-align:left;">
        Thank you for submitting the form.<br /><br />
        You will receive an email with the complete advertiser details basis the information you have provided.<br /><br />
        In case of a correction / cancellation, please reach out to <b>{{ PORTAL_MAIL_ID }}</b><br /><br />
        To add new advertiser please <a href="{{ return_link }}"><b>click here.</b></a>
    </div>
</div>
{% endblock content %}