{% extends 'layouts/main.html' %}

{% load staticfiles %}

{% block title %}
  WPP Lead Form
{% endblock title %}
{% block main_css %}
  <style type="text/css">
    .tasks{ margin-bottom: 5px;}
  </style>
{% endblock main_css %}
{% block content %}
<section class="content-region inner-page">
  <div class="container-fluid">
  <h1>Submit WPP Lead</h1>
 
  <form class="lead-form" id="ctl00" onsubmit="return validatethis(this);" method="POST">
    <input type="hidden" value="{{request.META.HTTP_HOST}}{% url 'leads.views.thankyou' %}?n=4" name="retURL">
    <input type="hidden" value="{{request.META.HTTP_HOST}}{% url 'leads.views.lead_error' %}?n=4" name="errorURL">
    <input type="hidden" name="oid" value="00DZ000000MipUa">
    <input type="hidden" id="campid" name="Campaign_ID" value="None">
    <input type="hidden" id="change_lead_owner" name="change_lead_owner" value="1">
    <input type="hidden" id="wpp_lead_status" name="wpp_lead_status" value="Open">
    <input type="hidden" id="ctype1" name="ctype1" value="WPP">
    <input type="hidden" id="code1" name="code1" value="">
    <input type="hidden" id="company" name="company" value="">
    <div class="row">
      
      <div class="col-md-6">
        <label for="treatment_type">Treatment Type</label>
        <select class="form-control bgicon" id="treatment_type" title="Treatment Type" name="treatment_type">
          <option value=""> Please Select Treatment Type</option>
            {% for type in treatment_type %}
                <option value="{{type}}"> {{type}}</option>
            {% endfor %}
        </select>
      </div>
    </div>
    <input type="hidden" value="/wEPDwUKMTQ5MDIxNjIyMmRkkaquz41PfskY4KKZFRwNmxGTj9E=" id="__VIEWSTATE" name="__VIEWSTATE">
    <div class="std-sub-title">Google Rep Information</div>
    <div class="row">
      <div class="col-md-6">
        <label for="gref">Google Rep Name</label>
        <!-- <input  id="first_name" maxlength="40" name="first_name" size="20" type="text" /> -->
        <input type="text" class="form-control" id="gref" name="gref" placeholder="Google Rep Name" value='{{ user.get_full_name }}'>
        <input type="hidden" class="form-control" id="emailref" name="emailref" placeholder="Google Rep Email" value="{{ user.email }}">
        <input type="hidden" class="form-control" name="manager_name" id="manager_name" placeholder="Manager Name" value="{{user.profile.user_manager_name}}">
        <input type="hidden" class="form-control" name="manager_email" id="manager_email" placeholder="Manager Email" value="{{user.profile.user_manager_email}}">
        <input type="hidden" class="form-control" id="aemail" name="aemail" placeholder="Advertiser Email">

      </div>
      <div class="col-md-6">
        <label for="team">Program name</label>
        <select class="form-control bgicon" id="team" title="Program Name" name="team">
            <option value='Team Green'>Team Green</option>
            <option value='Wave'>Wave</option>
        </select>
      </div>
    </div>
    <div class="std-sub-title">Advertiser Details</div>
      <div class="row">
        <div class="col-md-6">
        <label for="cid">Customer ID</label>
        <input type="text" class="form-control" id="cid" maxlength="255" name="cid" placeholder="Customer ID (xxx-xxx-xxxx)">
      </div>
      <div class="col-md-6">
         <label for="url" id="url_label_id">Website URL</label>
          <input type="text" class="form-control" id="url" name="url1" placeholder="Website URL">
        </div>
     
      
       <div class="col-md-6">
          <label for="conversion_goal">Conversion Goal</label>
          <input type="text" class="form-control" id="conversion_goal" name="conversion_goal" placeholder="Conversion Goal">
        </div>
         <div class="col-md-6">
        <label for="ab_testing">AB Testing</label>
          <select class="form-control bgicon" id="ab_testing" title="AB Testing" name="ab_testing">
            <option value='yes'>Yes</option>
            <option value='no'>No</option>
        </select>
        </div>
        <div class="col-md-12">
          <label for="tracking_code">Tracking Codes(if any)</label>
          <textarea class="form-control" placeholder="Tracking Codes" name="tracking_code" id="tracking_code"></textarea>
        </div>
      </div>
    <div class="std-sub-title">Advertiser's Contact Details</div>
    <div class="row">
        <div class="col-md-6">
          <label for="first_name">First Name</label>
          <input type="text" class="form-control" id="first_name" name="first_name" placeholder="First Name">
        </div>
        <div class="col-md-6">
          <label for="last_name">Last Name</label>
          <input type="text" class="form-control" id="last_name" name="last_name" placeholder="Last Name">
        </div>
        <div class="col-md-6">
          <label for="wpp_aemail">Advertiser Email</label>
          <input type="email" class="form-control" id="wpp_aemail" name="wpp_aemail" placeholder="Advertiser Email">
        </div>
        <div class="col-md-6">
          <label for="phone">Advertiser Telephone</label>
          <input type="tel" class="form-control" id="phone" name="phone" placeholder="Advertiser Telephone">
        </div>
        <div class="col-md-6">
          <select title="Role" class="form-control bgicon" name="tag_primary_role" id="tag_primary_role">
            <option value="">Role</option>
            <option value="Owner">Owner</option>
            <option value="Marketing">Marketing</option>
            <option value="Webmaster">Webmaster</option>
          </select>
        </div>
      </div>
    <div class="std-sub-title">Appointment Details</div>
      <div class="row">
        <div class="col-md-6" style="display:none;">
            <label for="country"> Market Served</label>
              <select class="form-control bgicon" onchange="changetime(this);" id="country" title="Program Location" name="country">
                {% for loc in wpp_loc %}
                    <option value="{{loc.location_name}}" location_id="{{loc.id}}">{{loc.location_name}}</option>
                {% endfor %}
              </select>
        </div>
        <div class="col-md-6">
            <label for="tzone">Time zone</label>
              <select title="Time Zone" class="form-control bgicon" id="tzone" name="tzone">
                <option value="">Select Time Zone</option>
              </select>
        </div> 
        <div class="col-md-6">
            <label for="aptDT">Appointment Date & Time</label>
              <input type="text" class="form-control" id="tag_datepick" process_type='WPP' placeholder="MM/DD/YYYY hh:mm AM/PM" name="tag_datepick" autocomplete='off'>
        </div>
         <div class="col-md-12">
          <label for="comment1">Additional Notes</label>
          <textarea class="form-control" placeholder="Additional Notes(Optional)" name="comment1" id="comment1"></textarea>
        </div>
      </div>
    <div class="btns text-center" id="submit_buttons">
        <div class="btn-group">
            <button class="btn std-btn">Submit WPP Lead</button>
            <button class="btn std-btn grayed" onclick="resetBtn(this);" id="formReset">Reset</button>
        </div>
    </div>
  </form>
  </div>
</section>
<div id="preloaderOverlay" style='display:none;'>
  <div class="preloader">
  <img src="{% static 'images/preloader.gif'%}" width="40" height="40" >
  
  </div>
</div>
{% endblock content %}

{% block main_js %}
{% include 'leads/timezone.html' %}
<script src="{% static 'js/jquery-ui.js' %}"></script>
<script type="text/javascript" src="{% static 'js/wpp_lead_form.js' %}"></script>
<script type="text/javascript">
  $(document).ready(function(){
    $("#country").trigger('change');
  })

  $('#treatment_type').on('change', function(){
    treatment_type = $(this).val();
    if (treatment_type.indexOf("Regalix LP") != -1){
      $('#url_label_id').text('Website URL ( Page that needs to be converted to LP )');
    }
    else{
       $('#url_label_id').text('Website URL');
    }
  })
</script>
{% endblock main_js %}