<!DOCTYPE HTML>
<html>
<head>
<meta charset="utf-8">
<title>Give Regalix a try, save time, and increase customer impact!</title>
</head>
{% load staticfiles %}

<body style="padding:0px; margin:0px auto; font-family:Calibri; color:#5f5e5e; line-height:22px;">
<table width="680" border="0" align="center" cellpadding="0" cellspacing="0" style="border:1px solid #d8d8d8;">
  <tr>
    <td colspan="6"><img src="{% static 'images/newsletter/header-img.jpg' %}" width="690" height="204"></td>
  </tr>
  <tr>
    <td width="23" height="33" style="color:#f25340; font-size:14px;">&nbsp;</td>
    <td height="33" colspan="4" align="left" valign="middle" style=" font-size:14px;">Hey There,</td>
    <td width="21" height="33" style="color:#f25340;">&nbsp;</td>
  </tr>
  <tr>
    <td>&nbsp;</td>
    <td colspan="4" style=" font-size:14px; ">Did you know that Regalix has been working with Google since October 2012 to provide product implementation support?  We currently offer support in 10 languages and have successfully completed more than 1,500 code implementations every month!<br><br>
      The benefits of Regalix’s collaboration with Google are clear - more advertisers get access to Google’s most powerful tools, Google builds deeper relationships with its customers, and sales reps save time that they can invest back into their book.  Regalix also makes it easy for you to take advantage of their support, offering real-time appointment scheduling and easy-to-use status reporting.  If you have not used our support in the past, try us out!
    </td>
    <td>&nbsp;</td>
  </tr>
  <tr>
    <td height="37">&nbsp;</td>
    <td height="37" colspan="4" align="center" valign="middle"><strong style="color:#1167e9; font-size:14px;">Sales tasks that are currently supported </strong></td>
    <td>&nbsp;</td>
  </tr>
  <tr>
    <td height="7" colspan="6"></td>
  </tr>
  <tr>
    <td>&nbsp;</td>
    <td width="319" rowspan="12" align="left" valign="top" style=" border-radius: 5px;
    background-color: #f2f3f7; color: #474747;  font-size:14px; border: 1px solid #e4e5e5;"><table width="306" border="0" align="center">
      <tr>
        <td height="54" colspan="3" align="center" valign="middle"><img src="{% static 'images/newsletter/adw-logo.png' %}" width="246" height="45"></td>
        </tr>
      <tr>
        <td width="7">&nbsp;</td>
        <td width="12" align="left" valign="middle"><img src="{% static 'images/newsletter/round.png' %}" width="9" height="8"></td>
        <td width="273">AW Conversion Tracking</td>
      </tr>
      <tr>
        <td>&nbsp;</td>
        <td align="left" valign="top"><img src="{% static 'images/newsletter/round.png' %}" alt="" width="9" height="8"></td>
        <td>AW Remarketing</td>
        </tr>
      <tr>
        <td>&nbsp;</td>
        <td align="left" valign="top"><img src="{% static 'images/newsletter/round.png' %}" alt="" width="9" height="8"></td>
        <td>AW Dynamic Remarketing</td>
      </tr>
      <tr>
        <td>&nbsp;</td>
        <td align="left" valign="top"><img src="{% static 'images/newsletter/round.png' %}" alt="" width="9" height="8"></td>
        <td><span id="docs-internal-guid-d4566a45-e924-3584-d8e7-2ba10cc0d4bc">Call as Conversion</span></td>
        </tr>
      <tr>
        <td height="29" colspan="3" align="center" valign="bottom"><img src="{% static 'images/newsletter/line.png' %}" width="280" height="11"></td>
      </tr>
      <tr>
        <td height="62" colspan="3" align="center" valign="middle"><img src="{% static 'images/newsletter/ana-logo.png' %}" alt="" width="231" height="45"></td>
      </tr>
      <tr>
        <td height="20" align="center" valign="middle">&nbsp;</td>
        <td height="20" align="left" valign="top"><img src="{% static 'images/newsletter/round.png' %}" alt="" width="9" height="8"></td>
        <td height="20" align="left" valign="top"><span id="docs-internal-guid-d4566a45-c2fd-abf5-60eb-537cf5628014"></span>Analytics Setup</td>
        </tr>
      <tr>
        <td height="23" align="center" valign="middle">&nbsp;</td>
        <td height="23" align="left" valign="top"><img src="{% static 'images/newsletter/round.png' %}" alt="" width="9" height="8"></td>
        <td height="23" align="left" valign="top"><span id="docs-internal-guid-d4566a45-c2fd-d6a6-c3be-f07f3ad4ab32">GA Conversion Tracking<br>
        </span></td>
      </tr>
      <tr>
        <td height="30" align="center" valign="middle">&nbsp;</td>
        <td height="30" align="left" valign="top">&nbsp;</td>
        <td height="30" align="left" valign="top"><table width="249" border="0">
          <tr>
            <td width="10" align="left" valign="middle"><img src="{% static 'images/newsletter/round1.png' %}" width="5" height="6"></td>
            <td width="229">GA Event</td>
            </tr>
          <tr>
            <td align="left" valign="middle"><img src="{% static 'images/newsletter/round1.png' %}" alt="" width="5" height="6"></td>
            <td>GA Destination</td>
          </tr>
          <tr>
            <td align="left" valign="middle"><img src="{% static 'images/newsletter/round1.png' %}" alt="" width="5" height="6"></td>
            <td>GA Duration</td>
          </tr>
          <tr>
            <td align="left" valign="middle"><img src="{% static 'images/newsletter/round1.png' %}" alt="" width="5" height="6"></td>
            <td>GA Page visit Tracking</td>
          </tr>
        </table></td>
      </tr>
      <tr>
        <td height="23" align="center" valign="middle">&nbsp;</td>
        <td height="23" align="left" valign="top"><img src="{% static 'images/newsletter/round.png' %}" alt="" width="9" height="8"></td>
        <td height="23" align="left" valign="top"><span id="docs-internal-guid-d4566a45-c2fe-7f98-ae4f-a31bc0d096ff">eCommerce Tracking</span></td>
      </tr>
      <tr>
        <td height="23" align="center" valign="middle">&nbsp;</td>
        <td height="23" align="left" valign="top"><img src="{% static 'images/newsletter/round.png' %}" alt="" width="9" height="8"></td>
        <td height="23" align="left" valign="top">GA Remarketing</td>
      </tr>
      <tr>
        <td height="23" align="center" valign="middle">&nbsp;</td>
        <td height="23" align="left" valign="top"><img src="{% static 'images/newsletter/round.png' %}" alt="" width="9" height="8"></td>
        <td height="23" align="left" valign="top">Dynamic Remarketing Code</td>
      </tr>
      <tr>
        <td height="30" align="center" valign="middle">&nbsp;</td>
        <td height="30" align="left" valign="top"><img src="{% static 'images/newsletter/round.png' %}" alt="" width="9" height="8"></td>
        <td height="30" align="left" valign="top"><span id="docs-internal-guid-d4566a45-c2fe-bca6-a807-824ae2f27c11">GA Cross Domain Tracking</span></td>
      </tr>
      <tr>
        <td colspan="3"></td>
        </tr>
      
    </table></td>
    <td width="4" rowspan="12" align="left" valign="top">&nbsp;</td>
    <td colspan="2" rowspan="12" align="center" style=" border-radius: 5px;
    background-color: #f2f3f7; color: #474747;  font-size:14px; border: 1px solid #e4e5e5;" valign="top"><table width="293" border="0" align="center">
        <tr>
          <td height="3" colspan="3"></td>
        </tr>
        <tr>
          <td colspan="3" align="center"><img src="{% static 'images/newsletter/shoping.png' %}" alt="" width="231" height="45"></td>
        </tr>
        <tr>
          <td align="center" valign="middle">&nbsp;</td>
          <td align="left" valign="middle"><img src="{% static 'images/newsletter/round.png' %}" alt="" width="9" height="8"></td>
          <td align="left" valign="middle"><span id="docs-internal-guid-d4566a45-e950-7b75-70ff-40ee9cc2e2ab3">Shopping Campaign Opt-in</span></td>
        </tr>
        <tr>
          <td width="12" height="77" align="center" valign="middle">&nbsp;</td>
          <td width="13" align="left" valign="middle">&nbsp;</td>
          <td width="254" align="left" valign="middle">&nbsp;</td>
        </tr>
        <tr>
          <td height="25" colspan="3"><img src="{% static 'images/newsletter/line.png' %}" alt="" width="280" height="11"></td>
        </tr>
        <tr>
          <td colspan="3" align="center" valign="middle"><img src="{% static 'images/newsletter/tag-logo.png' %}" alt="" width="200" height="45"></td>
        </tr>
        <tr>
          <td colspan="3" align="center" valign="middle"><table width="279" border="0" style="font-size:14px;">
            <tr>
              <td width="10">&nbsp;</td>
              <td width="14"><img src="{% static 'images/newsletter/round.png' %}" alt="" width="9" height="8"></td>
              <td width="241"><span id="docs-internal-guid-d4566a45-e945-d530-6741-9a7743a956f2">GTM Setup</span></td>
            </tr>
            <tr>
              <td>&nbsp;</td>
              <td><img src="{% static 'images/newsletter/round.png' %}" alt="" width="9" height="8"></td>
              <td>GTM Analytics Setup</td>
            </tr>
            <tr>
              <td>&nbsp;</td>
              <td>&nbsp;</td>
              <td align="left" valign="top"><table width="230" border="0">
                <tr>
                  <td width="10" align="left" valign="middle"><img src="{% static 'images/newsletter/round1.png' %}" alt="" width="5" height="6"></td>
                  <td width="229">Cross domain Tracking</td>
                </tr>
                <tr>
                  <td align="left" valign="middle"><img src="{% static 'images/newsletter/round1.png' %}" alt="" width="5" height="6"></td>
                  <td>eCommerce Tracking</td>
                </tr>
                <tr>
                  <td align="left" valign="middle"><img src="{% static 'images/newsletter/round1.png' %}" alt="" width="5" height="6"></td>
                  <td>Event Tracking</td>
                </tr>
              </table></td>
            </tr>
            <tr>
              <td>&nbsp;</td>
              <td><img src="{% static 'images/newsletter/round.png' %}" alt="" width="9" height="8"></td>
              <td>GTM AdWords Tracking</td>
            </tr>
            <tr>
              <td>&nbsp;</td>
              <td>&nbsp;</td>
              <td><table width="230" border="0">
                <tr>
                  <td width="10" align="left" valign="middle"><img src="{% static 'images/newsletter/round1.png' %}" alt="" width="5" height="6"></td>
                  <td width="229">GTM Remarketing</td>
                </tr>
                <tr>
                  <td align="left" valign="middle"><img src="{% static 'images/newsletter/round1.png' %}" alt="" width="5" height="6"></td>
                  <td>GTM Conversion Tracking</td>
                </tr>
                <tr>
                  <td align="left" valign="middle"><img src="{% static 'images/newsletter/round1.png' %}" alt="" width="5" height="6"></td>
                  <td>GTM Dynamic Tracking</td>
                </tr>
                <tr>
                  <td align="left" valign="middle"><img src="{% static 'images/newsletter/round1.png' %}" alt="" width="5" height="6"></td>
                  <td>GTM Custom html</td>
                </tr>
              </table></td>
            </tr>
          </table></td>
        </tr>
      </table></td>
    <td>&nbsp;</td>
  </tr>
  <tr>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
  </tr>
  <tr>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
  </tr>
  <tr>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
  </tr>
  <tr>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
  </tr>
  <tr>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
  </tr>
  <tr>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
  </tr>
  <tr>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
  </tr>
  <tr>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
  </tr>
  <tr>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
  </tr>
  <tr>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
  </tr>
  <tr>
    <td height="253">&nbsp;</td>
    <td>&nbsp;</td>
  </tr>
  <tr>
    <td height="8" colspan="6"></td>
  </tr>
  <tr>
    <td height="40">&nbsp;</td>
    <td colspan="4" align="center" valign="middle"><span id="docs-internal-guid-d4566a45-c2ff-feb8-0431-924fac5b7c32"><strong style="font-size:14px; color:#1167e9;">Languages and regions that are currently supported</strong></span></td>
    <td>&nbsp;</td>
  </tr>
  <tr>
    <td height="112">&nbsp;</td>
    <td colspan="4" style=" border-radius: 5px;
    background-color: #fff; color: #474747;  font-size:14px; border: 1px solid #e4e5e5;"><table width="638" border="0" align="center">
      <tr>
        <td height="28" align="left" valign="top"><strong style="color:#1167e9;">Languages: </strong> English, Dutch, French, German, Italian, Japanese, Mandarin, Portuguese & Spanish </td>
        <td width="302" valign="top"><strong style="color:#1167e9;">Regions:</strong> Africa,  Austria,  AU/NZ, China,  France,  Germany,  India,  Italy,  Japan,  Middle East,  Netherlands, North America,  Russia,  Portugal,  SEA,  South America (LATAM), Spain, Switzerland &amp; UK/I</td>
      </tr>
      <tr>
        <td height="5" colspan="2"></td>
      </tr>
    </table></td>
    <td>&nbsp;</td>
  </tr>
  <tr>
    <td height="64">&nbsp;</td>
    <td colspan="4"  style=" border-radius: 5px;
    background-color: #fff; color: #474747;  font-size:14px; border: 0px solid #e4e5e5;"><table width="632" border="0" align="left">
      <tr>
        <td height="9" colspan="3"></td>
        </tr>
      <tr>
        <td height="7" colspan="3"><strong style="color:#1167e9; ">&nbsp;Getting started: </strong></td>
      </tr>
      <tr>
        <td width="9" align="center" valign="top">&nbsp;</td>
        <td width="10" align="left" valign="middle"><img src="{% static 'images/newsletter/round.png' %}" alt="" width="9" height="8"></td>
        <td width="599">Watch <a href="https://www.youtube.com/watch?v=5Ox4vsNmo-U" target="_blank">this video</a> on how to submit a lead on the portal</td>
      </tr>
      <tr>
        <td align="center" valign="top">&nbsp;</td>
        <td align="left" valign="middle"><img src="{% static 'images/newsletter/round.png' %}" alt="" width="9" height="8"></td>
        <td valign="top"> Visit go/Regalix and submit a lead form to <span style="color:#959595;"><a href="https://google.regalix.com/main/home#forms" target="_blank">submit TAG &amp; Shopping leads</a></span></td>
      </tr>
      <tr>
        <td align="center" valign="top">&nbsp;</td>
        <td align="left" valign="middle"><img src="{% static 'images/newsletter/round.png' %}" alt="" width="9" height="8"></td>
        <td><a href="https://google.regalix.com/main/home#notification_contacts" target="_blank">Warm transfers</a> (<span>For now only teams in US, UK/I, Germany can live transfer)</span></td>
      </tr>
      <tr>
        <td align="center" valign="middle">&nbsp;</td>
        <td align="left" valign="middle"><img src="{% static 'images/newsletter/round.png' %}" alt="" width="9" height="8"></td>
        <td>Check the portal for the status of your<span > <a href="https://google.regalix.com/leads/leads-list/" target="_blank">submitted Lead</a></span></td>
      </tr>
    </table></td>
    <td>&nbsp;</td>
  </tr>
  <tr>
    <td height="111">&nbsp;</td>
    <td colspan="4"  style=" border-radius: 5px;
    background-color: #fff; color: #474747;  font-size:14px; border: 0px solid #e4e5e5;"><table width="632" border="0" align="left">
      <tr>
        <td height="22" colspan="3"><strong style="color:#1167e9; ">&nbsp;&nbsp;&nbsp;Celebrating our joint success: </strong>In Q3, Regalix completed</td>
      </tr>
      <tr>
        <td width="7" align="center" valign="middle">&nbsp;</td>
        <td width="11" align="left" valign="middle"><img src="{% static 'images/newsletter/round.png' %}" alt="" width="9" height="8"></td>
        <td width="600">4939 code implementations, up by 48% since last Q &amp; up by 170% since same time last year</td>
      </tr>
      <tr>
        <td align="center" valign="middle">&nbsp;</td>
        <td align="left" valign="middle"><img src="{% static 'images/newsletter/round.png' %}" alt="" width="9" height="8"></td>
        <td>398 New Shopping Campaign setups</td>
      </tr>
      <tr>
        <td align="center" valign="middle">&nbsp;</td>
        <td align="left" valign="middle"><img src="{% static 'images/newsletter/round.png' %}" alt="" width="9" height="8"></td>
        <td>In total, sales implementation support saved Googlers 3000+ hours!<br></td>
      </tr>
    </table></td>
    <td>&nbsp;</td>
  </tr>
  <tr>
    <td height="126" rowspan="2">&nbsp;</td>
    <td height="25" colspan="4"  style=" border-radius: 5px;
    background-color: #fff;  font-size:14px; color:#1167e9; border: 0px solid #e4e5e5;"><strong>Here is some great feedback from David Dai, a Mid-market Sales rep: </strong></td>
    <td rowspan="2">&nbsp;</td>
  </tr>
  <tr>
    <td colspan="4" align="left" valign="top"  style=" border-radius: 5px;
    background-color: #fff; color: #474747;  font-size:14px; border: 0px solid #e4e5e5;"><em>“Tom [Mandarin-language Implementation Specialist] has been an invaluable resource this quarter for the MMS2 pod.  I really appreciate Tom's responsiveness and ability to solve my clients' issues regarding conversion tracking, remarketing and shopping campaigns.  All of Tom's efforts have brought additional revenue from clients as well as trust in the account manager and Google. I look forward to working with Tom in Q4 to continue to provide this value add to clients.”</em></td>
  </tr>
  <tr>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td colspan="2">&nbsp;</td>
    <td width="300" align="right" style="font-size:14px; font-style:italic; color:#0781d6;">&nbsp;</td>
    <td>&nbsp;</td>
  </tr>
  <tr>
    <td colspan="6" bgcolor="#ccccff">&nbsp;</td>
  </tr>
</table>
</body>
</html>
