<!DOCTYPE HTML>
<html>
<head>
<meta charset="utf-8">
<title>Implementation Support Updates - The new and improved Regalix</title>
</head>
{% load staticfiles %}

<body style="padding:0px; margin:0px auto; font-family:Calibri; color:#5f5e5e; line-height:22px;">
<table width="680" border="0" align="center" cellpadding="0" cellspacing="0" style="border:1px solid #d8d8d8;  font-size:14px; color: #474747;">
  <tr>
    <td colspan="6"><img src="{% static 'images/newsletter/header2-img.jpg' %}" width="690" height="204"></td>
  </tr>
  <tr>
    <td width="23" height="35" style="color:#f25340; ">&nbsp;</td>
    <td height="35" colspan="4" style=" font-size:14px;">Hey There,</td>
    <td width="22" height="35" style="color:#f25340;">&nbsp;</td>
  </tr>
  <tr>
    <td height="74">&nbsp;</td>
    <td colspan="4" valign="top" style="color: #474747; font-size:14px; ">It has been a while since you last submitted a product implementation request, and we want you to give us another try.  We have been listening to your feedback and have made significant enhancements to the program.  Check out the new and improved <a href="https://google.regalix.com/main/home#forms" target="_blank">go/Regalix</a> portal, and send your product implementation requests our way. <br></td>
    <td>&nbsp;</td>
  </tr>
  <tr>
    <td height="238">&nbsp;</td>
    <td colspan="4" align="center" valign="top" style="color: #474747; font-size:14px; "><table style=" text-align:justify;" width="640" border="0">
      <tr>
        <td colspan="2" align="left" valign="top"><span style=" font-size:14px; "><strong style="color:#1167e9;">Recent enhancements to Sales Implementation support:</strong> We have heard your feedback, and have implemented multiple enhancements with a view to improve customer experience:</span></td>
        </tr>
      <tr>
        <td width="11" align="left" valign="top"><img src="{% static 'images/newsletter/round.png' %}" alt="" width="9" height="8"></td>
        <td width="619" align="left" valign="top">Lead scheduling now built into the lead submission form</td>
      </tr>
      <tr>
        <td align="left" valign="top"><img src="{% static 'images/newsletter/round.png' %}" alt="" width="9" height="8"></td>
        <td align="left" valign="top">Extra capacity to ensure we can meet demand</td>
      </tr>
      <tr>
        <td align="left" valign="top"><img src="{% static 'images/newsletter/round.png' %}" alt="" width="9" height="8"></td>
        <td align="left" valign="top">Increased toll free lines to help with warm transfers [US, UK/I, and Germany only]</td>
      </tr>
      <tr>
        <td align="left" valign="middle"><img src="{% static 'images/newsletter/round.png' %}" alt="" width="9" height="8"></td>
        <td align="left" valign="middle">Self-service <a href="https://google.regalix.com/leads/leads-list/" target="_blank">Lead Status</a> reporting on the go/Regalix portal</td>
      </tr>
      <tr>
        <td height="21" align="left" valign="middle"><img src="{% static 'images/newsletter/round.png' %}" alt="" width="9" height="8"></td>
        <td rowspan="2" align="left" valign="middle">Follow-up emails throughout the implementation cycle (e.g., to confirm code implementation or notify you of roadblocks associated with your leads)</td>
      </tr>
      <tr valign="top">
        <td align="left">&nbsp;</td>
      </tr>
      <tr>
        <td align="left" valign="top"><img src="{% static 'images/newsletter/round.png' %}" alt="" width="9" height="8"></td>
        <td align="left" valign="top">Support for additional code types, including Website Call Conversion</td>
      </tr>
    </table></td>
    <td>&nbsp;</td>
  </tr>
  <tr>
    <td height="45" >&nbsp;</td>
    <td height="45" colspan="4" align="center" valign="middle" style="color: #474747; font-size:14px; "><strong style="color:#1167e9; font-size:14px;">We Support the Following Sales Tasks </strong></td>
    <td>&nbsp;</td>
  </tr>
  <tr>
    <td>&nbsp;</td>
    <td rowspan="12" align="left" valign="top" style=" border-radius: 5px;
    background-color: #f5f5f5; color: #474747;  font-size:14px; border: 1px solid #e4e5e5;"><table width="306" border="0" align="center">
      <tr>
        <td height="29" colspan="3" align="left" valign="bottom"><img src="{% static 'images/newsletter/adw-logo1.png' %}" alt="" width="122" height="23"></td>
      </tr>
      <tr>
        <td width="7" height="44">&nbsp;</td>
        <td width="285" colspan="2" align="left" valign="middle">AW Conversion Tracking, AW Remarketing, AW Dynamic Remarketing, Call as Conversion.</td>
      </tr>
      <tr>
        <td height="22" colspan="3" align="center" valign="bottom"><img src="{% static 'images/newsletter/line.png' %}" alt="" width="280" height="11"></td>
      </tr>
      <tr>
        <td height="31" colspan="3" align="left" valign="middle"><img src="{% static 'images/newsletter/ana-logo1.png' %}" alt="" width="123" height="24"></td>
      </tr>
      <tr>
        <td height="20" align="center" valign="middle">&nbsp;</td>
        <td height="20" colspan="2" align="left" valign="top"><span ></span>Analytics Setup, GA Conversion Tracking <span style="font-size:14px;">(GA Event, GA Destination, GA Duration, GA Page visit Tracking)</span>, eCommerce Tracking, GA Remarketing, Dynamic Remarketing Code, GA Cross Domain Tracking.</td>
      </tr>
      <tr>
        <td height="6" colspan="3"></td>
      </tr>
    </table></td>
    <td rowspan="12" align="left" valign="top">&nbsp;</td>
    <td colspan="2" rowspan="12" align="center" style=" border-radius: 5px;
    background-color: #f5f5f5; color: #474747;  font-size:14px; border: 1px solid #e4e5e5;" valign="top"><table width="293" border="0" align="center">
      <tr>
        <td height="3" colspan="2"></td>
      </tr>
      <tr>
        <td colspan="2" align="left" valign="top"><img src="{% static 'images/newsletter/shoping1.png' %}" alt="" width="123" height="24"></td>
      </tr>
      <tr>
        <td height="42" colspan="2" valign="top"><table width="291" border="0" style="font-size:14px;">
          <tr>
            <td width="10">&nbsp;</td>
            <td width="271">Shopping Campaign Opt-in.</td>
          </tr>
        </table></td>
      </tr>
      <tr>
        <td height="21" colspan="2" align="center" valign="top"><img src="{% static 'images/newsletter/line.png' %}" alt="" width="280" height="11"></td>
      </tr>
      <tr>
        <td colspan="2" align="left" valign="middle"><img src="{% static 'images/newsletter/tag-logo1.png' %}" alt="" width="102" height="23"></td>
      </tr>
      <tr>
        <td width="11" align="center" valign="middle">&nbsp;</td>
        <td width="272" align="left" valign="middle"><span id="docs-internal-guid-d4566a45-e950-7b75-70ff-40ee9cc2e2ab">GTM Setup, GTM Analytics Setup <span style="font-size:14px;">(Cross domain Tracking, eCommerce Tracking, Event Tracking)</span>, GTM AdWords Tracking <span style="font-size:14px;">(GTM Remarketing, GTM Conversion Tracking, GTM Dynamic Tracking, GTM Custom html).</span></span></td>
      </tr>
    </table></td>
    <td>&nbsp;</td>
  </tr>
  <tr>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
  </tr>
  <tr>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
  </tr>
  <tr>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
  </tr>
  <tr>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
  </tr>
  <tr>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
  </tr>
  <tr>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
  </tr>
  <tr>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
  </tr>
  <tr>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
  </tr>
  <tr>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
  </tr>
  <tr>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
  </tr>
  <tr>
    <td height="20">&nbsp;</td>
    <td>&nbsp;</td>
  </tr>
  <tr>
    <td height="10"></td>
    <td colspan="4" height="10" ></td>
    <td height="10"></td>
  </tr>
  <tr>
    <td height="118">&nbsp;</td>
    <td colspan="4" style=" font-size:14px; "><table width="640" border="0" align="center">
      <tr>
        <td height="22" colspan="2" align="left" valign="top"><strong style="color:#1167e9;">Celebrating our joint success:</strong> In Q3, Regalix completed</td>
      </tr>
      <tr>
        <td width="11" align="center" valign="middle"><img src="{% static 'images/newsletter/round.png' %}" alt="" width="9" height="8"></td>
        <td width="619">4939 code implementations, up by 48% since last Q &amp; up by 170% since same time last year</td>
      </tr>
      <tr>
        <td align="center" valign="middle"><img src="{% static 'images/newsletter/round.png' %}" alt="" width="9" height="8"></td>
        <td>438 New Shopping Campaign setups</td>
      </tr>
      <tr>
        <td height="19" align="center" valign="middle"><img src="{% static 'images/newsletter/round.png' %}" alt="" width="9" height="8"></td>
        <td valign="top">In total, sales implementation support saved Googlers 3000+ hours!</td>
      </tr>
    </table></td>
    <td>&nbsp;</td>
  </tr>
  <tr>
    <td height="2"></td>
    <td  height="2" colspan="4"></td>
    <td height="2"></td>
  </tr>
  <tr>
    <td  rowspan="2"></td>
    <td height="32" colspan="4" align="left" valign="middle" style=" font-size:14px; "><strong style="color:#1167e9;">Here is some great feedback from David Dai, a Mid-market Sales rep: </strong></td>
    <td rowspan="2"></td>
  </tr>
  <tr>
    <td height="118" colspan="4" align="left" valign="top" style=" font-size:14px; "><em>“Tom [Mandarin-language Implementation Specialist] has been an invaluable resource this quarter for the MMS2 pod.  I really appreciate Tom's responsiveness and ability to solve my clients' issues regarding conversion tracking, remarketing and shopping campaigns.  All of Tom's efforts have brought additional revenue from clients as well as trust in the account manager and Google. I look forward to working with Tom in Q4 to continue to provide this value add to clients.”<br>
    </em></td>
  </tr>
  <tr>
    <td>&nbsp;</td>
    <td colspan="4" style=" border-radius: 5px;
    background-color: #fde9da; color: #474747;  font-size:14px; border: 1px solid #ffa360; padding:5px;"><strong style="color:#f37115; font-size:14px;">Your feedback is highly appreciated: </strong>submit feedback using feedback form at <a href="https://docs.google.com/a/google.com/forms/d/1RtZcbW2pAGKyQl6qLMuxnb_txEqLL1QEoHW73N6AApA/viewform" target="_blank">go/RegalixFeedback</a>.</td>
    <td>&nbsp;</td>
  </tr>
  <tr>
    <td>&nbsp;</td>
    <td width="315">&nbsp;</td>
    <td colspan="2">&nbsp;</td>
    <td width="304" align="right" style="font-size:14px;">&nbsp;</td>
    <td>&nbsp;</td>
  </tr>
  <tr>
    <td colspan="6" bgcolor="#ccccff">&nbsp;</td>
  </tr>
</table>
</body>
</html>
