<!DOCTYPE HTML>
<html>
<head>
<meta charset="utf-8">
<title>Implementation Support Updates - September 2014 | Newsletter</title>
</head>
{% load staticfiles %}

<body style="padding:0px; margin:0px auto; font-family:Calibri; color:#5f5e5e; line-height:22px;">
<table width="680" border="0" align="center" cellpadding="0" cellspacing="0" style="border:1px solid #d8d8d8;  font-size:14px; color: #474747;">
  <tr>
    <td colspan="6"><img src="{% static 'images/newsletter/header3-img.jpg' %}" width="690" height="205"></td>
  </tr>
  <tr>
    <td width="23" height="31" style="color:#f25340; font-size:17px;">&nbsp;</td>
    <td height="31" colspan="4" align="left" valign="middle" style=" font-size:14px;">Hey There,</td>
    <td width="22" height="31" style="color:#f25340; font-size:17px;">&nbsp;</td>
  </tr>
  <tr>
    <td height="51">&nbsp;</td>
    <td colspan="4" valign="top" style="color: #474747; font-size:14px; "><span> Thank you for taking advantage of Regalix’s implementation support in Q3.  As we transition into Q4, we wanted to take a minute to celebrate our joint successes and share a few best practices. </span></td>
    <td>&nbsp;</td>
  </tr>
  <tr>
    <td height="110">&nbsp;</td>
    <td colspan="4" align="center" valign="top" style="color: #474747; font-size:14px; "><table width="629" border="0" align="left" style="vertical-align:top;">
      <tr>
        <td height="22" colspan="2" align="left" valign="middle"><strong style="color:#1167e9;">Celebrating our joint success</strong>: In Q3, <span id="docs-internal-guid-b794810d-ea06-eabb-897c-d0f7b202acaa2">together we completed</span></td>
      </tr>
      <tr>
        <td width="14" align="left" valign="middle"><img src="{% static 'images/newsletter/round.png' %}" alt="" width="9" height="8"></td>
        <td width="605" align="left" valign="middle">4939 code implementations<strong>, </strong>up by 48% since last Q &amp; up by 170% since same time last year</td>
      </tr>
      <tr>
        <td align="left" valign="middle"><img src="{% static 'images/newsletter/round.png' %}" alt="" width="9" height="8"></td>
        <td align="left" valign="middle">438 New Shopping Campaign setups</td>
      </tr>
      <tr>
        <td align="left" valign="middle"><img src="{% static 'images/newsletter/round.png' %}" alt="" width="9" height="8"></td>
        <td align="left" valign="middle">In total, sales implementation support saved Googlers 3000+ hours!</td>
      </tr>
    </table></td>
    <td>&nbsp;</td>
  </tr>
  <tr>
    <td height="162">&nbsp;</td>
    <td colspan="4" align="center" valign="top" style="color: #474747; font-size:14px; "><table width="640" border="0" align="right">
      <tr>
        <td height="43" colspan="2" align="left" valign="top"><strong style="color:#1167e9; font-size:14px;">Recent enhancements to Sales Implementation support: </strong>We have heard your feedback, and have implemented multiple enhancements with a view to improve customer experience:
</td>
      </tr>
      <tr>
        <td width="13" align="left" valign="top"><img src="{% static 'images/newsletter/round.png' %}" alt="" width="9" height="8"></td>
        <td width="617" valign="top">Self-service <a href="https://google.regalix.com/leads/leads-list/" target="_blank" >Lead Status</a> reporting on the go/Regalix portal</td>
      </tr>
      <tr>
        <td align="left" valign="top"><img src="{% static 'images/newsletter/round.png' %}" alt="" width="9" height="8"></td>
        <td valign="top">Follow-up emails throughout the implementation cycle (e.g., to confirm code implementation or notify you of roadblocks associated with your leads)</td>
      </tr>
      <tr>
        <td align="left" valign="top"><img src="{% static 'images/newsletter/round.png' %}" alt="" width="9" height="8"></td>
        <td valign="top">Support for additional code types, including Website Call Conversion</td>
      </tr>
    </table></td>
    <td>&nbsp;</td>
  </tr>
  <tr>
    <td height="38">&nbsp;</td>
    <td colspan="4" align="center" valign="middle" style="color: #474747; font-size:14px; "><strong style="color:#1167e9; font-size:14px;">We Support the Following Sales Tasks </strong></td>
    <td>&nbsp;</td>
  </tr>
  <tr>
    <td>&nbsp;</td>
    <td rowspan="12" align="left" valign="top" style=" border-radius: 5px;
    background-color: #f5f5f5; color: #474747;  font-size:14px; border: 1px solid #e4e5e5;"><table width="306" border="0" align="center">
      <tr>
        <td height="29" colspan="3" align="left" valign="bottom"><img src="{% static 'images/newsletter/adw-logo1.png' %}" alt="" width="122" height="23"></td>
      </tr>
      <tr>
        <td width="7" height="44">&nbsp;</td>
        <td width="285" colspan="2" align="left" valign="middle">AW Conversion Tracking, AW Remarketing, AW Dynamic Remarketing, Call as Conversion.</td>
      </tr>
      <tr>
        <td height="22" colspan="3" align="center" valign="bottom"><img src="{% static 'images/newsletter/line.png' %}" alt="" width="280" height="11"></td>
      </tr>
      <tr>
        <td height="31" colspan="3" align="left" valign="middle"><img src="{% static 'images/newsletter/ana-logo1.png' %}" alt="" width="123" height="24"></td>
      </tr>
      <tr>
        <td height="20" align="center" valign="middle">&nbsp;</td>
        <td height="20" colspan="2" align="left" valign="top"><span ></span>Analytics Setup, GA Conversion Tracking <span style="font-size:14px;">(GA Event, GA Destination, GA Duration, GA Page visit Tracking)</span>, eCommerce Tracking, GA Remarketing, Dynamic Remarketing Code, GA Cross Domain Tracking.</td>
      </tr>
      <tr>
        <td height="6" colspan="3"></td>
      </tr>
    </table></td>
    <td rowspan="12" align="left" valign="top">&nbsp;</td>
    <td colspan="2" rowspan="12" align="center" style=" border-radius: 5px;
    background-color: #f5f5f5; color: #474747;  font-size:14px; border: 1px solid #e4e5e5;" valign="top"><table width="293" border="0" align="center">
      <tr>
        <td height="3" colspan="2"></td>
      </tr>
      <tr>
        <td colspan="2" align="left" valign="top"><img src="{% static 'images/newsletter/shoping1.png' %}" alt="" width="123" height="24"></td>
      </tr>
      <tr>
        <td height="42" colspan="2" valign="top"><table width="291" border="0" style="font-size:14px;">
          <tr>
            <td width="10">&nbsp;</td>
            <td width="271">Shopping Campaign Opt-in.</td>
          </tr>
        </table></td>
      </tr>
      <tr>
        <td height="21" colspan="2" align="center" valign="top"><img src="{% static 'images/newsletter/line.png' %}" alt="" width="280" height="11"></td>
      </tr>
      <tr>
        <td colspan="2" align="left" valign="middle"><img src="{% static 'images/newsletter/tag-logo1.png' %}" alt="" width="102" height="23"></td>
      </tr>
      <tr>
        <td width="11" align="center" valign="middle">&nbsp;</td>
        <td width="272" align="left" valign="middle"><span id="docs-internal-guid-d4566a45-e950-7b75-70ff-40ee9cc2e2ab">GTM Setup, GTM Analytics Setup <span style="font-size:14px;">(Cross domain Tracking, eCommerce Tracking, Event Tracking)</span>, GTM AdWords Tracking <span style="font-size:14px;">(GTM Remarketing, GTM Conversion Tracking, GTM Dynamic Tracking, GTM Custom html).</span></span></td>
      </tr>
    </table></td>
    <td>&nbsp;</td>
  </tr>
  <tr>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
  </tr>
  <tr>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
  </tr>
  <tr>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
  </tr>
  <tr>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
  </tr>
  <tr>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
  </tr>
  <tr>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
  </tr>
  <tr>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
  </tr>
  <tr>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
  </tr>
  <tr>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
  </tr>
  <tr>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
  </tr>
  <tr>
    <td height="20">&nbsp;</td>
    <td>&nbsp;</td>
  </tr>
  <tr>
    <td height="12" colspan="6"></td>
  </tr>
  <tr>
    <td height="323">&nbsp;</td>
    <td colspan="4" style="color:#333; font-size:14px; "><table width="640" border="0">
      <tr>
        <td align="left" valign="top"><table style=" " width="632" border="0">
          <tr>
            <td colspan="3" align="left" valign="middle"><strong  style="color:#1167e9; font-size:14px;">Best practices to follow: </strong>Help us ensure that all of your leads turn into wins by following these tips: </td>
          </tr>
          <tr>
            <td width="12" align="left" valign="middle"><img src="{% static 'images/newsletter/round.png' %}" alt="" width="9" height="8"></td>
            <td colspan="2" align="left" valign="top">Warm up the advertiser by</td>
          </tr>
          <tr>
            <td align="right" valign="top">&nbsp;</td>
            <td width="7" align="left" valign="top">-</td>
            <td width="599" align="left" valign="top">Getting them excited about the product/feature by educating them on how it can help them meet their business goals</td>
          </tr>
          <tr>
            <td align="right" valign="top">&nbsp;</td>
            <td align="left" valign="top">-<br></td>
            <td align="left" valign="top">Confirm with the advertiser that they have admin access to their website (or make sure to capture their webmaster’s contact information)</td>
          </tr>
          <tr>
            <td align="right" valign="top">&nbsp;</td>
            <td  align="left" valign="top">-</td>
            <td align="left" valign="top">Let them know that code implementations can take up to 90 minutes (depending on the complexity of their site)</td>
          </tr>
          <tr>
            <td height="20" align="left" valign="middle"><img src="{% static 'images/newsletter/round.png' %}" alt="" width="9" height="8"></td>
            <td colspan="2" rowspan="2" align="left" valign="top">Make sure you use the calendering function on the lead form to schedule a day/time for the implementation that the advertiser is comfortable with<br></td>
          </tr>
          <tr align="left" valign="top">
            <td height="12">&nbsp;</td>
          </tr>
          <tr>
            <td  align="left" valign="top"><img src="{% static 'images/newsletter/round.png' %}" alt="" width="9" height="8"><br></td>
            <td  colspan="2" align="left" valign="top">Let the advertiser know that they should give you a heads up if they need to reschedule their appointment</td>
          </tr>
          <tr>
            <td height="13" align="left" valign="bottom"><img src="{% static 'images/newsletter/round.png' %}" alt="" width="9" height="8"></td>
            <td  colspan="2" rowspan="2" align="left" valign="middle">Be sure to share with us any contact information for their admins/gatekeepers, should we have difficulty reaching the advertiser directly</td>
          </tr>
          <tr align="left" valign="top">
            <td height="20">&nbsp;</td>
          </tr>
          <tr>
            <td height="20" align="left" valign="top"><img src="{% static 'images/newsletter/round.png' %}" alt="" width="9" height="8"><br></td>
            <td height="20" colspan="2" align="left" valign="top"><span>Always use the lead form to </span><a href="https://google.regalix.com/main/home#forms" target="_blank">submit both TAG &amp; Shopping leads</a> via the portal</td>
          </tr>
        </table></td>
        </tr>
    </table></td>
    <td>&nbsp;</td>
  </tr>
  <tr>
    <td height="69" rowspan="2">&nbsp;</td>
    <td height="28" colspan="4" align="left" valign="bottom" style=" font-size:14px; "><strong style="color:#1167e9;">Here is some great feedback from David Dai, a Mid-market Sales rep: </strong></td>
    <td rowspan="2"><br></td>
  </tr>
  <tr>
    <td height="110" colspan="4" valign="middle" style=" font-size:14px; "><em>“Tom [Mandarin-language Implementation Specialist] has been an invaluable resource this quarter for the MMS2 pod.  I really appreciate Tom's responsiveness and ability to solve my clients' issues regarding conversion tracking, remarketing and shopping campaigns.  All of Tom's efforts have brought additional revenue from clients as well as trust in the account manager and Google. I look forward to working with Tom in Q4 to continue to provide this value add to clients.”<br>
    </em></td>
  </tr>
  <tr>
    <td height="33">&nbsp;</td>
    <td colspan="4" align="left" valign="top"  style=" border-radius: 5px;
    background-color: #fde9da; color: #474747;  font-size:14px; border: 1px solid #ffa360; padding:5px;"><strong style="color:#f37115; font-size:14px;">Your feedback is highly appreciated: </strong>submit feedback using feedback form at <a href="https://docs.google.com/a/google.com/forms/d/1RtZcbW2pAGKyQl6qLMuxnb_txEqLL1QEoHW73N6AApA/viewform" target="_blank">go/RegalixFeedback</a>.</td>
    <td>&nbsp;</td>
  </tr>
  <tr>
    <td>&nbsp;</td>
    <td width="315">&nbsp;</td>
    <td colspan="2">&nbsp;</td>
    <td width="304" align="right" style="font-size:14px; font-style:italic; color:#0781d6;"><br></td>
    <td>&nbsp;</td>
  </tr>
  <tr>
    <td colspan="6" bgcolor="#ccccff">&nbsp;</td>
  </tr>
</table>
</body>
</html>
