<!DOCTYPE html>
<html>
<body>
<p>Hi,</p>
<p>Testimomial Details are below:</p>
<p>Testimonial By: {{ testimonial.first_name }} {{ testimonial.last_name }}</p>
<p>CID: {{ testimonial.customer_id }}</p>
<p>Email of the Advertiser: {{ testimonial.email }}</p>
<p>Company: {{ testimonial.company_name }}</p>
<p>URL: {{ testimonial.url }}</p>
<p>Description: {{ testimonial.statement_text }}</p>

<a href="{{ site_url }}">View Testimonial</a>
<br /><br />
<p>Thanks,</p>
<p>Google Regalix Team</p>
</body>
</html>