<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title>Newsletter March, 2015</title>
</head>

{% load staticfiles %}
<body style="margin:0px; color:#333333; line-height:18px; font-size:13px; padding:0px; font-family: Arial, Helvetica">
<table width="800" align="center" cellpadding="0" cellspacing="0" style="margin:0px auto; padding:0px; background-color:#eeeeee;">
  <tbody>
    <tr>
      <td colspan="5"><img src="{% static 'images/newsletter/banneredited.jpg' %}" width="800" height="300" alt=""></td>
    </tr>
    <tr>
      <td width="30">&nbsp;</td>
      <td colspan="3" height="45
      ">&nbsp;</td>
      <td width="30">&nbsp;</td>
    </tr>
    <tr>
      <td height="43">&nbsp;</td>
      <td colspan="3" align="left" valign="middle" style="font-size:13px;"><span style="font-size:16px;">Hey There,</span></td>
      <td>&nbsp;</td>
    </tr>
    <tr>
      <td height="70">&nbsp;</td>
      <td colspan="3" align="left" valign="top"><span style="font-size:13px;"><span style="line-height:16px; margin-bottom:5px;">The Sales Implementation team has had a very successful Q1 and we want to thank you for 

trusting us with your customer’s implementation needs. The team received leads for 9.6% of 

total Tag and Shopping tasks pitched from the regions we cover, converted over 70% of these 

into wins, and saved Googlers 6000+ hours!<br>
      </span></span></td>
      <td>&nbsp;</td>
    </tr>

    <tr>
      <td>&nbsp;</td>
      <td colspan="3" height="35">&nbsp;</td>
      <td>&nbsp;</td>
    </tr>
    <tr>
      <td>&nbsp;</td>
      <td colspan="3" align="left" valign="top" style=" background-color:#ffffff;
    border: 1px solid #e4e5e5;
    border-radius: 8px;
    color: #474747;
    font-size: 13px;"><table width="734" border="0" align="center">
        <tbody>
          <tr>
            <td height="28">&nbsp;</td>
            </tr>
          <tr>
            <td height="34" align="center" valign="middle" style="font-size:22px; ">Some Quick Stats</td>
            </tr>
          <tr>
            <td>&nbsp;</td>
            </tr>
          <tr>
            <td><table width="680" border="0" align="center">
              <tbody>
                <tr>
                  <td width="220" align="center" valign="middle"><img src="{% static 'images/newsletter/march_1.jpg' %}" width="135" height="135" alt=""></td>
                  <td width="232" align="center" valign="middle"><img src="{% static 'images/newsletter/march_2.jpg' %}" width="136" height="136" alt=""></td>
                  <td width="214" align="center" valign="middle"><img src="{% static 'images/newsletter/march_3edited.jpg' %}" width="136" height="136" alt=""></td>
                </tr>
                <tr style="font-size:14px;">
                  <td align="center" valign="top"><strong>Total Q1 Tag and Shopping Implementation Leads<br>
                    sent to Regalix</strong></td>
                  <td align="center" valign="top"><strong>Total Successful Implementations<br>
                    by Regalix</strong></td>
                  <td align="center" valign="top"><strong>Conversion
                    Rate</strong></td>
                </tr>
              </tbody>
            </table></td>
            </tr>
          <tr>
            <td>&nbsp;</td>
            </tr>
          <tr>
            <td>&nbsp;</td>
            </tr>
        </tbody>
      </table></td>
      <td>&nbsp;</td>
    </tr>
    <tr>
      <td>&nbsp;</td>
      <td colspan="3" height="30">&nbsp;</td>
      <td>&nbsp;</td>
    </tr>
    <tr>
      <td>&nbsp;</td>
      <td colspan="3" style=" background-color:#ffffff;
    border: 1px solid #e4e5e5;
    border-radius: 8px;
    color: #474747;
    font-size: 13px;"><table width="725" border="0" align="center">
        <tbody>
          <tr>
            <td height="28" colspan="5">&nbsp;</td>
            </tr>
          <tr>
            <td height="34" colspan="5" align="center" valign="middle" style="font-size:22px;">More Focused Collaboration</td>
          </tr>
          <tr>
            <td colspan="5">&nbsp;</td>
            </tr>
          <tr>
            <td width="17" height="30">&nbsp;</td>
            <td colspan="3" valign="middle" style="font-size:13px; ">In Q1, we tried something new – a focused collaboration exercise with the US Dynamic Agency, Newbie+, and MMS programs. We dedicated top-performing implementation specialists to these teams who focused on building deeper relationships with their counterparts in the sales teams.</td>
          </tr>
          <tr>
            <td height="10"></td>
          </tr>
          <tr>
            <td width="17" height="30">&nbsp;</td>
            <td colspan="3" valign="middle" style="font-size:18px;">The result?
</td>
          </tr>
          <tr>
            <td width="17" height="30">&nbsp;</td>
            <td colspan="3" valign="middle" style="font-size:13px; ">Implementation support requests have gone up by 21 percent in this quarter, with US Dynamic

Agency outpacing the rest of the SMB. A few highlights:</td>
          </tr>
          <tr>
            <td height="5"></td>
          </tr>
          <tr>
            <td width="17" height="30">&nbsp;</td>
            <td width="25" valign="top" style="font-size:13px; "><img src="{% static 'images/newsletter/right.png' %}" width="16" height="11" alt=""><br></td>
            <td colspan="3" valign="middle" style="font-size:13px; ">Implementations increased 4x+ between Q4 &amp; Q1 in US Dynamic Agency (14% of growth

due to increased sales HC and 86% due to increased frequency of use)</td>
          </tr>
          <tr>
            <td height="34">&nbsp;</td>
            <td valign="middle"><img src="{% static 'images/newsletter/right.png' %}" width="16" height="11" alt=""></td>
            <td colspan="3">Of the total leads submitted by Dynamic Agency program(s) globally, 51.6% were from the

US Dynamic Agency programs</td>
          </tr>
          <tr>
            <td height="34">&nbsp;</td>
            <td valign="middle"><img src="{% static 'images/newsletter/right.png' %}" width="16" height="11" alt=""></td>
            <td colspan="3">Most US Dynamic Agency leads are for complex code types (viz. WCC, Shopping, Analytics

features)</td>
          </tr>
         <tr>
            <td width="17" height="30">&nbsp;</td>
            <td colspan="3" valign="middle" style="font-size:18px;">Success Story:
</td>
          </tr>          
          <tr>
            <td width="17" height="30">&nbsp;</td>
            <td colspan="3" valign="middle" style="font-size:13px; ">Here's how we helped an academic solutions provider leverage Google services to increase 

conversions, and project an increase in spends with Google. <a href="https://docs.google.com/a/google.com/presentation/d/1V52e1jQYkZ-osVqsPE0WzYS73tVCKoMWBAjsvQeMF_Q/edit?usp=sharing">Click Here</a></td>
          </tr>
          <tr>
            <td height="5"></td>
          </tr>
 
          <tr>
            <td height="5"></td>
          </tr>
          <tr>
            <td width="17" height="30">&nbsp;</td>
            <td colspan="3" valign="middle" style="font-size:18px;">Way forward 
</td>
          </tr>
          <tr>
            <td width="17" height="30">&nbsp;</td>
            <td colspan="3" valign="middle" style="font-size:13px; ">Given the success of this mode (particularly in US Dynamic Agency), we intend to replicate it for Dynamic Agency teams in other regions.</td>
          </tr>
          <tr>
            <td height="5"></td>
          </tr>
          <tr>
            <td colspan="5">&nbsp;</td>
            </tr>
        </tbody>
      </table></td>
      <td>&nbsp;</td>
    </tr>
    <tr>
      <td>&nbsp;</td>
      <td colspan="3" height="30">&nbsp;</td>
      <td>&nbsp;</td>
    </tr>
    <tr>
      <td>&nbsp;</td>
      <td colspan="3" style=" background-color:#ffffff;
    border: 1px solid #e4e5e5;
    border-radius: 8px;
    color: #474747;
    font-size: 13px;"><table width="734" border="0" align="center">
        <tbody>
          <tr>
            <td height="28" colspan="5">&nbsp;</td>
            </tr>
          <tr>
            <td height="41" colspan="5" align="center" valign="middle" style="font-size:22px;">Q1, 2015 Trends</td>
          </tr>
          <tr>
            <td colspan="5" align="center"><strong style="font-size:14px;">Implementation Distribution |</strong> % of total implementations for each Quarter</td>
            </tr>
          <tr>
            <td width="17">&nbsp;</td>
            <td colspan="4">&nbsp;</td>
            </tr>
          <tr>
            <td style="font-size:14px;">&nbsp;</td>
            <td colspan="4" align="center" style="font-size:15px;"><img src="{% static 'images/newsletter/graph4edited.jpg' %}" width="650" height="550" alt=""></td>
          </tr>
                    
          <tr>
            <td>&nbsp;</td>
            <td align="center" valign="middle">&nbsp;</td>
            <td colspan="2">&nbsp;</td>
            <td>&nbsp;</td>
          </tr>
          </tbody>
      </table></td>
      <td>&nbsp;</td>
    </tr>
    <tr>
      <td>&nbsp;</td>
      <td colspan="3" height="30">&nbsp;</td>
      <td>&nbsp;</td>
    </tr>
    <tr>
      <td>&nbsp;</td>
      <td colspan="3" style=" background-color:#ffffff;
    border: 1px solid #e4e5e5;
    border-radius: 8px;
    color: #474747;
    font-size: 13px;"><table width="725" border="0" align="center">
        <tbody>
          <tr>
            <td height="28" colspan="5">&nbsp;</td>
            </tr>
          <tr>
            <td height="34" colspan="5" align="center" valign="middle" style="font-size:22px;">We Heard Your Feedback</td>
          </tr>
          <tr>
            <td colspan="5">&nbsp;</td>
            </tr>
          <tr>
            <td width="17" height="30">&nbsp;</td>
            <td colspan="3" valign="middle" style="font-size:13px; ">By now, you probably have noticed the changes we've made to the Tag and Shopping Implementation <a href="https://gtrack.regalix.com/main/home/">Portal</a>. We designed this new portal with your feedback in mind, and hope it will create a better user experience.  Some highlights from the upgrade include:</td>
          </tr>
          <tr>
            <td height="5"></td>
          </tr>

              <tr>
            <td width="17" height="30">&nbsp;</td>
            <td width="25" valign="top" style="font-size:13px; "><img src="{% static 'images/newsletter/right.png' %}" style="padding-top:5px;" width="16" height="11" alt=""><br></td>
            <td colspan="3" valign="middle" style="font-size:13px; ">A more intuitive and easier-to-use lead form</td>
          </tr>
          <tr>
            <td height="34">&nbsp;</td>
            <td valign="middle"><img src="{% static 'images/newsletter/right.png' %}" width="16" height="11" alt=""></td>
            <td colspan="3">Better lead status reporting</td>
          </tr>
          <tr>
            <td height="34">&nbsp;</td>
            <td valign="middle"><img src="{% static 'images/newsletter/right.png' %}" width="16" height="11" alt=""></td>
            <td colspan="3">An updated layout that better organizes useful tools and information</td>
          </tr>
      <tr>
            <td height="5">&nbsp;</td>
          </tr>
      
       <tr>
            <td width="17" height="30">&nbsp;</td>
            <td colspan="3" valign="middle" style="font-size:13px; ">Please take the time to explore the new site and let us know what you think!</td>
          </tr>         
          <tr>
            <td colspan="5">&nbsp;</td>
            </tr>
        </tbody>
      </table></td>
      <td>&nbsp;</td>
    </tr>    
    <tr>
      <td>&nbsp;</td>
      <td colspan="3" height="30">&nbsp;</td>
      <td>&nbsp;</td>
    </tr>
    <tr>
      <td height="315">&nbsp;</td>
      <td colspan="3" style=" background-color:#ffffff;
    border: 1px solid #e4e5e5;
    border-radius: 8px;
    color: #474747;
    font-size: 13px;"><table width="700" border="0" align="center">
        <tbody>
          <tr>
            <td width="3" height="28">&nbsp;</td>
            <td width="6">&nbsp;</td>
            <td colspan="3">&nbsp;</td>
            </tr>
          <tr>
            <td height="34" colspan="3" align="center" valign="middle" style="font-size:22px;">Meet Our Team</td>
          </tr>
          <tr>
            <td height="10"></td>
          </tr>
          <tr>
            <td colspan="3" align="center" valign="middle" style="font-size:22px;">
            <img style="border-radius:8px" src="{% static 'images/newsletter/team.jpg' %}" alt="Team">
            </td>
            </tr><tr>
              <td colspan="3" style="text-align:center; font-size:12px">From left to right: <strong>Anirudh, Prateek, Darshan, Emm, Linda, Yoga, Rahul &amp; Gabriel</strong></td>
            </tr>
          
          <tr>
            <td height="10"></td>
          </tr>
          <tr>
            <td>&nbsp;</td>
            <td colspan="2">

This is the POD team that help with the following programs in the North America regions. They are the go to guys for everything related to Google codes and are always ready to go an extra mile to ensure customer delight.</td>
            </tr>
            <tr>
            <td height="5"></td>
          </tr>
          <tr>
            <td>&nbsp;</td>
            <td colspan="2" align="left" valign="middle"><strong>Agency Programs - Anirudh &amp; Emm</strong> - Anirudh is a total extrovert, whereas Emm is quite on the opposite</td>
            </tr>
            <tr>
            <td height="5"></td>
          </tr>
            <tr>
            <td>&nbsp;</td>
            <td colspan="2" align="left" valign="middle"><strong>Newbie+ - Prateek &amp; Darshan</strong> - Prateek is a crazy Arsenal Fan &amp; Darshan is his own poet</td>
            </tr>
            <tr>
            <td height="5"></td>
          </tr>
            <tr>
            <td>&nbsp;</td>
            <td colspan="2" align="left" valign="middle"><strong>MMS 1&amp;2 - Gabriel &amp; Rahul</strong> - Rahul is a hard core Chelsea fan and Gabriel sits a bike like he was born on it
</td>
            </tr>
            <tr>
            <td height="5"></td>
          </tr>
            <tr>
            <td>&nbsp;</td>
            <td colspan="2" align="left" valign="middle"><strong>ETO - Yoga</strong> redefines dedication. He was responsible for single handedly improve conversion of ETO to a 76% last Q</td>
            </tr>
          <tr>
            <td>&nbsp;</td>
            <td colspan="2" align="left" valign="middle"><b>Linda</b> is the Team lead for the North American POD teams and is instrumental in keeping the team on their toes at all times.</td>
            </tr>
          <tr>
            <td>&nbsp;</td>
            <td colspan="4" align="center" valign="middle" style="font-size:22px;">&nbsp;</td>
            </tr>
        </tbody>
      </table></td>
      <td>&nbsp;</td>
    </tr>
    <tr>
      <td>&nbsp;</td>
      <td colspan="3" height="30px;">&nbsp;</td>
      <td>&nbsp;</td>
    </tr>
    <tr>
      <td>&nbsp;</td>
      <td colspan="3" style=" background-color:#ffffff;
    border: 1px solid #e4e5e5;
    border-radius: 8px;
    color: #474747;
    font-size: 13px;">
    <table width="700" border="0" align="center">
        <tbody>
          <tr>
            <td height="40">&nbsp;</td>
           </tr>            
            <tr>
              <td width="300" align="center" valign="top"><img src="{% static 'images/newsletter/user1.png' %}" width="212" height="212" alt=""></td>
                <td width="400" valign="top">
                  <table width="100%">
                      <tbody><tr>
                          <td align="left" style="font-size:22px;">Celebrating Success</td>
                        </tr>
                        <tr>
                          <td height="25"></td>
                        </tr>
                        <tr>
                          <td align="left" style="font-size:16px;">We are always excited to get positive feedback about any of our team members.&nbsp; Here is 

what an Account Manager had to say about Clement, our French-speciality superstar!</td>
                        </tr>
                        <tr>
                          <td height="20"></td>
                        </tr>
                        
                       
                        <tr>
                          <td><em>"I am writing to you to express my happiness for the great work done by M. Clement KONE during the 1st Quarter

of 2015.</em></td>
                        </tr>
                        <tr>
                          <td height="5"></td>
                        </tr>                        
                    </tbody></table>
                </td>
            </tr>
            <tr>
                <td height="5"></td>
            </tr>
            <tr>
              <td colspan="2"><em>Clement has always been very diligent, cooperative and helpful to me and Google customers. For all the leads I sent

to him, he has managed to implement the required codes very quickly.</em></td>
            </tr>
            <tr>
                <td height="5"></td>
            </tr>
            <tr>
              <td colspan="2"><em>It is really a pleasure to work with someone who is so dedicated to his work and so professional. Thanks to him, I 

have managed to over achieve my targets on the implementation of conversion tracking code, remarketing code and 

google analytics.</em></td>
            </tr>
            <tr>
                <td height="5"></td>
            </tr>
            <tr>
              <td colspan="2"><em>I also noticed that none of the clients that I have in my portfolio have ever complained about Clement's performance, 

which is a clear indication of the good job he is doing.</em></td>
            </tr>
            <tr>
                <td height="10"></td>
            </tr>
            <tr>
              <td colspan="2">
                  Regards<br><br>
                  <strong>André NISIN</strong><br>
                    Account Manager<br>
                    Adwords Google”
                  
                
                </td>
            </tr>
            <tr>
              <td colspan="2" height="20"></td>
            </tr>
            </tbody>
            </table>
            </td>
      <td>&nbsp;</td>
    </tr>
    <tr>
      <td>&nbsp;</td>
      <td colspan="3">&nbsp;</td>
      <td>&nbsp;</td>
    </tr>
    <tr>
      <td height="28">&nbsp;</td>
      <td colspan="3">Do you want to help in contributing to this newsletter? If yes, please fill out this <span style="color:#3193e6;"><a href="https://docs.google.com/a/regalix-inc.com/forms/d/1BCCJUSHCzqQ2Dq6jxL9gGO_0GD00z7J2-ciZwriW2WQ/formrestricted" target="_blank">form</a></span> and we will reach out to you.<br></td>
      <td>&nbsp;</td>
    </tr>
    <tr>
      <td height="23">&nbsp;</td>
      <td colspan="3">Do you have feedback for us? <span style="color:#3193e6;"><a href="https://docs.google.com/a/regalix-inc.com/forms/d/1RtZcbW2pAGKyQl6qLMuxnb_txEqLL1QEoHW73N6AApA/formrestricted" target="_blank">go/regalixfeedback</a></span> is where you can do so</td>
      <td>&nbsp;</td>
    </tr>
    <tr>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
    </tr>
  </tbody>
</table>



</body></html>
