{% extends 'layouts/main.html' %}

{% block title %}
  Error 500
{% endblock title %}

{% block main_css %}
<style type="text/css">

.error-page {
    width: 100%;
	margin-top:5%%;
}

.error-page>.headline {
    float: left;
    font-size: 100px;
    font-weight: 200;
}

.text-yellow {
    color: #f39c12 !important;
}

.error-page>.error-content>h3 {
    font-size: 20px;
}

.fa {
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

p {
    margin: 0 0 10px;
}

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

a {
    color: #F39C12;
}

.error-code{
	font-family: 'robotoblack';
    font-size: 50px;
    text-transform: uppercase;
    border-bottom: 1px solid #ccc;
    padding-bottom: 20px;
    text-align: center;
    margin-top: 10%;
}
</style>
{% endblock main_css %}

{% block content %}
<section class="content-region inner-page">

	<div class="container-fluid">
		<div class="error-code">
			<p class="text-yellow"> 500 - Internal Server Error</p>
		</div>

		<div class="error-page">
			<div class="error-content">
				<h3>
					<i class="fa fa-warning text-yellow"></i>
					Oops! Something has gone seriously wrong. We are working on this, will fix this soon.
				</h3>
			</div>
        <!-- /.error-content -->
      	</div>
	</div>

</section>
{% endblock content %}

