<!DOCTYPE html>
<html lang="en">

{% extends 'layouts/main.html' %}
{% load static %}
{% load staticfiles %}

{% block title %}
  Agency Lead Form
{% endblock title %}

{% block main_css %}
  <style type="text/css"></style>
  <link href="{% static 'css/crm/style.css' %}" rel="stylesheet" type="text/css">
    <link href="{% static 'css/font-awesome.min.css' %}" rel="stylesheet" type="text/css">
{% endblock main_css %}
  <head>
  

  </head>
  {% block content %}
  <body>
        
        <section class="top-margin wfm">
       		<div class="container-fluid">
            	<div class="white-section">
                	<div class="blue-bg2">
                                 <select class="form-control" >
                                   <option>Status</option>
                                   <option>2</option>
                                   <option>3</option>
                                   <option>4</option>
                                   <option>5</option>
                                 </select>
                                 <select class="form-control" >
                                   <option>Sub Status</option>
                                   <option>2</option>
                                   <option>3</option>
                                   <option>4</option>
                                   <option>5</option>
                                 </select> 
                                 <div class="or">OR</div> 
                                  <select class="form-control" >
                                   <option>Fresh Appointment</option>
                                   <option>2</option>
                                   <option>3</option>
                                   <option>4</option>
                                   <option>5</option>
                                 </select> 
                        <div class="clearfix"></div>
                    </div>
                	<div class="padding-20 wfm-body-table">
                    	<table class="table table-bordered"> 
                        	<thead> 
                            	<tr> 
                                	<th></th> 
                                    <th>CID </th> 
                                    <th>Company</th> 
                                    <th>Customer Name</th> 
                                    <th>Appointment time</th> 
                                    <th>Phone No</th> 
                                    <th>Additional Ph No</th> 
                                    <th>Web Master No.</th> 
                                    <th>Location</th> 
                                  </tr>
                             </thead> 
                             <tbody> 
                             	<tr> 
                                	<td class="text-center"><i class="fa fa-eye" aria-hidden="true"></i></td>   
                                    <td>28-331-5235</td> 
                                    <td>Sofer, yean</td> 
                                    <td>James</td> 
                                    <td>10/6/2016 1:30 PM</td> 
                                    <td>+91 2365236985</td> 
                                    <td>+91 2365236985</td> 
                                    <td>+91 2365236985</td> 
                                    <td>USA</td> 
                                    
                                 </tr>
                                  
                                  <tr> 
                                	<td class="text-center"><i class="fa fa-eye" aria-hidden="true"></i></td>   
                                    <td>28-331-5235</td> 
                                    <td>Sofer, yean</td> 
                                    <td>James</td> 
                                    <td>10/6/2016 1:30 PM</td> 
                                    <td>+91 2365236985</td> 
                                    <td>+91 2365236985</td> 
                                    <td>+91 2365236985</td> 
                                    <td>USA</td> 
                                    
                                 </tr>
                                 <tr> 
                                	<td class="text-center"><i class="fa fa-eye" aria-hidden="true"></i></td>   
                                    <td>28-331-5235</td> 
                                    <td>Sofer, yean</td> 
                                    <td>James</td> 
                                    <td>10/6/2016 1:30 PM</td> 
                                    <td>+91 2365236985</td> 
                                    <td>+91 2365236985</td> 
                                    <td>+91 2365236985</td> 
                                    <td>USA</td> 
                                    
                                 </tr><tr> 
                                	<td class="text-center"><i class="fa fa-eye" aria-hidden="true"></i></td>   
                                    <td>28-331-5235</td> 
                                    <td>Sofer, yean</td> 
                                    <td>James</td> 
                                    <td>10/6/2016 1:30 PM</td> 
                                    <td>+91 2365236985</td> 
                                    <td>+91 2365236985</td> 
                                    <td>+91 2365236985</td> 
                                    <td>USA</td> 
                                    
                                 </tr><tr> 
                                	<td class="text-center"><i class="fa fa-eye" aria-hidden="true"></i></td>   
                                    <td>28-331-5235</td> 
                                    <td>Sofer, yean</td> 
                                    <td>James</td> 
                                    <td>10/6/2016 1:30 PM</td> 
                                    <td>+91 2365236985</td> 
                                    <td>+91 2365236985</td> 
                                    <td>+91 2365236985</td> 
                                    <td>USA</td> 
                                    
                                 </tr><tr> 
                                	<td class="text-center" ><i class="fa fa-eye" aria-hidden="true"></i></td>   
                                    <td>28-331-5235</td> 
                                    <td>Sofer, yean</td> 
                                    <td>James</td> 
                                    <td>10/6/2016 1:30 PM</td> 
                                    <td>+91 2365236985</td> 
                                    <td>+91 2365236985</td> 
                                    <td>+91 2365236985</td> 
                                    <td>USA</td> 
                                    
                                 </tr><tr> 
                                	<td class="text-center"><i class="fa fa-eye" aria-hidden="true"></i></td>   
                                    <td>28-331-5235</td> 
                                    <td>Sofer, yean</td> 
                                    <td>James</td> 
                                    <td>10/6/2016 1:30 PM</td> 
                                    <td>+91 2365236985</td> 
                                    <td>+91 2365236985</td> 
                                    <td>+91 2365236985</td> 
                                    <td>USA</td> 
                                    
                                 </tr><tr> 
                                	<td class="text-center"><i class="fa fa-eye" aria-hidden="true"></i></td>   
                                    <td>28-331-5235</td> 
                                    <td>Sofer, yean</td> 
                                    <td>James</td> 
                                    <td>10/6/2016 1:30 PM</td> 
                                    <td>+91 2365236985</td> 
                                    <td>+91 2365236985</td> 
                                    <td>+91 2365236985</td> 
                                    <td>USA</td> 
                                    
                                 </tr><tr> 
                                	<td class="text-center"><i class="fa fa-eye" aria-hidden="true"></i></td>   
                                    <td>28-331-5235</td> 
                                    <td>Sofer, yean</td> 
                                    <td>James</td> 
                                    <td>10/6/2016 1:30 PM</td> 
                                    <td>+91 2365236985</td> 
                                    <td>+91 2365236985</td> 
                                    <td>+91 2365236985</td> 
                                    <td>USA</td> 
                                    
                                 </tr><tr> 
                                	<td class="text-center"><i class="fa fa-eye" aria-hidden="true"></i></td>   
                                    <td>28-331-5235</td> 
                                    <td>Sofer, yean</td> 
                                    <td>James</td> 
                                    <td>10/6/2016 1:30 PM</td> 
                                    <td>+91 2365236985</td> 
                                    <td>+91 2365236985</td> 
                                    <td>+91 2365236985</td> 
                                    <td>USA</td> 
                                    
                                 </tr><tr> 
                                	<td class="text-center"><i class="fa fa-eye" aria-hidden="true"></i></td>   
                                    <td>28-331-5235</td> 
                                    <td>Sofer, yean</td> 
                                    <td>James</td> 
                                    <td>10/6/2016 1:30 PM</td> 
                                    <td>+91 2365236985</td> 
                                    <td>+91 2365236985</td> 
                                    <td>+91 2365236985</td> 
                                    <td>USA</td> 
                                    
                                 </tr><tr> 
                                	<td class="text-center"><i class="fa fa-eye" aria-hidden="true"></i></td>   
                                    <td>28-331-5235</td> 
                                    <td>Sofer, yean</td> 
                                    <td>James</td> 
                                    <td>10/6/2016 1:30 PM</td> 
                                    <td>+91 2365236985</td> 
                                    <td>+91 2365236985</td> 
                                    <td>+91 2365236985</td> 
                                    <td>USA</td> 
                                    
                                 </tr><tr> 
                                	<td class="text-center"><i class="fa fa-eye" aria-hidden="true"></i></td>   
                                    <td>28-331-5235</td> 
                                    <td>Sofer, yean</td> 
                                    <td>James</td> 
                                    <td>10/6/2016 1:30 PM</td> 
                                    <td>+91 2365236985</td> 
                                    <td>+91 2365236985</td> 
                                    <td>+91 2365236985</td> 
                                    <td>USA</td> 
                                    
                                 </tr><tr> 
                                	<td class="text-center"><i class="fa fa-eye" aria-hidden="true"></i></td>   
                                    <td>28-331-5235</td> 
                                    <td>Sofer, yean</td> 
                                    <td>James</td> 
                                    <td>10/6/2016 1:30 PM</td> 
                                    <td>+91 2365236985</td> 
                                    <td>+91 2365236985</td> 
                                    <td>+91 2365236985</td> 
                                    <td>USA</td> 
                                    
                                 </tr><tr> 
                                	<td class="text-center"><i class="fa fa-eye" aria-hidden="true"></i></td>   
                                    <td>28-331-5235</td> 
                                    <td>Sofer, yean</td> 
                                    <td>James</td> 
                                    <td>10/6/2016 1:30 PM</td> 
                                    <td>+91 2365236985</td> 
                                    <td>+91 2365236985</td> 
                                    <td>+91 2365236985</td> 
                                    <td>USA</td> 
                                    
                                 </tr><tr> 
                                	<td class="text-center"><i class="fa fa-eye" aria-hidden="true"></i></td>   
                                    <td>28-331-5235</td> 
                                    <td>Sofer, yean</td> 
                                    <td>James</td> 
                                    <td>10/6/2016 1:30 PM</td> 
                                    <td>+91 2365236985</td> 
                                    <td>+91 2365236985</td> 
                                    <td>+91 2365236985</td> 
                                    <td>USA</td> 
                                    
                                 </tr><tr> 
                                	<td class="text-center"><i class="fa fa-eye" aria-hidden="true"></i></td>   
                                    <td>28-331-5235</td> 
                                    <td>Sofer, yean</td> 
                                    <td>James</td> 
                                    <td>10/6/2016 1:30 PM</td> 
                                    <td>+91 2365236985</td> 
                                    <td>+91 2365236985</td> 
                                    <td>+91 2365236985</td> 
                                    <td>USA</td> 
                                    
                                 </tr>
                             </tbody> 
                     	</table>
                    </div>
                </div>
            </div>
        </section>

  

  </body>
{% endblock content %}